<h1>
  <%= Spree.t('report_mailer.greeting', user_name: @report.user&.first_name) %>
</h1>
<p>
  <%= Spree.t('report_mailer.report_done.message') %>
</p>
<% if spree.respond_to?(:admin_report_url) %>
  <p>
    <%= link_to @report.attachment.filename, spree.admin_report_url(@report, host: @current_store.formatted_url) %>
  </p>
<% end %>
<p>
  <%= Spree.t('report_mailer.thanks') %><br />
  <%= "#{current_store.name}" %>
</p>
