<div class="card mb-6">
  <div class="card-header flex justify-between">
    <h5 class="card-title">
      <%= icon('checklist', class: 'mr-2') %>
      <%= Spree.t(:rules) %>
    </h5>
    <% if can?(:create, Spree::PriceRule.new(price_list: @price_list)) %>
      <%= link_to_with_icon 'plus', Spree.t(:add_one), spree.new_admin_price_list_price_rule_path(@price_list), class: 'btn btn-secondary btn-sm', data: { turbo_frame: 'dialog', action: 'dialog#open' } %>
    <% end %>
  </div>
  <div class="card-body pb-0">
    <%= form_with model: @price_list, url: spree.admin_price_list_path(@price_list), method: :put, data: { controller: 'auto-submit' }, html: { class: 'flex gap-x-6' } do |f| %>
      <% Spree::PriceList::MATCH_POLICIES.each do |policy| %>
        <%= f.spree_radio_button :match_policy, policy, { data: { action: 'click->auto-submit#submit' }, label: Spree.t("price_list_form.match_policies.#{policy}") } %>
      <% end %>
    <% end %>
  </div>
  <div class="card-body p-2 flex flex-col gap-2">
    <% if @price_list.price_rules.empty? %>
      <div class="text-gray-600 p-12 flex items-center w-full justify-center">
        <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::PriceRule)) %>
        <% if can?(:create, Spree::PriceRule.new(price_list: @price_list)) %>
          <%= link_to_with_icon 'plus', Spree.t(:add_one), spree.new_admin_price_list_price_rule_path(@price_list), class: 'btn btn-light btn-sm ml-6', data: { turbo_frame: 'dialog', action: 'dialog#open' } %>
        <% end %>
      </div>
    <% else %>
      <%= render collection: @price_list.price_rules,
                 partial: 'spree/admin/price_rules/price_rule',
                 as: :price_rule %>
    <% end %>
  </div>
</div>
