<tr id="<%= spree_dom_id price_list %>" data-controller="row-link" data-sortable-update-url="<%= spree.admin_price_list_path(price_list) %>">
  <td class="w-5 move-handle text-center">
    <%= icon('grip-vertical', class: 'rounded-md hover:bg-gray-100 p-2') %>
  </td>
  <td class="w-30 p-0">
    <%= link_to price_list.name, spree.admin_price_list_path(price_list), class: 'font-bold block py-2 px-4 w-full h-full', data: { row_link_target: :link, turbo_frame: '_top' } %>
  </td>
  <td class="w-15 cursor-pointer" data-action="click->row-link#openLink">
    <span class="badge badge-<%= price_list.active? ? 'success' : (price_list.scheduled? ? 'info' : 'light') %>">
      <%= price_list.status.humanize %>
    </span>
  </td>
  <td class="w-20 cursor-pointer" data-action="click->row-link#openLink">
    <% if price_list.starts_at.present? %>
      <%= spree_date(price_list.starts_at) %>
    <% else %>
      <span class="text-gray-400">-</span>
    <% end %>
  </td>
  <td class="w-20 cursor-pointer" data-action="click->row-link#openLink">
    <% if price_list.ends_at.present? %>
      <%= spree_date(price_list.ends_at) %>
    <% else %>
      <span class="text-gray-400">-</span>
    <% end %>
  </td>
</tr>
