<% content_for :page_actions do %>
  <% if @shipment.can_ship? %>
    <li>
      <%= button_link_to t(:ship), fire_admin_order_shipment_path(@order, @shipment, :e => 'ship'), :method => :put, :data => { :confirm => t(:are_you_sure) } %>
    </li>
  <% end %>  
  <li><%= button_link_to t(:back_to_orders_list), spree.admin_orders_path, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Shipments' } %>

<% content_for :page_title do %>
  / <%= t(:shipment) %> #<%= @shipment.number%> (<%= t(@shipment.state.to_sym, :scope => :state_names, :default => @shipment.state.to_s.humanize) %>)
<% end %>

<div data-hook="admin_shipment_edit_header">
  
  <% if @shipment.cost %>
    <h5><%= t(:charges) %> <span class="green"><%= money @shipment.cost %></span></h5>
  <% end %>

  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @shipment } %>
</div>

<div data-hook="admin_shipment_edit_form">
  <%= form_for @shipment, :url => admin_order_shipment_path(@order, @shipment), :method => :put do |shipment_form| %>
      <%= render :partial => 'form', :locals => { :shipment_form => shipment_form } %>

      <div data-hook="admin_shipment_edit_form_buttons">
        <div class="form-buttons">
          <% if @shipment.editable_by?(try_spree_current_user) %>
            <%= button @order.cart? ? t(:continue) : t(:update), @order.cart? ? 'icon-arrow-right' : 'icon-refresh' %>
            <%= t(:or) %>
            <%= button_link_to t(:cancel), admin_order_shipments_path(@order), :icon => 'icon-remove' %>
          <% else %>
            <%= button_link_to t(:back), edit_admin_order_shipment_path(@order), :icon => 'icon-arrow-left' %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
