<% content_for :page_actions do %>
  <% if @shipment.can_ship? %>
    <li>
      <%= button_link_to t(:ship), fire_admin_order_shipment_path(@order, @shipment, :e => 'ship'), :method => :put, :data => { :confirm => t(:are_you_sure) } %>
    </li>
  <% end %>  
  <li><%= button_link_to t(:back_to_orders_list), spree.admin_orders_path, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Shipments' } %>

<% content_for :page_title do %>
  / <%= t(:shipment) %> #<%= @shipment.number%> (<%= t(@shipment.state.to_sym, :scope => :state_names, :default => @shipment.state.to_s.humanize) %>)
<% end %>

<div data-hook="admin_shipment_edit_header">
  
  <% if @shipment.cost %>
    <h3><%= t(:charges) %> <%= money @shipment.cost %></h3>
  <% end %>

  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @shipment } %>
</div>

<div data-hook="admin_shipment_edit_form">
  <%= form_for @shipment, :url => admin_order_shipment_path(@order, @shipment), :method => :put do |shipment_form| %>
      <%= render :partial => 'form', :locals => { :shipment_form => shipment_form } %>

      <div data-hook="admin_shipment_edit_form_buttons">
        <p class="form-buttons">
          <% if @shipment.editable_by?(try_spree_current_user) %>
            <%= button @order.cart? ? t(:continue) : t(:update) %>
            <%= t(:or) %> <%= link_to t(:cancel), admin_order_shipments_path(@order) %>
          <% else %>
            <%= link_to raw("&laquo; #{t(:back)}"), edit_admin_order_shipment_path(@order) %>
          <% end %>
        </p>
      </div>
  <% end %>
</div>
