<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to t(:new_tax_rate), new_object_url, :icon => 'add' %>
    </li>
  </ul>
  <br class="clear" />
</div>
<h1><%= t(:tax_rates) %></h1>
<table class="index">
  <thead>
    <tr data-hook="rate_header">
      <th><%= t(:zone) %></th>
      <th><%= t(:name) %></th>
      <th><%= t(:category) %></th>
      <th><%= t(:amount) %></th>
      <th><%= t(:included_in_price) %></th>
      <th><%= t(:calculator) %></th>
      <th><%= t(:action) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tax_rates.each do |tax_rate|%>
    <tr id="<%= spree_dom_id tax_rate %>" data-hook="rate_row">
      <td><%=tax_rate.zone.name %></td>
      <td><%=tax_rate.name %></td>
      <td><%=tax_rate.tax_category.try(:name) || t(:not_available) %></td>
      <td><%=tax_rate.amount %></td>
      <td><%=tax_rate.included_in_price %></td>
      <td><%=tax_rate.calculator.to_s %></td>
      <td>
        <%= link_to_edit tax_rate %> &nbsp;
        <%= link_to_delete tax_rate %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
