<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t(:editing_tracker) %></h1>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @tracker } %>
<%= form_for [:admin, @tracker] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
