<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:analytics_trackers) %>
<% end %>

<% content_for :page_actions do %>
  <ul class="actions inline-menu">
    <li>
      <%= button_link_to t(:new_tracker), new_object_url, :icon => 'icon-plus', :id => 'admin_new_tracker_link' %>
    </li>
  </ul>
<% end %>

<table class="index">
  <thead>
    <tr data-hook="admin_trackers_index_headers">
      <th><%= t(:google_analytics_id) %></th>
      <th><%= t(:environment) %></th>
      <th><%= t(:active) %></th>
      <th class="actions"><%= t(:action) %></th>
    </tr>
  </thead>
  <tbody>
    <% @trackers.each do |tracker|%>
      <tr id="<%= spree_dom_id tracker %>" data-hook="admin_trackers_index_rows">
        <td><%= tracker.analytics_id %></td>
        <td><%= tracker.environment.to_s.titleize %></td>
        <td><%= tracker.active ? t(:yes) : t(:no) %></td>
        <td class="actions">
          <%= link_to_edit tracker, :no_text => true %>
          <%= link_to_delete tracker, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
