<div data-hook="admin_option_type_form_fields" class="row">
  <div class="col-12 col-md-6">
    <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :name, Spree.t(:name) %> <span class="required">*</span>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>

  <div class="col-12 col-md-6">
    <%= f.field_container :presentation, class: ['form-group'] do %>
      <%= f.label :presentation, Spree.t(:presentation) %> <span class="required">*</span>
      <%= f.text_field :presentation, class: "form-control" %>
      <%= f.error_message_on :presentation %>
    <% end %>
  </div>
</div>
