<tr class="option_value fields" id="spree_<%= dom_id(f.object) %>" data-hook="option_value">
  <td class="move-handle">
    <span class="icon icon-move handle"></span>
    <%= f.hidden_field :id %>
  </td>
  <td class="name"><%= f.text_field :name, class: "form-control" %></td>
  <td class="presentation"><%= f.text_field :presentation, class: "form-control" %></td>
  <td class="actions actions-1"><%= link_to_remove_fields Spree.t(:remove), f, :no_text => true %></td>
</tr>
