<tr class="option_value fields" id="spree_<%= dom_id(f.object) %>" data-hook="option_value">
  <td class="move-handle text-center">
    <%= svg_icon name: "sort.svg", width: '18', height: '18' %>
    <%= f.hidden_field :id %>
  </td>
  <td class="name"><%= f.text_field :name, class: "form-control" %></td>
  <td class="presentation"><%= f.text_field :presentation, class: "form-control" %></td>
  <td class="actions actions-1 text-center"><%= link_to_icon_remove_fields f %></td>
</tr>
