<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t('edit_general_settings') %></h1>

<%= form_tag(admin_general_settings_path, :method => :put) do %>

    <table class="index">
      <thead>
      <tr>
        <th><%= t("param") %></th>
        <th><%= t("value") %></th>
      </tr>
      </thead>
      <tbody>
        <% Spree::Config[].each do |key,value| %>
          <tr>
            <td><%= t(key) %></td>
            <td>
              <%= raw show_config_value(key,value) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <p class="form-buttons">
    <%= button t('update') %>
    <%= t("or") %> <%= link_to t("cancel"), admin_general_settings_url %>
  </p>
<% end %>
