<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("general_settings") %></h1>

<table class="index">
  <thead>
  <tr>
    <th><%= t("param") %></th>
    <th><%= t("value") %></th>
  </tr>
  </thead>
  <tbody>
    <% Spree::Config[].each do |key,value| %>
      <tr>
        <td><%= t(key) %></td><td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to_with_icon 'edit', t("edit"), edit_admin_general_settings_path, :id => 'admin_general_settings_link' %></p>


