<h1><%= t("editing_promotion") %></h1>

<%= form_for(@promotion, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= render "admin/shared/edit_resource_links" %>
<% end %>

<%= render 'rules' %>

<div id="actions_container">
  <%= render 'actions' %>
</div>


<% content_for :head do %>
  <%= javascript_include_tag 'admin/promotions.js' %>
  <%= stylesheet_link_tag 'admin/promotions.css' %>
<% end %>
