<div class="columns alpha six" data-hook="billing_fieldset_wrapper">
  <fieldset id="billing" data-hook>
    <%= form.fields_for :bill_address do |bill_form| %>
      <legend><%= t(:billing_address) %></legend>
      <%= render :partial => 'spree/checkout/address_part', :locals => {:form => bill_form, :address_type => 'billing', :address => @order.bill_address} %>
    <% end %>
  </fieldset>
</div>

<div class="columns omega six" data-hook="shipping_fieldset_wrapper">
  <fieldset id="shipping" data-hook>
    <%= form.fields_for :ship_address do |ship_form| %>
      <legend><%= t(:shipping_address) %></legend>
      <p class="field checkbox" data-hook="use_billing">
        <%= check_box_tag 'order[use_billing]', '1', ((@order.bill_address.empty? && @order.ship_address.empty?) || @order.bill_address.same_as?(@order.ship_address)) %>
        <%= label_tag :order_use_billing, t(:use_billing_address), :id => 'use_billing' %>
      </p>
      <%= render :partial => 'spree/checkout/address_part', :locals => {:form => ship_form, :address_type => 'shipping', :address => @order.ship_address} %>
    <% end %>
  </fieldset>
</div>
<hr class="clear"/>
<div class="form-buttons" data-hook="buttons">
  <%= submit_tag t(:save_and_continue), :class => 'continue button primary' %>
</div>
