<% content_for :head do %>
  <%= javascript_include_tag states_path %>
<% end %>
<div id="checkout" data-hook>  
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
  
  <div class="row">
    <h3 class="columns three alpha"><%= t(:checkout) %></h3>
    <div class="columns thirteen omega"><%= checkout_progress %></div>
  </div>
  
  <div class="row">
    <div class="columns <%= if @order.state != 'confirm' then 'alpha twelve' else 'alpha omega sixteen' end %>">
      <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
        <%= render @order.state, :form => form %>
        <%= submit_tag nil, :id => 'post-final', :style => 'display:none;' %>
      <% end %>
    </div>
    <div class="columns omega four">
      <% if @order.state != 'confirm' %>
        <div id="checkout-summary" data-hook="checkout_summary_box" class="columns omega four">
          <%= render :partial => 'summary', :locals => { :order => @order } %>
        </div>
      <% end %>
    </div>
  </div>

</div>
