<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<%== meta_data_tags %>
<%= stylesheet_link_tag "store/all", :media => "screen" %>
<%= csrf_meta_tag %>
<%= javascript_include_tag "store/all" %>
<%= yield :head %>
