<%= render :partial => 'admin/shared/configuration_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_zone"), new_object_url, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>


<h1><%= t("zones") %></h1>
<table class="index">
  <thead>
    <tr>
      <th><%= order @search, :by => :name,        :as => t("name") %></th>
      <th><%= order @search, :by => :description, :as => t("description") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @collection.each do |zone| %>
      <tr id="<%= dom_id zone %>">
        <td><%=zone.name %></td>
        <td><%=zone.description %></td>
        <td class="actions">
          <%=link_to_edit zone %> &nbsp; 
          <%=link_to_delete zone %>
        </td>
      </tr>
    <% end %>
    <% if @collection.empty? %>
      <tr><td colspan="2"><%= t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>

