<div data-hook="admin_state_form_fields" class="align-center">
  <%= f.field_container :name do %>
    <%= f.label :name, t(:name) %><br />
    <%= f.text_field :name %>
  <% end %>

  <%= f.field_container :abbr do %>
    <%= f.label :abbr, t(:abbreviation) %><br />
    <%= f.text_field :abbr %>
  <% end %>
</div>
