<div id="new_state" data-hook></div>
<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_state_link">
      <%= button_link_to t(:new_state), new_admin_country_state_url(@country), { :remote => true, :icon => 'add', :id => 'new_state_link' } %>
    </li>
  </ul>
  <br class="clear" />
</div>

<table class="index" id='listing_states' data-hook>
  <thead>
    <tr data-hook="states_header">
      <th><%= t(:name) %></th>
      <th><%= t(:abbreviation) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @states.each do |state| %>
      <tr id="<%= spree_dom_id state %>" data-hook="states_row">
        <td><%= state.name %></td>
        <td><%= state.abbr %></td>
        <td class="actions">
          <%= link_to_with_icon 'edit', t(:edit), edit_admin_country_state_url(@country, state), :class => 'edit' %>
          &nbsp;
          <%= link_to_delete state %>
        </td>
      </tr>
    <% end %>
    <% if @states.empty? %>
      <tr><td colspan="3"><%= t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>
