<% content_for :page_title do %>
  <%= t(:prototypes) %>
<% end %>

<% content_for :page_actions do %>
  <div class="toolbar" data-hook="toolbar">
    <ul class="actions header-action-links inline-menu">
      <li id="new_prototype_link">
        <%= button_link_to t(:new_prototype), new_admin_prototype_url, {:remote => true, :icon => 'icon-plus', 'data-update' => 'new_prototype', :id => 'new_prototype_link'} %>
      </li>
    </ul>
  </div>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= image_tag 'spinner.gif', :plugin => 'spree', :style => 'display: none', :id => 'busy_indicator' %>

<%# Placeholder for new prototype form %>
<div id="new_prototype"></div>

<table class="index" id='listing_prototypes' data-hook>
  <colgroup>
    <col style="width: 90%">
    <col style="width: 10%">
  </colgroup>
  <thead>
    <tr data-hook="prototypes_header">
      <th><%= t(:name) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @prototypes.each do |prototype| %>
      <tr id="<%= spree_dom_id prototype %>" data-hook="prototypes_row" class="<%= cycle('odd', 'even')%>">
        <td><%= prototype.name %></td>
        <td class="actions">
          <%= link_to_edit(prototype, :no_text => true, :class => 'admin_edit_prototype') %>
          <%= link_to_delete(prototype, :no_text => true) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
