<li class="list-group-item p-0" id="<%= spree_dom_id(promotion_action) %>">
  <%= turbo_frame_tag promotion_action do  %>
    <div class="d-flex justify-content-between align-items-center p-3">
      <div>
        <h6><%= promotion_action.human_name %></h6>
        <p class="text-muted mb-0"><%= promotion_action.human_description %></p>
      </div>
      <div class="dropdown">
        <button class="btn btn-light btn-sm" type="button" data-toggle="dropdown" aria-expanded="false">
          <%= icon('dots', class: 'mr-0') %>
        </button>
        <div class="dropdown-menu">
          <%= link_to_with_icon 'pencil', Spree.t('actions.edit'), spree.edit_admin_promotion_action_path(promotion_action.promotion, promotion_action), class: 'dropdown-item' %>
          <%= link_to_with_icon 'trash', Spree.t('actions.destroy'), spree.admin_promotion_action_path(promotion_action.promotion, promotion_action), class: 'dropdown-item text-danger', data: { turbo_method: :delete, turbo_confirm: Spree.t(:are_you_sure), turbo_frame: '_top' } %>
        </div>
      </div>
    </div>
  <% end %>
</li>
