<%= turbo_frame_tag @promotion_action do %>
  <h6 class="border-bottom p-3"><%= @promotion_action.human_name %></h6>
  <%= form_with model: @promotion_action, url: spree.admin_promotion_action_path(@promotion, @promotion_action), method: :put, scope: :promotion_action do |f| %>
    <div class="p-3">
      <%= render "spree/admin/promotion_actions/forms/#{@promotion_action.key}", f: f %>
    </div>
    <div class="form-actions d-flex justify-content-between p-3">
      <%= turbo_save_button_tag Spree.t('actions.update') %>
      <%= link_to Spree.t('actions.discard'), spree.admin_promotion_path(@promotion), class: 'btn btn-light' %>
    </div>
  <% end %>
<% end %>
