<%= turbo_frame_tag :dialog do %>
  <%= form_with model: @promotion_action, url: spree.admin_promotion_actions_path(@promotion), method: :post, scope: :promotion_action do |f| %>
    <% if @promotion_action.type.nil? %>
      <%= dialog_header(Spree.t(:add_action_of_type)) %>
    <% else %>
      <%= dialog_header(@promotion_action.human_name) %>
    <% end %>
    <div class="dialog-body">
      <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @promotion_action } %>
      <% if @promotion_action.type.nil? %>
        <%= render 'spree/admin/shared/spinner' %>
        <% options_for_promotion_action_types(@promotion).each do |action_type| %>
          <% key = action_type.to_s.demodulize.underscore %>
            <%= link_to spree.new_admin_promotion_action_path(@promotion, promotion_action: { type: action_type }), class: 'd-flex align-items-top w-100 py-2 px-3 hover-gray rounded-lg mb-2', data: { turbo_prefetch: false } do %>
              <%= radio_button_tag :type, action_type, checked: @promotion_action.type == action_type %>
              <div class="ml-3">
                <h6><%= Spree.t("promotion_action_types.#{key}.name") %></h6>
                <p class="text-muted mb-0"><%= Spree.t("promotion_action_types.#{key}.description") %></p>
              </div>
            <% end %>
        <% end %>
      <% else %>
        <p class="text-muted">
          <%= @promotion_action.human_description %>
        </p>
        <%= f.hidden_field :type, value: @promotion_action.type %>
        <%= render "spree/admin/promotion_actions/forms/#{@promotion_action.key}", f: f %>
      <% end %>
    </div>
    <% if @promotion_action.type.present? %>
      <div class="dialog-footer">
        <%= dialog_discard_button %>
        <%= turbo_save_button_tag Spree.t('actions.create'), data: { turbo_frame: '_top' } %>
      </div>
    <% end %>
  <% end %>
<% end %>