<div class="card mb-4">
  <div class="card-body">
    <div class="form-group">
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, class: 'form-control', required: true, autofocus: f.object.new_record?, data: { seo_form_target: 'sourceTitleInput', slug_form_target: :name, action: 'slug-form#updateUrlFromName' } %>
      <%= f.error_message_on :name %>
    </div>

    <div class="form-group mb-0">
      <%= f.label :description, Spree.t(:description) %>
      <div class="trix-container mb-0">
        <%= f.text_area :description, { rows: 10, class: "form-control spree-rte", data: { seo_form_target: 'sourceDescriptionInput' } } %>
      </div>
    </div>
  </div>
</div>