<div class="inventory-form card mb-6">
  <div class="card-header flex items-center justify-between">
    <h5 class="card-title"><%= Spree.t(:inventory) %></h5>

    <% if can?(:manage, Spree::StockLocation) %>
      <%= link_to_with_icon 'adjustments', Spree.t('admin.manage_stock_locations'), spree.admin_stock_locations_path, class: 'btn btn-sm btn-light' %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="custom-control form-checkbox mb-6">
      <%= f.check_box :track_inventory,
            class: 'custom-control-input',
            data: {
              product_form_target: 'trackInventoryCheckbox',
              action: 'product-form#toggleQuantityTracked'
            }
          %>
      <%= f.label :track_inventory, Spree.t(:track_quantity), class: 'custom-control-label' %>
    </div>
    <div
      class="master-variant-quantity-form <%= @product.has_variants? || !@product.track_inventory ? 'hidden' : '' %>"
      data-product-form-target="<%= @product.has_variants? ? '' : 'quantityForm' %>"
    >
      <h6 class="font-bold"><%= Spree.t(:quantity) %></h6>
      <hr class="my-6">
      <div>
        <%= f.fields_for :master, @product.master do |vf| %>
          <%= vf.fields_for :stock_items do |sif| %>
            <%= sif.hidden_field :stock_location_id %>
            <div class="grid lg:grid-cols-3 gap-x-6 gap-y-2 items-center mb-6 border-b border-gray-200 pb-6">
              <% if can?(:manage, sif.object.stock_location) %>
                <%= link_to sif.object.stock_location.name, spree.edit_admin_stock_location_path(sif.object.stock_location) %>
              <% else %>
                <%= sif.object.stock_location.name %>
              <% end %>
              <%= sif.number_field :count_on_hand, class: 'form-input' %>
              <%= sif.spree_check_box :backorderable, label: Spree.t(:continue_selling_when_out_of_stock) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="grid lg:grid-cols-2 gap-x-6 gap-y-2">
      <%= f.spree_text_field :sku, label: Spree.t(:sku) %>
      <%= f.spree_text_field :barcode, label: Spree.t(:barcode) %>
    </div>
  </div>
</div>
