<div class="card mb-6">
  <div class="card-header flex items-center justify-between">
    <h5 class="card-title"><%= Spree.t(:properties) %></h5>

    <% if can?(:manage, Spree::Property) %>
      <%= link_to_with_icon 'adjustments', Spree.t('admin.manage_properties'), spree.admin_properties_path, class: 'btn btn-sm btn-light' %>
    <% end %>
  </div>
  <div class="card-body p-0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= Spree.t(:property) %></th>
          <th scope="col"><%= Spree.t(:value) %></th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :product_properties, sorted_product_properties(f.object) do |product_property_form| %>
          <% property = product_property_form.object.property %>
          <%= product_property_form.hidden_field :id %>
          <%= product_property_form.hidden_field :property_id %>
          <tr>
            <td class="align-top pt-4 w-1/4">
              <code><%= property.name %></code>
            </td>
            <td class="w-3/4">
              <div class="form-group">
                <% if property.long_text? %>
                  <%= product_property_form.text_area :value, { class: 'form-input', data: { controller: 'textarea-autogrow'} } %>
                <% elsif property.number? %>
                  <%= product_property_form.number_field :value, class: 'form-input' %>
                <% elsif property.rich_text? %>
                  <div class="trix-container">
                    <%= product_property_form.rich_text_area :value %>
                  </div>
                <% else %>
                  <%= product_property_form.text_field :value, class: 'form-input' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>