<div class="card mb-6">
  <div class="card-body">
    <div class="grid grid-cols-12 gap-6 mb-6">
      <div class="col-span-6">
        <%= f.spree_select :status,
                           available_status_options(@product),
                           { selected: @product.status, help_bubble: show_product_status_help_bubble? ? Spree.t('admin.products.status_form.status') : nil },
                           { data: {
                               action: 'change->product-form#switchAvailabilityDatesFields',
                               'product-form-target': 'status'
                             }
                           } %>
      </div>
      <div class="col-span-6 <%= 'hidden' if @product.active? %>" data-product-form-target="makeActiveAt">
        <% if can?(:activate, @product) %>
          <%= f.spree_datetime_field :make_active_at,
                                     help_bubble: Spree.t('admin.products.status_form.make_active_at'),
                                     max: @product.discontinue_on %>
        <% end %>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-6">
      <div data-product-form-target="availableOn" class="col-span-6">
        <%= f.spree_datetime_field :available_on,
                                   help_bubble: Spree.t('admin.products.status_form.available_on'),
                                   max: @product.discontinue_on %>
      </div>
      <div data-product-form-target="discontinueOn" class="col-span-6">
        <%= f.spree_datetime_field :discontinue_on,
                                   help_bubble: Spree.t('admin.products.status_form.discontinue_on'),
                                   min: @product.make_active_at %>
      </div>
    </div>
  </div>
</div>
