<div data-hook="admin_page_form_fields" class="row">
  <div class="col-12 col-md-6">
    <%= f.field_container :title, class: ['form-group'] do %>
      <%= f.label :title, raw(Spree.t(:title) + required_span_tag) %>
      <%= f.text_field :title, class: 'form-control', required: true %>
      <%= f.error_message_on :title %>
    <% end %>

    <%= f.field_container :meta_title, class: ['form-group'] do %>
      <%= f.label :meta_title, Spree.t('admin.pages.meta_title') %>
      <%= f.text_field :meta_title, class: 'form-control' %>
      <%= f.error_message_on :meta_title %>
    <% end %>

    <%= f.field_container :meta_description, class: ['form-group'] do %>
      <%= f.label :meta_description, Spree.t('admin.pages.meta_description') %>
      <%= f.text_field :meta_description, class: 'form-control' %>
      <%= f.error_message_on :meta_description %>
    <% end %>

    <%= f.field_container :slug, class: ['form-group'] do %>
      <%= f.label :slug, Spree.t('admin.pages.slug') %>
      <%= f.text_field :slug, class: 'form-control' %>
      <%= f.error_message_on :slug %>
    <% end %>
  </div>

  <div class="col-12 col-md-6">
    <%= f.field_container :kind, class: ['form-group'] do %>
      <%= f.label :kind, Spree.t('admin.pages.kind') %>
      <%= f.select(:kind, @page_kinds, {include_blank: false}, class: 'select2') %>
      <%= f.error_message_on :kind %>
    <% end %>

    <%= f.field_container :page_stores, class: ['form-group'] do %>
      <%= label_tag :page_stores, Spree.t(:stores) %>
      <%= collection_select(:page, :store_id, @stores, :id, :unique_name, {}, { class: 'select2' }) %>
      <%= f.error_message_on :page_stores %>
    <% end %>
    <%= f.field_container :locale, class: ['form-group'] do %>
      <%= f.label :locale %>
      <%= f.select :locale, options_from_collection_for_select(all_locales_options, :last, :first, @page.locale || I18n.locale), {}, { class: 'select2' } %>
      <%= f.error_message_on :default_locale %>
    <% end %>

    <%= f.field_container :visible, class: ['form-group'] do %>
      <div class="custom-control custom-checkbox">
        <%= f.check_box :visible, class: 'custom-control-input' %>
        <%= f.label :visible, Spree.t(:visible), class: 'custom-control-label' %>
        <%= f.error_message_on :visible %>
      </div>
    <% end %>
  </div>
</div>
