<%= render layout: 'spree/shared/mailer_hero' do %>
  <h1><%= Spree.t('customer_mailer.password_reset_email.action') %></h1>
  <p class="greeting"><%= Spree.t('customer_mailer.password_reset_email.greeting', name: @user.first_name.presence || @user.email) %></p>
  <p><%= Spree.t('customer_mailer.password_reset_email.instructions') %></p>
  <% if @reset_url %>
    <%= render 'spree/shared/mailer_button', url: @reset_url, label: Spree.t('customer_mailer.password_reset_email.action') %>
  <% end %>
  <p class="sub"><%= Spree.t('customer_mailer.password_reset_email.expiry_notice') %></p>
  <p class="sub"><%= Spree.t('customer_mailer.password_reset_email.ignore_notice') %></p>
<% end %>
