<div class="card mb-6">
    <div class="card-header flex justify-between">
      <h5 class="card-title">
        <%= Spree.t('admin.webhook_endpoints.secret_key') %>
      </h5>
    </div>
    <div class="card-body">
      <p class="text-gray-600 mb-3"><%= Spree.t('admin.webhook_endpoints.secret_key_help') %></p>
      <div data-controller="password-visibility" class="input-group gap-0 pr-1">
        <input type="password" class="grow text-truncate" data-password-visibility-target="input" spellcheck="false" value="<%= @webhook_endpoint.secret_key %>" readonly>

        <button type="button" class="btn hover:bg-gray-100 p-1 mr-1 rounded" data-action="password-visibility#toggle">
          <span data-password-visibility-target="icon"><%= icon 'eye', class: 'mr-0' %></span>
          <span data-password-visibility-target="icon" class="hidden"><%= icon 'eye-off', class: 'mr-0' %></span>
        </button>

        <%= clipboard_component(@webhook_endpoint.secret_key, 
              button_class: 'btn hover:bg-gray-100 p-1 rounded', 
              icon_class: 'mr-0') %>
      </div>
    </div>
  </div>
</div>