<div class="card mb-6">
  <div class="card-body">
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="flex flex-col mb-6 lg:mb-0 border-r gap-2">
        <span class="text-sm text-gray-500"><%= Spree.t('admin.webhook_endpoints.deliveries') %></span>
        <span class="text-lg text-gray-900 font-bold">
          <%= @webhook_endpoint.webhook_deliveries.count %>
        </span>
      </div>

      <div class="flex flex-col mb-6 lg:mb-0 border-r gap-2">
        <span class="text-sm text-gray-500"><%= Spree.t('admin.webhook_endpoints.successful_deliveries') %></span>
        <span class="text-lg text-gray-900 font-bold">
          <%= @webhook_endpoint.webhook_deliveries.successful.count %>
        </span>
      </div>

      <div class="flex flex-col mb-6 lg:mb-0 gap-2">
        <span class="text-sm text-gray-500"><%= Spree.t('admin.webhook_endpoints.failed_deliveries') %></span>
        <span class="text-lg text-gray-900 font-bold">
          <%= @webhook_endpoint.webhook_deliveries.failed.count %>
        </span>
      </div>
    </div>
  </div>
</div>