<div class="alpha six columns" data-hook="admin_zone_form_fields">
  <fieldset class="no-border-bottom">
    <legend align="center"><%= Spree.t(:general_settings)%></legend>

    <%= zone_form.field_container :name do %>
      <%= zone_form.label :name, Spree.t(:name) %><br />
      <%= zone_form.text_field :name, :class => 'fullwidth' %>
    <% end %>

    <%= zone_form.field_container :description do %>
      <%= zone_form.label :description, Spree.t(:description) %><br />
      <%= zone_form.text_field :description, :class => 'fullwidth' %>
    <% end %>

    <div data-hook="default" class="field">
      <%= zone_form.check_box :default_tax %>
      <%= label_tag Spree.t(:default_tax_zone) %>
    </div>

    <div data-hook="type" class="field">
      <%= label_tag Spree.t(:type) %>
      <ul>
        <li>
          <%= zone_form.radio_button('kind', 'country', { :id => 'country_based' }) %>
          <%= label_tag :country_based, Spree.t(:country_based) %>
        </li>
        <li>
          <%= zone_form.radio_button('kind', 'state', { :id => 'state_based' }) %>
          <%= label_tag :state_based, Spree.t(:state_based) %>
        </li>
      </ul>
    </div>
  </fieldset>
</div>

<%= render :partial => 'state_members', :locals => { :zone_form => zone_form }%>
<%= render :partial => 'country_members', :locals => { :zone_form => zone_form } %>
