<div class="row">
  <div class="col-12 col-lg-6" data-hook="admin_zone_form_fields">
    <div class="card mb-3">
      <div class="card-header">
        <h1 class="card-title mb-0 h5"><%= Spree.t(:general_settings) %></h1>
      </div>

      <div class="card-body">
        <%= zone_form.field_container :name, class: ['form-group'] do %>
          <%= zone_form.label :name, Spree.t(:name) %>
          <%= zone_form.text_field :name, class: 'form-control' %>
          <%= zone_form.error_message_on :name %>
        <% end %>

        <%= zone_form.field_container :description, class: ['form-group'] do %>
          <%= zone_form.label :description, Spree.t(:description) %>
          <%= zone_form.text_field :description, class: 'form-control' %>
        <% end %>

        <div data-hook="default" class="form-group checkbox">
          <%= label_tag "zone[#{:default_tax}" do %>
            <%= zone_form.check_box :default_tax %>
            <%= Spree.t(:default_tax_zone) %>
          <% end %>
        </div>

        <div data-hook="type" class="form-group">
          <strong><%= Spree.t(:type) %></strong>
          <div class="radio my-2">
            <%= label_tag :country_based do %>
              <%= zone_form.radio_button('kind', 'country', { id: 'country_based' }) %>
              <%= Spree.t(:country_based) %>
            <% end %>
          </div>
          <div class="radio my-2">
            <%= label_tag :state_based do %>
              <%= zone_form.radio_button('kind', 'state', { id: 'state_based' }) %>
              <%= Spree.t(:state_based) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <%= render partial: 'state_members', locals: { zone_form: zone_form } %>
    <%= render partial: 'country_members', locals: { zone_form: zone_form } %>
  </div>
</div>
