

<% content_for :page_title do %>
  <%= Spree.t(:zones) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_zone), new_object_url, :class => "btn-success", :icon => 'add', :id => 'admin_new_zone_link' %>
  </li>
<% end %>

<%= paginate @zones %>

<% if @zones.any? %>
  <table class="table index" id='listing_zones' data-hook>
    <thead>
      <tr data-hook="zones_header">
        <th><%= sort_link @search,:name, Spree.t(:name), :title => 'zones_order_by_name_title' %></th>
        <th>
          <%= sort_link @search,:description, Spree.t(:description), {}, {:title => 'zones_order_by_description_title'} %>
        </th>
        <th><%= Spree.t(:default_tax) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @zones.each do |zone| %>
        <tr id="<%= spree_dom_id zone %>" data-hook="zones_row">
          <td><%= zone.name %></td>
          <td><%= zone.description %></td>
          <td><%= zone.default_tax? ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
          <td class="actions actions-2">
            <%=link_to_edit zone, :no_text => true %>
            <%=link_to_delete zone, :no_text => true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/zone')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_zone_path %>!
  </div>
<% end %>

<%= paginate @zones %>
