<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:shipping_categories) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_shipping_category), new_object_url, :icon => 'icon-plus' %>
  </li>
<% end %>

<% if @shipping_categories.any? %>
<table class="index">
  <colgroup>
    <col style="width: 85%">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <tr data-hook="categories_header">
      <th><%= Spree.t(:name) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @shipping_categories.each do |shipping_category|%>
    <tr id="<%= spree_dom_id shipping_category %>" data-hook="category_row" class="<%= cycle('odd', 'even')%>">
      <td class="align-center" style="width:350px;"><%= shipping_category.name %></td>
      <td class="actions">
        <%= link_to_edit shipping_category, :no_text => true %>
        <%= link_to_delete shipping_category, :no_text => true %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/shipping_category')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_shipping_category_path %>!
  </div>
<% end %>
