<div class="table-responsive">
  <div id="variant_prices-table-wrapper">
    <table class="table">
      <thead>
        <tr data-hook="variant_prices_header">
          <th scope="col"><%= Spree.t(:options) %></th>
          <th scope="col"><%= Spree.t(:sku) %></th>
          <th scope="col"><%= Spree.t(:currency) %></th>
          <th scope="col" style="min-width: 150px;"><%= Spree.t(:price) %></th>
          <th scope="col" style="min-width: 150px;"><%= Spree.t(:compare_at_price) %></th>
        </tr>
      </thead>
      <tbody id="variant-prices" data-hook="variant_prices_body">
        <% supported_currencies_for_all_stores.each do |currency| %>
          <% code  = currency.iso_code %>
          <% @product.variants_including_master.each do |variant| %>
            <% price = variant.price_in(code) %>
            <tr id="variant_prices_row" data-hook="variant_prices_row">
              <td class="panel">
                <%= variant.is_master? ? Spree.t(:master) : variant.options_text.blank? ? Spree.t(:variant) : variant.options_text %>
              </td>
              <td class="panel-title"><%= variant.sku %></td>
              <td><%= label_tag "vp[#{variant.id}][#{code}]", code %></td>
              <td>
                <%= text_field_tag "vp[#{variant.id}][#{code}][price]", (price && price.price ? price.display_amount.money : ''), class: 'form-control' %>
              </td>
              <td>
                <%= text_field_tag "vp[#{variant.id}][#{code}][compare_at_price]", (price && price.compare_at_price ? price.display_compare_at_amount.money : ''), class: 'form-control' %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
