<div id="linkResourcePanel" data-panel-type="<%= linked_resource %>">
  <% case linked_resource %>
  <% when 'URL' %>
    <%= render 'spree/admin/menu_items/link_inputs/url', f: f %>
  <% when 'Home Page' %>
    <%= render 'spree/admin/menu_items/link_inputs/home_page', f: f %>
  <% when 'Spree::Taxon' %>
    <%= render 'spree/admin/menu_items/link_inputs/taxon', linked_resource: linked_resource, f: f %>
  <% when 'Spree::Product' %>
    <%= render 'spree/admin/menu_items/link_inputs/product', linked_resource: linked_resource, f: f %>
  <% end %>
</div>
