<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("tax_settings") %></h1>

<table>
  <tr>
    <th scope="row"><%= t("show_price_inc_vat") %>:</th> 
    <td><%=  Spree::Config[:show_price_inc_vat] %></td>
  </tr>
</table>

<p><%= link_to_with_icon 'edit', t("edit"), edit_admin_tax_settings_path %></p>


