<h1>Editing Taxon</h1>

<%= error_messages_for :taxon %>

<% form_for(:taxon, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%=submit_tag "Update"%>
  </p>
<% end %>

<br/>

<%= link_to 'Show', object_url %>
|
<%= link_to 'Back', collection_url %>