<table class="index">
  <thead>
    <tr data-hook="payments_header">
      <th><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
      <th><%= t(:amount, :scope => 'activerecord.attributes.spree/payment') %></th>
      <th><%= t(:payment_method) %></th>
      <th><%= t(:payment_state) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% payments.each do |payment| %>
      <tr data-hook="payments_row" class="<%= cycle('odd', 'even')%>">
        <td><%= payment.created_at.to_s(:date_time24) %></td>
        <td><%= money(payment.amount) %></td>
        <td class="align-center"><%= link_to payment_method_name(payment), admin_order_payment_path(@order, payment) %></td>
        <td class="align-center"> <span class="state <%= payment.state %>"><%= t(payment.state, :scope => :payment_states, :default => payment.state.capitalize) %></span></td>
        <td class="actions">
          <% payment.actions.each do |action| %>
            <%= link_to_with_icon "icon-#{action}", t(action), fire_admin_order_payment_path(@order, payment, :e => action), :method => :put, :no_text => true, :data => {:action => action} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
