<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
<% if @order.outstanding_balance? %>
    <li id="new_payment_section">
      <%= button_link_to t(:new_payment), new_admin_order_payment_url(@order), :icon => 'add' %>
    </li>
<% end %>
  </ul>
  <br class="clear" />
</div>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Payments' } %>

<% if @order.outstanding_balance? %>
  <p><%= @order.outstanding_balance < 0 ? t(:credit_owed) : t(:balance_due) %> <strong><%= money(@order.outstanding_balance) %></strong></p>
<% end %>

<h2><%= t(:payments) %></h2>
<%= render :partial => 'list', :locals => { :payments => @payments } %>


<%= button_link_to t(:continue), admin_orders_url %>
