<% content_for :page_actions do %>  
  <% if @order.outstanding_balance? %>
    <li id="new_payment_section">
      <%= button_link_to t(:new_payment), new_admin_order_payment_url(@order), :icon => 'icon-plus' %>
    </li>
  <% end %>  
  <li><%= button_link_to t(:back_to_orders_list), admin_orders_path, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Payments' } %>

<% if @order.outstanding_balance? %>
  <h5 class="outstanding-balance"><%= @order.outstanding_balance < 0 ? t(:credit_owed) : t(:balance_due) %>: <strong><%= money(@order.outstanding_balance) %></strong></h5>
<% end %>

<%= render :partial => 'list', :locals => { :payments => @payments } %>


<%= button_link_to t(:continue), admin_orders_url, :icon => 'icon-arrow-right' %>
