<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Payments' } %>

<% content_for :page_title do %>
  <%= t(:new) %> <%= t("activerecord.models.#{@payment.class.to_s.underscore}.one") %>  
<% end %>

<% if @payment_methods.any? %>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @payment } %>

  <%= form_for @payment, :url => admin_order_payments_path(@order) do |f| %>

    <%= render :partial => 'form', :locals => { :f => f } %>

    <div class="form-buttons" data-hook="buttons">
      <%= button @order.cart? ? t(:continue) : t(:update) %>
    </div>

  <% end %>
<% else %>
  <%= t(:cannot_create_payment_without_payment_methods) %>
  <%= link_to t(:please_define_payment_methods), admin_payment_methods_url %>
<% end %>
