<%= content_for :title do %>
  <%= Spree.t(:page_not_found) %>
<% end %>

<div class="page-container py-12">
  <div class="not-found-page text-center pt-5">
    <h1 class="display-4 text-primary">404</h1>
    <p class="display-5"><%= Spree.t(:page_not_found) %></p>
    <p class="display-6"><%= Spree.t(:page_not_found_message) %></p>
    <%= link_to Spree.t("admin.back_to_dashboard"),
    spree.admin_dashboard_path,
    class: "btn btn-primary" %>
  </div>
</div>
