<%= content_for :title do %>
  <%= Spree.t(:forbidden) %>
<% end %>

<%= content_for :page_title do %>
  <%= Spree.t(:forbidden) %>
<% end %>

<p class="text-danger">
  <%= Spree.t(:forbidden_message) %>
</p>

<%= link_to Spree.t('admin.back_to_dashboard'), spree.admin_dashboard_path, class: 'btn btn-primary' %>