<div data-hook="admin_customer_detail_form_fields">

  <div class="panel panel-default" data-hook="customer_guest">

    <div class="panel-heading">
      <h1 class="panel-title">
        <%= Spree.t(:account) %>
      </h1>
    </div>

    <div class="panel-body">
      <div data-hook="customer_fields" class="row no-padding-bottom">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :email, Spree.t(:email) %>
            <% if can? :edit, @order.user %>
              <%= f.email_field :email, class: 'form-control' %>
            <% else %>
              <p><%= @order.user.try(:email) || @order.email %></p>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.hidden_field :user_id %>
            <% if @order.completed? %>
              <%= f.label :user, Spree.t(:user) %>
              <div class="alert alert-warning" style="padding: 8px;">
                <% if @order.user.nil? %>
                  <%= Spree.t(:guest_checkout) %>
                <% else %>
                  <%= link_to @order.user.try(:email), edit_admin_user_path(@order.user) %>
                <% end %>
              </div>
            <% else %>
              <%= label_tag nil, Spree.t(:guest_checkout) %>
              <% guest = @order.user.nil? %>
              <div class="radio no-margint">
                <%= label_tag :guest_checkout_true do %>
                  <%= radio_button_tag :guest_checkout, true, guest %>
                  <%= Spree.t(:say_yes) %>
                <% end %>
              </div>
              <div class="radio">
                <%= label_tag :guest_checkout_false do %>
                  <%= radio_button_tag :guest_checkout, false, !guest, disabled: @order.cart? %>
                  <%= Spree.t(:say_no) %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <% if @order.completed? %>
    <div class="alert alert-info">
      <strong><%= Spree.t(:shipping_address) %></strong>:
      <%= Spree.t(:this_is_the_default_shipping_address, shipments_link: link_to(Spree.t(:shipments), shipments_admin_order_url(@order))).html_safe %>
    </div>
  <% end %>

  <div class="row">
    <div data-hook="bill_address_wrapper" class="col-md-6 billing-address">
      <div class="panel panel-default no-margin-bottom">
        <div class="panel-heading">
          <%= link_to(Spree.t(:edit), "#", data: { toggle: "modal", target: "#billAddress" }, class: "pull-right") if @order.completed? %>
          <h1 class="panel-title"><%= Spree.t(:billing_address) %></h1>
        </div>

        <div class="panel-body js-billing-address">

          <% if @order.completed? %>

            <%= render(partial: 'spree/admin/shared/address', locals: { address: @order.bill_address }) if @order.bill_address %>
            <div class="modal fade" id="billAddress" tabindex="-1" role="dialog" aria-labelledby="billAddressLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="billAddressLabel"><%= Spree.t(:edit_billing_address) %></h4>
                  </div>
                  <div class="modal-body">
                    <%= f.fields_for :bill_address do |ba_form| %>
                      <%= render partial: 'spree/admin/shared/address_form', locals: { f: ba_form, type: "billing" } %>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <%= button Spree.t('actions.update'), 'save' %>
                  </div>
                </div>
              </div>
            </div>

          <% else %>

            <%= f.fields_for :bill_address do |ba_form| %>
              <%= render partial: 'spree/admin/shared/address_form', locals: { f: ba_form, type: "billing" } %>
            <% end %>

          <% end %>

        </div>
      </div>
    </div>

    <div data-hook="ship_address_wrapper" class="col-md-6 shipping-address">
      <div class="panel panel-default no-margin-bottom">
        <div class="panel-heading">
          <h1 class="panel-title"><%= Spree.t(:default_shipping_address) %></h1>
        </div>
        <div class="panel-body">

          <% if @order.completed? %>
            <%= render(partial: 'spree/admin/shared/address', locals: { address: @order.ship_address }) if @order.ship_address %>
          <% else %>
            <%= f.fields_for :ship_address do |sa_form| %>
              <div class="form-group">
                <span data-hook="use_billing">
                  <%= check_box_tag 'order[use_billing]', '1', ((!@order.bill_address.empty? && !@order.ship_address.empty?) && @order.bill_address.same_as?(@order.ship_address)) %>
                  <%= label_tag 'order[use_billing]', Spree.t(:use_billing_address) %>
                </span>
              </div>
              <%= render partial: 'spree/admin/shared/address_form', locals: { f: sa_form, type: 'shipping' } %>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <% if can? :edit, @order.user %>
    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'save' %>
    </div>
  <% end %>
</div>
