<div data-hook="admin_customer_detail_form_fields">

  <div class="panel panel-default" data-hook="customer_guest">

    <div class="panel-heading">
      <h1 class="panel-title">
        <%= Spree.t(:account) %>
      </h1>
    </div>

    <div class="panel-body">
      <div data-hook="customer_fields" class="row no-padding-bottom">
        <div class="col-md-8">
          <div class="form-group">
            <%= f.label :email, Spree.t(:email) %>
            <% if can? :edit, @order.user %>
              <%= f.email_field :email, class: 'form-control' %>
            <% else %>
              <p><%= @order.user.try(:email) || @order.email %></p>
            <% end %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <strong><%= label_tag nil, Spree.t(:guest_checkout) %></strong>
            <% guest = @order.user.nil? %>

            <% if @order.completed? %>
              <div>
                <span class="badge">
                  <%= guest ? Spree.t(:say_yes) : Spree.t(:say_no) %>
                  <%= hidden_field_tag :guest_checkout, guest %>
                </span>
              </div>
            <% else %>
              <div class="radio no-margint">
                <%= label_tag :guest_checkout_true do %>
                  <%= radio_button_tag :guest_checkout, true, guest %>
                  <%= Spree.t(:say_yes) %>
                <% end %>
              </div>
              <div class="radio">
                <%= label_tag :guest_checkout_false do %>
                  <%= radio_button_tag :guest_checkout, false, !guest, disabled: @order.cart? %>
                  <%= Spree.t(:say_no) %>
                <% end %>
              </div>
              <%= hidden_field_tag :user_id, @order.user_id %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <% if @order.completed? %>
    <div class="alert alert-info">
      <strong><%= Spree.t(:shipping_address) %></strong>:
      <%= Spree.t(:this_is_the_default_shipping_address, shipments_link: link_to(Spree.t(:shipments), edit_admin_order_path(@order))).html_safe %>
    </div>
  <% end %>

  <div class="alert alert-warning is-hidden js-change-customer-bill-address-alert">
    <%= Spree.t(:changing_customer_will_change_bill_address) %>
  </div>

  <div class="row">
    <div data-hook="bill_address_wrapper" class="col-md-6">
      <div class="panel panel-default no-margin-bottom">
        <div class="panel-heading">
          <% if @order.completed? && can?(:edit, @order.user) %>
            <%= link_to Spree.t(:edit), "#", data: { toggle: "modal", target: "#billAddress" }, class: "pull-right" %>
            <%= render partial: 'spree/admin/shared/address_form_modal', locals: { type: 'billing', f: f } %>
          <% end %>
          <h1 class="panel-title"><%= Spree.t(:billing_address) %></h1>
        </div>

        <div class="panel-body">
          <% if @order.completed? || cannot?(:edit, @order.user) %>
            <%= render partial: 'spree/admin/shared/address', locals: { address: @order.bill_address } %>
          <% else %>
            <%= f.fields_for :bill_address do |ba_form| %>
              <%= render partial: 'spree/admin/shared/address_form', locals: { f: ba_form, type: "billing" } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6" data-hook="ship_address_wrapper">
      <div class="panel panel-default no-margin-bottom">
        <div class="panel-heading">
          <% if @order.completed? && can?(:edit, @order.user) %>
            <%= link_to Spree.t(:edit), "#", data: { toggle: "modal", target: "#shipAddress" }, class: "pull-right" %>
            <%= render partial: 'spree/admin/shared/address_form_modal', locals: { type: 'shipping', f: f } %>
          <% end %>
          <h1 class="panel-title"><%= Spree.t(:default_shipping_address) %></h1>
        </div>
        <div class="panel-body">
          <% if @order.completed? || cannot?(:edit, @order.user) %>
            <%= render partial: 'spree/admin/shared/address', locals: { address: @order.ship_address } %>
          <% else %>
            <%= f.fields_for :ship_address do |sa_form| %>
              <div class="form-group">
                <span data-hook="use_billing">
                  <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address? %>
                  <%= label_tag 'order[use_billing]', Spree.t(:use_billing_address) %>
                </span>
              </div>
              <%= render partial: 'spree/admin/shared/address_form', locals: { f: sa_form, type: 'shipping' } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if can? :edit, @order.user %>
    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'save' %>
    </div>
  <% end %>
</div>