<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:header, :scope => "dash.jirafe") %>
<% end %>

<%= form_tag admin_analytics_path, :method => :put do %>
  <fieldset>
    <legend><%= Spree.t(:settings)%></legend>

    <p><%= Spree.t(:explanation, :scope => "dash.jirafe") %></p>
    <div class="alpha five columns">
      <div class="field">
        <%= label_tag 'app_id', Spree.t(:app_id, :scope => "dash.jirafe") %><br>
        <%= text_field_tag 'app_id', Spree::Dash::Config.app_id %>
      </div>
      <div class="field">
        <%= label_tag 'site_id', Spree.t(:site_id, :scope => "dash.jirafe") %><br>
        <%= text_field_tag 'site_id', Spree::Dash::Config.site_id %>
      </div>
    </div>

    <div class="omega seven columns">
      <div class="field">
        <%= label_tag 'app_token', Spree.t(:app_token, :scope => "dash.jirafe") %><br>
        <%= text_field_tag 'app_token', Spree::Dash::Config.app_token, :size => 40 %>
      </div>

      <div class="field">
        <%= label_tag 'token', Spree.t(:token, :scope => "dash.jirafe") %><br>
        <%= text_field_tag 'token', Spree::Dash::Config.token, :size => 40 %>
      </div>
    </div>

    <div class="clear"></div>

    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t(:update), 'icon-refresh' %>
    </div>
  </fieldset>
<% end %>

