<% content_for :page_title do %>
  <%= plural_resource_name(Spree::StoreCreditCategory) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_store_credit_category), new_object_url, class: "btn-primary", icon: 'plus', id: 'admin_new_store_credit_category_link' %>
<% end if can? :create, Spree::StoreCreditCategory %>

<% if @store_credit_categories.any? %>
<div class="table-responsive card-lg p-0">
  <table class="table">
    <thead class="text-muted">
      <tr>
        <th><%= Spree.t(:name) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @store_credit_categories.each do |store_credit_category| %>
        <tr id="<%= spree_dom_id store_credit_category %>">
          <td><%= store_credit_category.name %></td>
          <td class="actions">
            <%= link_to_edit(store_credit_category, no_text: true) if can? :edit, store_credit_category %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <%= render 'spree/admin/shared/no_resource_found' %>
<% end %>
