<h1><%= t("new_shipping_category") %></h1>

<%= render 'shared/error_messages', :target => @shipping_category %>

<%= form_for(:shipping_category, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= render :partial => "admin/shared/new_resource_links" %>
<% end %>
