<div class="page-container lg:grid lg:grid-cols-12">
  <div class="py-3 text-sm hidden lg:flex items-center col-span-12 gap-4">
    <%= link_to spree.account_orders_path, class: "text-neutral" do %>
      <%= Spree.t(:orders) %> & <%= Spree.t(:returns) %>
    <% end %>
    <div class="w-1 h-1 bg-accent"></div>
    <span>
      <%= accurate_title %>
    </span>
  </div>

  <div class="lg:col-start-3 lg:col-span-8 mt-6">
    <%= link_to spree.account_orders_path, class: 'text-sm font-semibold uppercase tracking-widest flex gap-2 items-center' do %>
      <%= render 'spree/shared/icons/chevron' %>
      <%= Spree.t(:back)%>
    <% end %>
    <h1 class="text-xl uppercase font-medium my-4 ">
      <%= accurate_title %>
    </h1>
    <%= render 'spree/shared/order_details', order: @order, shipments: @shipments %>
  </div>
</div>
