<div class="yui-g">

  <div class="yui-u first">

    <fieldset>
      <legend><%= t('general') %></legend>

      <p>
        <label><%=t("environment")%></label>
        <br/>
        <%= f.collection_select(:environment,
                                Configuration.configurations.keys.sort,
                                :to_s, :titleize,
                                {}, {:id => "gtwy-env"}) %>
      </p>

      <p>
        <%= f.check_box :preferred_enable_mail_delivery, {:style => "vertical-align:middle;"} %>
        <label>
          <%= t('enable_mail_delivery') %>
        </label>
      </p>

      <p>
        <label><%= t('send_mails_as') %></label><br />
        <%= f.text_field :preferred_mails_from, :size => 40, :maxlength => 256 %>
        <br/>
        <span class="info">
          <%= t("smtp_send_all_emails_as_from_following_address") %>
        </span>
      </p>

      <p>
        <label><%= t('send_copy_of_all_mails_to') %></label><br />
        <%= f.text_field :preferred_mail_bcc, :size => 40, :maxlength => 256 %>
        <br/>
        <span class="info">
          <%= t("smtp_send_copy_to_this_addresses") %>
        </span>
      </p>

      <p>
        <label><%= t('intercept_email_address') %></label><br />
        <%= f.text_field :preferred_intercept_email, :size => 40, :maxlength => 256 %>
        <br/>
        <span class="info">
          <%= t("intercept_email_instructions") %>
        </span>
      </p>

    </fieldset>

  </div>

  <div class="yui-u">

    <fieldset>
      <legend><%= t('smtp') %></legend>
      <p>
        <label><%= t("smtp_domain") %></label><br />
        <%= f.text_field :preferred_mail_domain %>
      </p>
      <p>
        <label><%= t('smtp_mail_host') %></label><br />
        <%= f.text_field :preferred_mail_host %>
      </p>
      <p>
        <label><%= t('smtp_port') %></label><br />
        <%= f.text_field :preferred_mail_port %>
      </p>
      <p>
        <label><%= t('secure_connection_type')  %></label><br />
        <%= f.collection_select(:preferred_secure_connection_type,
                                MailMethod::SECURE_CONNECTION_TYPES,
                                :to_s, :to_s,
                                {}, {"style" => "width:200px"}) %>
      <p>
        <label><%= t('smtp_authentication_type') %></label><br />
        <%= f.collection_select(:preferred_mail_auth_type,
                                MailMethod::MAIL_AUTH,
                                :to_s, :to_s,
                                {}, {"style" => "width:200px"}) %>
      </p>
      <p>
        <label><%= t('smtp_username') %></label><br />
        <%= f.text_field :preferred_smtp_username %>
      </p>
      <p>
        <label><%= t('smtp_password') %></label><br />
        <%= f.password_field :preferred_smtp_password %>
      </p>
    </fieldset>

  </div>

</div>