<%= turbo_frame_tag :drawer do %>
  <%= drawer_header(Spree.t(:translations_for, resource_name: @resource.try(:name))) %>
  <% if @locales.any? %>
    <%= form_for @resource, url: spree.admin_translation_path(@resource, resource_type: @resource.class.to_s), method: :put do |f| %>
      <div class="drawer-body">
        <% if @locales.many? %>
          <div class="form-group mb-3">
            <%= form_with url: spree.edit_admin_translation_path(@resource, resource_type: @resource.class.to_s), class: "d-flex gap-2", data: { controller: 'auto-submit', turbo_frame: 'translations_content'}, method: :get do |locale_form| %>
              <%= locale_form.label :translation_locale, Spree.t(:language), class: 'form-label' %>
              <%= locale_form.select :translation_locale, options_for_select(@locales.map { |locale| [Spree.t('i18n.this_file_language', locale: locale), locale] }, @selected_translation_locale), {}, { class: 'form-select', data: { action: 'change->auto-submit#submit' } } %>
            <% end %>
          </div>
        <% end %>

        <%= turbo_frame_tag :translations_content do %>
          <%= hidden_field_tag :translation_locale, @selected_translation_locale %>
          <% options = { f: f, resource: @resource, locale: @selected_translation_locale } %>

          <% @resource.class.translatable_fields.each do |field| %>
            <div class="form-group mb-3">
              <label class="form-label">
                <strong><%= Spree.t("activerecord.attributes.#{@resource.class.name.demodulize.underscore}.#{field}") %></strong>
              </label>
              <div class="row">
                <div class="col-6">
                  <label class="form-label text-muted small"><%= Spree.t('i18n.this_file_language', locale: @default_locale) %> (<%= Spree.t(:default) %>)</label>
                  <div class="form-control-plaintext border rounded p-2 bg-light">
                    <%= @resource.public_send(field) %>
                  </div>
                </div>
                <div class="col-6">
                  <label class="form-label text-muted small"><%= Spree.t('i18n.this_file_language', locale: @selected_translation_locale) %></label>
                  <% case field %>
                  <% when :description %>
                    <%= f.spree_rich_text_area "#{field}_#{@selected_translation_locale}", class: 'form-control' %>
                  <% when :meta_description %>
                    <%= f.text_area "#{field}_#{@selected_translation_locale}", class: 'form-control', rows: 3 %>
                  <% else %>
                    <%= f.text_field "#{field}_#{@selected_translation_locale}", class: 'form-control' %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <% case @resource.class.name %>
          <% when 'Spree::OptionType' %>
            <% if @resource.option_values.any? %>
              <div class="form-group">
                <h6><%= Spree.t(:option_values) %></h6>
                <%= f.fields_for :option_values do |option_value_form| %>
                  <% option_value = option_value_form.object %>
                  <div class="form-group mb-3">
                    <label class="form-label">
                      <strong><%= option_value.name %></strong>
                    </label>
                    <div class="row">
                      <div class="col-6">
                        <label class="form-label text-muted small"><%= Spree.t('i18n.this_file_language', locale: @default_locale) %> (<%= Spree.t(:default) %>)</label>
                        <div class="form-control-plaintext border rounded p-2 bg-light">
                          <%= option_value.name %>
                        </div>
                      </div>
                      <div class="col-6">
                        <label class="form-label text-muted small"><%= Spree.t('i18n.this_file_language', locale: @selected_translation_locale) %></label>
                        <%= option_value_form.text_field "name_#{@selected_translation_locale}", class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="drawer-footer">
        <%= turbo_save_button_tag %>
        <%= drawer_discard_button %>
      </div>
    <% end %>
  <% else %>
    <div class="drawer-body">
      <div class="text-muted p-5 d-flex align-items-center w-100 justify-content-center flex-column">
        <%= icon 'language', class: 'mb-3 opacity-50', style: 'font-size: 2rem;' %>
        <p><%= Spree.t('admin.translations.no_translations_configured') %></p>
      </div>
    </div>
  <% end %>
<% end %>