<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head data-hook="inside_head">
    <%= render 'shared/head'%>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>">
    <div id="header">
      <ul id="nav-bar">
        <%= render 'shared/nav_bar' %>
      </ul>
      <div id="logo">
        <%= logo %>
      </div>
    </div>

    <div id="wrapper">
      <% if content_for?(:sidebar) %>
        <div id="sidebar" data-hook data-layer="1">
          <%= yield :sidebar %>
        </div>
      <% end %>

      <div id="content">
        <%= breadcrumbs(@taxon) %>
        <%= flash_messages %>
        <%= yield %>
      </div>
    </div>
    
    <div id="footer">
      <div id="footer-left" data-hook="footer_left">
        <p><%= t("powered_by") %> <a href="http://spreecommerce.com/">Spree</a></p>
      </div>
      <div id="footer-right" data-hook="footer_right"></div>
    </div>
    <%= render 'shared/google_analytics' %>
  </body>
</html>
