<% content_for :page_title do %>
  <%= page_header_back_button(spree.admin_customer_groups_path) %>
  <%= @customer_group.name %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon 'edit', Spree.t(:edit), spree.edit_admin_customer_group_path(@customer_group),
        class: 'btn btn-light',
        data: { turbo_frame: :drawer, action: 'drawer#open' } if can?(:update, @customer_group) %>
<% end %>

<div class="grid grid-cols-12 gap-6">
  <div class="col-span-12 lg:col-span-8">
    <div class="card mb-6">
      <%= render 'customers_header' %>
      <%= turbo_frame_tag :customer_group_users, src: spree.admin_customer_group_customer_group_users_path(@customer_group) do %>
        <%= render 'spree/admin/shared/spinner' %>
      <% end %>
    </div>
  </div>

  <div class="col-span-12 lg:col-span-4">
    <%= render 'details' %>
  </div>
</div>
