<div id="shopping-cart">
  <h1><%= :shopping_cart.l("Shopping Cart") %></h1>
  
  <%=error_messages_for :cart_item%>
  
  <% form_tag do-%>
  <table class="cart-summary" width="100% ">
    <tr>
      <th colspan="2"><%= :item.l("Item") %></th>
      <th><%= :price.l("Price") %></th>
      <th><%= :qty.l %></th>
      <!--<th>Delete</th>-->
      <th><%= :total.l("Total") %></th>
    </tr>
    <% for @item in @cart_items %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td width="100">
        <%= small_image(@item.variant.product) %>
      </td>
      <td valign="top">              
        <%=link_to @item.variant.product.name, :controller => 'store', :action => 'show', :id => @item.variant.product %>
        <%= variant_options @item.variant %><br/>
        <%=truncate(@item.variant.product.description, length = 100, truncate_string = "...")-%>
      </td>
      <td valign="top" width="75">$ <%= sprintf("%0.2f", @item.price) %></td>
      <td valign="top" width="50"><%= text_field "item[]", :quantity, :size => 3 -%></td>
      <td valign="top" width="75">$ <%= sprintf("%0.2f", @item.price * @item.quantity) unless @item.quantity.nil? %></td>
    </tr>
    <% end %>
  </table>
  <div id="subtotal">
    <h3><%= :subtotal.l("Subtotal") %> $ <%= sprintf("%0.2f", @cart.total) %></h3>
    <%= submit_tag :update.l('Update') %>
    <%= link_to :checkout.l("Checkout"), :controller => 'checkout' %> <!-- todo: replace with image and surround with link -->
  </div>
  <% end %>
  <%if previous_location %>
  <p><%=link_to :continue_shopping.l("Continue Shopping"), :controller => 'store', :action => 'index'%></p>
  <%end%>  
  <% unless @cart.cart_items.empty? %>
  <p id="clear_cart_link">
    <small>
      <%= link_to :empty_cart.l("Empty Cart"), :action => 'empty' %>
    </small>
  </p>
  <% end %>
</div>
