<%= render :partial => 'admin/shared/configuration_menu' %>

<%= hook :admin_shipping_method_new_form_header do %>
  <h1><%= t("new_shipping_method") %></h1>

  <%= render 'shared/error_messages', :target => @shipping_method %>
<% end %>

<%= hook :admin_shipping_method_new_form do %>
  <%= form_for(:shipping_method, :url => collection_url) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>

    <%= hook :admin_shipping_method_new_form_buttons do %>
      <%= render :partial => "admin/shared/new_resource_links" %>
    <% end %>
  <% end %>
<% end %>
