<fieldset class="no-border-bottom state_info" id='address_info'>
  <legend>{{i18n 'payments' }}</legend>
  <button class='fa fa-plus' {{action 'newPayment'}}>{{i18n 'new_payment' }}</button>
  {{#if order.payments}}
    <table class="index">
      <thead>
        <tr data-hook="payments_header">
          <th>{{i18n 'date'}}/{{i18n 'time'}}</th>
          <th>{{i18n 'amount' }}</th>
          <th>{{i18n 'payment_method' }}</th>
          <th>{{i18n 'payment_state' }}</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        {{#each order.payments}}
          {{render 'order/payment/show' this}}
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</fieldset>