<div data-hook="admin_tracker_form_fields" class="row">
  <div class="alpha four columns">
    <div data-hook="analytics_id" class="field">
      <%= label_tag nil, t(:google_analytics_id) %>
      <%= text_field :tracker, :analytics_id, :class => 'fullwidth' %>
    </div>
  </div>
  <div class="four columns">
    <div data-hook="environment" class="field">
      <%= label_tag nil, t(:environment) %>
      <%= collection_select(:tracker, :environment, Rails.configuration.database_configuration.keys.sort, :to_s, :titleize, {}, {:id => 'tracker-env', :class => 'select2 fullwidth'}) %>
    </div>
  </div>
  <div class="omega four columns">
    <div data-hook="active" class="field">
      <%= label_tag nil, t(:active) %>
      <ul>
        <li>
          <%= radio_button(:tracker, :active, true) %>
          <%= t(:yes) %>
        </li>
        <li>
          <%= radio_button(:tracker, :active, false) %>
          <%= t(:no) %>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="clear"></div>

  <div data-hook="additional_tracker_fields"></div>
  
</div>
