<div data-hook="admin_tracker_form_fields" class="row">
  <div class="col-md-4">
    <div data-hook="analytics_id" class="form-group">
      <%= label_tag nil, Spree.t(:google_analytics_id) %>
      <%= text_field :tracker, :analytics_id, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-4">
    <div data-hook="active" class="form-group">
      <%= label_tag nil, Spree.t(:active) %>
      <div class="radio">
        <%= label_tag :tracker_active_true do %>
          <%= radio_button(:tracker, :active, true) %>
          <%= Spree.t(:say_yes) %>
        <% end %>
      </div>
      <div class="radio">
        <%= label_tag :tracker_active_false do %>
          <%= radio_button(:tracker, :active, false) %>
          <%= Spree.t(:say_no) %>
        <% end %>        
      </div>
    </div>
  </div>
  
  <div data-hook="additional_tracker_fields"></div>

</div>
