<% content_for :page_title do %>
  <%= Spree.t(:analytics_trackers) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_tracker), new_object_url, :class => "btn-success", :icon => 'add', :id => 'admin_new_tracker_link' %>
<% end if can? :create, Spree::Tracker %>

<% if @trackers.any? %>
  <table class="table">
    <colgroup>
      <col style="width: 30%">
      <col style="width: 40%">
      <col style="width: 15%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr data-hook="admin_trackers_index_headers">
        <th><%= Spree.t(:google_analytics_id) %></th>
        <th class="text-center"><%= Spree.t(:active) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @trackers.each do |tracker|%>
        <tr id="<%= spree_dom_id tracker %>" data-hook="admin_trackers_index_rows">
          <td><%= tracker.analytics_id %></td>
          <td class="text-center"><%= tracker.active ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
          <td class="actions text-right">
            <%= link_to_edit(tracker, :no_text => true) if can? :edit, tracker %>
            <%= link_to_delete(tracker, :no_text => true) if can? :delete, tracker %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Tracker)) %>,
    <%= link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::Tracker %>!
  </div>
<% end %>
