<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<h2><%= t(:registration) %></h2>
<div id="registration">
  <div id="account" class="columns alpha eight">
    <%= render :file => 'spree/user_sessions/new' %>
  </div>
  <% if Spree::Config[:allow_guest_checkout] %>
    <div id="guest_checkout" class="columns omega eight">
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
      <h6><%= t(:guest_user_account) %></h6>
      <%= form_for @order, :url => spree.update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f| %>
        <p>
          <%= f.label :email, t(:email) %><br />
          <%= f.email_field :email, :class => 'title' %>
        </p>
        <p><%= f.submit t(:continue), :class => 'button primary' %></p>
      <% end %>
    </div>
  <% end %>
</div>
