<div data-controller="slug-form" class="card mb-4">
  <div class="card-body">
    <div class="form-group">
      <%= f.label :presentation, raw(Spree.t(:presentation) + required_span_tag) %>
      <%= f.text_field :presentation, class: 'form-control', data: { slug_form_target: :name, action: 'input->slug-form#updateUrlFromName' }, required: true, autofocus: f.object.new_record? %>
      <%= f.error_message_on :presentation %>
    </div>
    <div class="form-group">
      <%= f.label :name, Spree.t(:internal_name) %>
      <%= f.text_field :name, class: 'form-control', data: { slug_form_target: :url }, required: true %>
      <%= f.error_message_on :name %>
    </div>
    <div class="form-group">
      <%= f.label :kind, Spree.t(:kind) %>
      <%= f.select :kind, options_for_select(Spree::Property.kinds.map{ |k| [k.first.humanize, k.first.to_sym] }, @object.kind), {}, { class: 'custom-select' } %>
      <%= f.error_message_on :kind %>
    </div>
    <div class="form-group">
      <%= f.label :display_on, Spree.t(:display_on) %>
      <%= f.select :display_on, display_on_options, {}, { class: 'custom-select' } %>
      <%= f.error_message_on :display_on %>
    </div>
  </div>
</div>