<% content_for(:page_title) do %>
  <%= Spree.t(:properties) %>
<% end %>

<% content_for(:page_alerts) do %>
  <div class="alert alert-info">
    Properties allow you to enrich your Product information.
  </div>
<% end %>

<% content_for :page_actions do %>
  <%= render_admin_partials(:properties_actions_partials) %>
  <%= link_to_with_icon 'plus', Spree.t(:new_property), new_object_url, class: "btn btn-primary" if can?(:create, Spree::Property) %>
<% end  %>

<%= render_admin_partials(:properties_header_partials) %>

<%= render 'spree/admin/shared/index_table', sortable: true %>

<p class="documentation-link-container">
  <%= external_link_to "Learn more about properties", "https://spreecommerce.org/docs/user/manage-products/product-properties" %>
</p>