<% content_for :page_title do %>
  <%= Spree.t(:return_authorizations) %>
<% end %>

<% content_for :page_tabs do %>
  <li class="nav-item">
    <%= link_to Spree.t(:all),
      spree.admin_return_authorizations_path,
      class: "nav-link #{'active' if params[:q][:state_eq].blank?}" %>
  </li>
  <li class="nav-item">
    <%= link_to Spree.t(:authorized),
      params.merge({q: {state_eq: :authorized}}).permit!,
      class: "nav-link #{'active' if params[:q][:state_eq] == 'authorized'}" %>
  </li>
  <li class="nav-item">
    <%= link_to Spree.t(:canceled),
      params.merge({q: {state_eq: :canceled}}).permit!,
      class: "nav-link #{'active' if params[:q][:state_eq] == 'canceled'}" %>
  </li>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_return_authorisations_index_filters">
    <%= search_form_for [:admin, @search], url: spree.admin_return_authorizations_path do |f| %>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= f.label :number_cont, Spree.t(:number) %>
            <%= f.text_field :number_cont, class: "form-control js-quick-search-target js-filterable" %>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= label_tag :q_state_eq, Spree.t(:status) %>
            <%= f.select :state_eq, Spree::ReturnAuthorization.state_machines[:state].states.collect {|s| [Spree.t("return_authorization_states.#{s.name}"), s.value]}, {include_blank: true}, class: 'select2 js-filterable' %>
          </div>
        </div>
      </div>
      <div data-hook="admin_return_authorisations_index_filters_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search.svg' %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @collection.any? %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr data-hook="rate_header">
        <th><%= Spree.t(:created_at) %></th>
        <th><%= Spree.t(:number) %></th>
        <th><%= Spree.t(:order) %></th>
        <th><%= Spree.t(:status) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |return_authorization| %>
        <tr id="<%= spree_dom_id return_authorization %>" data-hook="return_authorization_row">
          <td><%= return_authorization.created_at.strftime('%F %T %Z') %></td>
          <td><%= link_to return_authorization.number, spree.edit_admin_order_return_authorization_path(return_authorization.order, return_authorization) %></td>
          <td><%= link_to return_authorization.order.number, spree.edit_admin_order_path(return_authorization.order) %></td>
          <td>
            <span class="badge badge-<%= return_authorization.state %>"><%= Spree.t("return_authorization_states.#{return_authorization.state}") %></span>
          </td>
          <td class="actions actions-1 text-right">
            <%= link_to_edit return_authorization, url: spree.edit_admin_order_return_authorization_path(return_authorization.order, return_authorization), no_text: true if can?(:edit, return_authorization) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ReturnAuthorization)) %>.
  </div>
<% end %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection, per_page_action: :return_authorizations } %>
