<fieldset class="no-border-bottom state_info" id='complete_info'>
  <legend>{{i18n 'order_details' }}</legend>
  {{#each shipments}}
    {{render 'orders/shipments/show' this}}
  {{/each}}
  
  <div class="alpha six columns" id='billing_address'>
    <fieldset class="no-border-bottom">
      <legend align="center">{{i18n 'order.bill_address' }}</legend>
      {{#with bill_address as address}}
        {{partial 'orders/addresses/show'}}
      {{/with}}
    </fieldset>
  </div>

  <div class="alpha six columns" id='shipping_address'>
    <fieldset class="no-border-bottom">
      <legend align="center">{{i18n 'order.ship_address' }}</legend>
      {{#with ship_address as address}}
        {{partial 'orders/addresses/show'}}
      {{/with}}
    </fieldset>
  </div>
</fieldset>