<div data-hook="admin_brand_form_fields">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4" data-hook="brands_form">
        <div class="card-header">
          <h5 class="card-title">
            <%= Spree.t(:gift_card) %>
          </h5>
        </div>

        <div class="card-body">
          <div class="form-group" data-controller="clipboard">
            <%= f.label :code do %>
              <%= Spree.t(:code) %>
              <% if f.object.persisted? %>
                <button class="btn btn-sm text-muted with-tip mx-1" title="Copy" data-action="clipboard#copy" data-clipboard-target="button">
                  <%= icon 'files', class: 'mr-0' %>
                </button>
              <% end %>
            <% end %>
            <% unless f.object.persisted? %>
              <%= help_bubble('If you leave it blank, we will generate code for you') %>
            <% end %>
            <%= f.text_field :code, class: 'form-control', disabled: f.object.persisted?, data: { clipboard_target: 'source' } %>
            <%= f.error_message_on :code %>
            <span class="text-muted form-text">
              <% if f.object.persisted? %>
                You can't change the code of an existing gift card
              <% else %>
                Your code will appear here after saving the conditions
              <% end %>
            </span>
          </div>

          <div class="row mb-3">
            <div class="col-6">
              <div class="form-group">
                <%= f.label :amount, raw(Spree.t(:amount) + required_span_tag) %>
                <%= f.text_field :amount, class: 'form-control', required: true, disabled: !f.object.editable? %>
                <span class="text-muted form-text">
                  <% if !f.object.editable? %>
                    You can't change the amount of a redeemed gift card
                  <% end %>
                </span>
                <%= f.error_message_on :amount %>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <%= f.label :minimum_order_amount, raw(Spree.t(:minimum_order_amount) + required_span_tag) %>
                <%= f.number_field :minimum_order_amount, class: 'form-control', min: 0, step: 0.01, disabled: !f.object.editable? %>
                <span class="text-muted form-text">
                  <% if !f.object.editable? %>
                    You can't change the minimum order amount of a redeemed gift card
                  <% end %>
                </span>
                <%= f.error_message_on :minimum_order_amount %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <%= f.label :user_id, Spree.t(:customer), class: 'form-label' %>
                <%= tom_select_tag 'gift_card[user_id]',
                      active_option: @user&.id || @object.user_id,
                      include_blank: true,
                      options: users_for_select_options,
                      disabled: !f.object.editable? || @user.present? %>

                <% if !f.object.editable? %>
                  <span class="text-muted form-text">
                    You can't change the assigned customer of a redeemed gift card
                  </span>
                <% end %>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <%= f.label :expires_at, Spree.t(:expires_at) %>
                <%= f.date_field :expires_at, class: 'form-control', disabled: !f.object.editable? %>
                <%= f.error_message_on :expires_at %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
