<div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" data-display="static" data-flip="false" aria-expanded="false">
    <span class="text-muted font-weight-normal"><%= Spree.t(:show) %>:</span>
    <%= gift_cards_filter_dropdown_value %>
  </button>
  <div class="dropdown-menu w-100" style="min-width: 200px">

    <%= active_link_to Spree.t('admin.gift_cards.all_statuses'), params.to_unsafe_h.deep_merge({page: nil, q: {status_eq: nil}}), class: 'dropdown-item', active: (params[:q] || {}).values_at(*%w[status_eq in_stock_items out_of_stock_items] ).all?(&:blank?) %>
    
    <%= link_to Spree.t('admin.gift_cards.active'),
      params.to_unsafe_h.deep_merge({page: nil, q: {status_eq: :active}}),
      class: "dropdown-item #{'active' if params[:q] && params[:q][:status_eq] == 'active'}" %>
    
    <%= link_to params.to_unsafe_h.deep_merge({page: nil, q: {status_eq: :expired}}),
      class: "dropdown-item #{'active' if params[:q] && params[:q][:status_eq] == 'expired'}" do %>
        <%= Spree.t(:expired) %>
    <% end %>

    <%= link_to params.to_unsafe_h.deep_merge({page: nil, q: {status_eq: :redeemed}}),
      class: "dropdown-item #{'active' if params[:q] && params[:q][:status_eq] == 'redeemed'}" do %>
        <%= Spree.t('admin.gift_cards.redeemed') %>
    <% end %>

  </div>
</div>
