<% content_for :page_title do %>
  <% if @user.present? %>
    <%= page_header_back_button spree.admin_user_path(@user) %>
  <% else %>
    <%= page_header_back_button spree.admin_gift_cards_path %>
  <% end %>

  <%= Spree.t(:new_gift_card) %>
<% end %>

<% url = @user.present? ? spree.admin_user_gift_cards_path(@user) : spree.admin_gift_cards_path %>

<%= form_for @object, url: url do |f| %>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @object } %>
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">
            <%= Spree.t(:new_gift_card) %>
          </h5>
        </div>
        <div class="card-body">
          <%= render 'form', f: f %>
        </div>
      </div>
      <%= render 'spree/admin/shared/new_resource_links' %>
    </div>
  </div>
<% end %>
