<% content_for :page_title do %>
  <% if @user.present? %>
    <%= page_header_back_button spree.admin_user_path(@user) %>
  <% else %>
    <%= page_header_back_button spree.admin_gift_cards_path %>
  <% end %>

  <%= @object.code.upcase %>
  <span class="badge">
    <%= active_badge(@object.active?, label: @object.display_state) %>
  </span>
<% end %>

<% content_for :title do %>
  <%= @object.code.upcase %>
<% end %>

<div class="row">
  <div class="col-md-8">

    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title">
          Gift card usage details
        </h5>
      </div>
      <div class="card-body border-bottom">
        <div class="d-flex justify-content-between align-items-center">
          <div class="w-75">
            <%= progress_bar_component(@object.amount_used, max: @object.amount) %>
          </div>
          <div class="w-25 text-right">
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-group pb-4">
          <% @object.orders.each do |order| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <% if order %>
                <%= link_to order.number, spree.edit_admin_order_path(order), class: 'text-dark font-weight-bold d-block w-20' %>
              <% end %>
              <div class="w-40 align-items-center">
                <% if order.user %>
                  <%= order.user.email %>
                <% end %>
              </div>
              <span class="text-right w-20">
                <%= order.display_total_applicable_store_credit %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    </div>

  <div class="col-md-4">
    <%= turbo_frame_tag :gift_card_settings do %>
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h5 class="card-title">
            <%= Spree.t(:settings) %>
          </h5>
          <%= link_to_with_icon 'edit', Spree.t(:edit), spree.edit_admin_gift_card_path(@object), icon: 'pencil', class: 'btn btn-sm btn-light', if: @gift_card.editable? %>
        </div>
        <div class="card-body p-0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="text-muted">
                <%= Spree.t(:expires_at) %>
              </span>
              <% if @object.expires_at %>
                <span><%= local_time(@object.expires_at) %></span>
              <% else %>
                <span class="text-muted"><%= Spree.t(:not_available) %></span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>