<%= content_for(:page_title) do %>
  <%= Spree.t(:domains) %>
<% end %>

<% content_for :page_actions do %>
  <%= render_admin_partials(:custom_domains_actions_partials) %>
<% end %>

<%= render_admin_partials(:custom_domains_header_partials) %>

<div class="card-lg p-6">
  <h5 class="mb-2">Internal URL</h5>
  <div class="grid grid-cols-12 gap-6 mb-6">
    <div class="col-span-12 lg:col-span-4">
      <p class="text-gray-600">
        This is your internal Admin URL.
      </p>
    </div>
    <div class="col-span-12 lg:col-span-7 lg:col-start-6">
      <%= form_for current_store, url: spree.admin_store_path, data: { turbo: false, controller: 'enable-button', 'enable-button-disable-when-not-changed-value': true } do |f| %>
        <% if Spree.root_domain.present? %>
          <div class="flex items-center gap-6">
            <div class="input-group pr-2 grow <% if current_store.custom_domains.any? %>disabled<% end %>">
              <span class="text-gray-400 pl-3 pr-0">https://</span>
              <%= f.text_field :code, class: 'border-0 focus:ring-0 focus:outline-none grow rounded-lg text-base pl-0', data: { enable_button_target: 'input' }, required: true, disabled: current_store.custom_domains.any? %>
              <span>.<%= Spree.root_domain %></span>

              <%= clipboard_component(current_store.formatted_url) %>
            </div>
            <% unless current_store.custom_domains.any? %>
              <%= turbo_save_button_tag %>
            <% end %>
          </div>
        <% else %>
          <div class="flex items-center gap-6">
            <div class="input-group pr-2 grow">
              <span class="text-gray-400 pl-3 pr-0">https://</span>
              <%= f.text_field :url, class: 'border-0 focus:ring-0 focus:outline-none grow rounded-lg text-base pl-0', required: true, data: { enable_button_target: 'input' } %>
              <%= clipboard_component(current_store.formatted_url) %>
            </div>
            <%= turbo_save_button_tag %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr class="my-12" />
  <h5 class="mb-2"><%= Spree.t(:custom_domains) %></h5>
  <div class="grid grid-cols-12 gap-6">
    <div class="col-span-12 lg:col-span-4">
      <p class="text-gray-600">
        Connect your domain or subdomain to your storefront.
      </p>
    </div>
    <div class="col-span-12 lg:col-span-7 lg:col-start-6">
      <div class="text-right">
        <%= link_to Spree.t(:new_domain), spree.new_admin_custom_domain_path, class: "btn btn-primary" %>
      </div>

      <%= turbo_frame_tag 'admin_custom_domains_index' do %>
        <%= render 'custom_domains' %>
      <% end %>
    </div>
  </div>
</div>
