<div data-hook="admin_mail_method_form_fields">
  <div class="row">

    <div class="alpha six columns" data-hook="general">
      <fieldset class="no-border-bottom">
        <legend align="center"><%= Spree.t(:general) %></legend>

        <div class="field">
          <%= preference_field_tag("enable_mail_delivery", Spree::Config[:enable_mail_delivery], :type => :boolean) %>
          <%= label_tag :enable_mail_delivery, Spree.t(:enable_mail_delivery) %>
        </div>

        <div class="field">
          <%= label_tag :mails_from, Spree.t(:send_mails_as) %><br />
          <%= text_field_tag :mails_from, Spree::Config[:mails_from], :maxlength => 256, :class => 'fullwidth' %>
          <br />
          <span class="info">
            <%= Spree.t(:smtp_send_all_emails_as_from_following_address) %>
          </span>
        </div>

        <div class="field">
          <%= label_tag :mail_bcc, Spree.t(:send_copy_of_all_mails_to) %><br />
          <%= text_field_tag :mail_bcc, Spree::Config[:mail_bcc], :maxlength => 256, :class => 'fullwidth' %>
          <br />
          <span class="info">
            <%= Spree.t(:smtp_send_copy_to_this_addresses) %>
          </span>
        </div>

        <div class="field">
          <%= label_tag :intercept_email, Spree.t(:intercept_email_address) %><br />
          <%= text_field_tag :intercept_email, Spree::Config[:intercept_email], :maxlength => 256, :class => 'fullwidth' %>
          <br />
          <span class="info">
            <%= Spree.t(:intercept_email_instructions) %>
          </span>
        </div>
      </fieldset>
    </div>

    <div class="six columns omega" data-hook="smtp">
      <fieldset class="no-border-bottom">
        <legend align="center"><%= Spree.t(:smtp) %></legend>
        <div class="field">
          <%= label_tag :mail_domain, Spree.t(:smtp_domain) %><br />
          <%= text_field_tag :mail_domain, Spree::Config[:mail_domain], :class => 'fullwidth' %>
        </div>
        <div class="field">
          <%= label_tag :mail_host, Spree.t(:smtp_mail_host) %><br />
          <%= text_field_tag :mail_host, Spree::Config[:mail_host], :class => 'fullwidth' %>
        </div>
        <div class="field">
          <%= label_tag :mail_port, Spree.t(:smtp_port) %><br />
          <%= text_field_tag :mail_port, Spree::Config[:mail_port], :class => 'fullwidth' %>
        </div>  
        <div class="field">
          <%= label_tag :secure_connection_type, Spree.t(:secure_connection_type) %><br />
          <%= select_tag(:secure_connection_type, options_from_collection_for_select(Spree::Core::MailSettings::SECURE_CONNECTION_TYPES.map{|w| Spree.t(w.downcase.to_sym, :default => w, :scope => 'mail_settings.security')}, :to_s, :to_s, Spree::Config[:secure_connection_type]), :class => 'select2 fullwidth') %>
        </div>
        <div class="field">
          <%= label_tag :mail_auth_type, Spree.t(:smtp_authentication_type) %><br />
          <%= select_tag(:mail_auth_type, options_from_collection_for_select(Spree::Core::MailSettings::MAIL_AUTH.map{|w| Spree.t(w.downcase.to_sym, :default => w, :scope => 'mail_settings.auth')}, :to_s, :to_s, Spree::Config[:mail_auth_type]), :class => 'select2 fullwidth') %>
        </div>
        <div class="field">
          <%= label_tag :smtp_username, Spree.t(:smtp_username) %><br />
          <%= text_field_tag :smtp_username, Spree::Config[:smtp_username], :class => 'fullwidth', :autocomplete => 'off' %>
        </div>
        <div class="field">
          <%= label_tag :preferred_smtp_password, Spree.t(:smtp_password) %><br />
          <%= password_field_tag :smtp_password, Spree::Config[:smtp_password], :class => 'fullwidth', :autocomplete => 'off' %>
        </div>
      </fieldset>
    </div>
  </div>
</div>
