<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:mail_method_settings) %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @mail_method } %>

<%= form_tag admin_mail_method_path, :method => :put do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="form-buttons filter-actions actions" data-hook="buttons"><%= button t(:update), 'icon-refresh' %></div>
  </fieldset>
<% end %>
