<% logo = section.logo || current_store.logo %>

<footer
  id='password-footer'
  style='<%= section_styles(section) %>'
  <%= 'data-turbo-permanent' unless page_builder_enabled? %>>
  <div class='page-container'>
    <div class='flex flex-col lg:flex-row lg:justify-between'>
      <div class='flex justify-center items-center'>
        <%= render 'spree/shared/logo', logo: logo %>
      </div>
      <div class='flex justify-center gap-4 lg:gap-0 py-6 lg:py-0 items-end'>
        <% if current_store.instagram.present? %>
          <%= link_to current_store.instagram_link, class: 'p-3', target: '_blank', rel: 'nofollow' do %>
            <%= render 'spree/shared/icons/instagram' %>
            <span class='hidden'><%= current_store.instagram_handle %></span>
          <% end %>
        <% end %>

        <% if current_store.tiktok.present? %>
          <%= link_to current_store.tiktok_link, class: 'p-3', target: '_blank', rel: 'nofollow' do %>
            <%= render 'spree/shared/icons/tiktok' %>
            <span class='hidden'><%= current_store.tiktok_handle %></span>
          <% end %>
        <% end %>

        <% if current_store.facebook.present? %>
          <%= link_to current_store.facebook_link, class: 'p-3', target: '_blank', rel: 'nofollow' do %>
            <%= render 'spree/shared/icons/facebook' %>
            <span class='hidden'><%= current_store.facebook_handle %></span>
          <% end %>
        <% end %>

        <% if current_store.twitter.present? %>
          <%= link_to current_store.twitter_link, class: 'p-3', target: '_blank', rel: 'nofollow' do %>
            <%= render 'spree/shared/icons/twitter' %>
            <span class='hidden'><%= current_store.twitter_handle %></span>
          <% end %>
        <% end %>

        <% if current_store.youtube.present? %>
          <%= link_to current_store.youtube_link, class: 'p-3', target: '_blank', rel: 'nofollow' do %>
            <%= render 'spree/shared/icons/youtube' %>
            <span class='hidden'><%= current_store.youtube_handle %></span>
          <% end %>
        <% end %>

        <% if current_store.spotify.present? %>
          <%= link_to current_store.spotify_link, class: 'p-3', target: '_blank', rel: 'nofollow' do %>
            <%= render 'spree/shared/icons/spotify' %>
            <span class='hidden'><%= current_store.spotify_handle %></span>
          <% end %>
        <% end %>

        <% if current_store.pinterest.present? %>
          <%= link_to current_store.pinterest_link, class: 'p-3', target: '_blank', rel: 'nofollow' do %>
            <%= render 'spree/shared/icons/pinterest' %>
            <span class='hidden'><%= current_store.pinterest_handle %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</footer>
