<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:zones) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:new_zone), new_object_url, :icon => 'icon-plus', :id => 'admin_new_zone_link' %>
  </li>
<% end %>

 <% if @zones.empty? %>
  <div class="no-objects-found">
    <%= t(:none) %>
  </div>
<% else %>
  <table class="index" id='listing_zones' data-hook>
    <colgroup>
      <col style="width: 30%" />
      <col style="width: 40%" />
      <col style="width: 15%" />
      <col style="width: 15%" />
    </colgroup>
    <thead>
      <tr data-hook="zones_header">
        <th><%= sort_link @search,:name, t(:name), :title => 'zones_order_by_name_title' %></th>
        <th>
          <%= sort_link @search,:description, t(:description), {}, {:title => 'zones_order_by_description_title'} %>
        </th>
        <th><%= t(:default_tax) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @zones.each do |zone| %>
        <tr id="<%= spree_dom_id zone %>" data-hook="zones_row">
          <td><%=zone.name %></td>
          <td><%=zone.description %></td>
          <td class="align-center"><%=zone.default_tax %></td>
          <td class="actions">
            <%=link_to_edit zone, :no_text => true %>
            <%=link_to_delete zone, :no_text => true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end%>

<%= paginate @zones %>
