<%= turbo_frame_tag :set_customer_support_email, class: 'w-100' do %>
  <div class="alert alert-info">
    <%= Spree.t('admin.store_setup_tasks.customer_support_email.info').html_safe %>
  </div>
  <% if done %>
    <p>
      <%= Spree.t('admin.store_setup_tasks.customer_support_email.done', email: current_store.customer_support_email).html_safe %>
    </p>
    <%= link_to_with_icon 'edit', Spree.t(:edit), spree.edit_emails_admin_store_path, class: 'btn btn-light' %>
  <% else %>
    <%= form_for current_store, url: spree.admin_store_path, as: :store do |f| %>
      <div class="form-group">
        <%= f.label :customer_support_email, Spree.t(:customer_support_email) %>
        <%= f.email_field :customer_support_email, class: 'form-control', required: true %>
      </div>
      <div class="d-flex justify-content-between">
        <%= turbo_save_button_tag %>
      </div>
    <% end %>
  <% end %>
<% end %>