<div class="<%= width %>" data-section-id="<%= section.id %>">
  <div class="row m-0 p-0 py-3 mb-3 border bg-white">
    <div class="col" style="width:30px; max-width: 70px; text-align: center;">
      <span class="move-handle"><%= svg_icon(name: 'sort.svg', width: '20', height: '20') %></span>
    </div>
    <div class="col text-center">
      <div>Name: <%= section.name %></div>
      <div>Type: <%= section.kind %></div>
            <div class="m-auto" style="width:50px;">
      <% if section.icon.present? %>
        <div class="cms_section_preview_image_holder">
          <%= image_tag main_app.url_for(section.icon.attachment) %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col actions" style="width:30px; max-width: 70px; text-align: center;">
      <%= link_to_edit(section, no_text: true, url: spree.edit_admin_cms_page_cms_section_path(@cms_page, section)) %>
      <%= link_to_delete(section, no_text: true, url: spree.admin_cms_page_cms_section_path(@cms_page, section)) if can?(:destroy, section) %>
    </div>
  </div>
</div>
