<table class="admin-report">
  <tr>
    <th><%= :name.l("Name") %></th>
	<th><%= :presentation.l("Presentation") %></th>
    <th><%= :action.l("Action") %></th>
  </tr>
  
<% for taxonomy in @taxonomies %>
  <tr>
	<td>
	  <%= taxonomy.name %>
    </td>
	<td>
	  <%= taxonomy.presentation %>
	</td>
    <td>
      <%= link_to_remote :edit.l('Edit'), :url => { :action => 'edit' , :id => taxonomy },
                                          :update => 'edit-taxonomy' %> | 
      <%= link_to_remote :delete.l, :url => { :action => 'delete', :id => taxonomy }, 
									:update => 'edit-taxonomy',
									:success => "#{remote_function(:url => { :action => 'list' }, :update => 'list-taxonomies')}",
                                    :confirm => :are_you_sure_taxonomy.l('Are you sure you want to delete this taxonomy?') %> |
	  <% #link_to_remote 'YUI Tree', :url=> { :action => 'yui_tree', :id => taxonomy },
         #                            :update => 'edit-taxonomy' %>

 
    </td>
  </tr>
<% end %>
</table>
<%= render :partial => 'shared/paginate', :locals => {:collection => @taxonomies, :options => {}} -%>
