<%= render :partial => 'admin/shared/configuration_menu' %>

<%= render :partial => "js_head" %>

<h1><%= t("taxonomy_edit")%></h1>

<p id="ajax_error" class="errorExplanation" style="display:none;"></p>

<% form_for(:taxon, :url => admin_taxonomy_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
	  <div>
	    <label><%= t("tree")%></label><br />
      <div id="taxonomy_tree" class="tree">
        <ul>
          <li id="<%= @taxonomy.root.id %>" class="open" rel="root">
            <a href="#"><%= @taxonomy.root.name %></a>
            <%= render :partial => "taxon", :locals => {:taxon => @taxonomy.root} %>
          </li>
        </ul>
      </div>
  	</div>
  	<p id="progress" style="display:none;">
      <img src="/images/spinner.gif?1234540747" alt="Spinner" style="vertical-align:bottom;"/> <%= t('updating') %>..
    </p>
    <p><br/><small><%= t("taxonomy_tree_instruction")%></small></p>

	<p class="form-buttons">
	  <%= button t("update") %> <%= t("or") %> <%= link_to t("cancel"), admin_taxonomies_path %>
  </p>
<% end %>
