<h2><%= t("billing_address")%></h2>
<div class="inner">
	<p id="bfname">
		<label for="<%= t("first_name") %>"><%= t("first_name") %></label>
		<%= f.text_field :bill_address_firstname, :class => 'required' -%><span class="req">*</span>
	</p>
	<p id="blname">
		<label for="<%= t("last_name") %>"><%= t("last_name") %></label>
		<%= f.text_field :bill_address_lastname, :class => 'required' -%><span class="req">*</span>
	</p>
	<p id="baddress">
		<label for=""><%= t("street_address") %></label>
		<%= f.text_field :bill_address_address1, :class => 'required' -%><span class="req">*</span>
	</p>
	<p id="baddress2">
		<label for=""><%= t("street_address_2") %></label>
		<%= f.text_field :bill_address_address2 %>
	</p>
	<p id="bcity">
		<label for=""><%= t("city") %></label>
		<%= f.text_field :bill_address_city, :class => 'required' -%><span class="req">*</span>
	</p>                        
	<p>
		<label for=""><%= t("state") %></label>
		<span id="bstate">
			<%= collection_select("checkout_presenter", 
			:bill_address_state_id, 
			@states, 
			:id, 
			:name, 
			{:include_blank => true}, 
			{:style=> 'width:150px;'}) %>
		</span>
		<span class="req">*</span>
	</p>
	<p id="bzip">
		<label for=""><%= t("zip") %></label>
		<%= f.text_field :bill_address_zipcode, :class => 'required' -%><span class="req">*</span>
	</p>    
	<p id="bcountry">
		<label for=""><%= t("country") %></label>
		<span id="bcountry"><%= f.collection_select :bill_address_country_id, @countries, :id, :name, {}, {:style => 'width:150px;', :class => 'required'} %></span>
	</p>
	<p id="bphone">
		<label for=""><%= t("phone") %></label>
		<%= f.text_field :bill_address_phone, :class => 'required' -%><span class="req">*</span>
	</p>
	<p><input id="validate_billing" type="button" value="<%=t("continue")%>"/></p>
</div>