<%=error_messages_for :order%>

<h1><%= :address_information.l("Address Information") %></h1>
<br/>
<% form_for :order, @order, :url => { :action => :addresses } do |f| %>
    <table id="user">
      <tr>
        <th><%= :email.l("Email") %></th>
      </tr>
      <% fields_for :user, @user do |u| %>
        <tr>
          <td width="150"><%= :email_address.l("Email Address") %></td>
          <td><%= u.text_field :email -%></td>
          <td><%= error_message_on :user, :email -%></td>
        </tr>
      <% end %>
    </table>
  	<table id="bill_address">
      <tr>
        <th><%= :billing_address.l("Billing Address") %></th>
      </tr>
  	  <%= render :partial => 'address', :locals => {:address_type => 'bill', :address => @bill_address} -%>
      <tr>
        <td colspan="3">
          <div style="line-height:1em;">
	    <label>
	      <%= check_box_tag "different_shipping", "1", @different_shipping, :onchange => "Element.toggle($('ship_address'));" %>
	      <!-- &nbsp; -->
	      <%= :use_different_shipping_address.l("Use Different Shipping Address") %>
	    </label>
	  </div>        
        </td>
      </tr>
    </table>
  	<table id="ship_address" <%= "style='display:none;'" unless @different_shipping %>>
      <tr>
        <th><%= :shipping_address.l("Shipping Address") %></th>
      </tr>
  	  <%= render :partial => 'address', :locals => {:address_type => 'ship', :address => @ship_address} -%>
  	</table>
	<% if (Order::ShipMethod.constants.size > 1) %>
      <table id="ship_method">
        <tr>
          <th><%= :shipping.l("Shipping") %></th>
        </tr>
        <tr>
          <td width="150"><%= :shipping_method.l("Shipping Method") %></td>
          <td colspan="2">
            <%= f.collection_select :ship_method, Order::ShipMethod.constants, :id, :title, {}, {:style => "width:200px"}%> 
          </td>
        </tr>
      </table>
    <% end %>      
	<%= submit_tag :next.l("Next") %>
<% end %>
