<h2><%= t("Payment") %></h2>
<br/>

<!-- unfortunately we're stuck with this generic error message until next stable rails release -->
<%= error_messages_for :cc %>

<% form_for :creditcard, @cc, :url => { :action => :final_confirmation } do |card| %>

<table id="creditcard">
  <tr>
    <td colspan=2>
      <%= image_tag "creditcard.gif", :plugin=>"spree", :id => 'creditcard-image' %>
    </td>
  </tr>
  <tr>
    <!-- use this sample (visa) cc# for testing 4111111111111111 -->
    <td width="120"><%= t("Card Number") %></td>
    <td><%= card.text_field :number, :maxlength => 17 -%></td>
  </tr>
  <tr>
    <td><%= t("Expiration Month") %></td>
    <td><%= card.text_field :month -%></td>
  </tr>
  <tr>
    <td><%= t("Expiration Year") %></td>
    <td><%= card.text_field :year -%></td>
  </tr>
  <tr>
    <td>
      <%= t("Type") %>
      <%= error_message_on :cc, :type -%>
    </td>
    <td><%= card.select :type, credit_card_types -%></td>
  </tr>
  <tr>
    <td><%= t("Card Code") %></td>
    <td>
      <%= card.text_field :verification_value, {:style => "width:40px"} -%>
      <a href="" onclick="window.open('/checkout/cvv','mywin','left=20,top=20,width=500,height=500,toolbar=0,resizable=0,scrollbars=1');return false">
	(<%= t("What's This?") %>)
      </a>
    </td>
  </tr>
</table>
<!-- allows for possible extra information to be displayed and/or submitted via your main app -->
<%= render :partial => 'extra', :locals => {:order=> @order} -%>
<br/>
<h2><%= t("Final Confirmation") %></h2>
<br/>
<table>
  <tr>
    <th><%= t("Order") %></th>
  </tr>
  <tr>
    <td width="120"><%= t("Item Total") %>:</td>
    <td><%= number_to_currency @order.item_total -%></td>
  </tr>
  <tr>
    <td><%= t("Tax") %>:</td>
    <td><%= number_to_currency @order.tax_amount -%></td>
  </tr>
  <tr>
    <td><%= t("Shipping") %>:</td>
    <td><%= number_to_currency @order.ship_amount -%></td>
  </tr>
  <tr>
    <td><%= t("Order Total") %>:</td>
    <td><%= number_to_currency @order.total -%></td>
  </tr>
</table>
<br/>
<table>
  <tr>
    <td width="250" valign="top">
      <table>
        <tr>
          <th><%= t("Billing Address") %></th>
        </tr>
        <%= render :partial => 'address_ro', :locals => {:address_type => 'ship', :address => @order.bill_address} -%>
      </table>
    </td>
    <td width="250" valign="top">
      <table>
        <tr>
          <th><%= t("Shipping Address") %></th>
        </tr>
        <%= render :partial => 'address_ro', :locals => {:address_type => 'ship', :address => @order.ship_address} -%>
      </table>
    </td>
  </tr>
</table>
<br/>
<%= submit_tag t("Process") %>   
<% if logged_in? and current_user.has_role?("admin") %>
<%= link_to t("Comp Order"), {:action => "comp"}, {:confirm => Globalite.localize(:comp_order_confirmation)} %>
<% end %>
<% end %>
