<%= link_to :back_to_store.l("Go Back To Store"), :controller => :store %>
<br/><br/>
<h1><%= :order_processed_successfully.l("Your order has been processed successfully") %></h1>
<br/>
<%= :order_confirmation_note.l("Thank you for your business.  Please print out a copy of this confirmation page for your records.") %>
<br/><br/>

<%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>

<br/>
<%= link_to :back_to_store.l("Go Back To Store"), :controller => :store %>
