<%= link_to t("Go Back To Store"), products_path %>
<br/><br/>
<h1><%= t("Your order has been processed successfully") %></h1>
<br/>
<%= t("Thank you for your business.  Please print out a copy of this confirmation page for your records.") %>
<br/><br/>

<%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>

<br/>
<%= link_to t("Go Back To Store"), products_path %>
