<%= render 'spree/admin/shared/developers_nav' %>

<%= content_for(:title, Spree.t('admin.oauth_applications.list')) %>

<% content_for :page_actions do %>
  <%= render_admin_partials(:oauth_applications_actions_partials) %>
  <%= link_to_with_icon 'plus', Spree.t('admin.oauth_applications.new'), new_object_url, class: "btn btn-primary" if can? :create, Spree::OauthApplication %>
<% end %>

<%= content_for :page_alerts do %>
  <div class="alert alert-info">
    <p>
      Here you can manage API keys to access the <%= link_to 'Platform API', 'https://spreecommerce.org/docs/api-reference/platform/authentication', target: '_blank' %>.
      For headless storefronts you don't need an API key, please use the <%= link_to 'Storefront API', 'https://spreecommerce.org/docs/api-reference/storefront/authentication', target: '_blank' %>.
    </p>
  </div>
<% end %>

<%= render_admin_partials(:oauth_applications_header_partials) %>

<%= render 'spree/admin/shared/index_table' %>
