<%= content_for :title do %>
  <%= Spree.t('admin.oauth_applications.new') %>
<% end %>

<% content_for :page_title do %>
  <%= page_header_back_button spree.admin_oauth_applications_url %>
  <%= Spree.t('admin.oauth_applications.new') %>
<% end %>

<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @oauth_application } %>
    <%= turbo_frame_tag 'new_oauth_application' do %>
      <%= form_for [:admin, @oauth_application] do |f| %>
        <div class="card mb-4">
          <div class="card-body">
            <%= render 'form', f: f %>
          </div>
        </div>
        <%= render 'spree/admin/shared/new_resource_links' %>
      <% end %>
    <% end %>
  </div>
</div>