<tr class="<%= cycle('', 'alt') %>">
  <td data-hook="cart_item_image">
    <% if variant.images.length == 0 %>
      <%= small_image(variant.product) %>
    <% else %>
      <%= image_tag variant.images.first.attachment.url(:small)   %>
    <% end %>
  </td>
  <td data-hook="cart_item_description">
    <h4><%= link_to variant.product.name, product_path(variant.product) %></h4>
    <%= variant_options variant %>
    <%= truncate(variant.product.description, :length => 100, :omission => "...") %>
  </td>
  <td data-hook="cart_item_price">
    <%= product_price(line_item.variant) %>
  </td>
  <td data-hook="cart_item_quantity">
    <%= item_form.text_field :quantity, :size => 3, :class => "line_item_quantity" %>
  </td>
  <td data-hook="cart_item_total">
    <%= format_price(product_price(line_item.variant, :format_as_currency => false) * line_item.quantity) unless line_item.quantity.nil? %>
  </td>
  <td data-hook="cart_item_delete">
    <%= link_to(image_tag('icons/delete.png'), '#', :class => 'delete') %>
  </td>
</tr>
