<% @body_id = 'cart' %>

<h1><%= t("shopping_cart")%></h1>

<%= form_for(@order, :html=>{:id=>'updatecart'}) do |order_form| %>
<%= hook :inside_cart_form do %>

  <%= hook :cart_items do %>
    <%= render :partial => 'form', :locals => {:order_form => order_form} %>
  <% end %>

  <% unless @order.line_items.empty? -%>
  <div id="subtotal">
    <h3><%= "#{t("subtotal")}: #{order_price(@order)}" %></h3>
    <div class="links">
      <%= link_to image_tag('/images/update.png') + t("update"), '#', :class => 'button checkout primary', :onclick => "$('form#updatecart').submit(); return false;" %>
      <%= link_to image_tag('/images/checkout.png') + t("checkout"), edit_order_checkout_url(@order), :class => 'button checkout primary' %>
    </div>
  </div>
  <% end -%>
  <p><%=link_to t("continue_shopping"), products_path, :class => 'button continue' %></p>
  <% unless @order.line_items.empty? -%>
  <p id="clear_cart_link">
    <%= link_to t('empty_cart'), @order, :method => :delete, :class => 'button empty' %>
  </p>
  <% end -%>

<% end %>
<% end -%>
