<% @body_id = 'cart' %>

<h1><%= t("shopping_cart")%></h1>

<% if @order.line_items.empty? %>

  <div data-hook="empty_cart">
    <p><%= t("your_cart_is_empty.") %></p>
    <p><%=link_to t("continue_shopping"), products_path, :class => 'button continue' %></p>
  </div>

<% else %>
  <div data-hook="outside_cart_form">
    <%= form_for(@order, :url => update_cart_path, :html=>{:id=>'updatecart'}) do |order_form| %>
      <div data-hook="inside_cart_form">

        <div data-hook="cart_items">
          <%= render :partial => 'form', :locals => {:order_form => order_form} %>
        </div>

        <div id="subtotal">
          <h3><%= "#{t("subtotal")}: #{order_price(@order)}" %></h3>
          <div class="links">
            <%= link_to image_tag('/images/update.png') + t("update"), '#', :class => 'button checkout primary', :onclick => "$('form#updatecart').submit(); return false;" %>
            <%= link_to image_tag('/images/checkout.png') + t("checkout"), checkout_path, :class => 'button checkout primary' %>
          </div>
        </div>

        <p><%=link_to t("continue_shopping"), products_path, :class => 'button continue' %></p>

      <% end %>
    </div>
  </div>

  <%= form_tag empty_cart_path, :method => :put do %>
    <p id="clear_cart_link">
      <input type="submit" value="<%= t('empty_cart') %>" class="button" />
    </p>
  <% end %>

<% end %>
