<%= render collection: line_items, partial: 'spree/shared/purchased_items_table/line_item', as: :line_item %>

<table class="summary purchase_content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <%= render 'spree/shared/purchased_items_table/subtotal', order: order %>
  <% if order.line_item_adjustments.exists? %>
    <% order.all_adjustments.promotion.eligible.to_a.group_by(&:label).each do |label, adjustments| %>
      <%= render 'spree/shared/purchased_items_table/summary_row',
                 label: Spree.t(:promotion),
                 sub: label,
                 value: Spree::Money.new(adjustments.sum(&:amount), currency: order.currency) %>
    <% end %>
  <% end %>
  <% order.shipments.group_by { |s| s.selected_shipping_rate&.name }.each do |name, shipments| %>
    <%= render 'spree/shared/purchased_items_table/summary_row',
               label: Spree.t(:shipping),
               sub: name,
               value: Spree::Money.new(shipments.sum(&:discounted_cost), currency: order.currency) %>
  <% end %>
  <% if order.additional_tax_total != 0 %>
    <%= render 'spree/shared/purchased_items_table/summary_row',
               label: Spree.t(:tax),
               value: order.display_additional_tax_total.to_html %>
  <% end %>
  <% if order.gift_card_total.positive? %>
    <%= render 'spree/shared/purchased_items_table/summary_row',
               label: Spree.t(:gift_card),
               value: safe_join(['-', order.display_gift_card_total.to_html]) %>
  <% end %>
  <% order.adjustments.eligible.each do |adjustment| %>
    <% next if (adjustment.source_type == 'Spree::TaxRate') || (adjustment.amount == 0) %>
    <%= render 'spree/shared/purchased_items_table/adjustment', adjustment: adjustment, order: order %>
  <% end %>
  <%= render 'spree/shared/purchased_items_table/total', order: order %>
</table>
