<tr id="<%= dom_id(digital_asset) %>">
  <% unless digital_asset.variant.is_master? %>
    <td><%= digital_asset.variant.options_text %></td>
  <% end %>
  <td><%= digital_asset.attachment.filename %></td>
  <td><%= number_to_human_size(digital_asset.attachment.byte_size) %></td>
  <td class="actions">
    <% if can? :edit, digital_asset %>
      <%= link_to_edit(
        digital_asset,
        no_text: true,
        url: spree.edit_admin_product_digital_asset_path(digital_asset.product, digital_asset),
        data: {
          turbo_frame: "dialog",
          action: 'dialog#open',
        },
      ) %>
    <% end %>
    <% if can? :destroy, digital_asset %>
      <%= link_to_delete(
        digital_asset,
        {
          url: spree.admin_product_digital_asset_path(digital_asset.product, digital_asset),
          no_text: true,
        },
      ) %>
    <% end %>
  </td>
</tr>
