<div class="<%= width %> mb-3">
  <div class="<%= fit %>">
    <div class="row py-4">
      <% if section.title.present? || section.subtitle.present? %>
      <div class="col-12 mb-3 text-center">
        <% if section.title %>
          <h3 class="mb-0"><%= section.title %></h3>
        <% end %>
        <% if section.subtitle %>
          <h5 class="text-muted"><%= section.subtitle %></h5>
        <% end %>
      </div>

      <% end %>
    <% if spree_menu('brands').present? %>
      <% spree_menu('brands').children.each do |brand| %>
      <div class="col d-flex justify-content-center">
        <%= spree_nav_link_tag(brand, { class: "brand d-flex align-middle justify-content-center" }) do %>
          <% if brand.icon.present? %>
              <img class="lazyload"
                data-src="<%= main_app.url_for(brand.icon.attachment) %>"
                data-srcset="<%= main_app.url_for(brand.icon.attachment) %>"
                alt="<%= brand.icon.alt %>"
                title="<%= brand.name %>">
              <% end %>
          <% end %>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
