<div class="col-6">
  <%= link_to spree.nested_taxons_path(section.title), class: "homepage-taxon-box mb-3" do %>
    <img class="w-100 lazyload"
      data-src="<%= asset_path('homepage/category_banner_upper.jpg') %>"
      data-srcset="<%= image_source_set('homepage/category_banner_upper') %>"
      alt="<%= section.title %>">

    <div class="homepage-taxon-box-text">
      <h3><%= section.title %></h3>
    </div>
  <% end %>
  <%= link_to spree.nested_taxons_path(section.subtitle), class: "homepage-taxon-box" do %>
    <img class="w-100 lazyload"
      data-src="<%= asset_path('homepage/category_banner_lower.jpg') %>"
      data-srcset="<%= image_source_set('homepage/category_banner_lower') %>"
      alt="<%= section.subtitle %>">

    <div class="homepage-taxon-box-text" role="img" aria-label="Sportswear">
      <h3><%= section.subtitle %></h3>
    </div>
  <% end %>
</div>

<div class="col-6 d-flex flex-column">
  <%= link_to spree.nested_taxons_path(section.button_text), class: "homepage-taxon-box flex-grow-1" do %>
    <img class="w-100 lazyload"
      data-src="<%= asset_path('homepage/big_category_banner.jpg') %>"
      data-srcset="<%= image_source_set('homepage/big_category_banner') %>"
      alt="<%= section.button_text %>">

    <div class="homepage-taxon-box-text">
      <h3><%= section.button_text %></h3>
    </div>
  <% end %>
</div>
