<aside class="<%= width %> mb-3">
  <div class="<%= boundary %>">
    <%= link_to section.link do %>
      <div class="d-flex
                  align-items-end
                  justify-content-center
                  bg-light text-center
                  overflow-hidden
                  homepage-bottom-box"
                  style="--aspect-ratio:54/35;">

        <% if section.icon.present? %>
          <!-- XS to MD -->
            <img class="d-md-none lazyload"
              data-src="<%= main_app.url_for(section.icon.attachment.variant(resize: '387x250>')) %>"
              data-srcset="<%= main_app.url_for(section.icon.attachment.variant(resize: '387x250>')) %>"
              alt="<%= section.icon.alt %>">

          <!-- MD to XL -->
            <img class="d-none d-md-block d-xl-none lazyload"
              data-src="<%= main_app.url_for(section.icon.attachment.variant(resize: '734x476>')) %>"
              data-srcset="<%= main_app.url_for(section.icon.attachment.variant(resize: '734x476>')) %>"
              alt="<%= section.icon.alt %>">

          <!-- XL UP -->
            <img class="d-none d-xl-block lazyload"
              data-src="<%= main_app.url_for(section.icon.attachment.variant(resize: '1468x952>')) %>"
              data-srcset="<%= main_app.url_for(section.icon.attachment.variant(resize: '1468x952>')) %>"
              alt="<%= section.icon.alt %>">
         <% end %>

        <div class="homepage-bottom-box-inner p-1 p-sm-2 p-md-4" role="img" aria-label="New Collection">
          <div class="homepage-bottom-box-inner-small-text">
            <%= section.title %>
          </div>
          <div class="homepage-bottom-box-inner-big-text">
            <%= section.subtitle %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</aside>
