<fieldset id="calculator_fields">
  <legend><%= t('calculator') %></legend>
  <div id="preference-settings">
    <p>
      <%= f.label(:calc_type, t("calculator")) %>
      <%= f.collection_select(:calculator_type, @calculators, :to_s, :description, {}, {:id => "calc-type"}) %>
    </p>
    <% if !@object.new_record? %>
      <%= f.fields_for :calculator do |calculator_form| %>
        <div class="calculator-settings">
          <%= preference_fields(@object.calculator, calculator_form) %>
        </div>
      <% end %>
      <% if @object.calculator.respond_to?(:preferences) %>
        <div id="calculator-settings-warning"><%= t('calculator_settings_warning')%></div>
      <% end %>
    <% end %>
  </div>
</fieldset>
