<p class="form-buttons">
  <%= button t("update") %>
  <% if @new_collection_url %>
    <%= t("or") %> <%= link_to t("cancel"), @new_collection_url %>
  <% else %>
    <%= t("or") %> <%= link_to t("cancel"), collection_url %>
  <% end %>
</p>
