<h1><%= raw(t("editing_product") + " &ldquo;#{@product.name}&rdquo;") %></h1>

<% content_for :sidebar do %>

  <h3><%= @product.name %><span class='sku'><%= @product.sku %></span></h3>
  <br class="clear" />

  <ul class="sidebar product-menu">
    <%= hook :admin_product_tabs, {:current => current} do %>

    <li<%= ' class="active"' if current == "Product Details" %>>
      <%= link_to t("product_details"), edit_admin_product_url(@product) %>
    </li>
    <% if url_options_authenticate?(:controller => 'admin/images') %>
      <li<%= ' class="active"' if current == "Images" %>>
        <%= link_to t("images"), admin_product_images_url(@product) %>
      </li>
    <% end %>
    <% if url_options_authenticate?(:controller => 'admin/variants') %>
      <li<%= ' class="active"' if current == "Variants" %>>
        <%= link_to t("variants"),  admin_product_variants_url(@product)  %>
      </li>
    <% end %>
    <% if url_options_authenticate?(:controller => 'admin/option_types') %>
      <li<%= ' class="active"' if current == "Option Types" %>>
        <%= link_to t("option_types"), selected_admin_product_option_types_url(@product) %>
      </li>
    <% end %>
    <% if url_options_authenticate?(:controller => 'admin/properties') %>
      <li<%= ' class="active"' if current == "Product Properties" %>>
        <%= link_to t("product_properties"), admin_product_product_properties_url(@product) %>
      </li>
    <% end %>
    <% if url_options_authenticate?(:controller => 'admin/taxons') %>
      <li<%= ' class="active"' if current == "Taxons" %>>
        <%= link_to t("taxons"), selected_admin_product_taxons_url(@product) %>
      </li>
    <% end %>

    <% end %>
  </ul>
  <br class="clear" />

<% end %>
