<% metafield_definition = f.object.metafield_definition %>
<%= f.hidden_field :id %>
<%= f.hidden_field :metafield_definition_id %>
<tr>
  <td class="align-top pt-3 w-25">
    <div class="d-flex flex-column">
      <strong><%= metafield_definition.name %></strong>
      <small class="text-muted mt-2"><code><%= metafield_definition.full_key %></code></small>
    </div>
  </td>
  
  <td class="w-50">
    <div class="form-group">
      <%= render "spree/admin/metafields/types/#{metafield_definition.type.demodulize.underscore}", f: f %>
    </div>
  </td>

</tr>