<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "spree/admin/shared/head" %>
  </head>

  <body class="admin admin-wizard min-vh-100 <%= controller_name %> <%= action_name %>"
    data-controller="admin drawer dialog"
    data-action="keydown.ctrl+s->admin#save keydown.meta+s->admin#save"
  >
    <%= render_admin_partials(:body_start_partials) %>

    <header id="header" class="d-flex align-items-center p-0">
      <%= render 'spree/admin/shared/back_to_dashboard' %>

      <% if content_for?(:steps) %>
        <ol class="d-flex align-items-center list-unstyled flex-grow-1 justify-content-between align-items-center m-0" style="height: 60px;" id="steps">
          <%= yield :steps %>
        </ol>
      <% end %>
    </header>

    <main class="pb-5">
      <%= yield %>
    </main>
    
    <%= render 'spree/admin/shared/drawer' %>
    <%= render "spree/admin/shared/dialog" %>
    <%= render "spree/admin/shared/modal" %>
    <%= render "spree/admin/shared/alerts" %>

    <%= render_admin_partials(:body_end_partials) %>
  </body>
</html>
