<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "spree/admin/shared/head" %>
    <%= render "spree/admin/shared/custom_head" %>
  </head>

  <body class="admin min-vh-100 <%= controller_name %> <%= action_name %>"
    data-controller="admin"
    data-action="keydown.ctrl+s->admin#save keydown.meta+s->admin#save"
  >
    <%= render_admin_partials(:body_start_partials) %>

    <%= render "spree/admin/shared/header" %>
    <%= render "spree/admin/shared/sidebar" %>
    <main id="content" data-controller="drawer dialog export-dialog">
      <%= render "spree/admin/shared/content_header" %>
      <%= render "spree/admin/shared/page_tabs" %>
      <%= render "spree/admin/shared/page_alerts" %>
      <div class="container">
        <%= yield %>
      </div>
      <%= render "spree/admin/shared/footer" %>
      <%= render 'spree/admin/shared/drawer' %>
      <%= render "spree/admin/shared/dialog" %>
    </main>
    <%= render "spree/admin/shared/modal" %>
    <%= render "spree/admin/shared/alerts" %>

    <%= render_admin_partials(:body_end_partials) %>
  </body>
</html>
