<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "spree/admin/shared/head" %>
  </head>
  <body class="admin min-vh-100 <%= controller_name %> <%= action_name %>" data-controller="dialog">
    <div class="container-fluid">
      <div class="row bg-white">
        <div
          class="col-lg-5 d-none d-lg-flex bg-light min-vh-100"
          style="background-image: url('<%= asset_path('login_sidebar_background.png') %>');background-repeat: no-repeat;background-size: cover;background-position: center')"
        >
        </div>
        <div class="col-lg-6 col-xl-4 offset-xl-1 py-3 d-flex flex-column justify-content-center vh-100">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "spree/admin/shared/dialog" %>
    <%= render "spree/admin/shared/modal" %>
    <%= render "spree/admin/shared/alerts" %>
  </body>
</html>
