<% content_for :page_title do %>
  <%= plural_resource_name(Spree::StockLocation) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_stock_location), new_object_url, { class: "btn-success", icon: 'add.svg', id: 'admin_new_stock_location' } %>
<% end if can? :create, Spree::StockLocation %>

<% if @stock_locations.any? %>
<div class="table-responsive">
  <table class="table" id='listing_stock_locations' data-hook>
    <thead>
      <tr data-hook="stock_locations_header">
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:status) %></th>
        <th><%= Spree.t(:stock_movements) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @stock_locations.each do |stock_location|
           @edit_url = edit_admin_stock_location_path(stock_location)
           @delete_url = admin_stock_location_path(stock_location)
      %>
        <tr id="<%= spree_dom_id stock_location %>" data-hook="stock_location_row">
          <td><%= display_name(stock_location) %></td>
          <td><span class="state <%= state(stock_location) %>"><%= Spree.t(state(stock_location)) %></span></td>
          <td><%= link_to Spree.t(:stock_movements), admin_stock_location_stock_movements_path(stock_location.id) %> </td>
          <td class="actions actions-2 text-center">
            <%= link_to_edit(stock_location, no_text: true) if can? :create, stock_location %>
            <%= link_to_delete(stock_location, no_text: true) if can? :create, stock_location %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::StockLocation)) %>,
    <%= link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::StockLocation %>!
  </div>
<% end %>
