<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:general_settings) %>
    </h5>
  </div>
  <div class="card-body" >
    <div class="form-group">
      <%= f.label :name, raw(Spree.t(:name) + required_span_tag) %>
      <%= f.text_field :name, class: 'form-control', required: true, autofocus: f.object.new_record? %>
      <%= f.error_message_on :name %>
    </div>
    <div class="form-group">
      <%= f.label :admin_name, Spree.t(:internal_name) %>
      <%= f.text_field :admin_name, class: 'form-control', label: false %>
    </div>
    <% unless f.object.default? %>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= f.check_box :active, class: 'custom-control-input' %>
          <%= f.label :active, class: 'custom-control-label' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:address) %>
    </h5>
  </div>
  <div class="card-body pb-0">
    <%= render 'spree/addresses/form',
                address_name: 'address',
                address_form: f,
                address_type: 'stock_location',
                address: f.object %>
  </div>
</div>
