<% content_for :page_title do %>
  <%= page_header_back_button spree.admin_stock_locations_path %>
  <%= @stock_location.name %>
<% end %>

<%= form_for [:admin, @stock_location] do |f| %>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @stock_location } %>
      <%= render 'form', f: f %>
      <%= render 'spree/admin/shared/edit_resource_links', f: f %>
    </div>
  </div>
<% end %>
