<fieldset data-hook="credit_card">
  <legend><%= t(:credit_card) %></legend>

  <div class="row">
    <div class="alpha six columns">      
      <dl>
        <dt><%= t(:card_number) %>:</dt>
        <dd><%= payment.source.display_number %></dd>

        <dt><%= t(:expiration) %>:</dt>
        <dd><%= payment.source.month %>/<%= payment.source.year %></dd>

        <dt><%= t(:card_code) %>:</dt>
        <dd><%= payment.source.verification_value %></dd>
      </dl>
    </div>

    <div class="omega six columns">
      <dl>
        <dt><%= t(:maestro_or_solo_cards) %>:</dt>
        <dd><%= payment.source.issue_number %></dd>

        <dt><%= t(:start_date) %>:</dt>
        <dd><%= payment.source.start_month %>/<%= payment.source.start_year %></dd>
      </dl>
    </div>    
  </div>

</fieldset>