<tr id="<%= dom_id page %>" data-controller="row-link" class="cursor-pointer">
  <td scope="row" data-action="click->row-link#openLink" class="w-60">
    <%= link_to page.name, spree.edit_admin_theme_path(current_store.default_theme, page_id: page.id), data: { row_link_target: :link, turbo_frame: '_top', turbo_prefetch: false } %>
  </td>
  <td data-action="click->row-link#openLink" class="w-15">
    <%= spree_time_ago(page.created_at) %>
  </td>
  <td data-action="click->row-link#openLink" class="w-15">
    <%= spree_time_ago(page.updated_at) %>
  </td>
  <td class="w-10 text-right">
    <%= dropdown do %>
      <%= dropdown_toggle class: 'btn-light btn-sm' do %>
        <%= icon('dots-vertical', class: 'mr-0') %>
      <% end %>
      <%= dropdown_menu do %>
        <ul class="list-unstyled mb-0">
          <li>
            <%= link_to_with_icon 'edit', Spree.t(:edit), spree.edit_admin_theme_path(current_store.default_theme, page_id: page.id), class: 'dropdown-item', data: { turbo_frame: '_top', turbo_prefetch: false } %>
          </li>
          <li>
            <%= link_to_delete(page, class: 'dropdown-item btn-danger', icon: 'trash') %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </td>
</tr>