<%= turbo_frame_tag :dialog_modal do %>
  <%= form_with model: @page, url: spree.admin_page_path(@page), data: { controller: 'slug-form seo-form' }, scope: :page do |f| %>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= Spree.t(:page_settings) %></h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="<%= Spree.t(:close) %>"></button>
      </div>
      <div class="modal-body">
        <%= render 'spree/admin/shared/error_messages', target: @page %>
        <%= render 'form', f: f, vertical: true %>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <%= turbo_save_button_tag Spree.t('actions.save'), data: {turbo_frame: :_top} %>
        <%= link_to Spree.t('actions.destroy'), spree.admin_page_path(@page.id), data: { turbo_method: :delete, turbo_frame: '_top', turbo_confirm: Spree.t(:are_you_sure )}, class: 'btn btn-danger' %>
      </div>
    </div>
  <% end %>
<% end %>
