<% if turbo_frame_request? %>
  <%= turbo_frame_tag :new_credit_card_modal do %>
    <div class="bg-white h-[90vh] lg:h-[70vh] w-full lg:w-1/3 flex flex-col overflow-hidden">
      <div class="flex flex-col h-full">
        <div class="px-8 py-6 border-b shrink-0">
          <div class="flex justify-between items-center">
            <h3 class="text-xl lg:text-2xl font-medium lg:font-semibold capitalize">
              <%= Spree.t(:add_credit_card) %>
            </h3>
            <button data-action="click->modal#close" class="ml-4">
              <%= render 'spree/shared/icons/close' %>
              <span class="sr-only"><%= Spree.t(:close) %></span>
            </button>
          </div>
        </div>
        <div class="overflow-y-auto px-8 py-8 grow">
          <%= render 'spree/account/credit_cards/stripe_setup_card' %>
        </div>
        <div class="border-t border-default px-8 py-4 flex justify-end gap-8 shrink-0">
          <%= button_tag Spree.t(:cancel), class: 'uppercase text-sm font-semibold', data: { action: 'click->modal#close' } %>
          <%= button_tag Spree.t(:add), class: 'btn-primary w-48', id: 'add-credit-card-button' %>  
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="page-container grid grid-cols-1 lg:grid-cols-12 lg:gap-6 lg:mt-6">
    <div class="lg:col-span-2">
      <%= render 'spree/account/account_nav', current: 'credit_cards' %>
    </div>
    <div class="lg:col-span-8 lg:col-start-3 xl:col-span-6 xl:col-start-4">
      <div class="pb-4 border-b border-default px-4 lg:px-8">
        <h3 class="text-xl uppercase font-medium lg:font-semibold">
          <%= Spree.t(:add_credit_card) %>
        </h3>
      </div>
      <div class="bg-white h-[90vh] lg:h-[70vh] w-full lg:w-3/5 xl:w-2/5 max-w-xl flex flex-col overflow-hidden">
        <div class="px-8 py-6 border-b shrink-0">
          <%= render 'spree/account/credit_cards/stripe_setup_card' %>
        </div>
        <div class="border-t border-default px-8 py-4 flex justify-end gap-8 shrink-0">
          <%= link_to Spree.t('actions.cancel'), :back, class: 'uppercase text-sm font-semibold tracking-widest' %>
          <%= button_tag Spree.t(:add), class: 'btn-primary w-48', id: 'add-credit-card-button' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
