<% order_counter = Spree::Stock::OrderCounter.new(@order) %>

<h2>Stock Levels</h2>
<table class="index">
  <thead>
    <tr>
     <th><%= t(:variant) %></th>
     <th><%= t(:ordered) %></th>
     <th><%= t(:assigned) %></th>
     <th><%= t(:remaining) %></th>
      <% @locations.each do |location| %>
      <th><%= "#{location.name} location" %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% order_counter.variants.each do |variant| %>
      <tr>
        <td><%= variant.name %></td>
        <td><%= order_counter.ordered(variant) %></td>
        <td><%= order_counter.assigned(variant) %></td>
        <td><%= order_counter.remaining(variant) %></td>
        <% @locations.each do |location| %>
        <td>
          <%= location.count_on_hand(variant) %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

