<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Shipments' } %>

<% content_for :page_actions do %>
    <li><%= button_link_to t(:back_to_orders_list), admin_orders_path, :icon => 'icon-arrow-left' %></li>
<% end %>

<% content_for :page_title do %>
  <i class="icon-arrow-right"></i> <%= t(:shipments) %>
<% end %>


<table class="index">
  <thead>
    <tr>
     <th><%= t(:variant) %></th>
     <th><%= t(:ordered) %></th>
     <th><%= t(:assigned) %></th>
     <th><%= t(:remaining) %></th>
      <% @locations.each do |location| %>
      <th><%= "#{location.name} location" %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @order_counter.variants.each do |variant| %>
      <tr>
        <td><%= variant.name %></td>
        <td><%= @order_counter.ordered(variant) %></td>
        <td><%= @order_counter.assigned(variant) %></td>
        <td><%= @order_counter.remaining(variant) %></td>
        <% @locations.each do |location| %>
        <td>
          <%= location.count_on_hand(variant) %>
          (<%= location.backorderable?(variant) ? "can b/o" : "no b/o" %>)
        </td>
        <% end %>
      </tr>
    <% end %>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <% @locations.each do |location| %>
        <td>
          <% if @order_counter.remaining? %>
            <%= button_link_to t(:new_shipment), new_admin_order_shipment_url(@order, :stock_location => location), :icon => 'icon-plus' %>
          <% end %>
        </td>
        <% end %>
      </tr>
  </tbody>
</table>
