<table>
	<tr>
    <td><%=t("code")%>:</td>
    <td><%= f.text_field :code, {"style" => "width:200px"} %></td>
  </tr>
	<tr>
    <td><%=t("description")%>:</td>
    <td><%= f.text_field :description, {"style" => "width:200px"} %></td>
  </tr>
	<tr>
    <td><%=t("usage_limit")%>:</td>
    <td><%= f.text_field :usage_limit, {"style" => "width:200px"} %></td>
  </tr>
	<tr>
    <td><%=t("combine")%>:</td>
    <td><%= f.check_box :combine %></td>
  </tr>
	<tr>
    <td><%=t("expiration")%>:</td>
    <td><%= date_select :coupon, :expires_at, :prompt => true, :use_month_numbers => true %></td>
  </tr>
</table>

<%= render "admin/shared/calculator_fields", :f => f %>