<div data-hook="admin_payment_method_form_fields">

  <div data-hook="payment_method">

    <div class="alpha four columns">
      <div id="preference-settings" data-hook class="field">
        <%= f.label :type, t(:provider) %>
        <%= f.collection_select(:type, @providers, :to_s, :name, {}, {:id => 'gtwy-type', :class => 'select2 fullwidth'}) %>

        <% unless @object.new_record? %>
          <%= preference_fields(@object, f) %>

          <% if @object.respond_to?(:preferences) %>
            <div id="gateway-settings-warning" class="info warning"><%= t(:provider_settings_warning) %></div>
          <% end %>
        <% end %>
      </div>      
      <div data-hook="environment" class="field">
        <%= f.label :enviromment, t(:environment) %>
        <%= f.collection_select(:environment, Rails.configuration.database_configuration.keys.sort, :to_s, :titleize, {}, {:id => 'gtwy-env', :class => 'select2 fullwidth'}) %>        
      </div>
      <div data-hook="display" class="field">
        <%= f.label :display, t(:display) %>
        <%= f.select(:display_on, Spree::PaymentMethod::DISPLAY.collect { |display| [t(display), display == :both ? nil : display.to_s] }, {}, {:class => 'select2 fullwidth'}) %>
      </div>
      <div data-hook="active" class="field">
        <%= f.label :active, t(:active) %>
        <ul>
          <li>
            <%= f.radio_button :active, true %>
            <%= label_tag nil, t(:yes) %>
          </li>        
          <li>
            <%= f.radio_button :active, false %>
            <%= label_tag nil, t(:no) %>
          </li>
        </ul>
      </div>
    </div>

    <div class="omega eight columns">
      <div data-hook="name" class="field">
        <%= f.label :name, t(:name) %>
        <%= f.text_field :name, :class => 'fullwidth' %>
      </div>
      <div data-hook="description" class="field">
        <%= f.label_tag t(:description) %>
        <%= f.text_area :description, {:cols => 60, :rows => 6, :class => 'fullwidth'} %>
      </div>  
    </div>
  </div>
</div>

<div class="clear"></div>
