<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t(:editing_payment_method) %></h1>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @payment_method } %>
<%= form_for [:spree, @payment_method], :url => admin_payment_method_path(@payment_method), :html => { :method => :put } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p data-hook="buttons">
    <%= submit_tag t(:update) %>
  </p>
<% end %>
