<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:editing_payment_method) %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @payment_method } %>
<%= form_for @payment_method, :url => admin_payment_method_path(@payment_method), :method => :put do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p data-hook="buttons">
    <%= submit_tag t(:update) %>
  </p>
<% end %>
