<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:new_payment_method) %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @payment_method } %>

<%= form_for @payment_method, :url => collection_url do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p data-hook="buttons">
    <%= submit_tag t(:create) %>
  </p>
<% end %>
