<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:general_settings) %>
    </h5>
  </div>

  <div class="card-body">
    <%= f.spree_text_field :name, required: true %>

    <%= f.spree_number_field :amount_percentage, label: Spree.t(:rate), append: '%', min: 0, step: 0.1, required: true %>

    <%= f.spree_collection_select :zone_id, @available_zones, :id, :name, label: Spree.t(:zone) %>
    <%= f.spree_collection_select :tax_category_id, @available_categories, :id, :name, label: Spree.t(:tax_category) %>

    <hr class="my-4" />

    <%= f.spree_check_box :included_in_price %>
    <%= f.spree_check_box :show_rate_in_label %>
  </div>
</div>

<%= render 'spree/admin/shared/calculator_fields', f: f, calculators: @calculators %>
