<tr id="<%= spree_dom_id tax_rate %>" data-controller="row-link" class="cursor-pointer">
  <td class="w-25" data-action="click->row-link#openLink"><%= tax_rate.name %></td>
  <td class="w-15" data-action="click->row-link#openLink">
    <%= tax_rate.tax_category.try(:name) || Spree.t(:not_available) %>
  </td>
  <td class="w-15" data-action="click->row-link#openLink">
    <%= tax_rate.zone.try(:name) || Spree.t(:not_available) %>
  </td>
  <td class="w-15" data-action="click->row-link#openLink"><%= number_to_percentage(tax_rate.amount * 100) %></td>
  <td class="w-10" data-action="click->row-link#openLink"><%= active_badge(tax_rate.included_in_price?) %></td>
  <td class="w-10" data-action="click->row-link#openLink"><%= active_badge(tax_rate.show_rate_in_label?) %></td>
  <td class="w-10 actions">
    <%= link_to_edit(tax_rate, data: { row_link_target: 'link' }) if can? :edit, tax_rate %>
  </td>
</tr>
