<%= form_for [:admin, Spree::StockMovement.new], url: admin_stock_items_path do |f| %>
  <fieldset>
    <legend><%= Spree.t(:add_stock_management) %></legend>

    <div data-hook="admin_stock_movements_form_fields" class="row">
      <div class="col-md-2">
        <%= f.field_container :quantity do %>
          <%= f.label :quantity, Spree.t(:quantity) %>
          <%= f.number_field :quantity, class: 'form-control', value: 1 %>
        <% end %>
      </div>
      <div class="col-md-5">
        <%= f.field_container :stock_location do %>
          <%= label_tag :stock_location_id, Spree.t(:stock_location) %>
          <%= select_tag 'stock_location_id', options_from_collection_for_select(@stock_locations, :id, :name),
            class: 'select2' %>
        <% end %>
      </div>

      <div class="col-md-5">
        <%= f.field_container :variant_id do %>
          <%= label_tag 'variant_id', Spree.t(:variant) %>
          <%= select_tag 'variant_id', options_from_collection_for_select(@variants, :id, :sku_and_options_text),
            class: 'select2' %>
        <% end %>
      </div>
    </div>

    <div class="form-buttons" data-hook="buttons">
      <%= button Spree.t(:add_stock), 'plus' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), collection_url, :icon => 'delete' %>
    </div>
  </fieldset>
<% end %>
