<div class="card-header">
  <h1 class="card-title mb-0 h5">
    <%= Spree.t(:add_stock) %>
  </h1>
</div>
<% content_for :page_actions do %>
  <%= product_preview_link(@product) %>
<% end %>
<div class="card-body">
  <%= form_for [:admin, Spree::StockMovement.new], url: admin_stock_items_path do |f| %>
    <div data-hook="admin_stock_movements_form_fields" class="row">
      <div class="col-12 col-lg-2">
        <div class="form-group">
          <%= f.field_container :quantity do %>
            <%= f.label :quantity, Spree.t(:quantity) %>
            <%= f.number_field :quantity, class: 'form-control', value: 1 %>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="form-group">
          <%= f.field_container :stock_location do %>
            <%= label_tag :stock_location_id, Spree.t(:stock_location) %>
            <%= select_tag 'stock_location_id', options_from_collection_for_select(@stock_locations, :id, :name),
              class: 'select2' %>
          <% end %>
        </div>
      </div>

      <div class="col-12 col-lg-5">
        <div class="form-group">
          <%= f.field_container :variant_id do %>
            <%= label_tag 'variant_id', Spree.t(:variant) %>
            <%= select_tag 'variant_id', options_from_collection_for_select(@variants, :id, :sku_and_options_text),
              class: 'select2' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-actions text-center" data-hook="buttons">
      <%= button Spree.t(:add_stock), 'plus' %>
    </div>
  <% end %>
</div>
