<div data-hook="admin_product_form_fields">

  <div class="row">

    <div class="col-md-8" data-hook="admin_product_form_left">
      <div data-hook="admin_product_form_name">
        <%= f.field_container :name, class: ['form-group'], data: { hook: 'admin_product_form_name' } do %>
          <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', class: 'required')) %>
          <%= f.text_field :name, class: 'form-control title' %>
          <%= f.error_message_on :name %>
        <% end %>
      </div>

      <%= fake_input_field @product.available_on, :available_on %>

      <%= fake_input_field @shipping_category.try(:name), :shipping_category %>

      <%= fake_input_field @tax_category.try(:name), :tax_category %>
    </div>

    <div class="col-md-4" data-hook="admin_product_form_right">

      <%= fake_input_field @product.cost_price, :cost_price %>

      <%= fake_input_field @product.cost_currency, :cost_currency %>

      <% unless @product.has_variants? %>
        <div data-hook="admin_product_form_sku">
          <%= f.field_container :sku, class: ['form-group'] do %>
            <%= f.label :sku, Spree.t(:sku) %>
            <%= f.text_field :sku, size: 16, class: 'form-control' %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>

  <div data-hook="admin_product_form_additional_fields"></div>

</div>

<% unless Rails.env.test? %>
  <script>
    $('.select2-container').css();
  </script>
<% end %>
