<div data-hook="admin_product_form_fields">

  <fieldset class="sixteen columns alpha omega clearfix" data-hook="admin_product_form_product_details">
    <legend><%= icon('edit') %>Product Details</legend>
    <div class="ten columns alpha">

      <div data-hook="admin_product_form_name">
        <%= f.field_container :name do %>
          <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', :class => 'required')) %>
          <%= f.text_field :name, :class => 'fullwidth title' %>
          <%= f.error_message_on :name %>
        <% end %>
      </div>

      <div data-hook="admin_product_form_description">
        <%= f.field_container :description do %>
          <%= f.label :description, Spree.t(:description) %>
          <%= f.text_area :description, {:rows => "#{if @product.has_variants? then '5' else '10' end}", :class => 'fullwidth'} %>
          <%= f.error_message_on :description %>
        <% end %>
      </div>

      <div data-hook="admin_product_form_taxons">
        <%= f.field_container :taxons do %>
          <%= f.label :taxon_ids, Spree.t(:taxons) %><br />
          <%= f.hidden_field :taxon_ids, :value => @product.taxon_ids.join(',') %>
        <% end %>
      </div>

    </div>
    <div class="six columns omega">

      <div data-hook="admin_product_form_slug">
        <%= f.field_container :slug do %>
          <%= f.label :slug, raw(Spree.t(:slug) + content_tag(:span, ' *',  :class => "required")) %>
          <%= f.text_field :slug, :class => 'fullwidth title' %>
          <%= f.error_message_on :slug %>
        <% end %>
      </div>

      <div data-hook="admin_product_form_available_on">
        <%= f.field_container :available_on do %>
          <%= f.label :available_on, Spree.t(:available_on) %>
          <%= f.error_message_on :available_on %>
          <%= f.text_field :available_on, :value => datepicker_field_value(@product.available_on), :class => 'datepicker' %>
        <% end %>
      </div>

      <div data-hook="admin_product_form_shipping_categories">
        <%= f.field_container :shipping_categories do %>
          <%= f.label :shipping_category_id, Spree.t(:shipping_categories) %>
          <%= f.collection_select(:shipping_category_id, @shipping_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2' }) %>
          <%= f.error_message_on :shipping_category %>
        <% end %>
      </div>
    </div>
  </fieldset>

  <div id="admin_product_form_controls" class="sixteen columns alpha omega clearfix" data-hook="admin_product_form_master_variant">
    <ul class="toolbar inline-menu" data-hook="toolbar-product-properties">
      <% if can?(:admin, Spree::ProductProperty) %>
        <li>
          <%= button_link_to 'Manage Properties', admin_product_product_properties_url(@product), :icon => 'tasks', id: 'manage_properties' %>
        </li>
      <% end %>
      <% if can?(:admin, Spree::Variant) %>
        <li>
          <%= button_link_to 'Manage Variants',  admin_product_variants_url(@product), :icon => 'th-large', id: 'add_variants' %>
        </li>
      <% end %>
    </ul>
  </div>

  <fieldset id="admin_product_form_product_properties" style="display:none;" class="sixteen columns alpha omega clearfix" data-hook="admin_product_form_product_properties">
    <legend><%= icon('th-large') %>Properties</legend>
    <%= render partial: "spree/admin/products/product_properties", locals: {f: f} %>
  </fieldset>

  <fieldset id="admin_product_form_master_variant" style="<%= 'display:none;' if @product.has_variants? %>" class="sixteen columns alpha omega clearfix" data-hook="admin_product_form_master_variant">
    <%= render partial: "spree/admin/variants/master_variant_fields", locals: {f: f} %>
  </fieldset>

  <% if can?(:admin, Spree::Variant) %>


    <fieldset id="admin_product_form_multiple_variants" style="<%= 'display:none;' unless @product.has_variants? %>" class="sixteen columns alpha omega clearfix" data-hook="admin_product_form_multiple_variants">

      <legend><%= icon('th-large') %>Variants</legend>
      <%= render partial: "spree/admin/products/option_types", locals: {f: f} %>
      <%= render partial: "spree/admin/products/variants", locals: {f: f} %>

    </fieldset>
  <% end %>

  <fieldset data-hook="admin_product_form_images" class="alpha omega sixteen columns">
    <legend>Images</legend>
    <%= render partial: "spree/admin/products/images", locals: {f: f} %>
  </fieldset>

  <fieldset data-hook="admin_product_form_stock" class="alpha omega sixteen columns">
    <legend>Stock</legend>
    <%= render partial: "spree/admin/products/stock", locals: {f: f} %>
  </fieldset>

  <fieldset data-hook="admin_product_form_meta" class="alpha omega sixteen columns">
    <legend>SEO</legend>
    <%= render partial: "spree/admin/products/seo_fields", locals: {f: f} %>
  </fieldset>

  <div class="clear"></div>

  <div data-hook="admin_product_form_additional_fields"></div>

  <div class="clear"></div>
</div>

<% unless Rails.env.test? %>
  <script>
  $('.select2-container').css({width: '20em'})
  </script>
<% end %>


<script>
  $( "a#manage_properties" ).click(function( event ) {
    event.preventDefault();
    $( '#admin_product_form_product_properties' ).slideToggle();
  });
  $( "a#add_variants" ).click(function( event ) {
    event.preventDefault();
    $( '#admin_product_form_multiple_variants' ).slideToggle();
    $( '#admin_product_form_master_variant' ).slideToggle();
  });
  $( ".variant-edit .fa-ok" ).click(function( event ) {
    event.preventDefault();
    target = $(this).data('target');
    $( '#' + target + '-edit' ).slideUp();
    $( '#' + target ).slideDown();
  });
</script>
