<div data-hook="admin_product_form_meta_keywords">
  <%= f.field_container :meta_keywords do %>
    <%= f.label :meta_keywords, Spree.t(:meta_keywords) %>
    <%= f.text_field :meta_keywords, :class => 'fullwidth' %>
  <% end %>
</div>

<div data-hook="admin_product_form_meta_description">
  <%= f.field_container :meta_description do %>
    <%= f.label :meta_description, Spree.t(:meta_description) %>
    <%= f.text_field :meta_description, :class => 'fullwidth' %>
  <% end %>
</div>
