<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Content' } %>
<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product } %>

<%= form_for [:admin, @product], method: :put, html: { multipart: true } do |f| %>
  <fieldset>

    <div data-hook="admin_product_form_description">
      <%= f.field_container :description, class: ['form-group'] do %>
        <%= f.label :description, Spree.t(:description) %>
        <%= f.text_area :description, { rows: 10, class: 'form-control' } %>
        <%= f.error_message_on :description %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_meta_description">
      <%= f.field_container :meta_description, class: ['form-group'] do %>
        <%= f.label :meta_description, Spree.t(:meta_description) %>
        <%= f.text_field :meta_description, class: 'form-control' %>
      <% end %>
    </div>

    <div data-hook="admin_product_form_meta_keywords">
      <%= f.field_container :meta_keywords, class: ['form-group'] do %>
        <%= f.label :meta_keywords, Spree.t(:meta_keywords) %>
        <%= f.text_field :meta_keywords, class: 'form-control' %>
      <% end %>
    </div>

    <% unless @product.has_variants? %>
      <div id="shipping_specs" class="row no-padding-bottom">
        <div class="col-md-6">
          <div id="shipping_specs_weight_field" data-hook="admin_product_form_weight" class="form-group">
            <%= f.label :weight, Spree.t(:weight) %>
            <%= f.text_field :weight, size: 4, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-6">
          <div id="shipping_specs_height_field" data-hook="admin_product_form_height" class="form-group">
            <%= f.label :height, Spree.t(:height) %>
            <%= f.text_field :height, size: 4, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-6">
          <div id="shipping_specs_width_field" data-hook="admin_product_form_width" class="form-group">
            <%= f.label :width, Spree.t(:width) %>
            <%= f.text_field :width, size: 4, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-6">
          <div id="shipping_specs_depth_field" data-hook="admin_product_form_depth" class="form-group">
            <%= f.label :depth, Spree.t(:depth) %>
            <%= f.text_field :depth, size: 4, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>

    <div data-hook="admin_product_form_option_types">
      <%= f.field_container :option_types, class: ['form-group'] do %>
        <%= f.label :option_type_ids, Spree.t(:option_types) %>

        <% if can? :modify, Spree::OptionType %>
          <%= f.hidden_field :option_type_ids, value: @product.option_type_ids.join(',') %>
        <% elsif @product.option_types.any? %>
          <ul class="text_list">
            <% @product.option_types.each do |type| %>
              <li><%= type.presentation %> (<%= type.name %>)</li>
            <% end %>
          </ul>
        <% else %>
          <div class="alert alert-info"><%= Spree.t(:no_resource_found, resource: :option_types) %></div>
        <% end %>

      <% end %>
    </div>

    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
