<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Overview' } %>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default" data-hook="product_overview_general_panel">
      <div class="panel-heading">
        <% if can?(:edit, @product) %>
          <%= link_to Spree.t(:edit), spree.general_admin_product_url(@product), class: 'pull-right' %>
        <% end %>
        <h3 class="panel-title"><%= Spree.t(:general_details) %></h3>
      </div>
      <table class="table">
        <tr data-hook="product_overview_general_id">
          <th width="25%"><%= Spree.t(:id) %></th>
          <td><%= @product.id %></td>
        </tr>
        <tr data-hook="product_overview_general_name">
          <th width="25%"><%= Spree.t(:name) %></th>
          <td><%= @product.name %></td>
        </tr>
        <tr data-hook="product_overview_general_slug">
          <th><%= Spree.t(:slug) %></th>
          <td><%= @product.slug %></td>
        </tr>
        <tr data-hook="product_overview_general_description">
          <th><%= Spree.t(:description) %></th>
          <td><%= @product.description %></td>
        </tr>
        <tr data-hook="product_overview_general_price">
          <th><%= Spree.t(:price) %></th>
          <td>
            <%= Spree::Money.new @product.price %>
            <% if @product.cost_price.present? && @product.cost_price > 0 %>
              <span class="gray">
                (<%= Spree.t(:cost_price) %>: <%= Spree::Money.new @product.cost_price %> <%= @product.cost_currency %>)
              </span>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <div class="panel panel-default" data-hook="product_overview_configuration_panel">
      <div class="panel-heading">
        <% if can?(:edit, @product) %>
          <%= link_to Spree.t(:edit), spree.config_admin_product_url(@product), class: 'pull-right' %>
        <% end %>
        <h3 class="panel-title"><%= Spree.t(:configuration) %></h3>
      </div>
      <table class="table">
        <tr data-hook="product_overview_configuration_available_on">
          <th width="25%"><%= Spree.t(:available_on) %></th>
          <td><%= @product.available_on %></td>
        </tr>
        <tr data-hook="product_overview_configuration_shipping_category">
          <th><%= Spree.t(:shipping_category) %></th>
          <td><%= @product.shipping_category.try(:name) || Spree.t(:none) %></td>
        </tr>
        <tr data-hook="product_overview_configuration_tax_category">
          <th><%= Spree.t(:tax_category) %></th>
          <td><%= @product.tax_category.try(:name) || Spree.t(:none) %></td>
        </tr>
        <tr data-hook="product_overview_configuration_option_types">
          <th><%= Spree.t(:option_types) %></th>
          <td>
            <% if @product.option_type_ids.present? %>
              <%= @product.option_type_ids.collect { |x| Spree::OptionType.find(x).name }.join(', ') %>
            <% else %>
              <%= Spree.t(:none) %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <% if @product.variants.any? %>
      <div class="panel panel-default" data-hook="product_overview_variants_panel">
        <div class="panel-heading">
          <% if can?(:admin, Spree::Variant) %>
            <%= link_to Spree.t(:manage_variants), spree.admin_product_variants_url(@product), class: 'pull-right' %>
          <% end %>
          <h3 class="panel-title"><%= Spree.t(:variants) %></h3>
        </div>
        <table class="table">
          <thead data-hook="variants_header">
            <tr>
              <th><%= Spree.t(:options) %></th>
              <th><%= Spree.t(:price) %></th>
              <th><%= Spree.t(:sku) %></th>
            </tr>
          </thead>
          <tbody>
            <% @product.variants.each do |variant| %>
              <tr data-hook="variants_row">
                <td><%= variant.options_text %></td>
                <td><%= variant.display_price.to_html %></td>
                <td><%= variant.sku %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <div class="panel panel-default" data-hook="product_overview_search_panel">
      <div class="panel-heading">
        <% if can?(:edit, @product) %>
          <%= link_to Spree.t(:edit), spree.search_admin_product_url(@product), class: 'pull-right' %>
        <% end %>
        <h3 class="panel-title"><%= Spree.t(:search) %></h3>
      </div>
      <table class="table">
        <tr data-hook="product_overview_search_keywords">
          <th width="25%"><%= Spree.t(:meta_keywords) %></th>
          <td><%= @product.meta_keywords || Spree.t(:none) %></td>
        </tr>
        <tr data-hook="product_overview_search_description">
          <th><%= Spree.t(:meta_description) %></th>
          <td><%= @product.meta_description || Spree.t(:none) %></td>
        </tr>
      </table>
    </div>

  </div>
  <div class="col-md-4">

    <div class="panel panel-default" data-hook="product_overview_images_panel">
      <div class="panel-heading">
        <% if can?(:admin, Spree::Image) %>
          <%= link_to Spree.t(:edit), spree.admin_product_images_url(@product), class: 'pull-right' %>
        <% end %>
        <h3 class="panel-title"><%= Spree.t(:images) %></h3>
      </div>
      <div class="panel-body product-overview-images" data-hook="product_overview_images">
        <%= product_image @product, class: 'main' %>

        <% (@product.variant_images).each do |image| %>
          <%= image_tag image.attachment.url(:mini), class: 'thumbnail' %>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default" data-hook="product_overview_taxon_panel">
      <div class="panel-heading">
        <% if can?(:stock, @product) %>
          <%= link_to Spree.t(:manage_taxons), spree.taxons_admin_product_url(@product), class: 'pull-right' %>
        <% end %>
        <h3 class="panel-title"><%= Spree.t(:taxons) %></h3>
      </div>
      <% taxons = taxon_picker_collection(@product.taxon_ids) %>
      <% if taxons.any? %>
        <table class="table" data-hook="product_overview_taxons_table">
          <% taxons.first(10).each do |taxon| %>
            <tr data-hook="product_overview_taxons_table_tr">
              <td><%= taxon.pretty_name %> (<%= taxon.id %>)</td>
            </tr>
          <% end %>
          <% if taxons.count > 10 %>
            <tr>
              <td>
                <%= link_to "See all #{taxons.count} taxons", spree.taxons_admin_product_url(@product) %>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <div class="panel-body">
          <div class="alert alert-info no-margin-bottom">
            <%= Spree.t(:no_taxons_configured) %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
