<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Stock Management' } %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product } %>

<% content_for :page_actions do %>
  <li>
  </li>
<% end %>

<table class="index" id="listing_product_stock">
  <colgroup>
    <col style="width: 25%" />
  </colgroup>
  <thead>
    <tr data-hook="admin_product_stock_management_index_headers">
      <th><%= t(:variant) %></th>
      <% @stock_locations.each do |stock_location| %>
        <th><%= stock_location.name %> Location</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @variants.each do |variant| %>
      <% if variant.stock_items.present? %>
        <tr id="<%= spree_dom_id variant %>" data-hook="admin_product_stock_management_index_rows" class="<%= cycle('odd', 'even') %>">
          <td class="align-center"><%= variant.sku %></td>
          <% @stock_locations.each do |stock_location| %>
            <td class="align-center">
              <table class="index stock_location_details">
                <colgroup>
                  <col style="width: 50%" />
                  <col style="width: 50%" />
                </colgroup>
                <thead>
                  <tr>
                    <th><%= t(:count_on_hand) %></th>
                    <th><%= t(:backorderable) %></th>
                  </tr>
                </thead>
                <tbody>
                  <td class="align-center"><%= stock_location.stock_item(variant).count_on_hand %></td>
                  <td class="align-center">
                    <%= form_tag admin_stock_item_path(stock_location.stock_item(variant)), method: :put, id: 'toggle_stock_item_backorderable' do %>
                      <%= check_box_tag 'stock_item[backorderable]', true, stock_location.stock_item(variant).backorderable? %>
                    <% end %>
                  </td>
                </tbody>
              </table>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for [:admin, Spree::StockMovement.new] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'spree/admin/shared/stock_movement_form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
