<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_products_list), session[:return_to] || admin_products_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Stock Management' } %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product } %>

<div id="add_stock_form">
  <%= render 'add_stock_form' %>
</div>

<table class="index" id="listing_product_stock">
  <colgroup>
    <col style="width: 25%" />
    <col style="width: 25%" />
    <col style="width: 25%" />
    <col style="width: 25%" />
  </colgroup>
  <thead>
    <tr data-hook="admin_product_stock_management_index_headers">
      <th><%= Spree.t(:variant) %></th>
      <th colspan="4"><%= Spree.t(:stock_location_info) %></th>
    </tr>
  </thead>
  <tbody>
    <% @variants.each do |variant| %>
      <% if variant.stock_items.present? %>
        <tr id="<%= spree_dom_id variant %>" data-hook="admin_product_stock_management_index_rows" class="<%= cycle('odd', 'even') %>">
          <td class="align-center">
            <%= variant.sku %>
            <br>
            <% if variant.images.present? %>
              <%= image_tag variant.images.first.attachment.url(:mini) %>
            <% end %>
          </td>
          <td colspan="4" class="stock_location_info">
            <table>
              <colgroup>
                <col style="width: 45%" />
                <col style="width: 20%" />
                <col style="width: 20%" />
                <col style="width: 15%" />
              </colgroup>
              <thead>
                <th><%= Spree.t(:stock_location) %></th>
                <th><%= Spree.t(:count_on_hand) %></th>
                <th><%= Spree.t(:backorderable) %></th>
                <th class="actions"></th>
              </thead>
              <tbody>
                <% variant.stock_items.each do |item| %>
                  <% next unless @stock_locations.include?(item.stock_location) %>

                  <tr id="stock-item-<%= item.id %>" class="<%= cycle('odd', 'even', :name => 'stock_locations')%>">
                    <td class="align-center"><%= item.stock_location.name %></td>
                    <td class="align-center"><%= item.count_on_hand %></td>
                    <td class="align-center">
                      <%= form_tag admin_stock_item_path(item), method: :put, class: 'toggle_stock_item_backorderable' do %>
                        <%= check_box_tag 'stock_item[backorderable]', 1, item.backorderable?,
                              class: 'stock_item_backorderable',
                              id: "stock_item_backorderable_#{item.stock_location.id}" %>
                      <% end %>
                    </td>
                    <td class="actions">
                      <%= link_to(icon('delete'), [:admin, item],
                            method: :delete, remote: true, confirm: Spree.t(:are_you_sure),
                            class: 'icon_link with-tip icon-trash no-text',
                            title: Spree.t(:remove), data: { action: :remove }) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
          <% reset_cycle("stock_locations") %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
