<% content_for :page_actions do %>
  <li><%= button_link_to t(:back_to_products_list), session[:return_to] || admin_products_url, :icon => 'icon-arrow-left' %></li>
  <li id="new_product_link">
    <%= button_link_to t(:add_stock_management), '#', { :icon => 'icon-plus', :id => 'admin_add_stock_management' } %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Stock Management' } %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product } %>

<% content_for :page_actions do %>
  <li>
  </li>
<% end %>

<table class="index" id="listing_product_stock">
  <colgroup>
    <col style="width: 25%" />
    <col style="width: 25%" />
    <col style="width: 25%" />
    <col style="width: 25%" />
  </colgroup>
  <thead>
    <tr data-hook="admin_product_stock_management_index_headers">
      <th><%= t(:variant) %></th>
      <th colspan="3"><%= t(:stock_location_info) %></th>
    </tr>
  </thead>
  <tbody>
    <% @variants.each do |variant| %>
      <% if variant.stock_items.present? %>
        <tr id="<%= spree_dom_id variant %>" data-hook="admin_product_stock_management_index_rows" class="<%= cycle('odd', 'even') %>">
          <td class="align-center">
            <%= variant.sku %>
            <br>
            <% if variant.images %>
              <%= image_tag variant.images.first.attachment.url(:mini) %>
            <% end %>
          </td>
          <td colspan="3" class="stock_location_info">
            <table>
              <colgroup>
                <col style="width: 60%" />
                <col style="width: 20%" />
                <col style="width: 20%" />
              </colgroup>
              <thead>
                <th><%= t(:stock_location) %></th>
                <th><%= t(:count_on_hand) %></th>
                <th><%= t(:backorderable) %></th>
              </thead>
              <tbody>
                <% @stock_locations.each do |stock_location| %>
                  <tr class="<%= cycle('odd', 'even', :name => 'stock_locations')%>">
                    <td><%= stock_location.name %></td>
                    <td class="align-center">
                      <% if stock_location.stock_item(variant) %>
                        <%= stock_location.stock_item(variant).count_on_hand %>
                      <% else %>
                        N/A
                      <% end %>
                    </td>
                    <td class="align-center">
                      <% if stock_location.stock_item(variant) %>
                        <%= form_tag admin_stock_item_path(stock_location.stock_item(variant)), method: :put, id: 'toggle_stock_item_backorderable' do %>
                          <%= check_box_tag 'stock_item[backorderable]', true, stock_location.stock_item(variant).backorderable? %>
                        <% end %>
                      <% else %>
                        N/A
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
          <% reset_cycle("stock_locations") %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for [:admin, Spree::StockMovement.new] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'spree/admin/shared/stock_movement_form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
