<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: 'Taxons' } %>
<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product } %>

<%= form_for [:admin, @product], method: :put, html: { multipart: true } do |f| %>
  <fieldset>
    <div data-hook="admin_product_form_taxons">
      <%= f.field_container :taxons, class: ['form-group'] do %>
        <%= f.label :taxon_ids, Spree.t(:taxons) %>

        <% if can? :modify, Spree::Classification %>
          <%= f.hidden_field :taxon_ids, value: @product.taxon_ids.join(',') %>
        <% elsif @product.taxons.any? %>
          <ul class="text_list">
            <% @product.taxons.each do |taxon| %>
              <li><%= taxon.name %></li>
            <% end %>
          </ul>
        <% else %>
          <div class="alert alert-info"><%= Spree.t(:no_resource_found, resource: :taxons) %></div>
        <% end %>

      <% end %>
    </div>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
