<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("general_settings") %></h1>

<h4>
  SSL will <%= Spree::Config[:allow_ssl_in_production] ? '' : 'NOT' %> be used in production
  mode if necessary.
</h4>

<h4>
  SSL will <%= Spree::Config[:allow_ssl_in_development_and_test] ? '' : 'NOT' %> be used in development
  and test mode if necessary.
</h4>

<p><%= link_to_with_icon 'edit', t("edit"), edit_admin_general_settings_path %></p>


