<table class="index">
  <thead>
  	<tr>
  		<th><%= t("name") %></th>
  		<th><%= t("path") %></th>
  		<th></th>
  	</tr>
  </thead>
  <tbody>
    <% taxons.each do |taxon| %>
      <tr id="<%= dom_id(taxon, :sel)%>">
        <td><%= taxon.name %></td>
        <td><%= taxon_path taxon %></td>
  	    <td class="actions">
          <%= image_tag "spinner.gif", :style => "display:none", :id => "#{dom_id(taxon, :rem_spinner)}" %>		                         
		      <%= link_to_remote icon('delete') + ' ' + t('remove'), 
		                         {:url => remove_admin_product_taxon_url(@product, taxon),
		                         :loading => "jQuery('##{dom_id(taxon, :rem_spinner)}').show()",
		                         :update => 'selected-taxons',
		                         :complete => "jQuery('##{dom_id(taxon, :sel)}').remove(); jQuery('##{dom_id(taxon, :rem_spinner)}').hide();"}, :class => 'iconlink' %>
  	    </td>        
      </tr>
    <% end %>
    <% if taxons.empty? %>
     <tr><td colspan="3"><%= t('none') %>.</td></tr>
    <% end %>
  </tbody>
</table>
