<table class="basic-table">
  <thead>
  	<tr>
  		<th><%= t("Name") %></th>
  		<th><%= t("Path") %></th>
  		<th><%= t("Action") %></th>
  	</tr>
  </thead>
  <tbody>
    <% taxons.each do |taxon| %>
      <tr>
        <td valign="top"><%= taxon.name %></td>
        <td valign="top"><%= taxon_path taxon %></td>
  	    <td valign="top"><%= link_to "Remove", remove_admin_product_taxon_url(@product, taxon) %></td>        
      </tr>
    <% end %>
    <% if taxons.empty? %>
     <tr><td colspan="3">None.</td></tr>
    <% end %>
  </tbody>
</table>
