<script type="text/javascript">
  function displayRow(){
    var row = document.getElementById("captionRow");
    if (row.style.display == '') row.style.display = 'none';
    else row.style.display = '';
  }
</script>
<h4><%= t('Available Taxons') %></h4>
<table class="basic-table">
	<thead>
		<tr>
			<th><%= t("Name") %></th>
			<th><%= t("Path") %></th>
			<th><%= t("Action") %></th>
		</tr>
	</thead>
	<tbody>
    <% @available_taxons.each do |taxon| %>
      <tr id="<%= dom_id(taxon) %>">
        <td valign="top"><%= taxon.name %></td>
        <td valign="top"><%= taxon_path taxon %></td>
		    <td valign="top">
		      <%= link_to_remote t('Select'), 
		                         :url => select_admin_product_taxon_path(@product, taxon),
		                         :loading => "Element.show(#{dom_id(taxon, :spinner)})",
		                         :update => 'selected-taxons',
		                         :complete => "$('#{dom_id(taxon)}').remove(); Element.hide(#{dom_id(taxon, :spinner)});" %>
          <%= image_tag "spinner.gif", :style => "display:none", :id => "#{dom_id(taxon, :spinner)}" %>		    
		    </td>        
      </tr>
    <% end %>
    <% if @available_taxons.empty? %>
     <tr><td colspan="3"><%= t('No match found') %>.</td></tr>
    <% end %>
  </tbody>
</table>
