<%= render :partial => 'shared/product_sub_menu' %>
<h1><%= t("Taxons") %></h1>
<table class="basic-table">
	<thead>
		<tr>
			<th><%= t("Name") %></th>
			<th><%= t("Display") %></th>
			<th><%= t("Action") %></th>
		</tr>
	</thead>
	<tbody>
    <% @taxons.each do |taxon| %>
      <tr>
        <td valign="top"><%= taxon.name %></td>
        <td valign="top"><%= taxon.presentation %></td>
		    <td valign="top">
		      <%= link_to_edit(taxon) %>
		      &nbsp;
		      <%= link_to_delete(taxon) %>
		    </td>        
      </tr>
    <% end %>
  </tbody>
</table>

<div id="taxons">
  
</div>
<%= image_tag "spinner.gif", :plugin=>"spree", :style => "display:none", :id => 'busy_indicator' %>
<br/>
