<h1><%=t("New Taxon")%></h1>

<%= error_messages_for :taxon %>

<% form_for(:taxon, :url => admin_taxonomy_taxons_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
	<%= hidden_field_tag 'taxon[parent_id]', params[:parent_id] %>
  <p>
    <%= submit_tag t("Create") %>
  </p>
<% end %>