<%= render :partial => 'shared/product_sub_menu' %>
<div id="selected-taxons">
  <h1><%= t("Taxons")%></h1>
  <%= render :partial => 'shared/product_tabs', :locals => {:current => "Taxons"} %>
  <table class="basic-table">
  	<thead>
  		<tr>
  			<th><%= t("Display") %></th>
  			<th><%= t("Path") %></th>
  			<th><%= t("Action") %></th>
  		</tr>
  	</thead>
  	<tbody>
      <% @taxons.each do |taxon| %>
        <tr>
          <td valign="top"><%= taxon.display %></td>
          <td valign="top"><%= taxon_path taxon %></td>
  		    <td valign="top"><%= link_to "Remove", remove_admin_product_taxon_url(@product, taxon) %>

  		    </td>        
        </tr>
      <% end %>
      <% if @taxons.empty? %>
       <tr><td colspan="3">None.</td></tr>
      <% end %>
    </tbody>
  </table>
  <%= image_tag "spinner.gif", :style => "display:none", :id => 'busy_indicator' %>
</div>