<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => "Taxons"} %>
<div id="selected-taxons">
  <%= render :partial => "taxon_table", :locals => {:taxons => @taxons} %>
</div>


<% form_tag('#') do %>
  <label><%= t('search') %>:</label>
  <input id="searchtext" size="25">
<% end %>

<div id="searching" style="display:none">
  Searching &nbsp; <%= image_tag "spinner.gif" %>  
</div>
<%= observe_field(:searchtext,
                  :frequency => 0.75,
                  :update => :search_hits,
                  :loading => "Element.show('searching')",
                  :complete => "Element.hide('searching')",
                  :url => available_admin_product_taxons_url(@product),
                  :with => "'q=' + value") %>  
<br/>                 
<div id="search_hits"></div>
