<%= render :partial => 'shared/product_sub_menu' %>
<div id="selected-taxons">
  <h1><%= t("Taxons")%></h1>
  <%= render :partial => 'shared/product_tabs', :locals => {:current => "Taxons"} %>
  <table class="basic-table">
  	<thead>
  		<tr>
  			<th><%= t("Name") %></th>
  			<th><%= t("Path") %></th>
  			<th><%= t("Action") %></th>
  		</tr>
  	</thead>
  	<tbody>
      <% @taxons.each do |taxon| %>
        <tr>
          <td valign="top"><%= taxon.name %></td>
          <td valign="top"><%= taxon_path taxon %></td>
  		    <td valign="top"><%= link_to "Remove", remove_admin_product_taxon_url(@product, taxon) %>

  		    </td>        
        </tr>
      <% end %>
      <% if @taxons.empty? %>
       <tr><td colspan="3">None.</td></tr>
      <% end %>
    </tbody>
  </table>
  <table>
    <tr>
      <td><b><%= t('Search') %>:</b></td>
      <td><input id="searchtext" size="25"></td>
    </tr>
  </table>
</div>
<%= image_tag "spinner.gif", :style => "display:none", :id => 'spinner' %>
<%= observe_field(:searchtext,
                  :frequency => 0.75,
                  :update => :search_hits,
                  :loading => "Element.show('spinner')",
                  :complete => "Element.hide('spinner')",
                  :url => available_admin_product_taxons_url(@product),
                  :with => "'q=' + value") %>  
<br/>                 
<div id="search_hits"></div>
