<%= content_for(:page_title) do %>
<%= Spree.t(:checkout) %> <%= Spree.t(:settings) %>
<% end %>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title"><%= Spree.t(:settings) %></h5>
  </div>

  <div class="card-body">
    <%= f.spree_check_box :preferred_guest_checkout, label: Spree.t('admin.checkout_settings.guest_checkout.label'), help: Spree.t('admin.checkout_settings.guest_checkout.description') %>
    <%= f.spree_check_box :preferred_company_field_enabled, label: Spree.t('admin.store_form.company_field.label'), help: Spree.t('admin.store_form.company_field.description') %>
    <%= f.spree_check_box :preferred_special_instructions_enabled, label: Spree.t('admin.checkout_settings.special_instructions.label'), help: Spree.t('admin.checkout_settings.special_instructions.description') %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title"><%= Spree.t(:checkout_message) %></h5>
  </div>

  <div class="card-body">
    <%= f.spree_rich_text_area :checkout_message, label: false, help: Spree.t('admin.checkout_settings.checkout_message_description') %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title"><%= Spree.t('admin.checkout_settings.checkout_links.label') %></h5>
  </div>

  <div class="card-body">
    <div class="alert alert-info">
      <div>
        <%= Spree.t('admin.checkout_settings.checkout_links.description') %>
      </div>
    </div>
    <div>
      <% if @store.links.any? %>
        <ul class="list-group mb-3"
            data-controller="sortable"
            data-sortable-handle-value=".handle"
            data-sortable-resource-name-value="page_link"
            data-sortable-response-kind-value="turbo-stream">
          <% @store.links.each do |link| %>
            <li class="list-group-item p-0"
                data-sortable-update-url="<%= spree.admin_page_link_path(link, sorting_only: true, format: :turbo_stream) %>"
            >
              <%= turbo_frame_tag spree_dom_id(link), class: 'd-flex align-items-center w-100 py-2 px-3' do %>
                <%= link_to link.label, spree.edit_admin_page_link_path(link), class: 'd-block text-dark flex-fill' %>
                <button class="btn btn-sm pr-0 handle hover-light h-100 px-1">
                  <%= icon 'grip-vertical', class: 'mr-0' %>
                </button>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-muted text-center p-5">
          <%= Spree.t(:no_resource_found, resource: Spree::PageLink.model_name.human) %>
        </p>
      <% end %>

      <%= link_to_with_icon 'plus', Spree.t(:add_link), spree.admin_page_link_path(@store), class: 'btn btn-primary w-100', data: { turbo_method: :post } %>
    </div>
  </div>
</div>
