<%= content_for(:page_title) do %>
  <%= Spree.t(:policies) %>
<% end %>

<div class="alert alert-info">
  Policies will be automatically added to footer of your store and will be available to customers during checkout.
</div>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title"><%= Spree.t(:terms_of_service) %></h5>
  </div>
  <div class="card-body">
    <p class="text-muted">
      Customers will need to accept these terms of service during signup.
    </p>
    <%= f.spree_rich_text_area :customer_terms_of_service, label: Spree.t(:terms_of_service) %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title"><%= Spree.t(:privacy_policy) %></h5>
  </div>
  <div class="card-body">
    <p class="text-muted">
      Customers will need to accept these privacy policy during signup.
    </p>
    <%= f.spree_rich_text_area :customer_privacy_policy, label: Spree.t(:privacy_policy) %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title"><%= Spree.t(:returns_policy) %></h5>
  </div>
  <div class="card-body">
    <p class="text-muted">
      Please provide your customers with a clear and transparent returns policy.
    </p>
    <%= f.spree_rich_text_area :customer_returns_policy, label: Spree.t(:returns_policy) %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title"><%= Spree.t(:shipping_policy) %></h5>
  </div>
  <div class="card-body">
    <p class="text-muted">
      Please provide your customers with a clear and transparent shipping policy.
    </p>
    <%= f.spree_rich_text_area :customer_shipping_policy, label: Spree.t(:shipping_policy) %>
  </div>
</div>

<% if current_store.respond_to?(:partners_terms_of_service) %>
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="card-title">Vendors <%= Spree.t(:terms_of_service) %></h5>
    </div>
    <div class="card-body">
      <p class="text-muted">
        Vendors you invite will need to accept these terms of service during their onboarding process.
      </p>
      <%= f.spree_rich_text_area :partners_terms_of_service, label: Spree.t(:terms_of_service) %>
    </div>
  </div>
<% end %>
