<%= content_for(:page_title) do %>
  <%= Spree.t(:policies) %>
<% end %>

<%= content_for :page_alerts do %>
  <div class="alert alert-info mb-3">
    <%= Spree.t(:policies_info) %>
  </div>
<% end %>

<div class="card-lg p-4">
  <h5 class="mb-3"><%= Spree.t(:terms_of_service) %></h5>
  <div class="row">
    <div class="col-lg-4">
      <p class="text-muted">
        <%= Spree.t(:terms_of_service_help) %>
      </p>
    </div>
    <div class="col-lg-7 offset-lg-1">
      <div class="trix-container">
        <%= f.rich_text_area :customer_terms_of_service, class: 'overflow-auto', style: 'height: 300px' %>
      </div>
    </div>
  </div>
  <hr class="my-5" />
  <h5 class="mb-3"><%= Spree.t(:privacy_policy) %></h5>
  <div class="row">
    <div class="col-lg-4">
      <p class="text-muted">
        <%= Spree.t(:privacy_policy_help) %>
      </p>
    </div>
    <div class="col-lg-7 offset-lg-1">
      <div class="trix-container">
        <%= f.rich_text_area :customer_privacy_policy, class: 'overflow-auto', style: 'height: 300px' %>
      </div>
    </div>
  </div>

  <hr class="my-5" />
  <h5 class="mb-3"><%= Spree.t(:returns_policy) %></h5>
  <div class="row">
    <div class="col-lg-4">
      <p class="text-muted">
        <%= Spree.t(:returns_policy_help) %>
      </p>
    </div>
    <div class="col-lg-7 offset-lg-1">
      <div class="trix-container">
        <%= f.rich_text_area :customer_returns_policy, class: 'overflow-auto', style: 'height: 300px' %>
      </div>
    </div>
  </div>
  <hr class="my-5" />
  <h5 class="mb-3"><%= Spree.t(:shipping_policy) %></h5>
  <div class="row">
    <div class="col-lg-4">
      <p class="text-muted">
        <%= Spree.t(:shipping_policy_help) %>
      </p>
    </div>
    <div class="col-lg-7 offset-lg-1">
      <div class="trix-container">
        <%= f.rich_text_area :customer_shipping_policy, class: 'overflow-auto', style: 'height: 300px' %>
      </div>
    </div>
  </div>

  <% if current_store.respond_to?(:partners_terms_of_service) %>
    <hr class="my-5">
    <h5 class="mb-3"><%= Spree.t(:vendors_terms_of_service) %></h5>
    <div class="row" id="partners-terms">
      <div class="col-lg-4">
        <p class="text-muted">
          <%= Spree.t(:vendors_terms_of_service_help) %>
        </p>
      </div>
      <div class="col-lg-7 offset-lg-1">
        <div class="trix-container">
          <%= f.rich_text_area :partners_terms_of_service, class: 'overflow-auto', style: 'height: 300px' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
