<% content_for :page_title do %>
<%= Guides.meta["title"] %>: Credits
<% end %>

<% content_for :header_section do %>
<h2>Credits</h2>

<p>We'd like to thank the following people for their valuable contributions to the documentation.</p>
<% end %>

<h3 class="section"><%= Guides.meta["team_name"] %></h3>

<% Guides.meta["authors"].each do |group, authors| %>
  <h3 class="section"><%= group %></h3>
  <% authors.each do |author| %>
    <%= author(author["name"], author["nick"]) do %>
      <%= author["description"].html_safe %>
    <% end %>
  <% end %>
<% end %>
