<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= "#{yield(:page_title)} | Open Source Guides" || 'Spree guides' %></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
    <script type='text/javascript' src='http://use.typekit.com/yem0gjc.js'></script>
    <script type='text/javascript'>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="stylesheets/syntaxhighlighter/shCore.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/syntaxhighlighter/shThemeRailsGuides.css" />
    <link rel='stylesheet' type='text/css' href='stylesheets/overrides.style.css' />
    <link rel='stylesheet' type='text/css' href='stylesheets/guides.css' />
  </head>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <% if @edge %>
      <div>
        <img src="images/edge_badge.png" alt="edge-badge" id="edge-badge" />
      </div>
    <% end %>
    <div class='tool'>
      <div class='tool-inner'>
        <div class='inner'>
          <div class='logo'>
            <a href='http://spreecommerce.com'><img src='images/logo.png' /></a>
          </div>
          <div class='tool-nav'>
            <ul>
            <li><a href='http://spreecommerce.com/products'%>Products</a></li>
              <li><a href='http://spreecommerce.com/tour'>Tour</a></li>
              <li><a href='http://spreecommerce.com/resources'>Resources</a></li>
              <li><a href='http://guides.spreecommerce.com'>Docs</a></li>
              <li class='sub'><a href='http://spreecommerce.com/community'>Community</a></li>
              <li class='sub'><a href='http://spreecommerce.com/blog'>Blog</a></li>
              <li class='sub'><a href='http://spreecommerce.com/demo'>Demo</a></li>
              <li class='sub'><a href='http://spreecommerce.com/users/sign_in'>Login</a></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class='clear'></div>

  <div class='splash'>
    <div class='splash-inner secondary'>
      <div class='inner'>
        <h1>Spree Guides</h1>
        <a href="#" id="guidesMenu" class="button green">
          Guides Index
          <span id="guidesArrow">&#9656;</span>
        </a>
        <br/>
        <div id="guides" class="clearfix" style="display: none;">
          <%= clickable_index %>
        </div>
      </div>
    </div>
  </div>
  <div class='clear'></div>
  <div class='docs'>
    <div class='middle-inner'>
      <div class='inner'>
        <div class='main'>
          <div class='main-inner'>
            <div id='header-section'><%= yield :header_section %></div>
            <%= yield %>
          </div>
        </div>
        <div class="sidebar">
          <div class="sidebar-inner">
            <div class="spot">
              <div class="spot-inner" id="chapter-listing">
                <%= yield :index_section %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class='clear'></div>
    <div class='footer'>
      <div class='footer-inner'>
        <div class='inner'>
          These guides are maintained by our volunteer community.  Please read the <%=link_to 'Contribution Guide', 'contributing_to_spree.html'%> for more information on how you can contribute to the documentation or any other aspect of Spree.
        </div>
        <div class='clear'></div>
      </div>
    </div>
    <div class='clear'></div>
    <div class='footnote'>
      <div class='footnote-inner'>
        <div class='inner'>
          <div class='logosmall'></div>
          <p>This project is maintained by a core team of developers and is freely available for commercial use under the terms of the New BSD License.</p>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="javascripts/guides.js"></script>
    <script type='text/javascript' src='javascripts/application.js'></script>
    <script type="text/javascript" src="javascripts/syntaxhighlighter/shCore.js"></script>
    <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushRuby.js"></script>
    <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushJScript.js"></script>
    <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushCss.js"></script>
    <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushXml.js"></script>
    <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushSql.js"></script>
    <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushPlain.js"></script>
    <script type="text/javascript">
      SyntaxHighlighter.all()
    </script>

    <% if @ga %>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3914566-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    <% end %>

  </body>
</html>
