<% @show_popup = false %>
<% content_for :header_section do %>
  <h2>Spree Guides</h2>
  <p>
    These guides are designed to make you immediately productive with Spree, and to help you understand how all of the pieces fit together. They are written by the authors of Spree as well as members of the Spree community.
  </p>
  <ul>
    <li>
      <%= link_to "Current Release", "http://guides.spreecommerce.com" %> - based on the last stable release of Spree
    </li>
    <li>
      <%= link_to "Edge Version", "http://edgeguides.spreecommerce.com" %> - for unreleased code in current Spree <%= link_to "master branch", "https://github.com/spree/spree/tree/master" %>
    </li>
    <li>
      <%= link_to "Legacy Guides", "http://guides.spreecommerce.com/legacy" %> - for legacy versions of Spree
    </li>
  </ul>
<% end %>

<% content_for :sidebar_classes do %>spreeconf banner<% end %>

<% content_for :index_section do %>
  <div class="box-inner">
    <h3>Register Now for SpreeConf 2013</h3>

    <div class="illo">
      <img src="images/spreeconf-badge.jpg">
    </div>
    <br>
    <p class="copy">
     SpreeConf 2013 will be held in Washington, DC on May 20-21. Come join the Spree core team and your fellow community members for two full days of training and talks dedicated to the world's most flexible e-commerce platform.
   </p>
   <br>
  <div class="learn">
    <a class="button-link" href="http://spreeconf.com" target="_blank">Learn More</a>
  </div>
  </div>
<% end %>

<%= render "full_index", :guides => all_guides %>
