<% @show_popup = false %>
<% content_for :header_section do %>
  <h2>Spree Guides</h2>
  <p>
    These guides are designed to make you immediately productive with Spree, and to help you understand how all of the pieces fit together. They are written by the authors of Spree as well as members of the Spree community.
  </p>
  <ul>
    <li>
      <%= link_to "Current Release", "http://guides.spreecommerce.com" %> - based on the last stable release of Spree
    </li>
    <li>
      <%= link_to "Edge Version", "http://edgeguides.spreecommerce.com" %> - for unreleased code in current Spree <%= link_to "master branch", "https://github.com/spree/spree/tree/master" %>
    </li>
    <li>
      <%= link_to "Legacy Guides", "http://guides.spreecommerce.com/legacy" %> - for legacy versions of Spree
    </li>
  </ul>
<% end %>

<% content_for :sidebar_classes do %>spreeconf banner<% end %>

<% content_for :index_section do %>
  <a href="http://spreeconf.com" target="_blank"><img src="images/spreeconf-banner.jpg" alt=""></a>
<% end %>

<%= render "full_index", :guides => all_guides %>
