<div data-hook="admin_cms_section_form_fields">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0"><%= Spree.t('admin.cms_section.settings') %></h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <%= f.field_container :name, class: ['form-group'] do %>
                <%= f.label :name, raw(Spree.t(:name) + required_span_tag) %>
                <%= f.text_field :name, class: 'form-control', required: true %>
                <%= f.error_message_on :name %>
              <% end %>
            </div>
            <div class="col-6">
            <%= f.field_container :kind, class: ['form-group'] do %>
              <%= f.label :kind, Spree.t('admin.navigation.section_type') %>
              <%= f.select(:kind, @cms_section_types, {include_blank: false}, class: 'select2') %>
              <%= f.error_message_on :kind %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @cms_section.kind.present? %>
<div class="row">
  <div class="col-12">
    <%= render "spree/admin/cms_sections/types/#{@cms_section.kind.parameterize(separator: '_')}", f: f %>
  </div>
</div>
<% end %>
