<div data-hook="admin_cms_section_form_fields">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0"><%= Spree.t('admin.cms_section.settings') %></h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6">
              <%= f.field_container :name, class: ['form-group'] do %>
                <%= f.label :name, raw(Spree.t(:name) + required_span_tag) %>
                <%= f.text_field :name, class: 'form-control', required: true %>
                <%= f.error_message_on :name %>
              <% end %>
            </div>
            <div class="col-12 col-md-6">
              <%= f.field_container :type, class: ['form-group'] do %>
                <%= f.label :type, Spree.t('admin.navigation.section_type') %>
                <%= f.select(:type, @cms_section_types, {include_blank: false}) %>
                <%= f.error_message_on :type %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="alertToClickUpdate" class="d-none">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-warning mt-3">
          <% if %w[new create].include? controller.action_name %>
            <%= raw Spree.t('admin.cms.click_create_to_load_new_link') %>
          <% else %>
            <%= raw Spree.t('admin.cms.click_update_to_load_new_link') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @cms_section.type.present? %>
    <div id="CmsSectionKind"
         data-hook="admin_cms_section_form_fields"
         data-panel-type="<%= @cms_section.type %>">
      <div class="row">
        <div class="col-12">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="mb-0"><%#= Spree.t('admin.cms.settings_for', section_type: @cms_section.type) %></h5>
            </div>
            <div class="card-body">
              <% if @cms_section.type.present? %>
              <div class="row">
                <div class="col-12">
                  <%= render "spree/admin/cms_sections/types/#{@cms_section.type.parameterize(separator: '_')}", f: f %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
