<div data-hook="admin_payment_form_fields" class="row">
  <div class="alpha three columns">
    <div class="field">
      <%= f.label :amount, Spree.t(:amount) %>
      <%= f.text_field :amount, :value => @order.outstanding_balance, :class => 'fullwidth' %>
    </div>
  </div>
  <div class="omega nine columns">
    <div class="field">
      <label><%= Spree.t(:payment_method) %></label>
      <ul>
        <% @payment_methods.each do |method| %>
          <li>
            <label data-hook="payment_method_field">
              <%= radio_button_tag 'payment[payment_method_id]', method.id, method == @payment_method %>
              <%= Spree.t(method.name, :scope => :payment_methods, :default => method.name) %>
            </label>
          </li>
        <% end %>
      </ul>
      <div class="payment-method-settings">
        <% @payment_methods.each do |method| %>
          <% if method.source_required? %>
            <%= render :partial => "spree/admin/payments/source_forms/#{method.method_type}", :locals => { :payment_method => method } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
