<table class="table table-condensed table-bordered" id='payments' data-order-id='<%= @order.number %>'>
  <thead>
    <tr data-hook="payments_header">
      <th><%= Spree.t(:identifier) %></th>
      <th><%= "#{Spree.t('date')}/#{Spree.t('time')}" %></th>
      <th><%= Spree.t(:amount) %></th>
      <th><%= Spree.t(:payment_method) %></th>
      <th><%= Spree.t(:transaction_id) %></th>
      <th><%= Spree.t(:payment_state) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% payments.each do |payment| %>
      <tr id="<%= dom_id(payment) %>" data-hook="payments_row">
        <td><%= link_to payment.identifier, spree.admin_order_payment_path(@order, payment) %></td>
        <td><%= pretty_time(payment.created_at) %></td>
        <td class="amount"><%= payment.display_amount.to_html %></td>
        <td><%= payment_method_name(payment) %></td>
        <td><%= payment.transaction_id %></td>
        <td>
          <span class="label label-<%= payment.state %>">
            <%= Spree.t(payment.state, :scope => :payment_states, :default => payment.state.capitalize) %>
          </span>
        </td>
        <td class="actions actions-2">
          <% payment.actions.each do |action| %>
            <% if action == 'credit' %>
              <%= link_to_with_icon 'refund', Spree.t(:refund), new_admin_order_payment_refund_path(@order, payment), no_text: true, :class => "btn btn-default btn-sm" %>
            <% else %>
              <%= link_to_with_icon action, Spree.t(action), fire_admin_order_payment_path(@order, payment, :e => action), :method => :put, :no_text => true, :data => {:action => action}, class: "btn btn-default btn-sm" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
