<table class="index" id='payments' data-order-id='<%= @order.number %>'>
  <thead>
    <tr data-hook="refunds_header">
      <th><%= "#{Spree.t('date')}/#{Spree.t('time')}" %></th>
      <th><%= Spree.t(:payment_identifier) %></th>
      <th><%= Spree.t(:amount) %></th>
      <th><%= Spree.t(:payment_method) %></th>
    </tr>
  </thead>
  <tbody>
    <% refunds.each do |refund| %>
      <tr id="<%= dom_id(refund) %>" data-hook="refunds_row" class="<%= cycle('odd', 'even', name: 'refund_table_cycle')%>">
        <td><%= pretty_time(refund.created_at) %></td>
        <td><%= refund.payment.identifier %></td>
        <td class="align-center amount"><%= refund.display_amount %></td>
        <td class="align-center"><%= payment_method_name(refund.payment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
