<div class="panel panel-default" id="payment" data-hook>
  <div class="panel-heading">
    <h3 class="panel-title"><%= Spree.t(:payment_information) %></h3>
  </div>
  <div class="panel-body" data-hook="checkout_payment_step">
    <ul class="list-group">
      <% @order.available_payment_methods.each do |method| %>
      <li class="list-group-item">
        <label>
          <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first %>
          <%= Spree.t(method.name, :scope => :payment_methods, :default => method.name) %>
        </label>
      </li>
      <% end %>
    </ul>

    <ul class="nav" id="payment-methods" data-hook>
      <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
            <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
        </li>
      <% end %>
    </ul>

    <p class='field' data-hook='coupon_code'>
      <%= form.label :coupon_code %><br />
      <%= form.text_field :coupon_code, :class => 'form-control' %>
    </p>
  </div>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'btn btn-lg btn-success' %>
  <script>Spree.disableSaveOnClick();</script>
</div>
