<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to t(:new_shipping_category), new_object_url, :icon => 'add' %>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t(:shipping_categories) %></h1>
<table class="index">
  <thead>
    <tr data-hook="categories_header">
      <th><%= t(:name) %></th>
      <th><%= t(:action) %></th>
    </tr>
  </thead>
  <tbody>
    <% @shipping_categories.each do |shipping_category|%>
    <tr id="<%= spree_dom_id shipping_category %>" data-hook="category_row">
      <td style="width:350px;"><%= shipping_category.name %></td>
      <td>
        <%= link_to_edit shipping_category %> &nbsp;
        <%= link_to_delete shipping_category %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
