<h1><%= t(:new_shipping_category) %></h1>

<%= render 'shared/error_messages', :target => @shipping_category %>

<%= form_for [:admin, @shipping_category] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/new_resource_links' %>
<% end %>
