<fieldset id='shipping_method'>
  <legend><%= t("shipping_method") %></legend>
  <%= checkout_form.fields_for :ship_address do |ship_address_form| %>
    <div class="inner">
      <div id="methods">

        <p class="field radios">
          <% if @available_methods.empty? %>
            <%= t("no_shipping_methods_available") %>
          <% else %>
            <% @available_methods.each do |shipping_method| %>
              <label>
                <%= radio_button(:checkout, :shipping_method_id, shipping_method[:id]) %>
                <%= shipping_method[:name] %> <%= number_to_currency shipping_method[:cost] %>
              </label><br />
            <% end %>
          <% end %>
        </p>

      </div>
      <% if Spree::Config[:shipping_instructions] %>
        <p id="minstrs">
          <%= checkout_form.label :special_instructions, t("shipping_instructions") %><br />
          <%= checkout_form.text_area :special_instructions, :cols => 40, :rows => 7 -%>
        </p>
      <% end %>
    </div>
  <% end %>
</fieldset>

<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>"/>
</div>
