<h3><%= t(:order_summary) %></h3>
<table>
  <tbody>
    <tr>
      <td><strong><%= t('item_total') %>:</strong></td>
      <td><strong><%= number_to_currency @checkout.order.item_total %></strong></td>
    </tr>
    <tbody id="summary-order-charges">
      <% @checkout.order.charges.each do |charge| %>
        <tr>
          <td><%= charge.description %>: </td>
          <td><%= number_to_currency charge.amount -%></td>
        </tr>
      <% end %>
    </tbody>
    <tbody id="summary-order-credits">
      <% @checkout.order.credits.each do |credit| %>
        <tr>
          <td><%= credit.description %>: </td>
          <td>(<%= number_to_currency credit.amount %>)</td>
        </tr>
      <% end %>
    </tbody>
    <tr>
      <td><strong><%= t('order_total') %>:</strong></td>
      <td><strong><span id='summary-order-total'><%= number_to_currency @checkout.order.total %></span></strong></td>
    </tr>
  </tbody>
</table>
<% unless @prev_state.blank? %>
  <%= form_for @checkout, :url => object_url, :html => { :id => 'checkout-summary-form'} do |summary_form| %>
    <label><%= t(:coupon_code) %></label>
    <%= summary_form.text_field :coupon_code, :id => 'coupon-code', :size => 14 %>
    <input id="post-summary" type="submit" value="<%=t("apply") %>"/>
    <input type="hidden" name="step" value="<%= @prev_state %>"/>
    <%= image_tag "spinner.gif", :plugin=>"spree", :style => "display:none", :id => 'coupon_busy_indicator' %>
  <% end -%>
<% end -%>
<div id="coupon-error"></div>
