<%= render 'spree/shared/purchased_items_styles' %>

<%= render layout: 'spree/shared/mailer_hero' do %>
  <h1><%= Spree.t('order_mailer.cancel_email.subject') %></h1>
  <p class="greeting"><%= Spree.t('order_mailer.cancel_email.dear_customer', name: name_for(@order)) %></p>
  <p><%= Spree.t('order_mailer.cancel_email.instructions') %></p>
<% end %>

<%= render 'spree/shared/order_summary_section',
           heading: Spree.t('order_mailer.cancel_email.order_summary_canceled', number: @order.number),
           line_items: @order.line_items,
           order: @order %>
