<div class="checkout-confirm" id="order_details" data-hook>
  <p class="checkout-content-header">
    <%= Spree.t(:summary).upcase %>
  </p>
  <div class='checkout-confirm-order-details d-flex flex-column flex-lg-wrap' id="order_summary" data-hook>
    <%= render partial: 'spree/checkout/delivery_informations', locals: { class_name: 'd-none d-lg-block' } %>
    <div class="checkout-confirm-order-details-line-items d-flex flex-column align-items-center w-100">
      <div class="checkout-confirm-order-details-line-items-header d-none d-sm-block d-lg-none align-self-start mb-3">
        <%= Spree.t(:products) %>
      </div>
      <div class="d-table w-100">
        <div class="d-none d-lg-table-row text-secondary text-uppercase">
          <p class="d-table-cell pb-1">
            <%= Spree.t(:product) %>
          </p>
          <p class="d-table-cell pb-1">
            <%= Spree.t(:price) %>
          </p>
          <p class="d-table-cell pb-1">
            <%= Spree.t(:quantity) %>
          </p>
          <p class="d-table-cell pb-1">
            <%= Spree.t(:total) %>
          </p>
        </div>
        <%= render partial: 'spree/shared/line_item', collection: @order.line_items, cached: true %>
      </div>
    </div>
    <%= render partial: 'spree/checkout/delivery_informations', locals: { class_name: 'd-lg-none' } %>
    <div id="checkout-summary" class="w-100" data-hook="checkout_summary_box">
      <%= render partial: 'spree/checkout/summary', locals: { order: @order } %>
      <div data-hook="buttons">
        <% submit_label_key = @order.confirm? ? :place_order : :save_and_continue %>
        <%= submit_tag Spree.t(submit_label_key), class: 'btn btn-primary text-uppercase font-weight-bold w-100 checkout-content-save-continue-button' %>
      </div>
    </div>
  </div>
</div>
