<div class="checkout-confirm" id="order_details" data-hook>
  <p class="checkout-content-header">
    <%= Spree.t(:summary).upcase %>
  </p>
  <div class='checkout-confirm-order-details d-flex flex-column flex-lg-wrap' id="order_summary" data-hook>
    <div class="checkout-confirm-order-details-line-items d-flex flex-column align-items-center w-100 order-0 order-lg-1">
      <div class="checkout-confirm-order-details-line-items-header d-none d-sm-block d-lg-none align-self-start mb-3">
        <%= Spree.t(:products) %>
      </div>
      <div class="d-table w-100">
        <div class="d-none d-lg-table-row text-secondary text-uppercase">
          <p class="d-table-cell pb-1">
            <%= Spree.t(:product) %>
          </p>
          <p class="d-table-cell pb-1">
            <%= Spree.t(:price) %>
          </p>
          <p class="d-table-cell pb-1">
            <%= Spree.t(:quantity) %>
          </p>
          <p class="d-table-cell pb-1">
            <%= Spree.t(:total) %>
          </p>
        </div>
        <%= render partial: 'spree/shared/line_item', collection: @order.line_items, cached: true %>
      </div>
    </div>
    <div class="checkout-confirm-delivery-informations text-left mt-3 order-1 order-lg-0">
      <div class="d-lg-none checkout-confirm-delivery-informations-header">
        <%= Spree.t(:delivery_information) %>
      </div>
      <dl>
        <div>
          <dt class="text-uppercase">
            <%= Spree.t(:shipping_address) %>
            <%= checkout_edit_link %>
          </dt>
          <dd><%= sanitize @order.ship_address.to_s, tags: %w[br] %></dd>
        </div>
        <div>
          <dt class="text-uppercase">
            <%= Spree.t(:billing_address) %>
            <%= checkout_edit_link %>
          </dt>
          <dd><%= sanitize @order.bill_address.to_s, tags: %w[br] %></dd>
        </div>
        <div>
          <dt class="text-uppercase">
            <%= Spree.t(:shipping) %>
            <%= checkout_edit_link('delivery') %>
          </dt>
          <% @order.shipments.pending.each do |shipment| %>
            <dd><%= shipment.shipping_method&.name %> </dd>
          <% end %>
        </div>
        <div>
          <dt class="text-uppercase">
            <%= Spree.t(:payment) %>
            <%= checkout_edit_link('payment') %>
          </dt>
          <dd>
            <%= render collection: @order.payments.valid, partial: 'spree/shared/payment' %>
          </dd>
          <dd>
            <% if @order.using_store_credit? %>
              <%= button_tag Spree.t('store_credit.remove'), name: 'remove_store_credit', class: 'continue btn' %>
            <% end %>
          </dd>
        </div>
      </dl>
    </div>
    <div id="checkout-summary" class="w-100 order-2" data-hook="checkout_summary_box">
      <%= render partial: 'spree/checkout/summary', locals: { order: @order } %>
      <div data-hook="buttons">
        <% submit_label_key = @order.confirm? ? :place_order : :save_and_continue %>
        <%= submit_tag Spree.t(submit_label_key), class: 'btn btn-primary text-uppercase font-weight-bold w-100 checkout-content-save-continue-button' %>
      </div>
    </div>
  </div>
</div>
