<fieldset id='shipping_method' data-hook>
  <legend align="center"><%= t(:shipping_method) %></legend>
  <div class="inner" data-hook="shipping_method_inner">
    <div id="methods">
      <p class="field radios">

        <% @order.create_proposed_shipments.each_with_index do |shipment, idx| %>
        <h2>Package <%= idx + 1 %> from <%= shipment.stock_location.name %> location</h2>
          <p>contents:</p>
          <% shipment.manifest.each do |item| %>
            <%= item.variant.name %> <%= item.quantity %>
          <% end %>
          <% shipment.shipping_rates.each do |shipping_rate| %>
          <p><%= radio_button_tag "shipment_{shipment.id}", shipping_rate.id, shipping_rate.selected %><%= shipping_rate.name %> <%= shipping_rate.cost %></p>
          <% end %>
        <% end %>
      </p>
    </div>
    <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
      <p id="minstrs" data-hook>
        <%= form.label :special_instructions, t(:shipping_instructions) %><br />
        <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
      </p>
    <% end %>
  </div>
</fieldset>

<br />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag t(:save_and_continue), :class => 'continue button primary' %>
</div>
