<fieldset id='shipping_method' data-hook>
  <legend align="center"><%= t(:shipping_method) %></legend>
  <div class="inner" data-hook="shipping_method_inner">
    <div id="methods">

      <% @order.create_proposed_shipments %>

        <%= form.fields_for :shipments do |ship_form| %>
          <p>Package from <%= ship_form.object.stock_location.name %></p>

          <p>contents:</p>
          <% ship_form.object.manifest.each do |item| %>
            <%= item.variant.name %> <%= item.quantity %>
          <% end %>

          <p>shipping method</p>
          <% ship_form.object.shipping_rates.each do |rate| %>
            <p class="field radios">
              <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %> <%= rate.name %> <%= rate.cost %></p>
            </p>
          <% end %>
        <% end %>

    </div>
    <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
      <p id="minstrs" data-hook>
        <%= form.label :special_instructions, t(:shipping_instructions) %><br />
        <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
      </p>
    <% end %>
  </div>
</fieldset>

<br />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag t(:save_and_continue), :class => 'continue button primary' %>
</div>
