<fieldset id="payment" data-hook>
  <legend align="center"><%= t(:payment_information) %></legend>
  <div data-hook="checkout_payment_step">
    <% @order.available_payment_methods.each do |method| %>
    <p>
      <label>
        <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %>
        <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
      </label>
    </p>
    <% end %>

    <ul id="payment-methods" data-hook>
      <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
          <fieldset>
            <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
          </fieldset>
        </li>
      <% end %>
    </ul>
    <% unless @order.adjustments.promotion.exists? %>
      <div class="coupon-code-field" data-hook="coupon_code_field">
        <%= form.label :coupon_code %><br />
        <%= form.text_field :coupon_code, :size => 10 %>
        <%= form.submit I18n.t(:apply) %>
      </div>
    <% end %>
  </div>
</fieldset>

<br class="space" />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag t(:save_and_continue), :class => 'continue button primary' %>
  <script>disableSaveOnClick();</script>
</div>
