<%= render partial: 'spree/shared/error_messages', locals: { target: @user } %>
<div class="checkout-registration container">
  <%= render partial: 'spree/shared/login' %>
  <div class="checkout-registration-styled-or">
    OR
  </div>
  <% if Spree::Config[:allow_guest_checkout] %>
    <% path = spree.respond_to?(:update_checkout_registration_path) ? spree.update_checkout_registration_path : spree.signup_path %>

    <%= form_for @order, url: path, method: :put, html: { id: 'checkout_form_registration' } do |f| %>
      <div class="form-group">
        <%= f.label :email, Spree.t(:email), class: 'spree-flat-label' %>
        <%= f.email_field :email, class: 'spree-flat-input', value: params.dig(:spree_user, :email), tabindex: 1, autofocus: true %>
      </div>
      <%= f.submit Spree.t(:continue_as_guest), class: 'btn btn-block btn-outline-primary spree-btn', tabindex: 4 %>
    <% end %>
  <% end %>
</div>
