<h3><%= Spree.t(:order_summary) %></h3>

<table data-hook="order_summary">
  <tbody>
    <tr data-hook="item_total" colspan='2'>
      <td><strong>Line Items</strong></td>
    </tr>
    <% current_order.line_items.each do |line_item| %>
      <tr>
        <td><strong>LI</strong> <%= line_item.variant.name %></td>
        <td><%= line_item.display_amount %></td>
      </tr>
      <% line_item.adjustments.each do |adjustment| %>
        <tr>
          <td><strong>ADJ</strong> <%= adjustment.label %></td>
          <td><%= adjustment.display_amount %></td>
        </tr>
      <% end %>
    <% end %>
    <% current_order.shipments.each do |shipment| %>
      <tr>
        <td><strong>SHIP</strong> <%= shipment.shipping_method.name %></td>
        <td><%= shipment.display_amount %></td>
      </tr>
      <% shipment.adjustments.each do |adjustment| %>
        <tr>
          <td><strong>ADJ</strong> <%= adjustment.label %></td>
          <td><%= adjustment.display_amount %></td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td><strong>Order total</strong></td>
      <td><%= current_order.display_total %></td>
    </tr>
  </tbody>
</table>
