<div class="card-header">
  <h1 class="card-title mb-0 h5">
    <%= Spree.t(:rules) %>
  </h1>
</div>
<div id="rule_fields" class="card-body">

  <%= form_tag spree.admin_promotion_promotion_rules_path(@promotion), remote: true, id: 'new_product_rule_form', class: 'mb-3' do %>

    <div class="form-group">
      <%= label_tag :promotion_rule_type, Spree.t(:add_rule_of_type) %>
      <%= select_tag('promotion_rule[type]', options_for_promotion_rule_types(@promotion), class: 'select2') %>
    </div>
    <div class="form-actions">
      <%= button Spree.t(:add), 'add.svg', 'submit', class: "btn-success" %>
    </div>

  <% end %>

  <%= form_for @promotion, url: object_url, method: :put do |f| %>
    <div id="promotion-policy-select">
      <% Spree::Promotion::MATCH_POLICIES.each do |policy| %>
        <div class="radio my-2">
          <%= f.label "match_policy_#{policy}" do %>
            <%= f.radio_button :match_policy, policy %>
            <%= Spree.t "promotion_form.match_policies.#{policy}" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="rules" class="filter_list margint">
      <% if @promotion.rules.any? %>
        <%= render partial: 'promotion_rule', collection: @promotion.rules, locals: {} %>
      <% else %>
        <div class="alert alert-warning">
          <%= Spree.t(:no_rules_added) %>
        </div>
      <% end %>
    </div>

    <div class="promotion-update actions">
      <%= button Spree.t('actions.update'), 'save.svg' %>
    </div>
  <% end %>
</div>
