<% content_for :head do %>
  <script type="text/javascript">
    // Javascript to handle add new promotion code
    var addNewPromotionCode = false;
    $(document).ready(function(){
      $(".js-add-promotion-code").click(function(){
        $("tr.js-new-promotion-code").show();
        addNewPromotionCode = true;
        $(this).hide();
      });

      $(".js-cancel-add-promotion-code").click(function(){
        $("tr.js-new-promotion-code").hide();
        addNewPromotionCode = false;
        $(".js-add-promotion-code").show();
      });

      $("form.edit_promotion").submit(function(){
        if(addNewPromotionCode == false || $(".js-new-promotion-code input:first").val() == ""){
          $("tr.js-new-promotion-code").remove();
        }
      });
    });
  </script>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:add_code), 'javascript:;', class: "js-add-promotion-code btn-success", icon: 'add' %>
<% end %>

<%= render partial: 'spree/admin/shared/promotion_tabs', locals: { current: :codes } %>

<% content_for :page_title do %>
  / <%= Spree.t(:codes) %>
<% end %>

<% content_for :table_filter do %>
  <%= search_form_for [:admin, @search], url: codes_admin_promotion_path(@promotion) do |f| %>
    <%- locals = { f: f} %>
    <div data-hook="admin_shipping_method_filters" class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :value_cont, Spree.t(:value) %>
          <%= f.text_field :value_cont, size: 15, class: "form-control js-quick-search-target" %>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <%= button Spree.t(:search), 'search' %>
    </div>
  <% end %>
<% end %>

<%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @promotion_codes } %>

<%= form_for @promotion, url: object_url, method: :put do |f| %>
  <%= f.field_container :promotion_codes do %>
    <table class="table" id="promotion_codes">
      <thead>
        <tr>
          <th><%= Spree.t(:value) %></th>
          <th><%= Spree.t(:starts_at) %></th>
          <th><%= Spree.t(:expires_at) %></th>
          <th><%= Spree.t(:usage_limit) %></th>
          <th width="85"><%= Spree.t(:delete) %></th>
        </tr>
      </thead>
      <tbody>
        <% @promotion_codes.each do |promo_code| %>
          <%= f.fields_for :promotion_codes, promo_code do |pc| %>
            <tr>
              <td><%= pc.text_field :value, class: "form-control" %></td>
              <td><%= pc.text_field :starts_at, value: datepicker_field_value(promo_code.starts_at), class: 'datepicker form-control' %></td>
              <td><%= pc.text_field :expires_at, value: datepicker_field_value(promo_code.expires_at), class: 'datepicker form-control' %></td>
              <td><%= pc.number_field :usage_limit, class: "form-control" %></td>
              <td><%= pc.check_box :_destroy %></td>
            </tr>
          <% end %>
        <% end %>
        <%= f.fields_for :promotion_codes, Spree::PromotionCode.new do |pc| %>
          <tr class="js-new-promotion-code" style="display: none">
            <td><%= pc.text_field :value, class: "form-control" %></td>
            <td><%= pc.text_field :starts_at, value: datepicker_field_value(@promotion.starts_at), class: 'datepicker form-control' %></td>
            <td><%= pc.text_field :expires_at, value: datepicker_field_value(@promotion.expires_at), class: 'datepicker form-control' %></td>
            <td><%= pc.number_field :usage_limit, class: "form-control" %></td>
            <td>
              <%= link_to "Cancel", "javascript:;", class: "js-cancel-add-promotion-code btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= render partial: 'spree/admin/shared/edit_resource_links' %>
<% end %>
