<% content_for :page_title do %>
  <%= link_to Spree.t(:promotions), admin_promotions_url %> /
  <%= @promotion.name %>
<% end %>

<%= form_for @promotion, url: object_url, method: :put do |f| %>
  <div class="row">
    <div class="col-12">
      <%= render partial: 'form', locals: { f: f } %>
      <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    </div>
  </div>

<% end %>

<div id="promotion-filters" class="row">
  <div id="rules_container" class="col-12 col-md-6">
    <div class="card  ">
      <%= render partial: 'rules' %>
    </div>
  </div>

  <div id="actions_container" class="col-12 col-md-6">
    <div class="card  ">
      <%= render partial: 'actions' %>
    </div>
  </div>
</div>

<%= render partial: "spree/admin/variants/autocomplete", formats: [:js] %>
