<% content_for :page_title do %>
  <%= link_to Spree.t(:promotions), admin_promotions_url %> /
  <%= @promotion.name %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_promotions_list), admin_promotions_path, icon: 'arrow-left' %>
    <%= button_link_to Spree.t(:download_promotion_code_list), admin_promotion_promotion_codes_path(promotion_id: @promotion.id, format: :csv), icon: 'arrow-down' %>
  </li>
<% end %>

<%= form_for @promotion, url: object_url, method: :put do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'form', locals: { f: f } %>
      <%= render partial: 'spree/admin/shared/edit_resource_links' %>
    </div>
  </div>

<% end %>

<div id="promotion-filters" class="row">
  <div id="rules_container" class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <%= render partial: 'rules' %>
    </div>
  </div>

  <div id="actions_container" class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <%= render partial: 'actions' %>
    </div>
  </div>
</div>

<%= render partial: 'spree/admin/variants/autocomplete', formats: [:js] %>
