<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Promotion) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_promotion), new_object_url, class: "btn-success", icon: 'add.svg' %>
<% end if can?(:create, Spree::Promotion) %>

<% content_for :table_filter do %>
  <div data-hook="admin_promotions_index_search">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= label_tag :q_name_cont, Spree.t(:name) %>
            <%= f.text_field :name_cont, tabindex: 1, class: "form-control js-quick-search-target js-filterable" %>
          </div>

          <div class="form-group">
            <%= label_tag :q_code_cont, Spree.t(:code) %>
            <%= f.text_field :code_cont, tabindex: 1, class: "form-control js-filterable" %>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= label_tag :q_path_cont, Spree.t(:path) %>
            <%= f.text_field :path_cont, tabindex: 1, class: "form-control js-filterable" %>
          </div>

          <div class="form-group">
            <%= label_tag :q_promotion_category_id_eq, Spree.t(:promotion_category) %>
            <%= f.collection_select(:promotion_category_id_eq, @promotion_categories, :id, :name, { include_blank: Spree.t('match_choices.all') }, { class: 'select2 js-filterable' }) %>
          </div>
        </div>
      </div>

      <div data-hook="admin_promotions_index_search_buttons" class="form-actions">
        <%= button Spree.t(:filter_results), 'search.svg' %>
      </div>
    <% end %>
  </div>
<% end %>

<%= paginate @promotions, theme: 'admin-twitter-bootstrap-4' %>

<% if @promotions.any? %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:code) %></th>
        <th><%= Spree.t(:description) %></th>
        <th><%= Spree.t(:usage_limit) %></th>
        <th><%= Spree.t(:promotion_uses) %></th>
        <th><%= Spree.t(:expiration) %></th>
        <th data-hook="admin_promotions_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @promotions.each do |promotion| %>
        <tr id="<%= spree_dom_id promotion %>">
          <td><%= link_to promotion.name, edit_admin_promotion_path(promotion) %></td>
          <td><%= promotion.code %></td>
          <td><%= promotion.description %></td>
          <td><%= promotion.usage_limit.nil? ? "∞" : promotion.usage_limit %></td>
          <td><%= Spree.t(:current_promotion_usage, count: promotion.credits_count) %></td>
          <td><%= promotion.expires_at.to_date.to_s(:short_date) if promotion.expires_at %></td>
          <td class="actions" data-hook="admin_promotions_index_row_actions">
            <span class="d-flex justify-content-end">
             <%= link_to_edit promotion, no_text: true if can?(:edit, promotion) %>
             <%= link_to_clone_promotion promotion, no_text: true if can?(:clone, promotion) %>
             <%= link_to_delete promotion, no_text: true if can?(:delete, promotion) %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Promotion)) %>,
    <%= link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::Promotion) %>!
  </div>
<% end %>
