<%= render partial: 'spree/admin/shared/promotion_tabs', locals: { current: :rules } %>

<% content_for :page_title do %>
  / <%= Spree.t(:rules) %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading"><%= Spree.t(:add_rule_of_type) %></div>
  <div class="panel-body">
    <%= form_tag spree.admin_promotion_promotion_rules_path(@promotion), remote: true, id: 'new_product_rule_form' do %>
      <div class="form-group">
        <%= select_tag('promotion_rule[type]', options_for_promotion_rule_types(@promotion), class: 'select2') %>
      </div>
      <div class="form-actions">
        <%= button Spree.t(:add), 'plus', 'submit', class: 'btn-success' %>
      </div>
    <% end %>
  </div>
</div>

<%= form_for @promotion, url: object_url, method: :put do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= Spree.t(:match_policy) %></div>
    <div class="panel-body" style="padding-top: 0; padding-bottom: 0;">
      <% Spree::Promotion::MATCH_POLICIES.each do |policy| %>
        <div class="radio">
          <%= f.label "match_policy_#{policy}" do %>
            <%= f.radio_button :match_policy, policy %>
            <%= Spree.t "promotion_form.match_policies.#{policy}" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="rules" class="filter_list">
    <% if @promotion.rules.any? %>
      <%= render partial: 'promotion_rule', collection: @promotion.rules, locals: {} %>
    <% else %>
      <div class="alert alert-warning">
        <%= Spree.t(:no_rules_added) %>
      </div>
    <% end %>
  </div>

  <div class="promotion-update actions">
    <%= button Spree.t('actions.update'), 'ok' %>
  </div>
<% end %>

<%= render partial: "spree/admin/variants/autocomplete", formats: [:js] %>
