<% content_for :page_title do %>
  <%= Spree.t(:promotion) %>
  <%= @promotion.name %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:edit_promotion), spree.edit_admin_promotion_path(@promotion), :icon => 'icon-edit' %></li>
  <li>
    <%= button_link_to Spree.t(:back_to_promotions_list), admin_promotions_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<% if @promotion.orders.any? %>
  <table class="index responsive" id="listing_orders" data-hook>
    <colgroup>
       <col style="width: 10%;">
       <col style="width: 15%;">
       <col style="width: 25%;">
       <col style="width: 10%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_orders_index_headers">
        <th><%= I18n.t(:number, :scope => 'activerecord.attributes.spree/order') %></th>
        <th><%= I18n.t(:state, :scope => 'activerecord.attributes.spree/order') %></th>
        <th><%= I18n.t(:email, :scope => 'activerecord.attributes.spree/order') %></th>
        <th><%= I18n.t(:total, :scope => 'activerecord.attributes.spree/order') %></th>
      </tr>
    </thead>
    <tbody>
      <% @promotion.orders.each do |order| %>
      <tr data-hook="admin_orders_index_rows" class="state-<%= order.state.downcase %> <%= cycle('odd', 'even') %>">
        <td class="align-center"><%= link_to order.number, edit_admin_order_path(order) %></td>
        <td class="align-center"><span class="state <%= order.state.downcase %>"><%= Spree.t("order_state.#{order.state.downcase}") %></span></td>
        <td class="align-center"><%= mail_to order.email %></td>
        <td class="align-center"><%= order.display_total.to_html %></td>
      </tr>
      <% end %>
    </tbody>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/order')) %>,
  </div>
<% end %>