<%= f.fields_for :bill_address do |bill_form| %>
  <%= render :partial => 'admin/shared/address_form', :locals => {:f => bill_form, :name => t('billing_address'), :use_billing => false} %>
<% end %>
<%= f.fields_for :ship_address do |ship_form| %>
  <%= render :partial => 'admin/shared/address_form', :locals => {:f => ship_form, :name => t('shipping_address'), :use_billing => true} %>
<% end %>
<p class="form-buttons">
  <%= button t('continue') %>
</p>

<%= javascript_include_tag 'admin/checkouts/edit' %>