<fieldset id='billing'>
  <%= form.fields_for :bill_address do |bill_form| %>

    <legend><%= t("billing_address")%></legend>

    <table>
      <tr>
        <td>
          <%= bill_form.text_field :firstname %><span class="req">*</span>
          <%= bill_form.label :firstname, t(:first_name) %>
        </td>
        <td>
          <%= bill_form.text_field :lastname %><span class="req">*</span>
          <%= bill_form.label :lastname, t(:last_name) %>
        </td>
      </tr>
      
      <tr>
        <td>
          <%= bill_form.text_field :address1 %><span class="req">*</span>
          <%= bill_form.label :address1, t(:street_address) %>
        </td>
        <td>
          <%= bill_form.text_field :address2 %>
          <%= bill_form.label :address2, t(:street_address_2) %>
        </td>
      </tr>
      
      <tr>
        <td>
          <%= bill_form.text_field :city %><span class="req">*</span>
          <%= bill_form.label :city, t(:city) %>
        </td>
        <td>
          <%= bill_form.text_field :zipcode %><span class="req">*</span>
          <%= bill_form.label :zipcode, t(:zip) %>
        </td>
      </tr>
      <% if Spree::Config[:address_requires_state] %>
        <tr>
          <td>
            <span id="bstate">
              <% have_states = !@order.bill_address.country.states.empty? %>
              
              <noscript>
                <%= bill_form.text_field :state_name %>
              </noscript>
              <% state_elements = [
                 bill_form.collection_select(:state_id, @order.bill_address.country.states,
                                    :id, :name,
                                    {:include_blank => true},
                                    {:class => have_states ? "" : "hidden",
                                    :disabled => !have_states}) +
                  bill_form.text_field(:state_name,
                                    :class => !have_states ? "" : "hidden",
                                    :disabled => have_states)
                  ].join.gsub('"', "'").gsub("\n", "")
              %>
              <script type="text/javascript" language="javascript" charset="utf-8">
              // <![CDATA[
              document.write("<%= raw state_elements %>");
              // ]]>
              </script>
            </span>
            <%= bill_form.label :state, t(:state) %> <span class="req">*</span>
          </td>
        </tr>
      <% end %>
      
      <tr>
        <td>
          <span id="bcountry"><%= bill_form.collection_select :country_id, available_countries, :id, :name, {} %></span>
          <%= bill_form.label :country_id, t(:country) %>
        </td>
      </tr>
      
      <tr>
        <td>
          <%= bill_form.label :phone, t(:phone) %>
          <%= bill_form.text_field :phone %><span class="req">*</span>
        </td>
        <% if Spree::Config[:alternative_billing_phone] %>
          <td>
            <%= bill_form.label :alternative_phone, t(:alternative_phone) %>
            <%= bill_form.text_field :alternative_phone %>
          </td>
        <% end %>
      </tr>
    </table>
  <% end %>
</fieldset>
