<fieldset id='shipping_method'>
  <legend><%= t("shipping_method") %></legend>

        <% @order.rate_hash.each do |shipping_method| %>
          <label>
            <%= radio_button(:order, :shipping_method_id, shipping_method[:id]) %>
            <%= shipping_method[:name] %> <%= number_to_currency shipping_method[:cost] %>
          </label><br />
        <% end %>

    <% if Spree::Config[:shipping_instructions] && @available_methods.present? %>
      <p id="minstrs">
        <%= checkout_form.label :special_instructions, t("shipping_instructions") %><br />
        <%= checkout_form.text_area :special_instructions, :cols => 40, :rows => 7 %>
      </p>
    <% end %>

</fieldset>

<p class="form-buttons">
  <%= button t('continue') %>
</p>