<%= render :partial => 'admin/shared/order_tabs' %>

<% if @order.state == "in_progress" %>
  <div id="add-line-item">
    <fieldset>
      <legend><%= t('customer_search') %></legend>
      <%= label_tag :customer_search, t("name") %>
      <%= text_field_tag :customer_search,  {}, :class => 'fullwidth title'  %>
    </fieldset>
  </div>
<% end %>

<%= render "shared/error_messages", :target => @order %>
<%= form_for(@order, :url => admin_orders_checkout_path(@order.number)) do |f| %>
  <%= render @order.state, :f => f %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag  'checkout', '/states' %>
<% end %>
