<table class="index" data-hook="adjustments">
  <tr data-hook="adjustmment_head">
    <th><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
    <th><%= t(:description) %></th>
    <th><%= t(:amount) %></th>
    <th></th>
  </tr>
  <% @order.adjustments.each do |adjustment|
       @edit_url = edit_admin_order_adjustment_path(@order, adjustment)
       @delete_url = admin_order_adjustment_path(@order, adjustment)
  %>
    <tr id="<%= spree_dom_id(adjustment) %>" data-hook="adjustment_row">
      <td><%= adjustment.created_at.to_s(:date_time24) %></td>
      <td><%= adjustment.label %></td>
      <td><%= adjustment.display_amount %></td>
      <td class='actions'>
        <%= link_to_edit adjustment, :class => 'edit' %>
        &nbsp;
        <%= link_to_delete adjustment %>
      </td>

    </tr>
  <% end %>
</table>
