<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Adjustments' } %>

<% content_for :page_title do %>
  <i class="icon-arrow-right"></i> <%= t(:edit) %> <%= t(:adjustment) %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @adjustment } %>
<%= form_for @adjustment, :url => admin_order_adjustment_path(@order, @adjustment), :method => :put do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <div class="form-buttons" data-hook="buttons">
    <%= button t(:continue), 'icon-arrow-right' %>
    <%= t(:or) %>
    <%= link_to_with_icon 'icon-remove', t('actions.cancel'), admin_order_adjustments_url(@order), :class => 'button' %>
  </div>
<% end %>
