<% content_for :page_title do %>
  <%= page_header_back_button spree.admin_store_credit_categories_url %>
  <%= Spree.t(:new_store_credit_category) %>
<% end %>

<%= render 'spree/admin/shared/error_messages', target: @store_credit_category %>

<%= form_for [:admin, @store_credit_category] do |f| %>
  <div class="card mb-6">
    <div class="card-body">
      <%= render 'form', f: f %>
    </div>
  </div>
  <%= render 'spree/admin/shared/new_resource_links' %>
<% end %>
