<%= render :partial => 'admin/shared/product_sub_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li id="new_ot_link">
      <%= button_link_to t("new_option_type"), new_admin_option_type_url, {:remote => true, :icon => 'add'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("option_types") %></h1>

<div id="new_option_type"></div>

<table class="index">
  <tr>
    <th><%= t("name") %></th>
    <th><%= t("presentation") %></th>
    <th></th>
  </tr>
  <% @option_types.each do |option_type| %>
    <tr id="<%= dom_id option_type %>">
      <td><%= option_type.name %></td>
      <td><%= option_type.presentation %></td>
      <td class="actions">
        <%= link_to_edit(option_type) %>
        &nbsp;
        <%= link_to_delete(option_type) %>
      </td>
    </tr>
  <% end %>
</table>
