<div class="payment-gateway" data-controller="card-validation">

  <% param_prefix = "payment_source[#{payment_method.id}]" %>

  <div class="payment-gateway-fields">
    <div class="form-group mb-3">
      <label for="name_on_card" class="block text-xs text-neutral-600 mb-1"><%= Spree.t(:name_on_card) %></label>
      <%= text_field_tag "#{param_prefix}[name]", "#{@order.bill_address_firstname} #{@order.bill_address_lastname}", { id: "name_on_card", placeholder: Spree.t(:name_on_card), class: 'text-input w-full', required: true } %>
    </div>

    <div class="form-group mb-3 relative">
      <% options_hash = Rails.env.production? ? {autocomplete: 'off'} : {} %>
      <label for="card_number" class="block text-xs text-neutral-600 mb-1"><%= Spree.t(:card_number) %></label>
      <%= text_field_tag "#{param_prefix}[number]", '',
          options_hash.merge(
            id: 'card_number',
            data: { card_validation_target: "number" },
            size: 19,
            maxlength: 19,
            autocomplete: "off",
            placeholder: Spree.t(:card_number),
            class: 'text-input w-full pr-10',
            required: true
          )
      %>
      <div class="absolute right-2 top-7"
           data-card-validation-target="typeContainer"
           id="credit-card-type-container">
      </div>
    </div>

    <div class="flex gap-3">
      <div class="form-group">
        <label for="card_expiry" class="block text-xs text-neutral-600 mb-1"><%= Spree.t(:expiration_date) %></label>
        <%= text_field_tag "#{param_prefix}[expiry]", '',
            id: 'card_expiry',
            class: 'text-input',
            data: {
              card_validation_target: "expiry"
            },
            placeholder: Spree.t(:card_expiration_placeholder),
            required: true
        %>
      </div>
      <div class="form-group">
        <label for="card_code" class="block text-xs text-neutral-600 mb-1"><%= Spree.t(:cvv) %></label>
        <%= text_field_tag "#{param_prefix}[verification_value]", '',
            options_hash.merge(
              id: 'card_code',
              class: 'text-input',
              data: { card_validation_target: "cvv" },
              size: 4,
              maxlength: 4,
              pattern: '[0-9]*',
              inputmode: 'numeric',
              placeholder: Spree.t(:cvv),
              required: true
            )
        %>
      </div>
    </div>

    <%= hidden_field_tag "#{param_prefix}[cc_type]", '',
        id: "cc_type",
        data: { card_validation_target: "ccType" }
    %>

    <% credit_card_icons.each do |card| %>
      <div id="credit-card-icon-<%= card %>" class="hidden">
        <%= payment_method_icon_tag card %>
      </div>
    <% end %>
  </div>
</div>
