<div data-hook="admin_menu_form_fields" class="row">
  <div class="col-12 col-md-6">
    <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :name, raw(Spree.t(:name) + required_span_tag) %>
      <%= f.text_field :name, class: 'form-control', required: true %>
      <%= f.error_message_on :name %>
    <% end %>

    <%= f.field_container :location, class: ['form-group'] do %>
      <%= f.label :location, Spree.t('location') %>
      <%= f.select(:location, menu_locations_dropdown_values, {include_blank: false}, class: 'select2') %>
      <%= f.error_message_on :location %>
    <% end %>
  </div>
  <div class="col-12 col-md-6">
    <%= f.field_container :menu_stores, class: ['form-group'] do %>
      <%= label_tag :menu_stores, Spree.t(:stores) %>
      <%= collection_select(:menu, :store_id, @stores, :id, :unique_name, {}, { class: 'select2' }) %>
      <%= f.error_message_on :menu_stores %>
    <% end %>
    <%= f.field_container :locale, class: ['form-group'] do %>
      <%= f.label :locale %>
      <%= f.select :locale, options_from_collection_for_select(all_locales_options, :last, :first, @menu.locale || I18n.locale), {}, { class: 'select2' } %>
      <%= f.error_message_on :default_locale %>
    <% end %>
  </div>
</div>
