<% content_for :page_title do %>
  <%= link_to Spree.t('admin.navigation.all_menus'), spree.admin_menus_path %> / <%= @menu.name %>
<% end %>

<div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0"><%= Spree.t('settings') %></h5>
        </div>
        <div class="card-body">
          <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @menu } %>
          <%= form_for [:admin, @menu] do |f| %>
            <%= render partial: 'form', locals: { f: f } %>
            <div class="d-flex ">
              <%= render partial: 'spree/admin/shared/edit_resource_links' %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

<div id="menuArea">
  <div class="row mt-2">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row pb-0">
            <div class="col d-flex">
             <h5 class="mb-0 align-self-center"><%= Spree.t('admin.navigation.menu_items', menu_name: @menu.name) %></h5>
            </div>
            <div class="col d-flex justify-content-end">
              <%= button_link_to Spree.t('admin.navigation.add_new_item', menu: @menu.name), spree.new_admin_menu_menu_item_path(@menu), icon: 'add.svg', class: 'no-wrap btn btn-success align-self-center' %>
            </div>
          </div>
        </div>

        <% if @menu.root.present? %>
          <div class="card-body p-0 bg-light">
            <div id="primaryMenuContainer" class="menu-container" data-parent-id="<%= @menu.root.id %>">
              <% if @menu.root.children.present? %>
                <% @menu.root.children.each do |root_children| %>
                     <%= build_menu_item(@menu, root_children) %>
                <% end %>
              <% else %>
                <div class="alert alert-info no-objects-found m-5">
                  <%= raw Spree.t('admin.navigation.no_menu_items', menu: @menu.root.name) %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
