<%= render layout: 'spree/shared/mailer_hero' do %>
  <h1><%= Spree.t('newsletter_mailer.email_confirmation.subject') %></h1>
  <p class="greeting"><%= Spree.t('newsletter_mailer.email_confirmation.dear_customer') %></p>
  <p><%= Spree.t('newsletter_mailer.email_confirmation.instructions') %></p>
  <%= render 'spree/shared/mailer_button', url: @confirm_email_url, label: Spree.t('newsletter_mailer.email_confirmation.verify_email_address_link') %>
  <p class="sub">
    <%= Spree.t('newsletter_mailer.email_confirmation.message_copy_link') %>
    <br>
    <%= link_to @confirm_email_url, @confirm_email_url %>
  </p>
  <p class="sub"><%= Spree.t('newsletter_mailer.email_confirmation.ignore_disclaimer') %></p>
<% end %>
