<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<h1><%= t(:editing_option_type) %></h1>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @option_type } %>
<%= form_for [:admin, @option_type] do |f| %>
<fieldset>
  <legend><%= t(:editing_option_type) %></legend>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <h3><%= t(:option_values) %></h3>
  <table class="index sortable" data-hook data-sortable-link="<%= update_values_positions_admin_option_types_url %>">
    <thead data-hook="option_header">
      <tr>
        <th><%= t(:name) %></th>
        <th><%= t(:display) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="option_values">
      <tr id="none" data-hook="option_none">
        <td colspan="3"><%= @option_type.option_values.empty? ? t(:none) : '' %></td>
      </tr>
      <%= f.fields_for :option_values do |option_value_form| %>
        <%= render :partial => 'option_value_fields', :locals => { :f => option_value_form } %>
      <% end %>
    </tbody>
  </table>
  <span id="new_add_option_value" data-hook>
    <%= link_to_add_fields t(:add_option_value), "tbody#option_values" %>
  </span>

  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
</fieldset>
<% end %>
