<div data-hook="admin_taxon_form_fields">
  <%= f.field_container :name do %>
    <%= f.label :name, t(:name) %> <span class="required">*</span><br />
    <%= error_message_on :taxon, :name, :class => 'fullwidth title' %>
    <%= text_field :taxon, :name %>
  <% end %>

  <%= f.field_container :permalink_part do %>
    <%= f.label :permalink_part, t(:permalink) %><span class="required">*</span><br />
    <%= @taxon.permalink.split("/")[0...-1].join("/") + "/" %><%= text_field_tag :permalink_part, @permalink_part %>
  <% end %>

  <%= f.field_container :icon do %>
    <%= f.label :icon, t(:icon) %><br />
    <%= f.file_field :icon %>
  <% end %>

  <%= f.field_container :description do %>
    <%= f.label :description, t(:description) %><br />
    <%= f.text_area :description %>
  <% end %>
</div>
