<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t(:taxon_edit) %></h1>

<%= form_for [:admin, @taxonomy, @taxon], :method => :put, :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p class="form-buttons" data-hook="buttons">
    <%= button t(:update) %> <%= t(:or) %> <%= link_to t(:cancel), edit_admin_taxonomy_url(@taxonomy) %>
  </p>
<% end %>
