<div class="row">
  <div class="col-12 col-md-6">
    <%= f.field_container :title, class: ['form-group'] do %>
      <%= f.label :title, Spree.t(:title) %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.error_message_on :title %>
    <% end %>

    <%= f.field_container :upper_image, class: ['form-group'] do %>
      <% if @cms_section.upper_image.attached? && @cms_section.upper_image.variable? %>
        <%= image_tag main_app.url_for(@cms_section.upper_image.variant(resize: '244x104>')) %>
      <% elsif @cms_section.upper_image.attached? && @cms_section.upper_image.image? %>
        <%= image_tag main_app.url_for(@cms_section.upper_image) %>
      <% end %>
      <%= f.field_container :upper_image, class: ['form-group'] do %>
        <%= f.label :upper_image, Spree.t(:upper_image) %><br>
        <%= f.file_field :upper_image %>
        <%= f.error_message_on :upper_image %>
      <% end %>
    <% end %>
  </div>
  <div class="col-12 col-md-6">
    <%= f.field_container :subtitle, class: ['form-group'] do %>
      <%= f.label :subtitle, Spree.t(:title) %>
      <%= f.text_field :subtitle, class: 'form-control' %>
      <%= f.error_message_on :subtitle %>
    <% end %>

    <%= f.field_container :lower_image, class: ['form-group'] do %>
      <% if @cms_section.lower_image.attached? && @cms_section.lower_image.variable? %>
        <%= image_tag main_app.url_for(@cms_section.lower_image.variant(resize: '244x104>')) %>
      <% elsif @cms_section.lower_image.attached? && @cms_section.lower_image.image? %>
        <%= image_tag main_app.url_for(@cms_section.lower_image) %>
      <% end %>
      <%= f.field_container :lower_image, class: ['form-group'] do %>
        <%= f.label :lower_image, Spree.t(:lower_image) %><br>
        <%= f.file_field :lower_image %>
        <%= f.error_message_on :lower_image %>
      <% end %>
    <% end %>
  </div>
  <div class="col-12"><hr></div>
  <div class="col-12 col-md-6">
    <%= f.field_container :linked_resource_type, class: ['form-group'] do %>
      <%= f.label :linked_resource_type, Spree.t('admin.navigation.link_to') %>
      <%= f.select(:linked_resource_type, @cms_section.links_to, {include_blank: false}, class: 'link_switcher') %>
      <%= f.error_message_on :linked_resource_type %>
    <% end %>
  </div>
  <div class="col-12 col-md-6">
    <%= render "spree/admin/shared/link_fields", resource: @cms_section, f: f %>
  </div>
</div>
