<%= search_form_for [:admin, @search], class: "filter-wrap", data: { controller: "filters dialog" } do |f| %>
    <div class="d-flex flex-column flex-lg-row gap-2">
      <%= render 'spree/admin/shared/filters_search_bar', param: :variant_product_name_cont, label: Spree.t(:product_name) %>

      <%= button_tag type: 'button', class: 'btn btn-light d-flex align-items-center', data: { action: 'dialog#open' } do %>
        <%= icon "adjustments", class: "mr-1" %>
        <%= Spree.t("admin.filters") %>
      <% end %>
    </div>

  <dialog class="drawer" data-dialog-target="dialog" id="stock-items-filters-drawer">
    <%= drawer_header(Spree.t(:filter), 'dialog') %>
    <div class="drawer-body">
    <div class="form-group">
      <%= f.label :variant_sku_cont, Spree.t(:sku) %>
      <%= f.text_field :variant_sku_cont, size: 15, class: "form-control", data: {filters_target: :input} %>
    </div>
    <div class="form-group">
      <%= f.label :stock_location_id_eq, Spree.t(:stock_location) %>
      <%= f.select :stock_location_id_eq,
                available_stock_locations_list,
                { include_blank: true },
                data: { controller: 'autocomplete-select' }  %>
    </div>
    <%= render_admin_partials(:stock_items_filters_partials, f: f) %>
    </div>
    <div class="drawer-footer">
      <%= drawer_discard_button('dialog') %>
      <%= render 'spree/admin/shared/filter_submit' %>
    </div>
  </dialog>

  <%= render "spree/admin/shared/filter_badge_template" %>
  <div data-filters-target="badgesContainer" class="filter-badges-container"></div>
<% end %>
