<% content_for :page_title do %>
  <%= Spree.t(:stock) %>
<% end %>

<% content_for :page_actions do %>
  <%= render_admin_partials(:stock_items_actions_partials) %>
<% end %>

<% content_for :page_tabs do %>
  <%= render "spree/admin/shared/stock_nav" %>
<% end %>

<%= render_admin_partials(:stock_items_header_partials) %>

<div class="card-lg">
  <%= turbo_frame_tag "stock_items", autoscroll: true, data: { autoscroll_behavior: :smooth, turbo_action: 'advance' } do %>
    <%= render "filters" %>
    <% if @collection.any? %>
      <div class="table-responsive">
        <table class="table" id="listing_products">
          <thead>
            <tr>
              <th scope="col"><%= Spree.t(:variant) %></th>
              <th scope="col"><%= Spree.t(:stock_location) %></th>
              <th scope="col" class="text-center">
                <%= Spree.t(:backorderable) %>
                <%= help_bubble(Spree.t(:continue_selling_when_out_of_stock)) %>
              </th>
              <th scope="col"><%= Spree.t(:count_on_hand) %></th>
            </tr>
          </thead>
          <tbody>
            <%= render collection: @collection, partial: "stock_item" %>
          </tbody>
        </table>
      </div>
      <%= render "spree/admin/shared/index_table_options", collection: @collection %>
    <% else %>
      <%= render 'spree/admin/shared/no_resource_found', new_object_url: nil %>
    <% end %>
  <% end %>
</div>
