<% content_for :head do -%>
  <%= calendar_date_select_includes %>
<% end -%>

<% render :partial => 'admin/shared/order_sub_menu' %>

<h1><%= t("listing_orders") %></h1>

<table class="index">
  <thead>
    <tr>
      <th><%= order @search, :by => :created_at,       :as => t("order_date") %></th>
      <th><%= order @search, :by => :number,           :as => t("order_number") %></th>
      <th><%= order @search, :by => :state,            :as => t("status") %></th>
      <th><%= order @search, :by => {:user => :email}, :as => t("customer") %></th>
      <th><%= order @search, :by => :total,            :as => t("total") %></th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at.to_date%></td>
      <td><%= link_to order.number, object_url(order) %></td>
      <td><%= t(order.state.downcase) %></td>
      <td><%= order.email %></td>
      <td><%= number_to_currency order.total %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate(:prev => "&#171; #{t('previous')}", :next => "#{t('next')} &#187;") %>
        
        
        
<% content_for :sidebar do %>      
<div class="box">
  <h3><%= t(:search) %></h3>

  <% form_for @search do |f| %>
    <label><%= t("date_range") %></label><br />
    <div class="yui-g date-range-filter">
      <div class="yui-u sub-field first">
        <%= f.calendar_date_select :created_at_after %><br />
        <label class="sub"><%= t("start") %></label>
      </div>
      <div class="yui-u sub-field">
        <%= f.calendar_date_select :created_at_before %><br />
        <label><%= t("stop") %></label>
      </div>
    </div>

    <p><label><%= t("status") %></label><br />
    <%= f.select :state_equals, Order.state_machines['state'].states.collect {|status| [status.titleize, status]}, {:include_blank => true} %></p>

    <p><label><%= t 'order_number' %></label><br />
    <%= f.text_field :number_contains, :size=>25 %></p>

    <p>
      <label><%= t 'email' %></label><br />
      <%= f.text_field :checkout_email_contains, :size=>25 %>
    </p>
    <p>
    <label><%= t 'first_name' %></label><br />
        <%= f.text_field :checkout_bill_address_firstname_contains, :size=>25 %>
    </p>
    <p>
      <label><%= t 'last_name' %></label><br />
      <%= f.text_field :checkout_bill_address_lastname_contains, :size=>25 %>
    </p>
    <p>
      <%= f.check_box :checkout_completed_at_not_null, {:style => "vertical-align:middle;"} %>
      <label>
        <%= t("show_only_complete_orders") %>
      </label>
    </p>

    <p><%= button t("search") %></p>
  <% end %>
</div>
<% end %>
