<% content_for :head do -%>
  <%= calendar_date_select_includes %>
<% end -%>
<h1><%= t("Listing orders") %></h1>

<table>
  <tr>
    <td valign="top">
      <div id="order-summary">
        <table class="admin-report" width="545">
          <thead>
            <tr>
              <th><%= t("Order Date") %></th>
              <th><%= t("Number") %></th>
              <th><%= t("Status") %></th>
              <th><%= t("Customer") %></th>
              <th><%= t("Total") %></th>
              <th><%= t("Action") %></th>
            </tr>
          </thead>
          <tbody>
          <% for order in @orders%>
            <tr class="<%= cycle('even', 'odd') %>">
              <td><%=order.created_at.to_date%></td>
              <td><%= link_to order.number, {:action => 'show', :id => order} %></td>
              <td><%= Globalite.localize("order_status_#{Order::Status.from_value( order.status ).downcase}".to_sym) %></td>
              <td><%= order.address.full_name if order.address %></td>
              <td><%= number_to_currency order.total %></td>
              <td>
                <% action_links(order).each do |a| %>
                  <%= link_to Globalite.localize("order_operation_#{a.to_s}".to_sym), :action => a, :id => order -%>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </td>
    <td valign="top">
      <% form_for :search do |f| %>
        <div id="search-col">
          <table class="admin-search">
            <thead>
              <tr>
                <th colspan="2"><%= t("Date Range") %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= t("Start") %>:</td>
                <td>
                  <%= error_message_on :search, :start%>
                  <%= calendar_date_select :search, :start, :style=>"width:100px" %>
                </td>
              </tr>
              <tr>
                <td>Stop:</td>
                <td>
                  <%= error_message_on :search, :stop%>
                  <%= calendar_date_select :search, :stop, :style=>"width:100px" %>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="admin-search">
            <thead>
              <tr>
                <th colspan="2"><%= t("Order Details") %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= Globalite.localize(:order_number) %></td>
                <td>
                  <%= f.text_field :order_num, :size=>15 %>
                </td>
              </tr>
              <tr>
                <td><%= t("Status") %></td>
                <td>
                  <%= f.collection_select :status, @status_options, :id, :title_translated, {:include_blank => true}, {:style => "width:100%"}%>
                </td>
              </tr>
              <tr>
                <td><%= t("Customer") %></td>
                <td>
                  <%= f.text_field :customer, :size=>15 %>
                </td>
              </tr>
            </tbody>
          </table>
          <%=submit_tag t("Search") %>
        </div>
      <% end %>
    </td>
  </tr>
</table>
<%= render :partial => 'shared/paginate', :locals => {:collection => @orders, :options => search_options} unless @orders.empty? -%>
