<% content_for :sub_menu do %>
  <ul id="act-nav">
    <li><%= link_to t("Resend"), resend_admin_order_url(@order), :method => :post %></li>
  </ul>
<% end %>
<%= render :partial => 'shared/order_tabs', :locals => {:current => "Order Details"} %>
<%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>

<% if @order.bill_address %>
  <table class="order-address">
    <tr>
      <th><%= t("Bill Address") %></th>
    </tr>
    <tr>
      <td>
        <%= render :partial => 'shared/address', :locals => {:address => @order.bill_address} if @order.bill_address%>      
      </td>
    </tr>
  </table>
<% end %>
<% if @order.ship_address %>
  <table class="order-address">
    <tr>
      <th><%= t("Ship Address") %></th>
    </tr>
    <tr>
      <td>
        <%= render :partial => 'shared/address', :locals => {:address => @order.ship_address} if @order.ship_address%>      
      </td>
    </tr>
  </table>
<% end %>
<% if @order.user %>
  <table class="order-address">
    <tr>
      <th><%= t("Email") %></th>
    </tr>
    <tr>
      <td><%= @order.user.email if @order.user%></td>
    </tr>
  </table>
<% end %>
<table class="basic-table">
  <tr>
    <th><%= t("Event") %></th>
    <th><%= t("User") %></th>
    <th><%= "#{t('Date')}/#{t('Time')}" %></th>
  </tr>
  <% @order.state_events.sort.each do |event| %>
    <tr>
      <td><%=t("#{event.name}") %></td>
      <td><%=event.user.email %></td>
      <td><%=event.created_at.to_s(:db) %></td>
    </tr>
  <% end %>
  <% if @order.state_events.empty? %>
    <tr>
      <td colspan="3"><%= t("None Available") %></td>
    </tr>
  <% end %>
</table>
<%= event_links %>