<% content_for :sub_menu do %>
  <ul id="act-nav">
    <li><%= link_to t("Resend"), :action => :resend, :id => @order %></li>
  </ul>
<% end %>

<%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>

<% if @order.ship_address %>
  <table class="order-address">
    <tr>
      <th><%= t("Ship Address") %></th>
      <th><%= t("Bill Address") %></th>
    </tr>
    <tr>
      <td width="50%">
        <%= render :partial => 'address', :locals => {:address => @order.ship_address} -%>      
      </td>
      <td width="50%">
        <%= render :partial => 'address', :locals => {:address => @order.bill_address} -%>
      </td>
    </tr>
  </table>
<% end %>
<% if @order.user %>
  <table class="order-address">
    <tr>
      <th><%= t("Email") %></th>
    </tr>
    <tr>
      <td><%=in_place_editor_field :user, :email %></td>
    </tr>
  </table>
<% end %>
<table class="basic-table">
  <tr>
    <th><%= t("Operation") %></th>
    <th><%= t("User") %></th>
    <th><%= "#{t('Date')}/#{t('Time')}" %></th>
  </tr>
  <% @order.order_operations.each do |o| %>
    <tr>
      <td><%=OrderOperation::OperationType.from_value o.operation_type%></td>
      <td><%=o.user.email%></td>
      <td><%=o.created_at.to_s(:db)%></td>
    </tr>
  <% end %>
  <% if @order.order_operations.empty? %>
    <tr>
      <td colspan="3"><%= t("None Available") %></td>
    </tr>
  <% end %>
</table>

<% if card = @order.creditcard_payment %>
  <b><%= t("Credit Card")%>: </b> &nbsp; #<%= card.display_number %><br/>
  <b><%= t("Type")%> : </b> &nbsp; <%= card.cc_type.titleize %><br/>
  <table class="basic-table">
    <tr>
      <th><%= t("Transaction") %></th>
      <th><%= t("Amount") %></th>
      <th><%= t("Response Code") %></th>
      <th><%= "#{t('Date')}/#{t('Time')}" %></th>
    </tr>
    <% card.txns.each do |t| %>
      <tr>
        <td><%=CreditcardTxn::TxnType.from_value t.txn_type.to_i%></td>
        <td><%=number_to_currency t.amount%></td>
        <td><%=t.response_code%></td>
        <td><%=t.created_at.to_s(:db)%></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= render_txn_partials @order %>
