<% content_for :sub_menu do %>
  <ul id="act-nav">
    <li><%= link_to t("resend"), resend_admin_order_url(@order), :method => :post %></li>
  </ul>
<% end %>
<%= render :partial => 'shared/order_tabs', :locals => {:current => "Order Details"} %>
<%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>
        
<table width="100%">
  <tr>
    <td width="50%" valign="top">
      <% if @order.bill_address %>
        <table class="admin-table">
          <tr>
            <th>
              <%= link_to "Bill Address", edit_admin_order_creditcard_payment_url(@order, @order.creditcard_payments.last) %>
            </th>
          </tr>
          <tr>
            <td>
              <%= render :partial => 'shared/address', :locals => {:address => @order.bill_address} %>      
            </td>
          </tr>
        </table>
      <% end %>
    </td>
    <td width="50%" valign="top">
      <% if @order.ship_address %>
        <table class="admin-table">
          <tr>
            <th><%= link_to "Ship Address", edit_admin_order_shipment_url(@order, @order.shipments.last) %></th>
          </tr>
          <tr>
            <td>
              <%= render :partial => 'shared/address', :locals => {:address => @order.ship_address} %>      
            </td>
          </tr>
        </table>
      <% end %>
    </td>
  </tr>
</table>

<% if @order.user %>
  <table class="order-address">
    <tr>
      <th><%= t("email") %></th>
    </tr>
    <tr>
      <td><%= @order.user.email if @order.user%></td>
    </tr>
  </table>
<% end %>
<table class="basic-table">
  <tr>
    <th><%= t("event") %></th>
    <th><%= t("user") %></th>
    <th><%= "#{t('date')}/#{t('time')}" %></th>
  </tr>
  <% @order.state_events.sort.each do |event| %>
    <tr>
      <td><%=t("#{event.name}") %></td>
      <td><%=event.user.email %></td>
      <td><%=event.created_at.to_s(:db) %></td>
    </tr>
  <% end %>
  <% if @order.state_events.empty? %>
    <tr>
      <td colspan="3"><%= t("none_available") %></td>
    </tr>
  <% end %>
</table>
<%= event_links %>