<%= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Order Details"} %>


<%= render :partial => 'admin/shared/order_details', :locals => {:order => @order} -%>


<div class="yui-g">
  <div class="yui-u first">
    <% if @order.bill_address %>
      <h4><%= link_to "Bill Address", edit_admin_order_creditcard_payment_url(@order, @order.creditcard_payments.last) %></h4>
      <%= render :partial => 'shared/address', :locals => {:address => @order.bill_address} %>      
    <% end %>
  </div>
  <div class="yui-u">
    <% if @order.ship_address %>
      <h4><%= link_to "Ship Address", edit_admin_order_shipment_url(@order, @order.shipments.last) %></h4>
      <%= render :partial => 'shared/address', :locals => {:address => @order.ship_address} %>      
    <% end %>
  </div>
</div>



<% if @order.user %>
  <table class="index">
    <tr>
      <th><%= t("email") %></th>
    </tr>
    <tr>
      <td><%= @order.user.email if @order.user %></td>
    </tr>
  </table>
<% end %>

<table class="index">
  <tr>
    <th><%= t("event") %></th>
    <th><%= t("user") %></th>
    <th><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
  </tr>
  <% @order.state_events.sort.each do |event| %>
    <tr>
      <td><%=t("#{event.name}") %></td>
      <td><%=event.user.email if event.user %></td>
      <td><%=event.created_at.to_s(:date_time24) %></td>
    </tr>
  <% end %>
  <% if @order.state_events.empty? %>
    <tr>
      <td colspan="3"><%= t("none_available") %></td>
    </tr>
  <% end %>
</table>


<p class="actions">
  <%= link_to icon('send-email') + ' ' + t("resend"), resend_admin_order_url(@order), :method => :post, :class => 'iconlink' %>
  &nbsp; 
  <%= event_links %>
</p>
