<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Images' } %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @image } %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_images_list), admin_product_images_url(@product), :icon => 'arrow-left' %>
<% end %>

<%= form_for [:admin, @product, @image], :html => { :multipart => true } do |f| %>
  <fieldset data-hook="edit_image" class="row">
    <legend><%= @image.attachment_file_name%></legend>
    <div data-hook="thumbnail" class="col-md-3">
      <%= f.label Spree.t(:thumbnail) %>
      <%= link_to image_tag(@image.attachment.url(:small)), @image.attachment.url(:product) %>
    </div>
    <div class="col-md-9">
      <%= render :partial => 'form', :locals => { :f => f } %>
    </div>

    <div class="form-buttons" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'refresh' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_product_images_url(@product), :id => 'cancel_link', :icon => 'delete' %>
    </div>
  </fieldset>
<% end %>
