

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => 'Images'} %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_image), new_admin_product_image_url(@product), { :class => "btn-success", :icon => 'add', :id => 'new_image_link' } %>
<% end %>

<div id="images" data-hook></div>

<% unless @product.images.any? || @product.variant_images.any? %>
  <div class="alert alert-warning">
    <%= Spree.t(:no_images_found) %>.
  </div>
<% else %>
  <table class="table table-hover table-condensed table-bordered sortable" data-hook="images_table" data-sortable-link="<%= update_positions_admin_product_images_url(@product) %>">
    <thead>
      <tr data-hook="images_header">
        <th colspan="2"><%= Spree.t(:thumbnail) %></th>
        <% if @product.has_variants? %>
          <th><%= Spree::Variant.model_name.human %></th>
        <% end %>
        <th><%= Spree.t(:alt_text) %></th>
        <th class="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% (@product.variant_images).each do |image| %>
        <tr id="<%= spree_dom_id image %>" data-hook="images_row">
          <td class="move-handle">
            <span class="glyphicon glyphicon-move handle"></span>
          </td>
          <td class="image">
            <%= link_to image_tag(image.attachment.url(:mini), :class => 'thumbnail'), image.attachment.url(:product) %>
          </td>
          <% if @product.has_variants? %>
            <td><%= options_text_for(image) %></td>
          <% end %>
          <td><%= image.alt %></td>
          <td class="actions actions-2">
            <%= link_to_with_icon 'edit', Spree.t(:edit), edit_admin_product_image_url(@product, image), :class => 'btn btn-default btn-sm', :no_text => true, :data => {:action => 'edit'} %>
            <%= link_to_delete image, { :url => admin_product_image_url(@product, image), :no_text => true } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
