<%= form_for [:admin, @product, @image], :html => { :multipart => true } do |f| %>
  <div class="well">
    <fieldset data-hook="new_image">
      <legend><%= Spree.t(:new_image) %></legend>

        <%= render :partial => 'form', :locals => { :f => f } %>

        <div class="form-actions" data-hook="buttons">
          <%= button Spree.t('actions.update'), 'refresh' %>
          <span class="or"><%= Spree.t(:or) %></span>
          <%= button_link_to Spree.t('actions.cancel'), admin_product_images_url(@product), :icon => 'delete', :id => 'cancel_link' %>
        </div>
    </fieldset>
  </div>
<% end %>

<%= javascript_include_tag 'spree/backend/images/new.js' %>
