<h5 class="font-weight-bold"><%= Spree.t(:title_link) %></h5>
<%= render 'spree/admin/page_blocks/forms/link', f: f %>

<%= render 'spree/admin/page_links/list', parent: @page_block, show_add_link_button: true %>

<h5 class="font-weight-bold"><%= Spree.t(:featured_taxon) %></h5>
<div class="form-group">
  <%= tom_select_tag 'page_block[preferred_featured_taxon_id]',
    active_option: @page_block.preferred_featured_taxon_id,
    class: 'w-100',
    url: spree.admin_taxons_select_options_path(format: :json),
    select_data: { action: 'auto-submit#submit' },
    include_blank: "" %>
</div>
