<% if @collection.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th scope="col"><%= Spree.t(:currency) %></th>
        <th scope="col"><%= Spree.t('store_credit.allocated') %></th>
        <th scope="col"><%= Spree.t('store_credit.authorized') %></th>
        <th scope="col"><%= Spree.t('store_credit.captured') %></th>
        <th scope="col"><%= Spree.t('store_credit.remaining') %></th>
        <th scope="col"><%= Spree.t(:created_by) %></th>
        <th scope="col"><%= Spree.t(:issued_on) %></th>
      </thead>
      <tbody>
        <%= render partial: 'spree/admin/store_credits/store_credit', collection: @collection, as: :store_credit, cached: spree_base_cache_scope %>
      </tbody>
    </table>
  </div>
  <%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>
<% else %>
  <%= render 'spree/admin/shared/no_resource_found', model_class: Spree::StoreCredit, new_object_url: spree.new_admin_user_store_credit_path(@user) %>
<% end %>