<div id="content-header" data-hook="">
  <div class="container">
    <div class="sixteen columns">
      <div class="block-table">
        <div class="table-cell">
          <h1 class="page-title">{{title}}</h1>
        </div>
        <div class="page-actions table-cell toolbar" data-hook="toolbar">
          {{outlet 'actions'}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id='content' {{bind-attr class=":columns showSidebar:twelve:sixteen"}}>
      {{ outlet }}
    </div>
    
    {{#if showSidebar}}
      <aside id="sidebar" class="columns four" data-hook>
        {{outlet 'sidebar' }}
      </aside>
    {{/if}}
  </div>
</div> 