<table class="index">
  <thead>
    <tr data-hook="payments_header">
      <th>{{i18n 'date'}}/{{i18n 'time'}}</th>
      <th>{{i18n 'amount' }}</th>
      <th>{{i18n 'payment_method' }}</th>
      <th>{{i18n 'payment_state' }}</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    {{#each order.payments}}
      {{render 'orders/payments/show' this}}
    {{/each}}
  </tbody>
</table>