<% f.field_container :name do %>
  <%= f.label :name, t("name") %><br />
  <%= f.text_field :name %>
  <%= f.error_message_on :name %>
<% end %>

<h3><%= t("properties") %></h3>

<ul class='checkbox-list' id='properties'>
	<% Property.sorted.each do |property| %>
  <% selected = if @prototype.new_record?
    (params[:property] and params[:property][:id] and params[:property][:id].include?(property.id.to_s))
  else
    @prototype.properties.include?(property)
  end %>
		<li>
	  	<label>
	  	  <%= check_box_tag "property[id][]", "#{property.id}", selected %>
        <%= property.name %>
      </label>
		</li>
	<% end %>
</ul>
<hr />


