<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:details) %>
    </h5>
  </div>
  <div class="card-body">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', required: true, autofocus: true %>
      <%= f.error_message_on :name %>
      <span class="form-text text-muted mt-2">
        Customers will see this in their cart and at checkout.
      </span>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:kind) %>
    </h5>
  </div>
  <div class="card-body">
    <%= render 'spree/admin/promotions/form/kind', f: f %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:settings) %>
    </h5>
  </div>
  <div class="card-body">
    <%= render 'spree/admin/promotions/form/settings', f: f %>
  </div>
</div>

<p class="alert alert-info text-center">
  In the next step you will be able to add actions and rules to your promotion
</p>