<% content_for :page_title do %>
  <%= page_header_back_button spree.admin_promotions_path, @promotion %>
  <%= @promotion.name %>
  <%= render 'spree/admin/promotions/status', promotion: @promotion %>
<% end %>

<% content_for :page_tabs do %>
  <li class="nav-item">
    <%= active_link_to Spree.t(:settings), spree.admin_promotion_path(@promotion), class: "nav-link", active: controller_name == 'promotions' %>
  </li>
  <li class="nav-item">
    <%= active_link_to Spree.t(:coupon_codes), spree.admin_promotion_coupon_codes_path(@promotion), class: "nav-link" %>
  </li>
<% end if @promotion.multi_codes? %>
