<% if @promotion.multi_codes? %>
  <% coupon_codes_count = @promotion.coupon_codes.count %>
  <% if coupon_codes_count.positive? %>
    <% used_coupon_codes_count = @promotion.coupon_codes.used.count %>
    <% remaining_coupon_codes_count = coupon_codes_count - used_coupon_codes_count %>

    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">
          <%= Spree.t(:coupon_codes) %>
        </h5>
        <%= link_to_with_icon 'eye', Spree.t(:view), spree.admin_promotion_coupon_codes_path(@promotion), class: 'btn btn-sm btn-light' %>
      </div>
      <div class="card-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= (used_coupon_codes_count.to_f / coupon_codes_count * 100).round %>%" aria-valuenow="<%= used_coupon_codes_count %>" aria-valuemin="0" aria-valuemax="<%= coupon_codes_count %>"></div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <span class="badge badge-light">
          Used: <%= used_coupon_codes_count %> / <%= coupon_codes_count %>
        </span>
        <span class="badge badge-light">
          Remaining: <%= coupon_codes_count - used_coupon_codes_count %>
        </span>
      </div>
    </div>
  <% end %>
<% end %>

<%= turbo_frame_tag :promotion_edit_details do %>
  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between">
      <h5 class="card-title">
        <%= Spree.t(:details) %>
      </h5>
      <%= link_to_with_icon 'edit', Spree.t(:edit), spree.edit_admin_promotion_path(@promotion), icon: 'pencil', class: 'btn btn-sm btn-light' %>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="text-muted">
            <%= Spree.t(:name) %>
          </span>
          <span>
            <%= @promotion.name %>
          </span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="text-muted">
            <%= Spree.t(:kind) %>
          </span>
          <span class="badge badge-light">
            <%= @promotion.kind.titleize %>
          </span>
        </li>

        <% if @promotion.code.present? %>
          <li class="list-group-item d-flex justify-content-between align-items-center" data-controller="clipboard" data-clipboard-success-content="Copied!">
            <span class="text-muted"><%= Spree.t(:coupon_code) %></span>
            <div class="d-flex align-items-center gap-1">
              <span class="form-control form-control-sm">
                <span data-clipboard-target="source"><%= @promotion.code.upcase %></span>
              </span>

              <button type="button" class="btn btn-light btn-sm with-tip p-1" data-action="clipboard#copy" title="<%= Spree.t(:copy) %>">
                <%= icon 'copy', class: 'mr-0' %>
              </button>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end%>

<%= turbo_frame_tag :promotion_edit_settings do %>
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h5 class="card-title">
        <%= Spree.t(:settings) %>
      </h5>
      <%= link_to_with_icon 'edit', Spree.t(:edit), spree.edit_admin_promotion_path(@promotion), icon: 'pencil', class: 'btn btn-sm btn-light' %>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <% unless @promotion.multi_codes? %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="text-muted"><%= Spree.t(:usage_limit) %></span>
            <%= render 'spree/admin/promotions/usage_limit', promotion: @promotion %>
          </li>
        <% end %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="text-muted">
            <%= I18n.t('activerecord.attributes.spree/promotion.starts_at') %>
          </span>
          <% if @promotion.starts_at %>
            <span><%= local_time(@promotion.starts_at) %></span>
          <% else %>
            <span class="text-muted"><%= Spree.t(:not_available) %></span>
          <% end %>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="text-muted">
            <%= I18n.t('activerecord.attributes.spree/promotion.expires_at') %>
          </span>
          <% if @promotion.expires_at %>
            <span><%= local_time(@promotion.expires_at) %></span>
          <% else %>
            <span class="text-muted"><%= Spree.t(:not_available) %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
<% end %>