<% content_for :page_title do %>
  <%= Spree.t(:promotions) %>
<% end %>

<% content_for :page_actions do %>
  <%= render_admin_partials(:promotions_actions_partials) %>
  <%= link_to_with_icon 'plus', Spree.t(:new_promotion), new_object_url, class: "btn btn-primary" %>
<% end if can?(:create, Spree::Promotion) %>

<%= render_admin_partials(:promotions_header_partials) %>

<div class="card-lg">
  <%= turbo_frame_tag "promotions", autoscroll: true, data: { autoscroll_behavior: :smooth, turbo_action: 'advance' } do %>
    <%= render 'filters' %>

    <% if @collection.any? %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><%= Spree.t(:name) %></th>
              <th><%= Spree.t(:code) %></th>
              <th><%= Spree.t(:kind) %></th>
              <th><%= Spree.t(:usage_limit) %></th>
              <th><%= Spree.t(:status) %></th>
            </tr>
          </thead>
          <tbody>
            <%= render collection: @collection, partial: "spree/admin/promotions/promotion", cached: spree_base_cache_scope %>
          </tbody>
        </table>
      </div>
      <%= render "spree/admin/shared/index_table_options", collection: @collection %>
    <% else %>
      <%= render "spree/admin/shared/no_resource_found" %>
    <% end %>
  <% end %>
</div>
