<%- locals = {:f => f} %>
<table>
<%= hook :admin_tax_rate_form_fields, locals do %>
  <tr>
    <td><%=t("zone")%>:</td>
    <td><%= f.collection_select(:zone_id, @available_zones, :id, :name) %></td>
  </tr>
  <tr>
    <td><%=t("tax_category")%>:</td>
    <td><%= f.collection_select(:tax_category_id, @available_categories,:id, :name) %></td>
  </tr>
  <tr>
    <td><%=t("rate")%>:</td>
    <td><%= f.text_field :amount %></td>
  </tr>
<% end %>
</table>

<%= hook :admin_tax_rate_form_calculator_fields, locals do %>
  <%= render "admin/shared/calculator_fields", :f => f %>
<% end %>