<div data-hook="admin_tax_rate_form_fields">
  <div class="card mb-3" data-hook="tax_rates">
    <div class="card-header">
      <h1 class="card-title mb-0 h5">
        <%= Spree.t(:general_settings) %>
      </h1>
    </div>

    <div class="card-body">
      <div class="row">
      <div class="col-12 col-lg-6">
        <div data-hook="name" class="form-group">
          <%= f.label :name, Spree.t(:name) %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div data-hook="rate" class="form-group">
          <%= f.field_container :amount, class: ["form-group"] do %>
            <%= f.label :amount, Spree.t(:rate) %>
            <%= f.text_field :amount, class: 'form-control' %>
            <%= f.error_message_on :amount %>
            <small class="form-text text-muted">
              <%= Spree.t(:tax_rate_amount_explanation) %>
            </small>
          <% end %>
        </div>
        <div data-hook="included" class="form-group">
          <%= f.label :included_in_price do %>
            <%= f.check_box :included_in_price %>
            <%= Spree.t(:included_in_price) %>
          <% end %>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div data-hook="zone" class="form-group">
          <%= f.label :zone, Spree.t(:zone) %>
          <%= f.collection_select(:zone_id, @available_zones, :id, :name, {}, {class: 'select2'}) %>
        </div>
        <div data-hook="category" class="form-group">
          <%= f.label :tax_category_id, Spree.t(:tax_category) %>
          <%= f.collection_select(:tax_category_id, @available_categories,:id, :name, {}, {class: 'select2'}) %>
        </div>
        <div data-hook="show_rate" class="form-group">
          <%= f.label :show_rate_in_label do %>
            <%= f.check_box :show_rate_in_label %>
            <%= Spree.t(:show_rate_in_label) %>
          <% end %>
        </div>
      </div>
      </div>
    </div>

  </div>
</div>

<%= render 'spree/admin/shared/calculator_fields', f: f %>
