

<% content_for :page_title do %>
  <%= Spree.t(:tax_rates) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_tax_rate), new_object_url, :class => "btn-success", :icon => 'add' %>
  </li>
<% end %>

<% if @tax_rates.any? %>
  <table class="table index">
    <thead>
      <tr data-hook="rate_header">
        <th><%= Spree.t(:zone) %></th>
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:category) %></th>
        <th><%= Spree.t(:amount) %></th>
        <th><%= Spree.t(:included_in_price) %></th>
        <th><%= Spree.t(:show_rate_in_label) %></th>
        <th><%= Spree.t(:calculator) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tax_rates.each do |tax_rate|%>
      <tr id="<%= spree_dom_id tax_rate %>" data-hook="rate_row">
        <td><%=tax_rate.zone.try(:name) || Spree.t(:not_available) %></td>
        <td><%=tax_rate.name %></td>
        <td><%=tax_rate.tax_category.try(:name) || Spree.t(:not_available) %></td>
        <td><%=tax_rate.amount %></td>
        <td><%=tax_rate.included_in_price? ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
        <td><%=tax_rate.show_rate_in_label? ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
        <td><%=tax_rate.calculator.to_s %></td>
        <td class="actions actions-2">
          <%= link_to_edit tax_rate, :no_text => true %>
          <%= link_to_delete tax_rate, :no_text => true %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/tax_rate')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_tax_rate_path %>!
  </div>
<% end %>
