<table id="user-form">
  <tr>
    <td><%= t("Email") %>: </td>
    <td>
      <%= error_message_on :user, :email %>
      <%= f.text_field :email  %>
    </td>
  </tr>
  <tr>
    <td><%= t("Password") %>:</td>
    <td>
      <%= error_message_on :user, :password%>
      <%= f.password_field :password  %>
    </td>
  </tr>
  <tr>
    <td><%= t("Confirm") %>:</td>
    <td>
      <%= f.password_field :password_confirmation %>
    </td>
  </tr>
</table>

<%= render_extra_partials f %>