<p>
  <%= t("email") %>:<br />
  <%= f.text_field :email  %>
  <%= error_message_on :user, :email %>
</p>


<p>
  <%= t("password") %>:<br />
  <%= f.password_field :password  %>
  <%= error_message_on :user, :password%>
</p>

<p>
  <%= t("confirm") %>:<br />
  <%= f.password_field :password_confirmation %>
</p>

<%= render_extra_partials f %>
