<p>
  <label for="<%= t("email") %>"><%= t("email") %></label><br />
  <%= f.text_field :email, :class => 'title'  %>
</p>

<p>
  <label for="<%= t("password") %>"><%= t("password") %></label><br />
  <%= f.password_field :password, :class => 'title'  %>
</p>

<p>
  <label for="<%= t("password") %>"><%= t("confirm") %></label><br />
  <%= f.password_field :password_confirmation, :class => 'title' %>
</p>

<%= render_extra_partials f %>
