<h1><%= t("listing_users") %></h1>

<table class="admin-report">
  <thead>
    <th><%= t("user") %></th>
    <th><%= t("action") %></th>
  </thead>
  <tbody>
    <%- @users.each do |user|%>
    <tr>
      <td width="350px"><%=link_to user.email, object_url(user) %></td>
      <td>
	<%=link_to t('edit'), edit_object_url(user) %> |
	<%=link_to t('destroy'), object_url(user), :confirm => t('are_you_sure_you_want_to_delete_this_record'), :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br/>

<%= link_to t('new_user'), new_object_url %>
