<%= error_messages_for :user %>
<table width="100%">
  <tr>
    <td width="50%"><h2><%= t("New Customer") %></h2></td>
    <td><h2><%= t("Existing Customer") %></h2></td>
  </tr>
  <tr>
    <td valign="top">
      <% form_for(@user) do |f| %>
        <%= render :partial => "form", :locals => { :f => f } %>
        <p>
          <%= submit_tag t("Create") %> 
        </p>
      <% end %>
    </td>
    <td valign="top">
      <%= render :partial => 'shared/login' %>
    </td>
  </tr>
</table>