<div data-hook="admin_user_lifetime_stats" class="card mb-3">
  <div class="card-header">
    <h1 class="card-title mb-0 h5">
      <%= Spree.t(:lifetime_stats) %>
    </h1>
  </div>
  <div class="table-responsive">
    <table class="table" id="user-lifetime-stats" data-hook>
      <tr>
        <td width="30%"><%= Spree.t(:total_sales) %>:</td>
        <td>
          <% @user.report_values_for(:lifetime_value, current_store).each do |value| %>
            <div><%= value %></div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= Spree.t(:num_orders) %>:</td>
        <td><%= @user.order_count(current_store) %></td>
      </tr>
      <tr>
        <td><%= Spree.t(:average_order_value) %>:</td>
        <td>
          <% @user.report_values_for(:average_order_value, current_store).each do |value| %>
            <div><%= value %></div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= Spree.t('admin.user.store_credits') %>:</td>
        <td id="store_credit">
          <% @user.available_store_credits(current_store).each do |value| %>
            <div><%= value %></div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= Spree.t(:member_since) %>:</td>
        <td><%= pretty_time(@user.created_at) %></td>
      </tr>
    </table>
  </div>
</div>
