<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked" data-hook="admin_user_tab_options">
    <li<%== ' class="active"' if current == :account %>>
      <%= link_to_with_icon 'user', Spree.t(:"admin.user.account"), edit_admin_user_path(@user) %>
    </li>
    <li<%== ' class="active"' if current == :address %>>
      <%= link_to_with_icon 'user', Spree.t(:"admin.user.addresses"), addresses_admin_user_path(@user) %>
    </li>
    <li<%== ' class="active"' if current == :orders %>>
      <%= link_to_with_icon 'shopping-cart', Spree.t(:"admin.user.orders"), orders_admin_user_path(@user) %>
    </li>
    <li<%== ' class="active"' if current == :items %>>
      <%= link_to_with_icon 'edit', Spree.t(:"admin.user.items"), items_admin_user_path(@user) %>
    </li>
    <li class="collapse-sidebar">
      <a class="js-collapse-sidebar" href="javascript:;">
        <span class="icon icon-chevron-right"></span>
        <span class="text">Collapse sidebar</span>
      </a>
    </li>
  </ul>

  <%# TODO: this has to go somewhere else %>

  <div class="panel panel-default" data-hook="admin_user_lifetime_stats">
    <div class="panel-heading">
      <h3 class="panel-title"><%= Spree.t(:lifetime_stats) %></h3>
    </div>
    <table class="table table-condensed table-bordered" id="user-lifetime-stats" data-hook>
      <tr>
        <td><%= Spree.t(:total_sales) %>:</td>
        <td><%= @user.display_lifetime_value.to_html %></td>
      </tr>
      <tr>
        <td><%= Spree.t(:num_orders) %>:</td>
        <td><%= @user.order_count.to_i %></td>
      </tr>
      <tr>
        <td><%= Spree.t(:average_order_value) %>:</td>
        <td><%= @user.display_average_order_value.to_html %></td>
      </tr>
      <tr>
        <td><%= Spree.t(:member_since) %>:</td>
        <td><%= l @user.created_at.to_date %></td>
      </tr>
    </table>
  </div>
<% end %>
