<div data-hook="admin_country_form_fields">
  <div data-hook="name" class="form-group">
    <%= f.label :name, Spree.t(:name) %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div data-hook="iso_name" class="form-group">
    <%= f.label :iso_name, Spree.t(:iso_name) %>
    <%= f.text_field :iso_name, :class => 'form-control' %>
  </div>

  <div data-hook="states_required" class="checkbox">
    <label>
      <%= f.check_box :states_required %>
      <%= Spree.t(:states_required) %>
    </label>
  </div>
</div>
