<script type='text/template' id='variant_line_items_autocomplete_stock_template'>
  <fieldset>
    <legend><%= Spree.t(:select_stock) %></legend>
    <table class="stock-levels table table-hover table-condensed table-bordered" data-hook="stock-levels">
      <thead>
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:count_on_hand) %></th>
        <th><%= Spree.t(:quantity) %></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>{{variant.name}}</td>
          {{#if variant.total_on_hand}}
            <td>
              {{#if variant.track_inventory}}
                {{variant.total_on_hand}}
              {{else}}
                <%= Spree.t(:doesnt_track_inventory) %>
              {{/if}}
            </td>
            <td>
              <input class="quantity form-control" id="variant_quantity" data-variant-id="{{variant.id}}" type="number" min="1" value="1">
            </td>
            <td class="actions actions-1">
              <button class="btn btn-sm btn-default add_variant with-tip" data-variant-id="{{variant.id}}" title="<%= Spree.t(:add) %>" data-action="add">
                <span class="icon icon-add"></span>
              </button>
            </td>
          {{else}}
            <td><%= Spree.t(:out_of_stock) %></td>
            <td>0</td>
            <td></td>
            <td></td>
          {{/if}}
        </tr>
      </tbody>
    </table>
  </fieldset>
</script>
