<tr>
  <td class="item-image">
    {{#if image}}
      <img src='{{unbound image}}'>
    {{/if}}
  </td>

  <td class="item-name">
    {{variant.name}}
    {{#if variant.options_text}}
      <br>{{variant.options_text}}
    {{/if}}
    {{#if variant.sku}}
      <br><strong>{{i18n 'sku' }}:</strong> {{variant.sku}}
    {{/if}}
  </td>
  <td class="item-price align-center">{{single_display_amount}}</td>
  {{#if editing}}
    <td class="item-qty-edit">
      {{input type="number" value=quantity min='0' size='5'}}
    </td>
  {{else}}
    <td class="item-qty-show align-center">{{quantity}}</td>
  {{/if}}
  <td class="item-total align-center">{{display_amount}}</td>
  <td class="actions" data-hook="cart_line_item_actions">
    {{#if canUpdate }}
      {{#if editing}}
        <a href='#' {{action 'save'}} class="save-item fa fa-check no-text with-tip" title='{{i18n actions.save}}'></a>
        <a href='#' {{action 'cancel'}} class="cancel-item fa fa-cancel no-text with-tip" title='{{i18n actions.cancel}}'></a>
      {{else}}
        <a href='#' {{action 'edit'}} class='edit-item fa fa-edit no-text with-tip' title='{{i18n actions.edit}}'></a>
        <a href='#' {{action 'delete'}} class='delete-item fa fa-trash no-text with-tip' title='{{i18n actions.delete}}'></a>
      {{/if}}
    {{/if}}
  </td>


</tr>