<div class="card" id="user-details">
  <div class="card-header flex items-center justify-between">
    <h5 class="card-title">
      <%= Spree.t(:details) %>
    </h5>
    <%= link_to_with_icon 'edit', Spree.t(:edit), spree.edit_admin_user_path(@user),
          class: 'btn btn-light btn-sm', data: { turbo_frame: :drawer, action: 'drawer#open' } %>
  </div>
  <div class="card-body p-0">
    <ul class="list-group list-group-flush">
      <% cache [spree_base_cache_key, @user] do %>
        <li class="list-group-item flex justify-between items-center">
          <%= Spree.t(:email) %>
          <span>
            <%= @user.email %>
            <%= clipboard_component(@user.email) %>
          </span>
        </li>
        <li class="list-group-item flex justify-between items-center">
          <%= Spree.t(:phone) %>
          <span>
            <%= @user.phone.presence || Spree.t(:not_available) %>
          </span>
        </li>
        <li class="list-group-item flex justify-between items-center">
          <%= Spree.t(:name) %>
          <span>
            <%= customer_full_name(@user) %>
          </span>
        </li>
        <li class="list-group-item flex justify-between items-center">
          <%= Spree.t(:email_marketing) %>
          <%= active_badge(@user.accepts_email_marketing?) %>
        </li>
        <li class="list-group-item flex justify-between items-center">
          <%= Spree.t(:tags) %>
          <span>
            <% @user.tag_list.each do |tag| %>
              <span class="badge badge-light"><%= tag %></span>
            <% end %>
          </span>
        </li>
        <li class="list-group-item flex justify-between items-center">
          <%= Spree.t(:customer_groups) %>
          <span>
            <% @user.customer_groups.pluck(:name).each do |group_name| %>
              <span class="badge badge-light"><%= group_name %></span>
            <% end %>
          </span>
        </li>
        <li class="list-group-item flex justify-between items-center">
          <%= Spree.t(:roles) %>
          <span>
            <% @user.spree_roles.pluck(:name).each do |role_name| %>
              <span class="badge badge-light"><%= role_name %></span>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
