<%= turbo_frame_tag :bulk_dialog do %>
  <%= dialog_header(@title, 'bulk-dialog') %>
  <div class="dialog-body overflow-visible">
    <p><%= @body %></p>

    <% if params[:kind] == 'add_tags' || params[:kind] == 'remove_tags' %>
      <%= tom_select_tag 'tags', multiple: true, class: 'w-100', options: user_tags_json_array, required: true, value_field: :name, create: params[:kind] == 'add_tags' %>
    <% end %>
  </div>
  <div class="dialog-footer">
    <%= dialog_discard_button('bulk-dialog') %>
    <%= turbo_save_button_tag %>
  </div>
<% end %>
