<%= turbo_frame_tag :edit_user do %>
  <div class="card-header d-flex align-items-center justify-content-between">
    <h5 class="card-title">
      <%= Spree.t(:details) %>
    </h5>
    <%= link_to Spree.t('actions.discard'), spree.admin_user_path(@user), class: 'btn btn-light btn-sm' %>
  </div>
  <%= form_for [:admin, @user], as: :user, url: spree.admin_user_path(@user), method: :put do |f| %>
    <div class="card-body pb-0">    
      <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @user } %>
      <%= render 'form', f: f %>
    </div>
    <div class="card-footer">
      <%= render 'spree/admin/shared/edit_resource_links', f: f, turbo_frame: '_top' %>
    </div>
  <% end %>
<% end%>