<% col_class = 'col-span-12 lg:col-span-6 lg:col-start-4' %>

<%= content_for :page_title do %>
  <%= page_header_back_button(spree.admin_users_path) %>
  <%= Spree.t(:new_user) %>
<% end %>

<%= form_with model: [:admin, @object], url: spree.admin_users_path, id: 'new_user' do |f| %>
  <div class="grid grid-cols-12 gap-4">
    <div class="<%= col_class %>">
      <%= render 'spree/admin/shared/error_messages', target: @object %>
      <div class="card mb-6">
        <div class="card-body">
          <%= render 'form', f: f %>
        </div>
      </div>
      <%= render 'spree/admin/shared/new_resource_links', f: f %>
    </div>
  </div>
<% end %>
