<% content_for :page_title do %>
  <%= page_header_back_button spree.admin_users_path, @user %>
  <%= customer_full_name(@user) || @user.email %>
  <span class="font-size-base font-weight-normal ml-3">
    <%= customer_location_flag(@user) %>
    <%= customer_location(@user) %>
  </span>
<% end %>

<% content_for(:page_actions_dropdown) do %>
  <% if spree.respond_to?(:new_admin_user_gift_card_path) %>
    <%= link_to_with_icon 'plus.svg', Spree.t(:issue_gift_card), spree.new_admin_user_gift_card_path(@user), class: 'text-left dropdown-item' %>
  <% end %>

  <%= link_to_with_icon 'plus.svg', Spree.t(:add_store_credit), spree.new_admin_user_store_credit_path(@user), class: 'text-left dropdown-item' %>
<% end %>

<div class="row">
  <div class="col-lg-8 mb-4">
    <%= render 'spree/admin/users/lifetime_stats' %>
    <%= render 'spree/admin/users/last_order' %>

    <%= render 'spree/admin/users/tabs' %>
  </div>
  <div class="col-lg-4">
    <%= render 'spree/admin/users/details' %>
    <%= render 'spree/admin/users/shipping' %>
    <%= render 'spree/admin/users/billing' %>
  </div>
</div>

<style>
  .d-customer {
    display: none;
  }
</style>