<% if @customer_returns.exists? && can?(:read, Spree::CustomerReturn) %>
  <div class="card mb-4">
    <div class="card-header justify-content-between">
      <h5 class="card-title">
        <%= Spree.t(:customer_returns) %></h5>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive bg-white">
        <table class="table">
          <thead class="border-bottom">
            <tr>
              <th><%= Spree.t(:date) %></th>
              <th><%= Spree.t(:status) %></th>
              <th><%= Spree.t(:pre_tax_total) %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @customer_returns.each do |customer_return| %>
              <tr
                id="<%= spree_dom_id(customer_return) %>"
                data-controller="row-link"
                class="cursor-pointer"
              >
                <td data-action="click->row-link#openLink" class="font-weight-bolder"><%= customer_return.number %></td>
                <td data-action="click->row-link#openLink">
                  <% if customer_return.fully_reimbursed? %>
                    <span class="badge badge-success"><%= Spree.t(:reimbursed) %></span>
                  <% else %>
                    <span class="badge badge-inactive"><%= Spree.t(:incomplete) %></span>
                  <% end %>
                </td>
                <td data-action="click->row-link#openLink"><%= customer_return.display_pre_tax_total.to_html %></td>
                <td data-action="click->row-link#openLink"><%= pretty_time(customer_return.created_at) %></td>

                <td class="actions">
                  <span class="d-flex justify-content-end">
                    <%= if can?(:edit, customer_return)
                      link_to_edit(
                        customer_return,
                        no_text: true,
                        class: "btn btn-light btn-sm",
                        url: edit_admin_order_customer_return_path(@order, customer_return),
                        data: {
                          row_link_target: "link",
                        },
                      )
                    end %>
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
