<% if order %>
  <% if order.user %>
    <span class="flex">
      <% if can?(:manage, order.user) %>
        <%= link_to order.full_name, spree.admin_user_path(order.user), class: 'text-gray-900', data: { 'turbo-frame': '_top' } %>
      <% else %>
        <%= order.full_name %>
      <% end %>
    </span>
  <% elsif order.email.present? %>
    <span class="text-gray-600">
      <%= order.full_name %>
    </span>
    <%= help_bubble('This order was placed by a guest customer') %>
  <% else %>
    <span class="text-gray-600">
      <%= Spree.t(:not_available) %>
    </span>
  <% end %>
<% end %>
