<% promotion = order_promotion.promotion %>
<tr>
  <td>
    <%= link_to promotion.name, spree.admin_promotion_path(promotion), class: "font-bold" %>
  </td>
  <td>
    <% if promotion.coupon_code? %>
      <span class="badge badge-light"><%= Spree.t(:coupon_code) %></span>
    <% else %>
      <span class="badge badge-info"><%= Spree.t(:automatic_promotion) %></span>
    <% end %>
  </td>
  <td>
    <%= Spree::Money.new(order_promotion.amount, currency: @order.currency).to_html %>
  </td>
  <td class="text-right">
    <% if can?(:destroy, order_promotion) %>
      <%= dropdown do %>
        <%= dropdown_toggle class: 'btn-light btn-sm px-1' do %>
          <%= icon('dots-vertical', class: 'mr-0') %>
        <% end %>
        <%= dropdown_menu do %>
          <%= link_to_with_icon 'trash',
                    Spree.t('actions.destroy'),
                    spree.admin_order_order_promotion_path(@order, order_promotion),
                    data: { turbo_method: :delete, turbo_confirm: Spree.t(:are_you_sure) },
                    class: "dropdown-item text-red-600 hover:bg-red-100" %>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>