<h1><%= t("Google Analytics") %></h1>
<br />
<table>
  <tr>
    <th><%= t("analytics_id") %></th>
    <th><%= t("is_active") %></th>
    <th></th>
  </tr>
<% @google_analytics.each do |ga_account| %>
  <tr>
    <td><%= ga_account.analytics_id %></td>
    <td><%= ga_account.is_active %></td>
    <td><%= link_to t("Delete"), object_url(ga_account), :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to "Create New Google Analytics Account", new_object_url %>
