<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("editing_zone") %></h1>

<%= render "shared/error_messages", :target => @zone %>

<%= form_for(@zone, :url => object_url, :html => { :method => :put }) do |zone_form| %>
  <%= render :partial => "form", :locals => { :zone_form => zone_form } %>
  <%= render :partial => "admin/shared/edit_resource_links" %>
<% end %>
