<h1><%= :zones.l("Zones") %></h1>
<table class="admin-report" width="545">
  <thead>
    <tr>
      <th><%= :name.l("Name") %></th>
      <th><%= :description.l("Description") %></th>
      <th><%= :action.l("Action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @collection.each do |zone| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%=zone.name %></td>
        <td><%=zone.description %></td>
        <td>
          <%=link_to :edit.l("Edit"), edit_object_url(zone) %> |
          <%=link_to :delete.l("Delete"), object_url(zone), :method => :delete %>
        </td>
      </tr>
    <% end %>
    <% if @collection.empty? %>
      <tr><td colspan="2">None.</td></tr>
    <% end %>
  </tbody>
</table>
<%= link_to :new_zone.l("New Zone"), new_object_url %>