<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("zones") %></h1>
<table class="admin-report" width="545">
  <thead>
    <tr>
      <th><%= order_by_link :name, :text => t("name") %></th>
      <th><%= order_by_link :description, :text => t("description") %></th>
      <th><%= t("action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @collection.each do |zone| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%=zone.name %></td>
        <td><%=zone.description %></td>
        <td>
          <%=link_to t("edit"), edit_object_url(zone) %> |
          <%=link_to t("delete"), object_url(zone), :method => :delete %>
        </td>
      </tr>
    <% end %>
    <% if @collection.empty? %>
      <tr><td colspan="2">None.</td></tr>
    <% end %>
  </tbody>
</table>

<%= page_links(:prev => "&#171; #{t('previous')}", :next => "#{t('next')} &#187;") if @search.page_count > 1 %>

<%= link_to t("new_zone"), new_object_url %>