<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("new_zone") %></h1>

<%= error_messages_for :zone %>

<% form_for(@zone, :url => collection_url) do |zone_form| %>
  <%= render "form", :zone_form => zone_form %>
  <p class="form-buttons">
    <span id="create-zone"><%= button t("create") %></span>
  </p>
<% end %>