<h1><%= t("extensions") %></h1>

<table id="extensions" class="full-table" width="800px">
  <thead>
    <tr>
      <th class="extension"><%= t("extension") %></th>
      <th class="website"><%= t("website") %></th>
      <th class="version"><%= t("version") %></th>
    </tr>
  </thead>
  <tbody>
    <% for extension in @extensions -%>
    <tr class="node level-1">
      <td class="extension">
	<h4><%= extension.extension_name %></h4>
	<p><%= extension.description %></p>
      </td>
      <td class="website"><%= link_to t("website"), extension.url, :target => "_blank" unless extension.url.blank? %></td>
      <td class="version"><%= extension.version %></td>
    </tr>
    <% end -%>
  </tbody>
</table>
