<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <%= turbo_frame_tag :dialog_modal do %>
      <div class="modal-content">
        <%= modal_header(Spree.t(:loading)) %>
        <div class="modal-body text-center min-h-[300px]">
          <%= render 'spree/admin/shared/spinner' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="modal-lg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <%= turbo_frame_tag :dialog_modal_lg do %>
      <div class="modal-content">
        <%= modal_header(Spree.t(:loading)) %>
        <div class="modal-body text-center min-h-[300px]">
          <%= render 'spree/admin/shared/spinner' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= turbo_frame_tag :modal_scripts %>
