<% if previous_cards.any? %>
  <ul class="list-group mb-6">
    <%= f.fields_for :source, @payment.source do |source_form| %>
      <% previous_cards.each do |card| %>
        <li class="list-group-item p-0">
          <%= source_form.label :id, value: card.id, class: "form-check-label flex items-center gap-4 px-6 py-6 w-full cursor-pointer hover:bg-gray-25" do %>
            <div class="form-check flex items-center">
              <%= source_form.radio_button :id, card.id, class: "form-check-input" %>
            </div>
            <%= payment_method_icon_tag(card.brand, width: 32, height: 32) %>
            <%= card.display_number %>
            <% if card.wallet_type.present? %>
              <%= payment_method_icon_tag(card.wallet_type, width: 32, height: 32) %>
            <% end %>
            <span class="text-gray-600 ms-auto">(<%= card.month %>/<%= card.year %>)</span>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
