<% if @order.could_use_store_credit? %>
  <ul class="list-group mb-6">
    <%= f.fields_for :source, @payment.source do |source_form| %>
      <% @store_credits.each do |credit| %>
        <li class="list-group-item p-0">
          <%= source_form.label :id, value: credit.id, class: "form-check-label flex items-center gap-4 px-6 py-6 w-full cursor-pointer hover:bg-gray-25" do %>
            <div class="form-check flex items-center">
              <%= source_form.radio_button :id, credit.id, class: "form-check-input", checked: @payment.source.id == credit.id || @store_credits.first.id == credit.id %>
            </div>
            <div class="font-normal">
              <%= Spree.t('admin.store_credit.amount_remaining_of_total', amount: credit.display_amount_remaining, total: credit.display_amount).html_safe %>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-danger w-full">
    <%= Spree.t('admin.user.no_store_credit') %>
  </div>
<% end %>
