<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:bulk_transfer) %>
<% end %>

<% content_for :page_actions do %>
  <ul class="actions inline-menu">
    <li>
    </li>
  </ul>
<% end %>

<script type='text/template' id='bulk_variant_template'>
  <tr>
    <td>{{name}}</td>
    <td class="align-center">{{quantity}}</td>
    <td class="align-center"><button class='icon-trash bulk_remove_variant button'
                data-variant-id='{{id}}' data-variant-name='{{name}}'>remove</button></td>
    <input type='hidden' id='variant[]' name='variant[]' value='{{id}}'>
    <input type='hidden' id='quantity[]' name='quantity[]' value='{{quantity}}'>
  </tr>
</script>

<%= form_tag admin_bulk_transfer_path, :method => :post do %>
  <fieldset class="twelve columns alpha">
    <legend align="center"><%= t(:transfer_stock)%></legend>
    <fieldset class="no-border-top" data-hook="admin_stock_movements_form_fields">
      <div class="row">
        <div class="alpha six columns">
          <div class="field" id="stock_movement_reference_number_field">
            <%= label_tag 'reference_number', raw("#{t(:reference_number)} (#{t(:optional)})") %>
            <%= text_field_tag :reference_number, '', class: 'fullwidth' %>
          </div>
        </div>

        <div class="six columns omega">
          <div class="field checkbox" id="receive_stock_field">
            <label for="receive_stock">
              <%= check_box_tag :bulk_receive_stock %>
              <%= t(:receive_stock) %>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="alpha six columns">
          <div class="field" id="destination_location_id_field">
            <%= label_tag :destination_location_id, t(:transfer_to_location) %>
            <%= select_tag :destination_location_id, options_from_collection_for_select(@stock_locations, :id, :name), class: 'select2 fullwidth' %>
          </div>

          <div class="field" id="stock_movement_variant_id_field">
            <%= label_tag 'variant_id', t(:variant) %>
            <%= select_tag 'bulk_variant', options_from_collection_for_select(@variants, :id, :name), class: 'select2 fullwidth' %>
          </div>
        </div>
        <div class="omega six columns">
          <div class="field" id="source_location_id_field">
            <%= label_tag :source_location_id, t(:transfer_from_location) %>
            <%= select_tag :source_location_id, options_from_collection_for_select(@stock_locations, :id, :name), class: 'select2 fullwidth' %>
          </div>

          <div class="field" id="stock_movement_quantity_field">
            <%= label_tag 'quantity', t(:quantity) %>
            <%= number_field_tag 'bulk_variant_quantity', 1, class: 'fullwidth' %>
          </div>
        </div>
      </div>

      <div class="filter-actions actions">
        <%= button t(:add), 'icon-plus button bulk_add_variant' %>
      </div>
    </fieldset>

    <div class="twelve columns alpha">
      <table class="index sortable">
        <colgroup>
          <col style="width: 60%" />
          <col style="width: 20%" />
          <col style="width: 20%" />
        </colgroup>
        <thead data-hook="bulk_variants_header">
          <th><%= t(:name) %></th>
          <th><%= t(:quantity) %></th>
          <th><%= t(:remove) %></th>
        </thead>
        <tbody id="bulk_variants_tbody">

        </tbody>
      </table>
    </div>

    <div class="filter-actions actions" data-hook="buttons">
      <%= button t(:transfer_stock), 'icon-plus bulk_transfer' %>
    </div>
  </fieldset>
<% end %>
