<% if import.completed? %>
  <div class="flex justify-center items-center my-12 flex-col pb-12">
    <%= icon('check', class: 'text-green-700', style: 'font-size: 4rem;') %>
    <p class="text-green-700 mb-3"><%= Spree.t('admin.imports.import_done') %>!</p>
    <%= link_to_with_icon 'arrow-back-up', Spree.t('admin.back_to_dashboard'), spree.admin_path, class: 'btn btn-light mb-12' %>
  </div>
<% else %>
  <div class="flex justify-center items-center my-12 flex-col" style="height: 200px;">
    <div class="inline-block w-16 h-16 border-4 border-current border-r-transparent rounded-full animate-spin mb-4 text-gray-600" role="status">
      <span class="sr-only"><%= Spree.t(:processing) %>...</span>
    </div>
    <p class="text-gray-600"><%= Spree.t(:processing) %>...</p>
  </div>
<% end %>