<% content_for :steps do %>
  <li class="border-right flex-grow-1 h-100 d-flex align-items-center justify-content-center active bg-white font-weight-bold">1. Map fields</li>
  <li class="border-right flex-grow-1 h-100 d-flex align-items-center justify-content-center">2. Process rows</li>
  <li class="flex-grow-1 h-100 d-flex align-items-center">3. Complete</li>
<% end %>

<% if @import.status == 'complete' %>

<% elsif @import.status == 'mapped' %>

<% else %>
  <div class="table-responsive border rounded mb-5">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center w-10">
            <%= Spree.t(:field_required) %>
          </th>
          <th>
            <%= Spree.t(:schema_field) %>
          </th>
          <th><%= Spree.t(:file_column) %></th>
        </tr>
      </thead>
      <tbody>
      <% @import.mappings.each do |mapping| %>
        <tr>
          <td class="text-center w-10">
            <%= render 'spree/admin/imports/mapping_icon', mapping: mapping %>
          </td>
          <td class="text-wrap w-40">
            <%= Spree.t(mapping.schema_field) %>

            <code class="ml-2"><%= mapping.schema_field %></code>
          </td>
          <td class="w-50">
            <%= render 'spree/admin/imports/mapping_form', import: @import, mapping: mapping %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <%= content_for :footer do %>
    <%= render 'spree/admin/imports/mapping_footer', import: @import %>
  <% end %>
<% end %>