<table>
  <tr>
    <td width="150"><%= t("First Name") %></td>
    <td><%= f.text_field :address_firstname %></td>
  </tr>
  <tr>
    <td><%= t("Last Name") %></td>
    <td><%= f.text_field :address_lastname %></td>
  </tr>
  <tr>
    <td><%= t("Street Address") %></td>
    <td><%= f.text_field :address_address1 %></td>
  </tr>
  <tr>
    <td><%= Globalite.localize(:street_address_2) %></td>
    <td><%= f.text_field :address_address2 %></td>
  </tr>
  <tr>
    <td><%= t("City") %></td>
    <td><%= f.text_field :address_city %></td>
  </tr>
  <tr id="address_states_row">
		<%= render :partial => "shared/states", :locals => {:presenter_type => presenter_type} %>
  </tr>
  <tr>
    <td><%= t("Zip") %></td>
    <td><%= f.text_field :address_zipcode %></td>
  </tr>
  <tr>
    <td><%= t("Country") %></td>
    <td>
			<%= f.collection_select :address_country_id, @countries, :id, :name, {}, {:style => 'width:150px;'} %>
			<%= observe_field "#{presenter_type}_presenter_address_country_id", 
			  :url => {:action => :country_changed },
	    	:update => 'address_states_row',
	  		:on => "changed",
		 		:with => "#{presenter_type}_presenter[address_country_id]",
				:loading => "$('address_states_row').childElements()[1].update('Loading...');"
			%>       
    </td>
  </tr>
  <tr>
    <td><%= t("Phone") %></td>
    <td><%= f.text_field :address_phone %></td>
  </tr>
</table>