<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<%= stylesheet_tags %>
<%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.validate.min.js', :cache => 'jquery-core' %>
<% unless I18n.locale.to_s[0..1] == 'en' -%>
  <%= javascript_include_tag ['localization/messages_', I18n.locale.to_s[0..1], '.js'].join %>
<% end -%>  
<%= meta_data_tags %> 
<%= yield :head %>
