<% form_tag login_path do %>

  <p><%= t("email") %>:<br />
  <%= text_field_tag 'email' %></p>

  <p><%= t("password") %>:<br />
  <%= password_field_tag 'password' %></p>

  <p><%= submit_tag t("log_in") %></p>

<% end %>