<% form_tag '/login' do %>
  <table>
    <tr>
      <td><%= t("email") %>: </td>
      <td>
        <%= text_field_tag 'email' %>
      </td>
    </tr>
    <tr>
      <td><%= t("password") %>:</td>
      <td>
        <%= password_field_tag 'password' %>
      </td>
    </tr>
  </table>
  <p><%= submit_tag t("log_in") %></p>
<% end %>