<table class="order-summary">
<!-->
  <tr>
    <th colspan="4" id="order-num"><%= t('order') %> # <%=@order.number%></th>
  </tr>
-->
  <tr>
    <th><%= t('item_description') %></th>
    <th><%= t('price') %></th>
    <th><%= t('qty') %></th>
    <th><%= t('total') %></th>
  </tr>
  <% @order.line_items.each do |item| %>
  <tr >
    <td width="300"><%=item.variant.product.name-%> <%= "(" + variant_options(item.variant) + ")" unless item.variant .option_values.empty? %></td>
    <td valign="top"><%= number_to_currency item.price -%></td>
    <td valign="top"><%=item.quantity-%></td>
    <td valign="top"><%= number_to_currency (item.price * item.quantity)-%></td>
  </tr>
  <% end %>      
  <tr id="subtotal-row">
    <td colspan="3"><b><%= t('subtotal') %>:</b></td>
    <td><%= number_to_currency @order.item_total -%></td>
  </tr>
  <tr>
    <td colspan="3"><b><%= t('tax') %>:</b></td>
    <td><%= number_to_currency @order.tax_amount -%></td>
  </tr>
  <tr>
    <td colspan="3"><b><%= t('shipping') %>:</b> 
      <% if @order.shipment %>
        (<%= @order.shipment.shipping_method.name %>)
      <% end %>
    </td>
    <td><%= number_to_currency @order.ship_amount -%></td>
  </tr>
  <tr>
    <td colspan="3"><b><%= t('order_total') %>:</b></td>
    <td><%= number_to_currency @order.total -%></td>
  </tr>
</table>
