<table class="order-summary">
  <tr>
    <th colspan="4" id="order-num"><%= :order.l('Order') %> # <%=@order.number%></th>
  </tr>
  <tr>
    <th><%= :item_description.l('Item Description') %></th>
    <th><%= :price.l('Price') %></th>
    <th><%= :qty.l('Qty') %></th>
    <th><%= :total.l('Total') %></th>
  </tr>
  <% for item in @order.line_items %>
  <tr >
    <td width="300"><%=item.variant.product.name-%> <%= "(" + variant_options(item.variant) + ")" unless item.variant .option_values.empty? %></td>
    <td valign="top"><%= number_to_currency item.price -%></td>
    <td valign="top"><%=item.quantity-%></td>
    <td valign="top"><%= number_to_currency (item.price * item.quantity)-%></td>
  </tr>
  <% end %>      
  <tr id="subtotal-row">
    <td colspan="3"><b><%= :subtotal.l('Subtotal') %>:</b></td>
    <td><%= number_to_currency @order.item_total -%></td>
  </tr>
  <tr>
    <td colspan="3"><b><%= :tax.l('Tax') %>:</b></td>
    <td><%= number_to_currency @order.tax_amount -%></td>
  </tr>
  <tr>
    <td colspan="3"><b><%= :shipping.l('Shipping') %>:</b></td>
    <td><%= number_to_currency @order.ship_amount -%></td>
  </tr>
  <tr>
    <td colspan="3"><b><%= :order_total.l('Order Total') %>:</b></td>
    <td><%= number_to_currency @order.total -%></td>
  </tr>
</table>
