<table width="100%">
  <tr>
    <td id="order-num"><%= t('order') %> # <%=@order.number%></td>
    <td align="right">
      <b><%= @order.state.titleize %></b>
    </td>
  </tr>
</table>
<div id="tab-container">
  <ul id="tabnav">
  	<li>
  	  <%= link_to t("order_details"), 
  	              admin_order_url(@order), 
  	              :class => (current == "Order Details" ? "active" : "") %>
  	</li>
  	<li>
  	  <%= link_to t("payments"), 
  	              admin_order_payments_url(@order), 
  	              :class => (current == "Payments" ? "active" : "") %>
  	</li>
		<% if @order_admin_tabs && @order_admin_tabs.size > 0
			@order_admin_tabs.each do |extension| %>
	     <li>
	  	  <%= link_to extension[:name].titleize.pluralize, 
	  	              eval(extension[:url] + " @order") ,
										:class => (current == extension[:name].titleize.pluralize ? "active" : "") %>
	  	</li>
	   <% end
		end %>
		
  </ul>
</div>