<div id="tab-container">
  <ul id="tabnav">
  	<li>
  	  <%= link_to t("product_details"), 
  	              edit_admin_product_url(@product), 
  	              :class => (current == "Product Details" ? "active" : "") %>
  	</li>
  	<li>
  	  <%= link_to t("variants"), 
  	              admin_product_variants_url(@product), 
  	              :class => (current == "Variants" ? "active" : "") %>
    </li>
  	<li>
  	  <%= link_to t("option_types"), 
  	              selected_admin_product_option_types_url(@product),
  	              :class => (current == "Option Types" ? "active" : "") %>
  	</li>
  	<li>
  	  <%= link_to t("product_properties"), 
  	              admin_product_product_properties_url(@product),
  	              :class => (current == "Product Properties" ? "active" : "") %>
  	</li>
  	<li>
  	  <%= link_to t("taxons"), 
  	              selected_admin_product_taxons_url(@product),
  	              :class => (current == "Taxons" ? "active" : "") %>
  	</li>
		<% if @product_admin_tabs && @product_admin_tabs.size > 0
			@product_admin_tabs.each do |extension| %>
	     <li>
	  	  <%= link_to extension[:name].capitalize.pluralize, 
	  	              eval(extension[:url] + " @product") ,
										:class => (current == extension[:name].capitalize.pluralize ? "active" : "") %>
	  	</li>
	   <% end
		end %>
		
  </ul>
</div>