<% if available_stores.count > 1 %>
  <div class="modal fade" id="switch-store-modal" tabindex="-1" role="dialog" aria-labelledby="switchStoreModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="switchStoreModalLabel">
            <%= icon 'switch-horizontal', class: 'mr-2' %>
            <%= Spree.t(:switch_store) %>
          </h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="<%= Spree.t(:close) %>" />
        </div>
        <div class="modal-body">
          <div class="list-group">
            <% available_stores.each do |store| %>
              <% if store.id != current_store.id %>
                <%= link_to spree.admin_dashboard_url(host: store.url), class: 'list-group-item hover-light d-flex text-dark w-100 align-items-center text-primary' do %>
                  <%= store_admin_icon(current_store, height: 32, width: 32) %>
                  <span class="ml-3">
                    <%= store.name %>
                  </span>
                <% end %>
              <% else %>
                <div class="list-group-item d-flex text-dark w-100 align-items-center cursor-disabled active">
                  <%= store_admin_icon(current_store, height: 32, width: 32) %>
                  <span class="ml-3">
                    <%= store.name %>
                  </span>

                  <%= icon('check', class: 'ml-auto') %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="border-bottom border-bottom-dashed pb-2 d-flex align-items-center justify-content-between pr-1" id="store-menu" data-turbo-permanent>
  <div class="dropdown">
    <button type="button" class="btn d-flex align-items-center justify-content-between text-left dropdown-toggle d-flex align-items-center gap-2"
            data-toggle="dropdown" aria-expanded="false">
      <%= store_admin_icon(current_store, height: 32, width: 32) %>
      <span class="d-none d-lg-block">
        <%= truncate(current_store.name, length: 10) %>
      </span>
    </button>
    <div class="dropdown-menu">
      <%= link_to current_store.formatted_url_or_custom_domain, class: 'dropdown-item', target: '_blank' do %>
        <%= icon 'eye' %>
        <%= Spree.t(:view_store) %>
      <% end %>
      <%= link_to spree.edit_admin_theme_path(current_store.default_theme), class: 'dropdown-item' do %>
        <%= icon 'tools' %>
        <%= Spree.t('admin.edit_theme') %>
      <% end if current_store.default_theme && can?(:manage, Spree::Theme) %>

      <% if available_stores.count > 1 %>
        <div class="dropdown-divider"></div>
        <%= link_to "#", class: 'dropdown-item mb-0', data: { toggle: 'modal', target: '#switch-store-modal' } do %>
          <%= icon 'switch-horizontal' %>
          <%= Spree.t(:switch_store) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="dropdown">
    <button type="button" class="btn btn-sm btn-light shadow-xs" data-toggle="dropdown" aria-expanded="false">
      <%= icon 'plus', class: 'mr-0' %>
    </button>
    <div class="dropdown-menu">
      <%= link_to_with_icon 'shopping-cart', Spree.t(:new_order), spree.admin_orders_path, class: "dropdown-item", data: { turbo_method: :post } if can?(:create, Spree::Order)  %>

      <%= link_to spree.new_admin_product_path, class: 'dropdown-item' do %>
        <%= icon 'box' %>
        <%= Spree.t(:new_product) %>
      <% end if can?(:create, Spree::Product) %>
      <%= link_to spree.new_admin_user_path, class: 'dropdown-item' do %>
        <%= icon 'user' %>
        <%= Spree.t(:new_user) %>
      <% end if can?(:create, Spree.user_class) %>

      <%= link_to spree.new_admin_promotion_path, class: 'dropdown-item' do %>
        <%= icon 'discount' %>
        <%= Spree.t(:new_promotion) %>
      <% end if can?(:create, Spree::Promotion) %>

      <%= invite_vendor_button(class: 'dropdown-item') if defined?(invite_vendor_button) %>

      <% if can?(:create, Spree::Store) %>
        <div class="dropdown-divider"></div>

        <span data-toggle="modal" data-target="#modal-lg">
          <%= link_to_with_icon 'building-store', Spree.t(:new_store), spree.new_admin_store_path, class: 'dropdown-item', data: { turbo_frame: 'dialog_modal_lg' } %>
        </span>
      <% end %>
    </div>
  </div>
</div>

