<div data-hook="admin_return_authorization_form_fields">
  <table class="index">
    <thead>
      <tr data-hook="rma_header">
        <th><%= check_box_tag 'select-all' %></th>
        <th><%= Spree.t(:product) %></th>
        <th><%= Spree.t(:state) %></th>
        <th><%= Spree.t(:price) %></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :return_items, @form_return_items do |item_fields| %>
        <% return_item = item_fields.object %>
        <% inventory_unit = return_item.inventory_unit %>
        <tr>
          <td class="align-center" class="inventory-unit-checkbox">
            <% if inventory_unit.shipped? %>
              <%= item_fields.hidden_field :inventory_unit_id %>
              <%= item_fields.check_box :_destroy, {checked: return_item.persisted?, class: 'add-item', "data-price" => inventory_unit.line_item.rounded_total_per_item}, '0', '1' %>
            <% end %>
          </td>
          <td>
            <div class="variant-name"><%= inventory_unit.variant.name %></div>
            <div class="variant-options"><%= inventory_unit.variant.options_text %></div>
          </td>
          <td class="align-center"><%= inventory_unit.state.humanize %></td>
          <td class="align-center"><%= inventory_unit.line_item.display_rounded_total_per_item %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.field_container :amount do %>
    <%= f.label :amount, Spree.t(:amount) %> <span class="required">*</span><br />
    <% if @return_authorization.received? %>
      <%= @return_authorization.display_amount %>
    <% else %>
      <%= f.text_field :amount, {:style => 'width:80px;'} %> <%= Spree.t(:rma_value) %>: <span id="rma_value">0.00</span>
      <%= f.error_message_on :amount %>
    <% end %>
  <% end %>

  <%= f.field_container :reason do %>
    <%= f.label :reason, Spree.t(:reason) %>
    <%= f.text_area :reason, {:style => 'height:100px;', :class => 'fullwidth'} %>
    <%= f.error_message_on :reason %>
  <% end %>

  <%= f.field_container :stock_location do %>
    <%= f.label :stock_location, Spree.t(:stock_location) %>
    <%= f.select :stock_location_id, Spree::StockLocation.active.to_a.collect{|l|[l.name, l.id]}, {:style => 'height:100px;', :class => 'fullwidth'} %>
    <%= f.error_message_on :reason %>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    function updateSuggestedAmount() {
      $("span#rma_value").html()
      var rma_amount = 0;
      $.each($("input.add-item:checked"), function(i, checkbox) {
        rma_amount += $(checkbox).data("price");
      });

      if(!isNaN(rma_amount)){
        $("span#rma_value").html(rma_amount.toFixed(2));
      }
    }

    updateSuggestedAmount();

    $("input#select-all").on("change", function() {
      $("input.add-item").prop('checked', this.checked);
      updateSuggestedAmount();
    });

    $("input.add-item").on("change", updateSuggestedAmount);
  });
</script>
