<div data-hook="admin_return_authorization_form_fields">
  <table class="index">
    <thead>
      <tr data-hook="rma_header">
        <th><%= Spree.t(:product) %></th>
        <th><%= Spree.t(:total_per_item) %></th>
        <th><%= Spree.t(:quantity_shipped) %></th>
        <th><%= Spree.t(:quantity_returned) %></th>
        <th><%= Spree.t(:return_quantity) %></th>
      </tr>
    </thead>
    <tbody>
      <% @return_authorization.order.line_items.each do |line_item| %>
        <% next if line_item.inventory_units.shipped.none? %>
        <tr id="<%= dom_id(line_item) %>" data-hook="rma_row" class="<%= cycle('odd', 'even')%>">
          <td>
            <div class="variant-name"><%= line_item.variant.name %></div>
            <div class="variant-options"><%= line_item.variant.options_text %></div>
          </td>
          <td class="align-center"><%= line_item.display_rounded_total_per_item %></td>
          <td class="align-center"><%= line_item.inventory_units.shipped.size %></td>
          <td class="align-center"><%= line_item.inventory_units.returned.size %></td>
          <td class="return_quantity align-center">
            <% if @return_authorization.received? %>
              <%= @return_authorization.inventory_units.group_by(&:variant)[line_item.variant].try(:size) || 0 %>
            <% else %>
              <% returning_count = @return_authorization.inventory_units.group_by(&:variant)[line_item.variant].try(:size) || 0 %>
              <%= number_field_tag "return_quantity[#{line_item.variant.id}]", returning_count, { :style => 'width:100px;',
                  :min => 0, :max => line_item.inventory_units.shipped.size, "data-line-item-id" => line_item.id} %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.field_container :amount do %>
    <%= f.label :amount, Spree.t(:amount) %> <span class="required">*</span><br />
    <% if @return_authorization.updatable? %>
      <%= f.text_field :amount, {:style => 'width:80px;'} %> <%= Spree.t(:rma_value) %>: <span id="rma_value">0.00</span>
      <%= f.error_message_on :amount %>
    <% else %>
      <%= @return_authorization.display_amount %>
    <% end %>
  <% end %>

  <%= f.field_container :reason do %>
    <%= f.label :reason, Spree.t(:reason) %>
    <%= f.text_area :reason, {:style => 'height:100px;', :class => 'fullwidth'} %>
    <%= f.error_message_on :reason %>
  <% end %>

  <%= f.field_container :stock_location do %>
    <%= f.label :stock_location, Spree.t(:stock_location) %>
    <%= f.select :stock_location_id, Spree::StockLocation.active.to_a.collect{|l|[l.name, l.id]}, {:style => 'height:100px;', :class => 'fullwidth'} %>
    <%= f.error_message_on :reason %>
  <% end %>
</div>

<script>
  var line_item_amounts = {};
  <% @return_authorization.order.line_items.each do |line_item| %>
    line_item_amounts[<%= line_item.id.to_s %>] = <%= line_item.rounded_total_per_item %>;
  <% end %>

  $(document).ready(function(){
    var rma_amount = 0;
    $("td.return_quantity input").on('change', function() {
      var rma_amount = 0;
      $.each($("td.return_quantity input"), function(i, input) {
        var line_item_id = $(input).data('line-item-id');
        rma_amount += line_item_amounts[line_item_id] * $(input).val();
      });

      if(!isNaN(rma_amount)){
        $("span#rma_value").html(rma_amount.toFixed(2));
      }
    })
  });
</script>
