<div data-hook="admin_return_authorization_form_fields">
  <table class="index return-items-table">
    <thead>
      <tr data-hook="rma_header">
        <th>
          <% if @return_authorization.updatable? %>
            <%= check_box_tag 'select-all' %>
          <% end %>
        </th>
        <th><%= Spree.t(:product) %></th>
        <th><%= Spree.t(:state) %></th>
        <% if @allow_amount_edit %>
          <th><%= Spree.t(:charged) %></th>
        <% end %>
        <th><%= Spree.t(:pre_tax_refund_amount) %></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :return_items, @form_return_items do |item_fields| %>
        <% return_item = item_fields.object %>
        <% inventory_unit = return_item.inventory_unit %>
        <tr>
          <td class="align-center" class="inventory-unit-checkbox">
            <% if inventory_unit.shipped? && @return_authorization.updatable? %>
              <%= item_fields.hidden_field :inventory_unit_id %>
              <%= item_fields.check_box :_destroy, {checked: return_item.persisted?, class: 'add-item', "data-price" => return_item.pre_tax_amount}, '0', '1' %>
            <% end %>
          </td>
          <td>
            <div class="variant-name"><%= inventory_unit.variant.name %></div>
            <div class="variant-options"><%= inventory_unit.variant.options_text %></div>
          </td>
          <td class="align-center"><%= inventory_unit.state.humanize %></td>
          <% if @allow_amount_edit %>
            <td class="align-center">
              <%= return_item.display_pre_tax_amount %>
            </td>
          <% end %>
          <td class="align-center">
            <% if inventory_unit.shipped? && @return_authorization.updatable? %>
              <% if @allow_amount_edit %>
                <%= item_fields.text_field :pre_tax_amount, { class: 'refund-amount-input' } %>
              <% else %>
                <%= item_fields.hidden_field :pre_tax_amount %>
                <%= return_item.display_pre_tax_amount %>
              <% end %>
            <% else %>
              <%= return_item.display_pre_tax_amount %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.field_container :amount do %>
    <%= Spree.t(:total_pre_tax_refund) %>: <span id="rma_value">0.00</span>
  <% end %>

  <%= f.field_container :stock_location do %>
    <%= f.label :stock_location, Spree.t(:stock_location) %>
    <%= f.select :stock_location_id, Spree::StockLocation.active.to_a.collect{|l|[l.name, l.id]}, {include_blank: true}, {class: 'select2 fullwidth', "data-placeholder" => Spree.t(:select_a_stock_location)} %>
    <%= f.error_message_on :stock_location_id %>
  <% end %>

  <%= f.field_container :reason do %>
    <%= f.label :return_authorization_reason, Spree.t(:reason) %>
    <%= f.select :return_authorization_reason_id, @reasons.collect{|r|[r.name, r.id]}, {include_blank: true}, {class: 'select2 fullwidth', "data-placeholder" => Spree.t(:select_a_return_authorization_reason)} %>
    <%= f.error_message_on :return_authorization_reason_id %>
  <% end %>

  <%= f.field_container :memo do %>
    <%= f.label :memo, Spree.t(:memo) %>
    <%= f.text_area :memo, {:style => 'height:100px;', :class => 'fullwidth'} %>
    <%= f.error_message_on :memo %>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    function updateSuggestedAmount() {
      $("span#rma_value").html()
      var rma_amount = 0;
      $.each($("input.add-item:checked"), function(i, checkbox) {
        rma_amount += $(checkbox).data("price");
      });

      if(!isNaN(rma_amount)){
        $("span#rma_value").html(rma_amount.toFixed(2));
      }
    }

    updateSuggestedAmount();

    $("input#select-all").on("change", function() {
      $("input.add-item").prop('checked', this.checked);
      updateSuggestedAmount();
    });

    $("input.add-item").on("change", updateSuggestedAmount);
  });
</script>
