<% content_for :page_actions do %>
  <% if @return_authorization.can_cancel? %>
    <li>
      <%= button_link_to Spree.t('actions.cancel'), fire_admin_order_return_authorization_url(@order, @return_authorization, e: 'cancel'), method: :put, data: { confirm: Spree.t(:are_you_sure) }, icon: 'remove' %>
    </li>
  <% end %>
  <li>
    <%= button_link_to Spree.t(:back), spree.admin_order_return_authorizations_url(@order), icon: 'arrow-left' %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Return Authorizations' } %>

<% content_for :page_title do %>
  <span class="glyphicon glyphicon-arrow-right"></span> <%= Spree.t(:return_authorization) %> <%= @return_authorization.number %> (<%= Spree.t(@return_authorization.state.downcase) %>)
<% end %>


<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @return_authorization } %>
<%= form_for [:admin, @order, @return_authorization] do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div class="form-buttons" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'repeat' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_order_return_authorizations_url(@order), :icon => 'remove' %>
    </div>
  </fieldset>
<% end %>
