<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: :return_authorizations } %>

<% content_for :page_title do %>
  / <%= Spree.t(:new_return_authorization) %>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @return_authorization } %>
<%= form_for [:admin, @order, @return_authorization] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>

    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t(:create), 'save.svg' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), spree.admin_order_return_authorizations_url(@order), icon: 'cancel.svg' %>
    </div>
  </fieldset>
<% end %>
