<% width ||= 300 %>
<% height ||= 300 %>
<% crop ||= false unless defined?(crop) %>
<% auto_submit ||= false %>
<% allowed_file_types ||= Rails.application.config.active_storage.web_image_content_types %>
<% show_delete_button = defined?(can_delete) ? can_delete : true %>
<% css ||= '' %>

<% if field_name && form %>
  <div data-controller="active-storage-upload"
      data-active-storage-upload-thumb-width-value="<%= width %>"
      data-active-storage-upload-thumb-height-value="<%= height %>"
      data-active-storage-upload-crop-value="<%= crop.presence || false %>"
      data-active-storage-upload-auto-submit-value="<%= auto_submit %>"
      data-active-storage-upload-field-name-value="<%= form.object_name %>[<%= field_name %>]"
      data-active-storage-upload-allowed-file-types-value="<%= allowed_file_types %>"
      class="flex flex-col justify-center w-full relative">
    <div class="upload-area"
         data-action="click->active-storage-upload#open"
    >
      <% if form.object.send(field_name).attached? && form.object.send(field_name).variable? %>
        <%= spree_image_tag(
          form.object.send(field_name),
          width: width,
          height: height,
          class: 'img-fluid rounded',
          data: { active_storage_upload_target: 'thumb' },
          loading: :lazy
        ) %>
      <% else %>
        <img data-active-storage-upload-target="thumb" class="img-fluid rounded-xl" style="display: none" />
      <% end %>

      <div class="flex flex-col justify-center items-center h-full p-12 rounded-xl <%= css %>" data-active-storage-upload-target="placeholder" <% if form.object.send(field_name).attached? && form.object.send(field_name).variable? %>style="display: none !important"<% end %>>
        <%= icon('upload', class: 'mr-0 mb-5 text-4xl') %>
        <span class="text-lg font-medium">
          <%= Spree.t('admin.upload_new_asset') %>
        </span>

        <% if crop %>
          <span class="ml-2 text-center text-sm mt-2">
            <%= Spree.t('admin.recommended_size') %>: <%= width %>x<%= height %>px
          </span>
        <% end %>
      </div>
    </div>

    <div class="flex items-center my-2" data-active-storage-upload-target="toolbar" <% unless form.object.send(field_name).attached? && form.object.send(field_name).variable? %>style="display: none !important"<% end %>>
      <button type="button" class="btn btn-light" data-action="active-storage-upload#open">
        <%= icon('upload') %>
        <%= Spree.t('actions.select_file') %>
      </button>

      <% if show_delete_button %>
        <button type="button" class="btn btn-danger ml-auto" data-action="active-storage-upload#remove" data-turbo-confirm="<%= Spree.t(:are_you_sure) %>">
          <%= icon('trash') %>

          <%= Spree.t('actions.destroy') %>
        </button>
        <input type="hidden" name="remove_<%= field_name %>" data-active-storage-upload-target="remove" />
      <% end %>
    </div>
  </div>
<% end %>
