<div class="card-dialog mx-auto lg:w-1/3">
  <h3 class="mb-5 font-semibold"><%= Spree.t(:find_your_order) %></h3>
  <%= form_tag spree.order_status_path, data: { turbo: false } do %>
    <div class="mb-5">
      <p>
        <%= email_field_tag :email, params[:email], class: 'text-input w-full', placeholder: Spree.t(:email), required: true %>
      </p>
    </div>
    <div class="mb-5">
      <p>
        <%= text_field_tag :number, params[:number], class: 'text-input w-full', placeholder: Spree.t(:order_number), required: true %>
      </p>
    </div>
    <%= submit_tag Spree.t(:find_your_order), class: 'btn-primary block w-full  lg:w-48  text-center mx-auto' %>
  <% end %>
</div>
