<h2><%= t(:spree_analytics_token) %></h2>

<%= form_tag admin_dash_preferences_path, :method => :put  do %>
  <table data-hook="dash_preferences">
    <tr data-hook="app_id">
      <td><%= t(:analytics_app_id) %>:</td>
      <td><%= text_field_tag :app_id, Spree::Dash::Config.app_id, :size => 50 %></td>
    </tr>
    <tr data-hook="site_id">
      <td><%= t(:analytics_site_id) %>:</td>
      <td><%= text_field_tag :site_id, Spree::Dash::Config.site_id, :size => 50 %></td>
    </tr>
    <tr data-hook="token">
      <td><%= t(:analytics_token) %>:</td>
      <td><%= text_field_tag :token, Spree::Dash::Config.token, :size => 50 %></td>
    </tr>
  </table>

  <p class="form-buttons" data-hook="buttons">
  <%= button t(:update) %> <%= link_to t(:cancel), admin_path %>
  </p>

<% end %>
