<div data-hook="admin_image_form_fields">
  <div data-hook="file" class="field">
    <%= f.label t(:filename) %>:
    <%= f.file_field :attachment %>
  </div>
  <div data-hook="variant" class="field">
    <%= f.label Spree::Variant.model_name.human %>:
    <%= f.select :viewable_id, @variants, {}, {:class => 'select2'} %>
  </div>
  <div data-hook="alt_text" class="field">
    <%= f.label t(:alt_text) %>:
    <%= f.text_area :alt %>
  </divr>
</div>
