<%= form_for [:admin, @product, @image], :html => { :multipart => true } do |f| %>
  <fieldset data-hook="new_image">
    <legend><%= t(:new_image) %></legend>

      <%= render :partial => 'form', :locals => { :f => f } %>
    
      <div class="form-buttons" data-hook="buttons">
        <%= button t(:update) %>
        <%= t(:or) %>
        <%= link_to_with_icon 'icon-remove', t(:cancel), admin_product_images_url(@product), :id => 'cancel_link' %>
      </div>
  </fieldset>
<% end %>

<%= javascript_include_tag 'admin/images/new.js' %>