<div class="card mb-4">
  <div class="card-body">
    <%= f.spree_text_field :name, autofocus: f.object.new_record?, required: true %>

    <div class="form-group">
      <%= f.label :type, Spree.t(:type) %>
      <%= f.select :type,
                options_for_select(
                  Spree::ReimbursementType::KINDS.map do |kind|
                    [kind.demodulize.titleize, kind]
                  end,
                ),
                { include_blank: false },
                { class: "custom-select" } %>
      <%= f.error_message_on :type %>
    </div>

    <%= f.spree_check_box :active, label: Spree.t(:active) %>

    <%= f.spree_check_box :mutable, label: Spree.t(:mutable) %>
  </div>
</div>
