<% content_for :page_title do %>
  <%= page_header_back_button spree.admin_reimbursement_types_url %>
  <%= Spree.t(:new_reimbursement_type) %>
<% end %>

<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <%= form_for [:admin, @reimbursement_type] do |reimbursement_form| %>
      <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @reimbursement_type } %>
      <%= render partial: 'form', locals: { f: reimbursement_form } %>
      <%= render 'spree/admin/shared/new_resource_links' %>
    <% end %>
  </div>
</div>