<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>

<% @body_id = 'login' %>
<div id="existing-customer">
  <h2><%= t(:login_as_existing) %></h2>
  <div data-hook="login">
    <%= render :partial => 'shared/login' %>
    <%= t(:or) %> <%= link_to t(:create_a_new_account), signup_path %> | <%= link_to t(:forgot_password), new_user_password_path %>
  </div>
</div>
<div data-hook="login_extras"></div>
