<tr id="<%= dom_id product_scope %>">
  <td>
    <label><%= t(:name, :scope => [:product_scopes, :scopes, product_scope.name]) %></label>
    <% if description = t(:description, :scope => [:product_scopes, :scopes, product_scope.name], :default => "") and description.present? %>
      <br /><%= description %>
    <% end %>
  </td>
  <td>
    <% if arguments = Scopes::Product.arguments_for_scope_name(product_scope.name.strip) %>
      <table><tr>
      <% arguments.each_with_index do |argument, i| %>
        <td>
          <label><%= t(argument, :scope => [:product_scopes, :scopes, product_scope.name, :args]) %></label><br />
          <%= hidden_field_tag "product_group[product_scopes_attributes][][id]", product_scope.id %>
          <%= product_scope_field product_scope, i %>
        </td>
      <% end %>
      </tr></table>
    <% end %>
  </td>
  <td class="actions">
    <%= link_to_with_icon 'cross', '', admin_product_group_product_scope_path(@product_group, product_scope), 'data-remote' => true, 'data-method' => 'delete' %>
  </td>
</tr>
