<div data-hook="admin_shipping_method_form_fields" class="alpha twelve columns">
  <div class="alpha four columns">
    <%= f.field_container :name do %>
      <%= f.label :name, t(:name) %><br />
      <%= f.text_field :name, :class => 'fullwidth' %>
      <%= error_message_on :shipping_method, :name %>
    <% end %>
  </div>


  <div class="omega four columns">
    <%= f.field_container :display_on do %>
      <%= f.label :display_on, t(:display) %><br />
      <%= select(:shipping_method, :display_on, Spree::ShippingMethod::DISPLAY.collect { |display| [t(display), display == :both ? nil : display.to_s] }, {}, {:class => 'select2 fullwidth'}) %>
      <%= error_message_on :shipping_method, :display_on %>
    <% end %>
  </div>

  <div class="alpha twelve columns">
    <%= f.field_container :tracking_url do %>
      <%= f.label :tracking_url, t(:tracking_url) %><br />
      <%= f.text_field :tracking_url, :class => 'fullwidth', :placeholder => t(:tracking_url_placeholder) %>
      <%= error_message_on :shipping_method, :tracking_url %>
    <% end %>
  </div>
</div>

<div data-hook="admin_shipping_method_form_availability_fields" class="alpha six columns">
  <fieldset class="categories no-border-bottom">
    <legend align="center"><%= t(:zones) %></legend>
  <div class="four columns">
    
    <%= f.field_container :zones do %>
      <% Spree::Zone.all.each do |zone| %>
        <%= f.label :zone_id, zone.name %>
        <%= check_box_tag('shipping_method[zones][]', zone.id, @shipping_method.zones.include?(zone)) %><br>
      <% end %>
      <%= error_message_on :shipping_method, :zone_id %>
    <% end %>
  </div>


  </fieldset>
</div>

<div data-hook="admin_shipping_method_form_calculator_fields" class="omega six columns">
  <%= render :partial => 'spree/admin/shared/calculator_fields', :locals => { :f => f } %>
</div>
