<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:shipping_methods) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_shipping_method), new_object_url,  :icon => 'icon-plus', :id => 'admin_new_shipping_method_link' %>
  </li>
<% end %>

<% if @shipping_methods.any? %>
  <table class="index" id='listing_shipping_methods'>
    <colgroup>
      <col style="width: 20%">
      <col style="width: 15%">
      <col style="width: 40%">
      <col style="width: 10%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr data-hook="admin_shipping_methods_index_headers">
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:zone) %></th>
        <th><%= Spree.t(:calculator) %></th>
        <th><%= Spree.t(:display) %></th>
        <th data-hook="admin_shipping_methods_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @shipping_methods.each do |shipping_method|%>
        <tr id="<%= spree_dom_id shipping_method %>" data-hook="admin_shipping_methods_index_rows" class="<%= cycle('odd', 'even')%>">
          <td class="align-center"><%= shipping_method.admin_name + ' / ' if shipping_method.admin_name.present? %><%= shipping_method.name %></td>
          <td class="align-center"><%= shipping_method.zones.collect(&:name).join(", ") if shipping_method.zones %></td>
          <td class="align-center"><%= shipping_method.calculator.description %></td>
          <td class="align-center"><%= shipping_method.display_on.blank? ? Spree.t(:both) : Spree.t(shipping_method.display_on) %></td>
          <td data-hook="admin_shipping_methods_index_row_actions" class="actions">
            <%= link_to_edit shipping_method, :no_text => true %>
            <%= link_to_delete shipping_method, :no_text => true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/shipping_method')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_shipping_method_path %>!
  </div>
<% end %>

