<div class="panel panel-default currencies">
  <div class="panel-heading">
    <%= Spree.t(:currencies) %>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <%= check_box('', :allow_currency_change, { checked: Spree::Config.allow_currency_change }) %>
          <%= Spree.t('allow_currency_change.short') %>
        </label>
        <p class="help-block"><%= Spree.t('allow_currency_change.long') %></p>
      </div>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
          <%= check_box('', :show_currency_selector, { checked: Spree::Config.show_currency_selector}) %>
          <%= Spree.t('show_currency_selector.short') %>
        </label>
        <p class="help-block"><%= Spree.t('show_currency_selector.long_html') %></p>
      </div>
    </div>
  </div>
</div>
