<% content_for :page_title do %>
  <%= Spree.t(:general_settings) %>
<% end %>

<%= form_tag admin_general_settings_path, method: :put do %>
  <div id="preferences" data-hook>

    <fieldset class="general no-border-top">

      <div class="row">
        <div class="col-12 col-lg-6">
          <%#-------------------------------------------------%>
          <%# Security settings                               %>
          <%#-------------------------------------------------%>
          <% if @preferences_security.any? %>
            <div class="card mb-3" id="general-settings-security" data-hook="general_settings_security">
              <div class="card-header">
                <h1 class="card-title mb-0 h5">
                  <%= Spree.t(:security_settings) %>
                </h1>
              </div>

              <div class="card-body">
                <% @preferences_security.each do |key|
                    type = Spree::Config.preference_type(key) %>
                    <div class="checkbox">
                      <%= label_tag key do %>
                        <%= preference_field_tag(key, Spree::Config[key], type: type) %>
                        <%= Spree.t(key) %>
                      <% end %>
                    </div>
                <% end %>
              </div>
            </div>
          <% end %>

          <%#-------------------------------------------------%>
          <%# Clear cache                                     %>
          <%#-------------------------------------------------%>
          <div class="card mb-3" id="general-settings-cache" data-hook="general_settings_cache">
            <div class="card-header">
              <h1 class="card-title mb-0 h5"><%= Spree.t(:clear_cache)%></h1>
            </div>

            <div class="card-body">
              <div class="clear-cache-warning alert alert-warning">
                <%= Spree.t(:clear_cache_warning) %>
              </div>
              <div data-hook="general_settings_clear_cache">
                <%= button Spree.t(:clear_cache), 'recycle.svg', 'button', id: "clear_cache" %>
              </div>
            </div>
          </div>

        </div>
        <div class="col-12 col-lg-6">

          <%#-------------------------------------------------%>
          <%# Currency Settings                               %>
          <%#-------------------------------------------------%>
          <div class="card mb-3" id="general-settings-currency" data-hook="general_settings_currency">
            <div class="card-header">
              <h1 class="card-title mb-0 h5">
                <%= Spree.t(:currency_settings)%>
              </h1>
            </div>

            <div class="card-body">
              <div class="form-group">
                <%= label_tag :currency, Spree.t(:choose_currency) %>
                <%= select_tag :currency, currency_options %>
              </div>
              <%= render partial: 'form' %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'save.svg' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), edit_admin_general_settings_url, icon: 'cancel.svg' %>
      </div>

    </fieldset>

  </div>

<% end %>

<script>
  $('#store_default_currency').select2();
  $('#currency').select2();
</script>
