<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:general_settings) %>
<% end %>

<%= form_tag admin_general_settings_path, :method => :put do %>
  <div id="preferences" data-hook>

    <fieldset class="general no-border-top">

      <%= fields_for :store do |f| %>
        <div class="field">
          <%= f.label :name %>
          <br />
          <%= f.text_field :name, class: 'fullwidth' %>
        </div>

        <div class="field">
          <%= f.label :seo_title %>
          <br />
          <%= f.text_field :seo_title, class: 'fullwidth'  %>
        </div>

        <div class="field">
          <%= f.label :meta_keywords %>
          <br />
          <%= f.text_field :meta_keywords, class: 'fullwidth'  %>
        </div>

        <div class="field">
          <%= f.label :meta_description %>
          <br />
          <%= f.text_field :meta_description, class: 'fullwidth'  %>
        </div>

        <div class="field">
          <%= f.label :url %>
          <br />
          <%= f.text_field :url, class: 'fullwidth'  %>
        </div>
      <% end %>

      <div class="row">
        <div class="alpha six columns">
          <fieldset class="security no-border-bottom">
            <legend align="center"><%= Spree.t(:security_settings)%></legend>
            <% @preferences_security.each do |key|
                type = Spree::Config.preference_type(key) %>
                <div class="field">
                  <%= label_tag(key, Spree.t(key)) + tag(:br) if type != :boolean %>
                  <%= preference_field_tag(key, Spree::Config[key], :type => type) %>
                  <%= label_tag(key, Spree.t(key)) + tag(:br) if type == :boolean %>
                </div>
            <% end %>
          </fieldset>
        </div>
        <div class="omega six columns">
          <fieldset class="currency no-border-bottom">
            <legend align="center"><%= Spree.t(:currency_settings)%></legend>
            <% @preferences_currency.each do |key|
                type = Spree::Config.preference_type(key) %>
                <div class="field">
                  <%= label_tag(key, Spree.t(key)) + tag(:br) if type != :boolean %>
                  <%= preference_field_tag(key, Spree::Config[key], :type => type) %>
                  <%= label_tag(key, Spree.t(key)) + tag(:br) if type == :boolean %>
                </div>
            <% end %>
            <div class="field">
              <%= label_tag :currency, Spree.t(:choose_currency) %><br>
              <%= select_tag :currency, currency_options, :class => 'fullwidth' %>
            </div>
            <div class="field">
              <%= label_tag Spree.t(:currency_symbol_position) %><br>
              <div class="choices">
                <ul>
                  <li>
                    <%= radio_button_tag :currency_symbol_position, "before", Spree::Config[:currency_symbol_position] == "before" %>
                    <%= label_tag :currency_symbol_position_before, Spree::Money.new(10, :symbol_position => "before") %>
                  </li>
                  <li class="white-space-nowrap">
                    <%= radio_button_tag :currency_symbol_position, "after", Spree::Config[:currency_symbol_position] == "after" %>
                    <%= label_tag :currency_symbol_position_after, Spree::Money.new(10, :symbol_position => "after") %>
                  </li>
                </ul>
              </div>
            </div>
            <div class="field">
              <%= label_tag :currency_decimal_mark, Spree.t(:currency_decimal_mark) %><br>
              <%= text_field_tag :currency_decimal_mark, Spree::Config[:currency_decimal_mark], :size => 3 %>
            </div>
            <div class="field">
              <%= label_tag :currency_thousands_separator, Spree.t(:currency_thousands_separator) %><br>
              <%= text_field_tag :currency_thousands_separator, Spree::Config[:currency_thousands_separator], :size => 3 %>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'icon-refresh' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= link_to_with_icon 'icon-remove', Spree.t('actions.cancel'), edit_admin_general_settings_url, :class => 'button' %>
      </div>

    </fieldset>

  </div>


<% end %>

<script>
  $('#store_default_currency').select2();
  $('#currency').select2();
</script>
