<% content_for :page_title do %>
  <%= Spree.t(:general_settings) %>
<% end %>

<%= form_tag admin_general_settings_path, :method => :put do %>
  <div id="preferences" data-hook>

    <fieldset class="general no-border-top">

      <%= fields_for :store do |f| %>
        <div class="form-group" data-hook="admin_general_setting_input_name">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group" data-hook="admin_general_setting_input_seo_title">
          <%= f.label :seo_title %>
          <%= f.text_field :seo_title, class: 'form-control'  %>
        </div>

        <div class="form-group" data-hook="admin_general_setting_input_meta_keywords">
          <%= f.label :meta_keywords %>
          <%= f.text_field :meta_keywords, class: 'form-control'  %>
        </div>

        <div class="form-group" data-hook="admin_general_setting_input_meta_description">
          <%= f.label :meta_description %>
          <%= f.text_field :meta_description, class: 'form-control'  %>
        </div>

        <div class="form-group" data-hook="admin_general_setting_input_url">
          <%= f.label :url %>
          <%= f.text_field :url, class: 'form-control'  %>
        </div>

        <div class="form-group" data-hook="admin_general_setting_mail_from_address">
          <%= f.label :mail_from_address %>
          <%= f.text_field :mail_from_address, class: 'form-control'  %>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6">
          <fieldset class="security no-border-bottom">
            <legend><%= Spree.t(:security_settings)%></legend>
            <% @preferences_security.each do |key|
                type = Spree::Config.preference_type(key) %>
                <div class="checkbox">
                  <%= label_tag key do %>
                    <%= preference_field_tag(key, Spree::Config[key], :type => type) %>
                    <%= Spree.t(key) %>
                  <% end %>
                </div>
            <% end %>
          </fieldset>
        </div>
        <div class="col-md-6">
          <fieldset class="currency no-border-bottom">
            <legend><%= Spree.t(:currency_settings)%></legend>
            <% @preferences_currency.each do |key|
                type = Spree::Config.preference_type(key) %>
                <div class="checkbox">
                  <%= label_tag key do %>
                    <%= preference_field_tag(key, Spree::Config[key], :type => type) %>
                    <%= Spree.t(key) %>
                  <% end %>
                </div>
            <% end %>
            <div class="form-group">
              <%= label_tag :currency, Spree.t(:choose_currency) %>
              <%= select_tag :currency, currency_options %>
            </div>
            <div class="form-group">
              <strong><%= Spree.t(:currency_symbol_position) %></strong>
              <div class="radio">
                <%= label_tag :currency_symbol_position_before do %>
                  <%= radio_button_tag :currency_symbol_position, "before", Spree::Config[:currency_symbol_position] == "before" %>
                  <%= Spree::Money.new(10, :symbol_position => "before") %>
                <% end %>
              </div>
              <div class="radio">
                <%= label_tag :currency_symbol_position_after do %>
                  <%= radio_button_tag :currency_symbol_position, "after", Spree::Config[:currency_symbol_position] == "after" %>
                  <%= Spree::Money.new(10, :symbol_position => "after") %>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <%= label_tag :currency_decimal_mark, Spree.t(:currency_decimal_mark) %>
              <%= text_field_tag :currency_decimal_mark, Spree::Config[:currency_decimal_mark], :size => 3, :class => 'form-control' %>
            </div>
            <div class="form-group">
              <%= label_tag :currency_thousands_separator, Spree.t(:currency_thousands_separator) %>
              <%= text_field_tag :currency_thousands_separator, Spree::Config[:currency_thousands_separator], :size => 3, :class => 'form-control' %>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="form-actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'save' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), edit_admin_general_settings_url, :icon => 'delete' %>
      </div>

    </fieldset>

  </div>

<% end %>

<script>
  $('#store_default_currency').select2();
  $('#currency').select2();
</script>
