<table class="table table-condensed table-bordered sortable" id='listing_taxonomies' data-hook data-sortable-link="<%= update_positions_admin_taxonomies_url %>">
  <thead>
    <tr data-hook="taxonomies_header">
      <th class="no-border"></th>
      <th><%= Spree.t(:name) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @taxonomies.each do |taxonomy| %>
      <tr id="<%= spree_dom_id taxonomy %>" data-hook="taxonomies_row">
        <td class="move-handle"><span class="icon icon-move handle"></span></td>
        <td><%= taxonomy.name %></td>
        <td class="actions actions-2">
          <%= link_to_edit taxonomy.id, :no_text => true %>
          <%= link_to_delete taxonomy, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
