<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Taxonomy) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_taxonomy), new_object_url, class: "btn-success", icon: 'add.svg', id: 'admin_new_taxonomy_link' %>
<% end if can?(:create, Spree::Taxonomy) %>

<% if @taxonomies.any? %>
  <div id="list-taxonomies" data-hook>
    <%= render 'list' %>
  </div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Taxonomy)) %>,
    <%= link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::Taxonomy) %>!
  </div>
<% end %>
