<% content_for :page_title do %>
  <%= Spree::Taxonomy.model_name.human(count: :many) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_taxonomy), spree.new_admin_taxonomy_url, :class => "btn-success", :icon => 'add', :id => 'admin_new_taxonomy_link' %>
<% end %>

<% if @taxonomies.any? %>
  <div id="list-taxonomies" data-hook>
    <%= render 'list' %>
  </div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree::Taxonomy.model_name.human(count: :many)) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_taxonomy_path %>!
  </div>
<% end %>
