<% content_for :page_title do %>
  <%= Spree.t(:new_taxonomy) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_taxonomies_list), spree.admin_taxonomies_path, :icon => 'arrow-left' %>
  </li>
<% end %>

<%= render 'spree/admin/shared/product_sub_menu' %>

<%= form_for [:admin, @taxonomy] do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="form-buttons" data-hook="buttons">
      <%= button Spree.t(:create), 'ok' %>
    </div>
  </fieldset>
<% end %>
