<table class="index">
  <thead>
  	<tr>
  		<th><%= t("name") %></th>
  		<th><%= t("path") %></th>
  		<th></th>
  	</tr>
  </thead>
  <tbody>
    <% taxons.each do |taxon| %>
      <tr id="<%= dom_id(taxon)%>">
        <td><%= taxon.name %></td>
        <td><%= taxon_path taxon %></td>
  	    <td class="actions">	                         
		      <%= link_to_delete taxon, :url => remove_admin_product_taxon_url(@product, taxon), :name => icon("delete") + ' ' + t("remove") %>
  	    </td>        
      </tr>
    <% end %>
    <% if taxons.empty? %>
     <tr><td colspan="3"><%= t('none') %>.</td></tr>
    <% end %>
  </tbody>
</table>
