<%# @form_partial is sourced from registered BulkAction configuration, not user input %>
<%= turbo_frame_tag :bulk_dialog do %>
  <%= dialog_header(@title, 'bulk-dialog') %>
  <div class="dialog-body overflow-visible">
    <% if @body.present? %>
      <p class="mb-3"><%= @body %></p>
    <% end %>

    <% if @form_partial.present? %>
      <%# brakeman:disable:Render - @form_partial comes from BulkAction registry, not params %>
      <%= render partial: @form_partial, locals: @form_partial_locals || {} %>
    <% end %>
  </div>
  <div class="dialog-footer">
    <%= dialog_discard_button('bulk-dialog') %>
    <%= turbo_save_button_tag(@button_text, class: "btn #{@button_class}") %>
  </div>
<% end %>
