<div id="scroll-header"></div>

<header id="header" class="sticky-top py-0">
  <nav class="navbar navbar-expand-lg p-0 d-flex align-items-center pr-3">
    <div class="d-lg-none pr-3 border-right">
      <button type="button" class="btn btn-light px-2 ml-3 text-decoration-none" data-action="click->sidebar#openMobile">
        <%= icon('menu-2', class: 'mr-0') %>
      </button>
    </div>

    <% if settings_area? %>
      <%= render 'spree/admin/shared/back_to_dashboard' %>
    <% else %>
      <% if defined?(current_vendor) && current_vendor.present? %>
        <%= render 'spree/admin/shared/sidebar/vendor_dropdown' %>
      <% else %>
        <%= render 'spree/admin/shared/sidebar/store_dropdown' %>
      <% end %>
    <% end %>

    <button type="button" class="sidebar-toggle-btn ml-3 mr-3 d-none d-lg-block" data-action="click->sidebar#toggle" aria-label="<%= Spree.t('admin.expand_sidebar') %>">
      <%= icon('layout-sidebar-left-collapse') %>
    </button>

    <div class="d-none d-lg-block">
      <%= render 'spree/admin/shared/breadcrumbs' %>
    </div>
  </nav>
</header>

<div class="d-lg-none py-3 border-bottom">
  <%= render 'spree/admin/shared/breadcrumbs' %>
</div>