<div id="scroll-header"></div>

<%= render 'spree/admin/shared/offcanvas_nav' %>

<header id="header" class="sticky-top">
  <nav class="navbar navbar-expand-lg border-bottom p-0 d-flex align-items-center pr-3">
    <button type="button" class="btn btn-light pull-bs-canvas-left d-lg-none px-2 ml-3 text-decoration-none">
      <%= icon('menu-2', class: 'mr-0') %>
    </button>

    <% if settings_active? %>
      <div class="store-dropdown p-2">
        <%= active_link_to_with_icon('arrow-back-up', Spree.t('admin.back_to_dashboard'), spree.admin_dashboard_path, class: 'btn store-dropdown-button w-100 justify-content-start mr-1') %>
      </div>
    <% else %>
      <% if defined?(current_vendor) && current_vendor.present? %>
        <%= render 'spree/admin/shared/sidebar/vendor_dropdown' %>
      <% else %>
        <%= render 'spree/admin/shared/sidebar/store_dropdown' %>
      <% end %>
    <% end %>

    <%= render 'spree/admin/shared/breadcrumbs' %>

    <div class="ml-auto d-flex align-items-center">
      <%= render 'spree/admin/shared/user_dropdown' %>
    </div>
  </nav>
</header>