<div id="scroll-header"></div>

<header id="header" class="sticky top-0 z-[1020] py-0">
  <nav class="py-0 flex items-center px-3 h-full">
    <div class="lg:hidden">
      <button type="button" class="btn btn-light px-2 text-decoration-none" data-action="click->sidebar#openMobile">
        <%= icon('menu-2', class: 'mr-0') %>
      </button>
    </div>

    <button type="button" class="sidebar-toggle-btn hidden lg:flex mr-3" data-action="click->sidebar#toggle" aria-label="<%= Spree.t('admin.expand_sidebar') %>">
      <%= icon('layout-sidebar-left-collapse') %>
    </button>

    <% if settings_area? %>
      <%= render 'spree/admin/shared/back_to_dashboard' %>
    <% end %>

    <%= render 'spree/admin/shared/breadcrumbs' %>
  </nav>
</header>