<%= dropdown do %>
  <%= dropdown_toggle class: 'btn-light btn-sm px-1' do %>
    <%= icon 'plus', class: 'mr-0' %>
  <% end %>
  <%= dropdown_menu direction: 'left' do %>
    <%= link_to_with_icon 'shopping-bag-plus', Spree.t(:new_order), spree.new_admin_order_path, class: "dropdown-item" if can?(:manage, Spree::Order)  %>

    <%= link_to spree.new_admin_product_path, class: 'dropdown-item' do %>
      <%= icon 'cube-plus' %>
      <%= Spree.t(:new_product) %>
    <% end if can?(:create, Spree::Product) %>
    <%= link_to spree.new_admin_user_path, class: 'dropdown-item' do %>
      <%= icon 'user-plus' %>
      <%= Spree.t(:new_customer) %>
    <% end if can?(:manage, Spree.user_class) %>

    <%= link_to spree.new_admin_promotion_path, class: 'dropdown-item' do %>
      <%= icon 'discount' %>
      <%= Spree.t(:new_promotion) %>
    <% end if can?(:create, Spree::Promotion) %>

    <%= invite_vendor_button(class: 'dropdown-item') if defined?(invite_vendor_button) %>

    <% if can?(:create, Spree::Store) && Spree.root_domain.present? %>
      <div class="dropdown-divider"></div>

      <%= link_to_with_icon 'building-store', Spree.t(:new_store), spree.new_admin_store_path, class: 'dropdown-item' %>
    <% end %>
  <% end %>
<% end %>