<% if try_spree_current_user.present? %>
  <div class="dropdown py-2 bg-gray-25 border-top" id="<%= dom_id(try_spree_current_user, 'account-dropdown') %>" data-turbo-permanent>
    <button type="button"
          class="btn d-flex align-items-center justify-content-between text-left w-100"
          data-toggle="dropdown" aria-expanded="false" id="accountNav">
      <div class="d-flex align-items-center">
        <%= render_avatar(try_spree_current_user, width: 34, height: 34) %>
        <span class="d-none d-lg-inline ml-lg-2">
          <%= try_spree_current_user.name&.full&.truncate(15)&.presence || try_spree_current_user.email.truncate(15) %><br />
          <span class="text-muted small"><%= try_spree_current_user.email.truncate(22) %></span>
        </span>
      </div>
    </button>
    <div class="dropdown-menu dropdown-menu-right w-100 mb-1 mt-1 mt-lg-0">
      <% if can?(:update, try_spree_current_user) %>
        <%= link_to_with_icon 'user-scan', Spree.t('admin.edit_profile'), spree.edit_admin_profile_path, class: 'dropdown-item' %>
      <% end %>

      <% if enterprise_edition? %>
        <% if try_spree_current_user.respond_to?(:accounts) && try_spree_current_user.accounts.count > 1 %>
          <div data-toggle="modal" data-target="#modal">
            <%= link_to_with_icon 'switch-3', Spree.t(:switch_team), main_app.accounts_path, class: 'dropdown-item', data: { turbo_frame: 'dialog_modal' } %>
          </div>
        <% end %>

        <% if defined?(app_domain) && defined?(Vendo::Account) && can?(:create, Vendo::Account) %>
          <%= link_to_with_icon 'plus', Spree.t(:create_new_team), main_app.new_account_url(host: app_domain), class: 'dropdown-item', data: { turbo: false } %>
        <% end %>
        <div class="dropdown-divider"></div>
      <% end %>

      <% if can?(:manage, current_store) %>
        <%= link_to_with_icon 'book', 'Help center', 'https://spreecommerce.org/docs/user', class: 'dropdown-item', target: '_blank' %>
        <%= link_to_with_icon 'message-circle', 'Contact us', 'https://spreecommerce.org/contact/', class: 'dropdown-item', target: '_blank' %>
        <div class="dropdown-divider"></div>
      <% end %>

      <%= button_to spree_admin_logout_path, class: 'dropdown-item mb-0', method: :delete do %>
        <%= icon('logout', class: "icon icon-logout")  %>
        <%= Spree.t(:logout) %>
      <% end if defined?(spree_admin_logout_path) %>
    </div>
  </div>
<% end %>
