<p>
  <%= f.label :amount, t(:amount) %> 
  <%= f.text_field :amount, :size=> 8, :value => @order.outstanding_balance %>
</p>  

<% @payment_methods.each do |method| %>

  <label>
    <%= radio_button_tag "payment[payment_method_id]", method.id, method == @payment_method %> 
    <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
  </label>

  <%= render "admin/payments/source_forms/#{method.method_type}", :payment_method => method %>

<% end %>  
