<%= render :partial => 'shared/order_tabs', :locals => {:current => "Payments"} %>
<table class="admin-report">
  <tr>
    <th><%= "#{t('Date')}/#{t('Time')}" %></th>
    <th><%= t("Amount") %></th>
    <th><%= t("Type") %></th>
    <th><%= t("Action") %></th>
  </tr>
  <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.created_at.to_s(:db) %></td>
      <td><%= number_to_currency(payment.amount) %></td>
      <td><%= payment.class.to_s %></td>
      <!-- TODO: don't assume credit card, make it possible to edit other kinds of payments -->
      <td>
        <%= link_to t('Edit'), edit_admin_order_creditcard_payment_url(@order, payment) %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to t("New Credit Card Payment"), new_admin_order_creditcard_payment_url(@order) %>
