<% content_for :page_title do %>
  <%= page_header_back_button collection_url %>
  Setup a new custom domain for your store
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @object } %>

<%= form_for @object, url: spree.admin_custom_domains_path do |f| %>
  <div class="row">
    <div class="col-lg-6">
      <%= render partial: 'form', locals: { f: f } %>
      <%= render partial: 'spree/admin/shared/new_resource_links' %>
    </div>
  </div>
<% end %>
