<table class="index" data-hook="configuration">
  <thead>
    <tr>
      <th><%= t(:system) %></th>
      <th><%= t(:description) %></th>
    </tr>
  </thead>
  <tbody data-hook="admin_configurations_menu">
    <tr>
      <td><%= link_to t(:general_settings), admin_general_settings_path %></td>
      <td><%= t(:general_settings_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:mail_methods), admin_mail_methods_path %></td>
      <td><%= t(:email_server_settings_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:tax_categories), admin_tax_categories_path %></td>
      <td><%= t(:tax_categories_setting_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:zones), admin_zones_path %></td>
      <td><%= t(:zone_setting_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:states), admin_country_states_path(Spree::Config[:default_country_id]) %></td>
      <td><%= t(:state_setting_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:payment_methods), admin_payment_methods_path %></td>
      <td><%= t(:payment_methods_setting_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:taxonomies), admin_taxonomies_path %></td>
      <td><%= t(:taxonomies_setting_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:shipping_methods), admin_shipping_methods_path %></td>
      <td><%= t(:shipping_methods_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:shipping_categories), admin_shipping_categories_path %></td>
      <td><%= t(:shipping_categories_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:inventory_settings), admin_inventory_settings_path %></td>
      <td><%= t(:inventory_setting_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:image_settings), admin_image_settings_path %></td>
      <td><%= t(:image_settings_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:tax_rates), admin_tax_rates_path %></td>
      <td><%= t(:tax_rates_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:tax_settings), admin_tax_settings_path %></td>
      <td><%= t(:tax_settings_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t(:analytics_trackers), admin_trackers_path %></td>
      <td><%= t(:google_analytics_setting_description) %></td>
    </tr>
  </tbody>
</table>
