<%= render 'shared/error_messages', :target => @line_item %>

<%= form_for(@order, :url => admin_order_url(@order), :html => { :method => :put}) do |f| %>
  <%= f.hidden_field :number %>
  <table class="index">
    <tbody id='line-items'>
      <tr>
        <%= hook :admin_order_form_line_items_headers do %>
          <th><%= t('item_description') %></th>
          <th class="price"><%= t('price') %></th>
          <th class="qty"><%= t('qty') %></th>
          <th class="total"><span><%= t('total') %></span></th>
        <% end %>
        <th class="orders-actions"><%= hook :admin_order_form_line_items_header_actions %></th>
      </tr>
      <% f.fields_for :line_items do |li_form| %>
        <%= render :partial => "admin/orders/line_item", :locals => { :f => li_form } %>
      <% end %>
    </tbody>
    <%= hook :admin_order_form_subtotal do %>
      <tbody id='subtotal'>
        <tr id="subtotal-row">
          <td colspan="3"><b><%= t('subtotal') %>:</b></td>
          <td class="total"><span><%= number_to_currency @order.item_total %></span></td>
          <td></td>
        </tr>
      </tbody>
    <% end %>
    <%= hook :admin_order_form_charges do %>
      <tbody id="order-charges">
        <% @order.charges.each do |charge| %>
          <tr>
            <td colspan="3"><strong><%= charge.description %></strong></td>
            <td class="total"><span><%= number_to_currency charge.amount %></span></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
    <%= hook :admin_order_form_credits do %>
    <tbody id="order-credits">
      <% @order.credits.each do |credit| %>
        <tr>
          <td colspan="3"><%= credit.description %></td>
          <td class="total"><span><%= number_to_currency credit.amount %></span></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
    <% end %>
    <%= hook :admin_order_form_total do %>
      <tbody id='order-total'>
        <tr>
          <td colspan="3"><b><%= t('order_total') %>:</b></td>
          <td class="total"><span id="order_total"><%= number_to_currency @order.total %></span></td>
          <td></td>
        </tr>
      </tbody>
    <% end %>
  </table>

  <%= hook :admin_order_form_buttons do %>
    <p class="form-buttons">
      <%= button @order.in_progress? ? t('continue') : t('update') %>
      <%= t("or") %> <%= link_to t("actions.cancel"), admin_orders_url %>
    </p>
  <% end %>

<% end %>

<script type="text/javascript">
  $('#order_tab_summary h5#order_total').html('<%= "#{t('total')}: #{number_to_currency(@order.total)}" %>');
  $('#order_tab_summary h5#order_status').html('<%= "#{t('status')}: #{t(@order.state)}" %>');
</script>

<%= javascript_include_tag 'admin/orders/edit_form.js' %>

