<%= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Order Details"} %>
<%= csrf_meta_tag %>

<%= hook :admin_order_new_header do %>
  <h2><%= t("new_order")%></h2>
  <%= render 'shared/error_messages', :target => @order %>
<% end %>

<%= render :partial => "add_product" %>

<%= hook :admin_order_new_form do %>
  <div id="order-form-wrapper">
    <%= render :partial => "form" %>
  </div>
<% end %>

<% content_for :head do %>
  <%= javascript_tag "var expand_variants = true;" %>
  <%= javascript_include_tag 'admin/orders/edit.js' %>
<% end %>
