<%= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Order Details"} %>
<%= csrf_meta_tag %>

<div data-hook="admin_order_new_header">
  <h2><%= t("new_order")%></h2>
  <%= render 'shared/error_messages', :target => @order %>
</div>

<%= render :partial => "add_product" %>

<div data-hook="admin_order_new_form">
  <div id="order-form-wrapper">
    <%= render :partial => "form" %>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_tag "var expand_variants = true;" %>
  <%= javascript_include_tag '/admin/javascripts/orders/edit.js' %>
<% end %>
