<div class='toolbar order-links'>
  <%= hook :admin_order_show_buttons do %>
    <%= button_link_to t("edit"), edit_admin_order_url(@order.number), :icon => 'edit' %>
  <% end %>
</div>

<%= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Order Details"} %>

<%= hook :admin_order_show_addresses do %>
  <% if @order.bill_address %>
    <div class='adr'>
      <h4>
        <%= link_to t("bill_address"), (@current_action=="edit" ? edit_admin_order_checkout_url(@order) : admin_order_checkout_url(@order)) %>
      </h4>
      <%= render :partial => 'admin/shared/address', :locals => {:address => @order.bill_address} %>
    </div>
  <% end %>
  <% if @order.ship_address %>
    <div class='adr'>
      <h4>
        <%= link_to t("ship_address"), (@current_action=="edit" ? edit_admin_order_checkout_url(@order) : admin_order_checkout_url(@order)) %>
        <%= t("ship_address") if @order.shipments.empty? %>
      </h4>
      <%= render :partial => 'admin/shared/address', :locals => {:address => @order.ship_address} %>
    </div>
    <% end %>
  <hr />
<% end %>

<%= hook :admin_order_show_details do %>
  <%= render :partial => 'admin/shared/order_details', :locals => {:order => @order} %>
<% end %>

<%= hook :admin_order_show_other do %>
  <% unless @order.special_instructions.blank? %>
    <table class="index">
      <tr>
        <th><%= t("shipping_instructions") %></th>
      </tr>
      <tr>
        <td><pre><%= @order.special_instructions %></pre></td>
      </tr>
    </table>
  <% end %>
<% end %>