<%= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Customer Details"} %>
<%= csrf_meta_tag %>

<% if @order.cart? %>
  <div id="add-line-item">
    <fieldset>
      <legend><%= t('customer_search') %></legend>
      <%= label_tag :customer_search, t("name") %>
      <%= text_field_tag :customer_search,  nil, :class => 'fullwidth title'  %>
    </fieldset>
  </div>
<% end %>

<%= render "shared/error_messages", :target => @order %>

<%= form_for(@order, :url => admin_order_url(@order), :html => { :method => :put}) do |f| %>
  <%= f.hidden_field :number %>
  <%= render :partial => "user_form", :locals => {:f => f} %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'admin/checkouts/edit.js' %>

<% end %>
