<h2><%= t("mail_server_settings") %></h2>

<div id="mail_settings">
  <%# TODO: move this code to a helper? %>
  <div id="mail_delivery_status" class="error-or-notice">
    <%= 
      if Spree::Config[:enable_mail_delivery]
        content_tag(:h4, t('mail_delivery_enabled'))
      else
        content_tag(:h4, t('mail_delivery_not_enabled'))
      end
    %>
  </div>
  <div>
    <strong><%= t("smtp_domain") %>:</strong> <%=  Spree::Config[:mail_domain] %>
  </div>
  <div>
    <strong><%= t('smtp_mail_host') %>:</strong> <%= Spree::Config[:mail_host] %>
  </div>
  <div>
    <strong><%= t('smtp_port') %>:</strong> <%= Spree::Config[:mail_port] %>
  </div>
  <div>
    <strong><%= t('secure_connection_type')  %>:</strong> <%= Spree::Config[:secure_connection_type] %>
  </div>
  <div>
    <strong><%= t('smtp_authentication_type') %>:</strong> <%= Spree::Config[:mail_auth_type] %>
  </div>
  <% unless Spree::Config[:mail_auth_type] == "none" -%>
  <div>
    <strong><%= t('smtp_username') %>:</strong> <%= Spree::Config[:smtp_username] %>
  </div>
  <div>
    <strong><%= t('smtp_password') %>:</strong><em> <%= t("not_shown") unless Spree::Config[:smtp_password].blank? -%></em>
  </div>
  <% end -%>
  <div>
    <strong><%= t('copy_all_mails_to') %>:</strong><br />
    <%= t('a_copy_of_all_mail_will_be_sent_to_the_following_addresses') %>
    <div class="">
      <%= Spree::Config[:mail_bcc] %>
    </div>
  </div>
  <%= link_to t("edit"), edit_admin_mail_settings_path %>
</div>
