<h1><%= @taxon.name %></h1>

<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
    <%= render(:partial => "shared/filters") if @taxon.children.empty? %>
  <% end %>
<% end %>

<% force_products = @taxon.children.empty? || params[:keywords].present? %>

<% if @products.present? || force_products %>
  <%= hook :taxon_products do %>
    <%= render :partial => "shared/products", :locals => {:products => @products, :taxon => @taxon } %>
  <% end %>
<% end %>

<% unless force_products %>
  <%= hook :taxon_children do %>
    <%= render :partial => "taxon", :collection => @taxon.children %>
  <% end %>
<% end %>

