<%= turbo_frame_tag :page_sidebar do %>
  <h6 class="sidebar-header">
    <%= link_to collection_url, data: { action: 'click->page-builder#clearActiveOverlays' }, class: 'btn hover:bg-gray-100 shadow-none px-2' do %>
      <%= icon 'chevron-left', class: 'mr-0 back' %>
    <% end %>
    <%= Spree.t(:add_section) %>
  </h6>
  <div class="pb-12 mb-12 edit-block">
    <%= form_for @page_preview.sections.new, url: spree.admin_page_sections_path(@page_preview), data: { controller: 'section-form', section_form_target: :form } do |f| %>
      <%= f.hidden_field :type, data: { section_form_target: 'type' } %>
      <%= f.hidden_field :pageable_id %>
      <%= f.hidden_field :pageable_type %>
      <div class="flex flex-col gap-1 p-3">
        <% @theme.available_page_sections.each do |section_class| %>
          <button class="cursor-pointer flex items-center gap-4 hover:bg-gray-50 p-2 rounded-lg focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-blue"
            data-action="click->section-form#addSection keydown.enter->section-form#addSection"
            data-section-form-type-param="<%= section_class %>"
          >
            <%= icon section_class.new.icon_name if section_class.new.icon_name.present? %>
            <%= section_class.to_s.demodulize.titleize %>
          </button>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
