<address>
  <% if address.location_name? %>
    <h4 class="m-0"><%= address.location_name %></h4>
    <span class="text-muted small mb-4"><%= address.address1 %> - <%= address.country_iso %></span>
  <% else %>
    <span class="account-page-user-full-name">
      <%= address.full_name %>
    </span>
    <div><%= address.address1 %></div>
    <% if address.address2.present? %>
      <div><%= address.address2 %></div>
    <% end %>
    <div>
      <%= address.city %>
      <% if address.state.present? %>
      , <%= address.state&.abbr %>
      <% end %>
      <% if address.zipcode.present? %>
      , <%= address.zipcode %>
      <% end %>
    </div>
    <div>
      <%= address.country.name %>
    </div>
  <% end %>
</address>
