<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= Spree.t(:editing_user) %></h3>
    </div>
    <div class="panel-body">
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
      
      <%= form_for Spree::User.new, :as => @user, :url => spree.user_path(@user), :method => :put do |f| %>
        <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
        <p>
          <%= f.submit Spree.t(:update), :class => 'btn btn-primary' %>
        </p>
      <% end %>
    </div>
  </div>
</div>