<% content_for :head do %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %> 
  <script type="text/javascript">
    var regions = new Array(<%= @checkout_steps.collect { |step| "'#{step}'" }.join(",") %>);  
  </script>
<% end %>                 

<%= error_messages_for :order %>

<% @checkout_steps.each do |step| %>
  <div id="<%=step%>" class="checkout disabled">
    <%= render step, :order_form => order_form %>  
  </div>
<% end %>
