<table id="cart">
  <thead>
    <tr>      
      <th colspan="2"><%= t("item") %></th>
      <th><%= t("price") %></th>
      <th><%= t("qty") %></th>
      <th><%= t("total") %></th>
    </tr>
  </thead>
  <tbody id="line_items">
		<%= f.render_associated_form(@order.line_items) %>
		<tr id="none">
		  <td colspan="5"><%= @order.line_items.empty? ? t("your_cart_is_empty.") : "" %></td>
		</tr>
	</tbody>
</table>
