<table class="cart-summary" width="100% ">
  <thead>
    <th colspan="2"><%= t("Item") %></th>
    <th><%= t("Price") %></th>
    <th><%= t("Qty") %></th>
    <th><%= t("Total") %></th>
  </thead>
  <tbody id="line_items">
		<%= f.render_associated_form(@order.line_items) %>
		<tr id="none">
		  <td colspan="3"><%= @order.line_items.empty? ? t("You cart is empty.") : "" %></td>
		</tr>
	</tbody>

</table>
