<% content_for :head do %>
  <%= javascript_include_tag 'checkout' %>
<% end %>
<div id="checkout">
  <h1><%= t("checkout")%></h1>
  <% form_for @order, :url => checkout_order_path(@order), :html => { :method => :post, :id => 'checkout_form'} do |order_form| %>
    <%= render :partial => 'checkout_form', :locals => {:order_form => order_form} %>    
    <input id="post-final" type="submit" style="display:none"/>
  <% end %>
</div>

<input type="hidden" id="hidden_bstate" name="hidden_bstate" value="<%= @order.bill_address.state_id || @order.bill_address.state_name %>" />
<input type="hidden" id="hidden_bcountry" name="hidden_bcountry" value="<%= @order.bill_address.country_id %>" />
<input type="hidden" id="hidden_sstate" name="hidden_sstate" value="<%= @order.ship_address.state_id || @order.ship_address.state_name %>" />
<input type="hidden" id="hidden_scountry" name="hidden_scountry" value="<%= @order.ship_address.country_id %>" />
