<% @body_id = 'cart' %>

<h1><%= t("shopping_cart")%></h1>

<% form_for(:order, :url => object_url, :html => { :method => :put}) do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

	<div id="subtotal">
		<h3><%= "#{t("subtotal")}: #{order_price(@order)}" %></h3>
	  <%= content_tag :button, image_tag('/images/update.png') + t('update'), :class => 'update' %>
	  <%= link_to image_tag('/images/checkout.png') + t("checkout"), checkout_order_url(@order), :class => 'button checkout primary' %>
	</div>

	<p><%=link_to t("continue_shopping"), products_path, :class => 'button continue' %></p>

	<% unless @order.line_items.empty? %>
	  <p id="clear_cart_link">
      <%= link_to t("empty_cart"), object_url, :method => :delete, :class => 'button empty'  %>
	  </p>
	<% end %>

<% end %>

