<div id="order">
  <h1><%= t("shopping_cart")%></h1>
  <% form_for(:order, :url => object_url, :html => { :method => :put}) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>

  	<div id="subtotal">
  		<h3><%= "#{t("subtotal")}: #{order_price(@order)}" %></h3>
  	  <%= submit_tag t('update') %>
  	  <%= link_to t("checkout"), checkout_order_url(@order) %> <!-- todo: replace with cart image button -->
  	</div>

  	<p><%=link_to t("continue_shopping"), products_path %></p>
  
  	<% unless @order.line_items.empty? %>
  	  <p id="clear_cart_link">
  	    <small>
  	      <%= link_to t("empty_cart"), object_url, :method => :delete  %>
  	    </small>
  	  </p>
  	<% end %>
  <% end %>
</div>