<%= link_to Globalite.localize(:back_to_store), products_path %>
<br/><br/>
<h1><%= Globalite.localize(:order_processed_successfully) %></h1>
<br/>
<%= Globalite.localize(:thank_you_for_your_order) %>
<br/><br/>

<%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>

<br/>
<%= link_to Globalite.localize(:back_to_store), products_path %>