<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="admin_inside_head">
    <%= render partial: 'spree/admin/shared/head' %>
  </head>

  <body class="admin skin-blue">

    <div id="progress">
      <div class="alert alert-info alert-progress">
        <div class="spinner"><%= Spree.t(:loading) %>...</div>
        <div class="progress-message"><%= Spree.t(:loading) %>...</div>
      </div>
    </div>

    <%= render partial: 'spree/admin/shared/header' %>

    <div id="wrapper" class="wrapper row-offcanvas row-offcanvas-left">

      <aside class="left-side sidebar-offcanvas">
        <section class="sidebar">
          <ul class="sidebar-menu">
            <%= render partial: 'spree/admin/shared/main_menu' %>
          </ul>
        </section>
      </aside>

      <aside class="right-side">

        <%= render partial: 'spree/admin/shared/content_header' %>

        <section class="content <%= "with-sidebar" if content_for?(:sidebar) %>">

          <div class="row">
            <div class="<%= main_div_class %> main-content">

              <%= flash_alert(flash) %>

              <%= render partial: 'spree/admin/shared/alert', collection: session[:alerts] %>

              <div class="<%= 'with-sidebar' if content_for?(:sidebar) %>" id="content" data-hook>
                <%= render partial: 'spree/admin/shared/table_filter' if content_for?(:table_filter) %>
                <%= yield %>
              </div>
            </div>
            <%= render partial: 'spree/admin/shared/sidebar' if content_for?(:sidebar) %>
          </div>

        </section>
      </aside>

    <div data-hook="admin_footer_scripts"></div>
  </body>
</html>
