<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="admin_inside_head">
    <%= render :partial => 'spree/admin/shared/head' %>
  </head>

  <body class='admin'>
    <div id='wrapper' data-hook>

      <% if flash[:error] %>
        <div class="flash error"><%= flash[:error] %></div>
      <% end %>
      <% if notice %>
        <div class="flash notice"><%= notice %></div>
      <% end %>
      <% if flash[:success] %>
        <div class="flash success"><%= flash[:success] %></div>
      <% end %>

      <div id="progress">
        <div class="wrapper">
          <div id="spinner"></div>
          <div class="progress-message"><%= Spree.t(:loading) %>...</div>
        </div>
      </div>

      <%= render :partial => 'spree/admin/shared/alert', :collection => session[:alerts] %>

      <%= render :partial => 'spree/admin/shared/header' %>
      <%= render :partial => 'spree/admin/shared/menu' %>
      <%= render :partial => 'spree/admin/shared/sub_menu' %>
      <%= render :partial => 'spree/admin/shared/content_header' %>

      <div class="container">
        <div class="row">
          <div class="<%= 'with-sidebar ' if content_for?(:sidebar) %>" id="content" data-hook>
            <%= render :partial => 'spree/admin/shared/table_filter' %>

            <div class="<%= if content_for?(:sidebar) then 'twelve' else 'sixteen' end %> columns">
              <%= yield %>
            </div>

            <%= render :partial => 'spree/admin/shared/sidebar' %>
          </div>
        </div>
      </div>
    </div>

    <div data-hook="admin_footer_scripts"></div>

    <script>
      Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
    </script>
  </body>
</html>
