<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:shipping_methods) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:new_shipping_method), new_object_url,  :icon => 'icon-plus', :id => 'admin_new_shipping_method_link' %>
  </li>
<% end %>

<table class="index" id='listing_shipping_methods'>
  <colgroup>
    <col style="width: 20%">
    <col style="width: 15%">
    <col style="width: 40%">
    <col style="width: 10%">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <tr data-hook="admin_shipping_methods_index_headers">
      <th><%= t(:name) %></th>
      <th><%= t(:zone) %></th>
      <th><%= t(:calculator) %></th>
      <th><%= t(:display) %></th>
      <th data-hook="admin_shipping_methods_index_header_actions" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @shipping_methods.each do |shipping_method|%>
      <tr id="<%= spree_dom_id shipping_method %>" data-hook="admin_shipping_methods_index_rows" class="<%= cycle('odd', 'even')%>">
        <td><%= shipping_method.name %></td>
        <td><%= shipping_method.zone.name if shipping_method.zone %></td>
        <td><%= shipping_method.calculator.description %></td>
        <td class="align-center"><%= shipping_method.display_on.blank? ? t(:both) : t(shipping_method.display_on) %></td>
        <td data-hook="admin_shipping_methods_index_row_actions" class="actions">
          <%= link_to_edit shipping_method, :no_text => true %>
          <%= link_to_delete shipping_method, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

