<fieldset class="no-border-bottom">
  <div class="field" data-hook="previous_cards">
    <% @previous_cards.each do |card| %>
      <label><%= radio_button_tag :card, card.id, card == @previous_cards.first %> <%= card.display_number %><br /></label>
    <% end %>
    <label><%= radio_button_tag :card, 'new', @previous_cards.none? %> <%= Spree.t(:use_new_cc) %></label>
  </div>
  <div id="card_form" data-hook>
    <div class="nine columns">
      <%= image_tag 'credit_cards/credit_card.gif', :id => 'credit-card-image' %>
    </div>

    <% param_prefix = "payment_source[#{payment_method.id}]" %>

    <div class="clear"></div>

    <div class="alpha four columns">
      <div data-hook="card_number">
        <div class="field">
          <%= label_tag 'card_number', raw(Spree.t(:card_number) + content_tag(:span, ' *', :class => 'required')) %>
          <%= text_field_tag "#{param_prefix}[number]", '', :class => 'required fullwidth', :id => 'card_number', :maxlength => 19 %>
          <span id="card_type" style="display:none;">
            ( <span id="looks_like" ><%= Spree.t(:card_type_is) %> <span id="type"></span></span>
              <span id="unrecognized"><%= Spree.t(:unrecognized_card_type) %></span>
            )
          </span>
        </div>
      </div>
    </div>
    <div class="three columns">
      <div data-hook="card_expiration" class="field">
        <%= label_tag 'card_month', raw(t(:expiration) + content_tag(:span, ' *', :class => 'required')) %><br>
        <%= text_field_tag "#{param_prefix}[expiry]", '', :id => 'card_expiry', :class => "required", :placeholder => "MM / YY" %>
      </div>
    </div>
    <div class="omega two columns">
      <div data-hook="card_code" class="field">
        <%= label_tag 'card_code', raw(Spree.t(:card_code) + content_tag(:span, ' *', :class => "required")) %>
        <%= text_field_tag "#{param_prefix}[verification_value]", '', :class => 'required fullwidth', :size => 5, :id => 'card_code' %>
        <a href="/content/cvv" class="info" target="_blank" id="cvv_link">
          (<%= Spree.t(:what_is_this) %>)
        </a>
      </div>
    </div>

    <div class="clear"></div>
  </div>

</fieldset>
