<tr id="<%= spree_dom_id(f.object) %>" data-hook="admin_order_form_line_item_row">
  <td width="300">
    <%=f.object.variant.product.name%> <%= "(#{f.object.variant.options_text}))" unless f.object.variant.option_values.empty? %>
  </td>
  <td valign="top" class="price"><%= money(f.object.price) %></td>
  <td valign="top" class="qty"><%= f.number_field :quantity, :min => 0, :style => "width:30px;", :class => "qty" %></td>
  <td valign="top" class="total"><%= money(f.object.price * f.object.quantity) %></td>
  <td data-hook="admin_order_form_line_item_actions">
    <%= link_to_delete f.object, {:url => admin_order_line_item_url(@order.number, f.object) } %>
  </td>
</tr>
