<% content_for :page_title do %>
  <%= t(:new) %>
<% end %>
<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Order Details' } %>
<%= csrf_meta_tags %>

<div data-hook="admin_order_new_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
</div>

<%= render :partial => 'add_product' %>

<div data-hook="admin_order_new_form">
  <div id="order-form-wrapper">
    <%= render :partial => 'form' %>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_tag 'var expand_variants = true;' %>
<% end %>
