<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:cancel), fire_admin_order_url(@order.number, { :e => 'cancel' }), :icon => 'icon-trash', :data => { :confirm => t(:are_you_sure) } if @order.can_cancel? %>  
  </li>
  <li>
    <%= button_link_to t(:edit), edit_admin_order_url(@order.number), :icon => 'icon-edit' %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Order Details' } %>

<div data-hook="admin_order_show_addresses" class="row">
  <% if @order.bill_address %>
    <fieldset class="alpha six columns no-border-bottom">
      <legend><%= t(:bill_address) %></legend>
      <div class="align-center">
        <%= render :partial => 'spree/admin/shared/address', :locals => { :address => @order.bill_address } %>  
      </div>
    </fieldset>
  <% end %>
  <% if @order.ship_address %>
    <fieldset class="omega six columns no-border-bottom">
      <legend><%= t(:ship_address) %></legend>
      <div class="align-center">
        <%= render :partial => 'spree/admin/shared/address', :locals => { :address => @order.ship_address } %>
      </div>
    </fieldset>
    <% end %>
</div>

<div data-hook="admin_order_show_details">
  <%= render :partial => 'spree/admin/shared/order_details', :locals => { :order => @order } %>
</div>
