<fieldset data-hook="credit_card">
  <legend align="center"><%= Spree.t(:credit_card) %></legend>

  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt><%= Spree.t(:card_type) %>:</dt>
        <dd><%= payment.source.cc_type %></dd>

        <dt><%= Spree.t(:card_number) %>:</dt>
        <dd><%= payment.source.display_number %></dd>

        <dt><%= Spree.t(:expiration) %>:</dt>
        <dd><%= payment.source.month %>/<%= payment.source.year %></dd>
      </dl>
    </div>
  </div>

</fieldset>
