<%= render 'spree/admin/promotions/header' %>

<% content_for :page_actions do %>
  <%= render_admin_partials(:coupon_codes_actions_partials) %>
<% end %>

<%= render_admin_partials(:coupon_codes_header_partials) %>

<div class="grid grid-cols-12 gap-6">
  <div class="col-span-12 lg:col-span-8">
    <%= render 'spree/admin/shared/index_table', new_object_url: nil %>
  </div>

  <div class="col-span-12 lg:col-span-4">
    <%= render 'spree/admin/promotions/sidebar' %>
  </div>
</div>
