<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: "Payments" } %>

<% content_for :page_title do %>
  <span class="icon icon-arrow-right"></span> <%= link_to "#{Spree.t(:payment)} #{@refund.payment.id}", admin_order_payment_path(@refund.payment.order, @refund.payment) %>
  <span class="icon icon-arrow-right"></span> <%= Spree.t(:editing_refund) %> <%= @refund.id %>
<% end %>

<%= form_for [:admin, @refund.payment.order, @refund.payment, @refund] do |f| %>
  <fieldset>
    <div data-hook="admin_refund_form_fields">
      <div class="form-group">
        <%= f.label :amount, Spree.t(:amount) %><br/>
        <%= @refund.amount %>
      </div>
      <div class="form-group">
        <%= f.label :refund_reason_id, Spree.t(:reason) %><br/>
        <%= f.collection_select(:refund_reason_id, refund_reasons, :id, :name, {}, {class: 'select2'}) %>
      </div>
    </div>

    <div class="form-buttons" data-hook="buttons">
      <%= button Spree.t('actions.save'), 'save' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_order_payments_url(@refund.payment.order), :icon => "delete" %>
    </div>
  </fieldset>
<% end %>
