<%= render partial: 'spree/admin/shared/order_tabs', locals: {current: :payments} %>

<% content_for :page_title do %>
  / <%= link_to "#{Spree.t(:payment)} #{@refund.payment.id}", spree.admin_order_payment_path(@refund.payment.order, @refund.payment) %>
  / <%= Spree.t(:new_refund) %>
<% end %>

<%= render 'spree/admin/shared/error_messages', target: @refund %>

<%= form_for [:admin, @refund.payment.order, @refund.payment, @refund] do |f| %>
  <fieldset>
    <div data-hook="admin_refund_form_fields">
      <div class="form-group">
        <%= f.label :payment_amount, Spree.t(:payment_amount) %><br/>
        <%= @refund.payment.amount %>
      </div>
      <div class="form-group">
        <%= f.label :credit_allowed, Spree.t(:credit_allowed) %><br/>
        <%= @refund.payment.credit_allowed %>
      </div>
      <%= f.field_container :amount, class: ['form-group'] do %>
        <%= f.label :amount, Spree.t(:amount) %>
        <%= f.text_field :amount, class: 'form-control' %>
        <%= f.error_message_on :amount %>
      <% end %>
      <%= f.field_container :reason, class: ['form-group'] do %>
        <%= f.label :refund_reason_id, Spree.t(:reason) %>
        <%= f.collection_select(:refund_reason_id, refund_reasons, :id, :name, {include_blank: true}, {class: 'select2'}) %>
        <%= f.error_message_on :reason %>
      <% end %>
    </div>

    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t(:refund), 'save' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), spree.admin_order_payments_url(@refund.payment.order), icon: "delete" %>
    </div>
  </fieldset>
<% end %>
