<tr id="<%= spree_dom_id webhook_event %>">
  <td><span class="badge badge-light"><%= webhook_event.name %></span></td>
  <td><%= active_badge(webhook_event.success) %></td>
  <td><%= local_time(webhook_event.created_at) %></td>
  <td>
    <% if webhook_event.response_code%>
      <code><%= webhook_event.response_code %></code></td>
    <% end %>
  <td>
    <% if webhook_event.execution_time %>
      <code><%= webhook_event.execution_time %>ms</code>
    <% end %>
  </td>
  <td>
    <%= sanitize webhook_event.request_errors&.gsub('[SPREE WEBHOOKS]', '') if webhook_event.request_errors.present? && !webhook_event.success? %>
  </td>
</tr>