<div class="mb-6">
  <h5 class="font-bold">Links</h5>

  <% if parent.links.any? %>
    <ul class="list-group mb-6"
        data-controller="sortable"
        data-sortable-handle-value=".handle"
        data-sortable-resource-name-value="page_link"
        data-sortable-response-kind-value="turbo-stream">
      <% parent.links.each do |link| %>
        <li class="list-group-item p-0 flex items-center hover:bg-gray-100"
            data-sortable-update-url="<%= spree.admin_page_link_path(link, sorting_only: true, format: :turbo_stream) %>"
        >
          <%= link_to link.label, spree.edit_admin_page_link_path(link), class: 'block py-4 px-6 text-gray-900 flex-1' %>
          <button class="btn btn-sm pr-0 handle hover:bg-gray-100-200 h-full mr-1 px-1 shadow-none">
            <%= icon 'grip-vertical', class: 'mr-0' %>
          </button>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-gray-600 text-center p-12">
      <%= Spree.t(:no_resource_found, resource: Spree::PageLink.model_name.human) %>
    </p>
  <% end %>

  <% if show_add_link_button %>
    <% if parent.is_a?(Spree::PageSection) %>
      <% add_url = spree.admin_page_section_links_path(parent) %>
    <% elsif parent.is_a?(Spree::PageBlock) %>
      <% add_url = spree.admin_page_section_block_links_path(parent.section, parent) %>
    <% end %>

    <%= link_to_with_icon 'plus', Spree.t(:add_link), add_url, class: 'btn btn-primary w-full', data: { turbo_method: :post } if add_url && can?(:create, Spree::PageLink.new(parent: parent)) %>
  <% end %>
</div>