<% @body_id = 'signup' %>

<%= render "shared/error_messages", :target => @user %>

<div id="new-customer">
  <h2><%= t("new_customer") %></h2>

  <%= hook :signup do %>

    <%= form_for(:user, :url => registration_path(@user)) do |f| %>

      <%= hook :signup_inside_form do %>
        <%= render 'shared/user_form', :f => f %>
        <p><%= submit_tag t("create"), :class => 'button primary' %></p>
      <% end %>

    <% end %>
    <%= t("or") %> <%= link_to t("login_as_existing"), login_path %>
  <% end %>

</div>

<%= hook :login_extras %>