<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<h2><%= t(:change_my_password) %></h2>

<%= form_for @user, :url => spree.user_password_path, :method => :put do |f| %>
  <p>
    <%= f.label :password, t(:password) %><br />
    <%= f.password_field :password %><br />
  </p>
  <p>
    <%= f.label :password_confirmation, t(:password_confirmation) %><br />
    <%= f.password_field :password_confirmation %><br />
  </p>
  <%= f.hidden_field :reset_password_token %>
  <%= f.submit t(:update_password), :class => 'button primary' %>
<% end %>