<tr id="<%= spree_dom_id newsletter_subscriber %>">
  <td class="w-30">
    <%= newsletter_subscriber.email %>
    <%= clipboard_component(newsletter_subscriber.email) %>
  </td>
  <td class="w-25">
    <% if newsletter_subscriber.user.present? %>
      <%= link_to newsletter_subscriber.user.full_name, spree.admin_user_path(newsletter_subscriber.user) %>
    <% else %>
      <span class="text-muted"><%= Spree.t(:not_available) %></span>
    <% end %>
  </td>
  <td class="w-10">
    <%= active_badge(newsletter_subscriber.verified?) %>
  </td>
  <td class="w-15">
    <% if newsletter_subscriber.verified_at.present? %>
      <%= spree_date(newsletter_subscriber.verified_at) %>
    <% else %>
      <span class="text-muted"><%= Spree.t(:not_available) %></span>
    <% end %>
  </td>
  <td class="w-15">
    <%= spree_date(newsletter_subscriber.created_at) %>
  </td>
  <td class="w-5">
    <%= dropdown do %>
      <%= dropdown_toggle class: 'btn-light btn-sm' do %>
        <%= icon('dots-vertical', class: 'mr-0') %>
      <% end %>
      <%= dropdown_menu do %>
        <%= link_to_delete(newsletter_subscriber, icon: 'trash', class: 'dropdown-item text-danger') %>
      <% end %>
    <% end %>
  </td>
</tr>