<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:general_settings) %>
    </h5>
  </div>

  <div class="card-body" data-controller="slug-form">
    <div class="form-group">
      <%= f.spree_text_field :name, required: true, data: { slug_form_target: :name, action: 'input->slug-form#updateUrlFromName' }, autofocus: f.object.new_record? %>
    </div>

    <div class="form-group">
      <%= f.spree_text_field :key, required: true, data: { slug_form_target: :url } %>
    </div>

    <div class="form-group">
      <%= f.spree_text_area :description, rows: 3 %>
    </div>

    <div class="form-group">
      <%= f.spree_select :resource_type, metafield_definition_resource_types.map { |type| [type.demodulize, type] }, { include_blank: Spree.t(:select_resource_type), autocomplete: true }, { required: true } %>
    </div>

    <div class="form-group">
      <%= f.spree_select :kind, metafield_definition_kinds.map { |kind| [Spree.t("metafield_definitions.form.#{kind}"), kind] }, { include_blank: Spree.t(:select_kind), autocomplete: true }, { required: true } %>
    </div>

    <div class="form-group">
      <%= f.spree_select :display_on, display_on_options, { include_blank: Spree.t(:select_display_on), autocomplete: true }, { required: true } %>
    </div>
  </div>
</div>