<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control', required: true, autofocus: true %>
</div>
<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: 'form-control', required: true %>
</div>
<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: 'form-control', required: true %>
</div>