<%= render 'spree/admin/shared/team_nav' %>

<div class="card-lg">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="rounded-lg-top-left"><%= Spree.t(:user) %></th>
          <th><%= Spree.t(:roles) %></th>
          <th class="rounded-lg-top-right"><%= sort_link @search, :created_at, Spree.t(:created_at) %></th>
        </tr>
      </thead>
      <tbody>
        <% @collection.each do |user| %>
          <tr id="<%= spree_dom_id user %>" class="cursor-pointer" data-controller="row-link">
            <td class="w-50" data-action="click->row-link#openLink">
              <%= link_to spree.admin_admin_user_path(user), data: { row_link_target: :link }, class: 'd-flex align-items-center' do %>
                <%= render_avatar(user, width: 48, height: 48, class: 'mr-3 avatar') %>
                <div class="d-flex flex-column">
                  <%= user.name %>
                  <span class="text-muted"><%= user.email %></span>
                </div>
              <% end %>
            </td>
            <td class="w-30" data-action="click->row-link#openLink">
              <% user.spree_roles.each do |role| %>
                <span class="badge badge-light"><%= role.name %></span>
              <% end %>
            </td>
            <td class="w-20">
              <%= local_time(user.created_at) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>