<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:tax_settings) %>
<% end %>

<%= form_tag admin_tax_settings_path, :method => :put do %>
  <div data-hook="shipment_vat" class="field align-center">
    <%= hidden_field_tag 'preferences[shipment_inc_vat]', '0' %>
    <%= check_box_tag 'preferences[shipment_inc_vat]', '1',  Spree::Config[:shipment_inc_vat] %>
    <%= label_tag nil, Spree.t(:shipment_inc_vat) %>    

  </div>

  <div class="form-buttons" data-hook="buttons">
    <%= button Spree.t('actions.update'), 'icon-refresh' %>
  </div>
<% end %>
