<div class="form-group" data-controller="replace password-visibility">
  <% if form.object.persisted? %>
    <div data-replace-target="from">
      <div readonly class="input-group bg-gray-25">
        <span class="text-gray-600 py-2 grow pl-2">
          <%= form.object.send(field).length.times do %>&bull; <% end %>
          <%= form.object.send(field)&.last(4) %>
        </span>
        <button class="btn btn-sm btn-light mr-1" type="button" data-action="click->replace#replace">
          <%= icon 'edit' %>
          <%= Spree.t(:edit) %>
        </button>
      </div>
    </div>
    <div class="input-group <% if form.object.persisted? %>hidden<% end %>" data-replace-target="to">
      <%= password_field form.object_name, field, class: 'form-input', required: form.object.new_record?, data: { 'enable-button-target': 'input', 'password-visibility-target': 'input' } %>

      <button type="button" class="btn btn-light" data-action="password-visibility#toggle">
        <span data-password-visibility-target="icon"><%= icon 'eye', class: 'mr-0' %></span>
        <span data-password-visibility-target="icon" class="hidden"><%= icon 'eye-off', class: 'mr-0' %></span>
      </button>
  </div>
  <% else %>
    <%= form.password_field(field, preference_field_options(options)) %>
  <% end %>
</div>
