<h1><%= t("new_promotion") %></h1>
<%= render "shared/error_messages", :target => @promotion %>

<%= form_for(:promotion, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= render :partial => "admin/shared/new_resource_links" %>
<% end %>
