<h1><%= t("new_promotion") %></h1>
<%= error_messages_for :promotion %>

<%= form_for(:promotion, :url => collection_url) do |f| %>


  <fieldset>
    <p>
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </p>
  </fieldset>

  <%= render "admin/shared/calculator_fields", :f => f %>

  <%= render :partial => "admin/shared/new_resource_links" %>
<% end %>
