<div class='variant-autocomplete-item'>
  <figure class='variant-image'>
    {{#if variant.image_url }}
      <img src='{{variant.image_url}}' />
    {{/if}}
  </figure>

  <div class='variant-details'>

    <h6 class="variant-name">{{variant.name}}</h6>

    {{#if variant.option_values}}
      {{#each variant.option_values}}
        <strong>{{this.option_type_presentation}}:</strong> {{this.presentation}}<br>
      {{/each}}
    {{/if}}
    
    <strong>{{i18n 'sku'}}:</strong> {{variant.sku}}

  </div>
</div>