<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:editing_mail_method) %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @mail_method } %>

<%= form_for [:admin, @mail_method] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p class="form-buttons" data-hook="buttons"><%= button t(:update) %></p>
<% end %>
