<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:mail_methods) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:new_mail_method), new_object_url, :icon => 'icon-plus', :id => 'admin_new_mail_method_link' %>
  </li>
<% end %>

<% unless @mail_methods.any? %>
  <div class="no-objects-found"><%= t(:no_mail_methods_defined)%></div>
<% else %>
  <table class="index" id="mail_methods_listing">
    <colgroup>
      <col style="width: 60%">
      <col style="width: 17%">
      <col style="width: 23%">
    </colgroup> 
    <thead data-hook="admin_mail_methods_index_headers">
      <th><%= t(:environment) %></th>
      <th><%= t(:active) %></th>
      <th data-hook="admin_mail_methods_index_header_actions" class="actions"></th>
    </thead>
    <tbody class="align-center">
      <% @mail_methods.each do |method|%>
        <tr id="<%= spree_dom_id method %>" data-hook="admin_mail_methods_index_rows">
          <td><%= method.environment.to_s.titleize %></td>
          <td><%= method.active ? t(:yes) : t(:no) %></td>
          <td data-hook="admin_mail_methods_index_row_actions" class="actions">
            <%= link_to_edit method, :no_text => true%>
            <%= link_to_delete method, :no_text => true %>
            <%= link_to_with_icon 'icon-envelope-alt', '', testmail_admin_mail_method_path(method), :method => :post, :title => t('admin.mail_methods.send_testmail'), :class => 'send_mail button no-text' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end%>