<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:new_mail_method) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'icon-arrow-left', t(:back_to_mail_methods_list), admin_mail_methods_path, :class => 'button' %></li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @mail_method } %>

<%= form_for [:admin, @mail_method] do |f| %>  
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button t(:create), 'icon-ok' %>
    </div>
  </fieldset>
<% end %>
