<div class="card mb-6">
    <div class="card-header">
      <h5 class="card-title"><%= Spree.t(:general_information) %></h5>
    </div>
    <div class="card-body" data-controller="slug-form">
      <div class="grid grid-cols-12 gap-6 mb-6">
        <div class="col-span-12 md:col-span-6">
          <%= f.spree_text_field :presentation, required: true, autofocus: f.object.new_record?, data: { slug_form_target: :name, action: 'slug-form#updateUrlFromName' }, help_text: "This is used to display the option type on the storefront." %>
        </div>

        <div class="col-span-12 md:col-span-6">
          <%= f.spree_text_field :name, label: Spree.t(:internal_name), data: { slug_form_target: :url }, help_text: raw("This is used internally to identify the option type. <strong>It must be unique.</strong>") %>
        </div>
      </div>
      <div class="grid grid-cols-12 gap-6 mb-6">
        <div class="col-span-12 md:col-span-6">
          <%= f.spree_select :kind,
              Spree::OptionType::KINDS.map { |k| [Spree.t("option_type_kinds.#{k}"), k] },
              { label: Spree.t(:kind), help: Spree.t(:option_type_kind_info) } %>
        </div>
      </div>
      <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 md:col-span-6">
          <%= f.spree_check_box :filterable, help_text: raw(Spree.t('option_type_filterable_info')) %>
        </div>
      </div>
    </div>
  </div>

  <template data-nested-form-target="template">
    <%= f.fields_for :option_values, Spree::OptionValue.new, child_index: 'NEW_RECORD' do |option_value_form| %>
      <%= render "option_value_fields", f: option_value_form %>
    <% end %>
  </template>

  <div class="card mb-6">
    <div class="card-header flex justify-between items-center">
      <h5 class="card-title"><%= Spree.t(:option_values) %></h5>
      <% if @option_values_total > 0 %>
        <span class="text-sm text-gray-500">
          <%= @option_values_total %> <%= 'value'.pluralize(@option_values_total) %>
        </span>
      <% end %>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="border-b">
              <th scope="col"></th>
              <th scope="col"><%= raw(Spree.t(:presentation) + required_span_tag) %></th>
              <th scope="col"><%= raw(Spree.t(:internal_name) + required_span_tag) %></th>
              <th scope="col"><%= Spree.t(:color_code) %></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id="option_values" data-controller="sortable" data-sortable-handle-value=".move-handle" data-sortable-resource-name-value="option_value" data-sortable-response-kind-value="turbo-stream">
            <%= f.fields_for :option_values, @option_values do |option_value_form| %>
              <%= render partial: 'option_value_fields', locals: { f: option_value_form, option_type: @option_type } %>
            <% end %>

            <!-- Inserted elements will be injected before that target. -->
            <tr data-nested-form-target="target"></tr>

            <tr class="hover-none">
              <td colspan="5" class="text-center p-2">
                <button type="button" data-action="nested-form#add" class="btn btn-secondary py-3 w-full" id="add_option_value_button">
                  <%= icon('plus') %>
                  <%= Spree.t(:add_one) %>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <% if @option_values_pages > 1 %>
        <div class="flex items-center justify-between p-3 border-t">
          <span class="text-sm text-gray-500">
            <% per_page = Spree::Admin::RuntimeConfig.admin_option_values_per_page %>
            Showing <%= (@option_values_page - 1) * per_page + 1 %>-<%= [@option_values_page * per_page, @option_values_total].min %> of <%= @option_values_total %>
          </span>
          <div class="flex gap-1.5">
            <% if @option_values_page > 1 %>
              <%= link_to icon('chevron-left', class: 'text-gray-900 mr-0'),
                  spree.edit_admin_option_type_path(@option_type, option_values_page: @option_values_page - 1),
                  class: "btn btn-light p-2",
                  'aria-label': 'Previous page' %>
            <% else %>
              <button class="btn btn-light p-2 cursor-not-allowed opacity-50" disabled>
                <%= icon('chevron-left', class: 'text-gray-900 mr-0') %>
              </button>
            <% end %>

            <% if @option_values_page < @option_values_pages %>
              <%= link_to icon('chevron-right', class: 'text-gray-900 mr-0'),
                  spree.edit_admin_option_type_path(@option_type, option_values_page: @option_values_page + 1),
                  class: "btn btn-light p-2",
                  'aria-label': 'Next page' %>
            <% else %>
              <button class="btn btn-light p-2 cursor-not-allowed opacity-50" disabled>
                <%= icon('chevron-right', class: 'text-gray-900 mr-0') %>
              </button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
