<fieldset class='no-border-bottom'>
  <legend>{{i18n 'order.shipments'}}</legend>
  {{partial 'orders/shipments'}}
</fieldset>

<fieldset class='no-border-bottom'>
  <legend>{{i18n 'order.payments'}}</legend>
    {{partial 'orders/payments'}}
  </legend>
</fieldset>
  
{{#if order.bill_address}}
  <div class="alpha six columns" id='billing_address'>
    <fieldset class="no-border-bottom">
      <legend align="center">{{i18n 'order.bill_address' }}</legend>
      {{#with order.bill_address}}
        {{partial 'orders/addresses/show'}}
      {{/with}}
    </fieldset>
  </div>
{{/if}}

{{#if order.ship_address}}
  <div class="alpha six columns" id='shipping_address'>
    <fieldset class="no-border-bottom">
      <legend align="center">{{i18n 'order.ship_address' }}</legend>
      {{#with order.ship_address}}
        {{partial 'orders/addresses/show'}}
      {{/with}}
    </fieldset>
  </div>
{{/if}}