<%= turbo_frame_tag :dialog do %>
  <%= form_for [:admin, @refund.payment.order, @refund.payment, @refund], data: { turbo_frame: '_top' } do |f| %>
    <%= dialog_header(Spree.t(:edit_refund)) %>
    <div class="dialog-body">
      <%= render 'spree/admin/shared/error_messages', target: @refund %>
      <%= render 'spree/admin/refunds/form', f: f %>
    </div>
    <div class="dialog-footer">
      <%= dialog_discard_button %>
      <%= turbo_save_button_tag %>
    </div>
  <% end %>
<% end %>
