<fieldset id="calculator_fields" data-hook class="no-border-bottom">
  <legend align="center"><%= t(:calculator) %></legend>

  <div id="preference-settings" data-hook>
    <div class="field">
      <%= f.label(:calculator_type, t(:calculator), :for => 'calc_type') %>
      <%= f.select(:calculator_type, @calculators.map { |c| [c.description, c.name] }, {}, {:id => 'calc_type', :class => 'select2 fullwidth'}) %>

      <% if !@object.new_record? %>
        <div class="calculator-settings">
          <%= f.fields_for :calculator do |calculator_form| %>
            <%= preference_fields(@object.calculator, calculator_form) %>
          <% end %>
        </div>
        <% if @object.calculator.respond_to?(:preferences) %>
          <span class="calculator-settings-warning info warning"><%= t(:calculator_settings_warning) %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</fieldset>