<% content_for :sidebar_title do %>
  <%= t(:configurations) %>
<% end %>

<% content_for :sidebar do %>
  <nav class="sidebar-menu">
    <ul class="sidebar" data-hook="admin_configurations_sidebar_menu">
      <%= configurations_sidebar_menu_item t(:general_settings), admin_general_settings_path %>
      <%= configurations_sidebar_menu_item t(:mail_methods), admin_mail_methods_path %>
      <%= configurations_sidebar_menu_item t(:tax_categories), admin_tax_categories_path %>
      <%= configurations_sidebar_menu_item t(:zones), admin_zones_path %>
      <%= configurations_sidebar_menu_item t(:states), admin_country_states_path(Spree::Config[:default_country_id]) %>
      <%= configurations_sidebar_menu_item t(:payment_methods), admin_payment_methods_path %>
      <%= configurations_sidebar_menu_item t(:taxonomies), admin_taxonomies_path %>
      <%= configurations_sidebar_menu_item t(:shipping_methods), admin_shipping_methods_path %>
      <%= configurations_sidebar_menu_item t(:inventory_settings), admin_inventory_settings_path %>
      <%= configurations_sidebar_menu_item t(:analytics_trackers), admin_trackers_path %>
      <li id="complete_settings_list"><%= link_to t(:complete_list), admin_configurations_path %></li>
    </ul>
  </nav>
<% end %>
