<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<%= csrf_meta_tags %>
<title><%= "Spree #{t('administration')}: " %>
<%= t(controller.controller_name, :default => controller.controller_name.titleize) %></title>

<%= stylesheet_link_tag 'admin/all' %>
<%= javascript_include_tag 'admin/all' %>

<%= javascript_tag do %>
  var Spree = {
    routes: <%== {
    :product_search       => spree.admin_products_path(:format => 'json'),
    :product_search_basic => spree.admin_products_path(:format => 'json', :json_format => 'basic', :limit => 10),
    :user_search          => spree.admin_users_path(:format => 'json', :limit => 10)
  }.to_json %>,

    strings: {
      no_results: '<%== t(:no_results) %>',
      type_to_search: '<%== t(:type_to_search) %>',
      searching: '<%== t(:searching) %>'
    }
  }
<% end %>

<%= javascript_tag do -%>
  jQuery.alerts.dialogClass = 'spree';
  <%== "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<% end -%>

<%= yield :head %>
