<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<%= csrf_meta_tags %>
<title><%= "Spree #{t('administration')}: " %>
<%= t(controller.controller_name, :default => controller.controller_name.titleize) %></title>

<%= stylesheet_link_tag 'admin/all' %>
<%= javascript_include_tag 'admin/all' %>

<%= render "spree/admin/shared/translations" %>
<%= render "spree/admin/shared/routes" %>

<%= javascript_tag do -%>
  jQuery.alerts.dialogClass = 'spree';
  <%== "var AUTH_TOKEN = #{form_authenticity_token.inspect};" %>
<% end -%>

<%= yield :head %>
