<% content_for :page_title do %>
  <%= t(:order) %> <span class="green">#<%= @order.number %></span>
<% end %>

<% content_for :sidebar_title do %>
  <%= t(:order_information) %>
<% end %>

<% content_for :sidebar do %>
  <header id="order_tab_summary" data-hook>
    <dl class="additional-info">
      <dt id="order_status" data-hook><%= t(:status) %>:</dt>
      <dd><span class="state <%= @order.state %>"><%= t(@order.state, :scope => :order_state) %></dd>
      <dt id="order_total" data-hook><%= t(:total) %>:</dt>
      <dd><%= money @order.total %></dd>
    
      <% if @order.completed? %>
        <dt id="shipment_status"><%= t(:shipment) %>: </dt>
        <dd><%= t(@order.shipment_state, :scope => :shipment_state, :default => [:missing, "none"]) %></dd>
        <dt id="payment_status"><%= t(:payment) %>: </dt>
        <dd><span class="state <%= @order.payment_state %>"><%= t(@order.payment_state, :scope => :payment_states, :default => [:missing, "none"]) %></dd>
        <dt id="date_completed" data-hook><%= t(:date_completed) %>:</dt>
        <dd><%= I18n.l(@order.completed? ? @order.completed_at : @order.created_at) %></dd>      
      <% end %>
    </dl>
  </header>

  <nav class="sidebar-menu">
    <ul data-hook="admin_order_tabs">
      <% unless @order.completed? %>
        <li<%== ' class="active"' if current == 'Order Details' %>>
          <%= link_to_with_icon 'icon-edit', t(:order_details), edit_admin_order_url(@order) %>
        </li>
        <li<%== ' class="active"' if current == 'Customer Details' %>>
          <%= link_to_with_icon 'icon-user', t(:customer_details), admin_order_customer_url(@order) %>
        </li>
        <li<%== ' class="active"' if current == 'Shipments' %>>
          <%=link_to_with_icon 'icon-road', t(:shipments), @order.line_items.empty? || !@order.completed? ? 'javascript:$("form").submit();' : edit_admin_order_shipment_url(@order, @order.shipment) %>
        </li>
        <li<%== ' class="active"' if current == 'Adjustments' %>>
           <%= link_to_with_icon 'icon-cogs', t(:adjustments), @order.line_items.empty? || !@order.completed? ? 'javascript:$("form").submit();' : admin_order_adjustments_url(@order) %>
        </li>
        <li<%== ' class="active"' if current == 'Payments' %>>
           <%= link_to_with_icon 'icon-credit-card', t(:payments), @order.line_items.empty? || !@order.completed? ? 'javascript:$("form").submit();' : new_admin_order_payment_url(@order) %>
        </li>

      <% else %>
        <li<%== ' class="active"' if current == 'Order Details' %>>
          <%= link_to_with_icon 'icon-edit', t(:order_details), edit_admin_order_url(@order) %>
        </li>
        <li<%== ' class="active"' if current == 'Customer Details' %>>
          <%= link_to_with_icon 'icon-user', t(:customer_details), admin_order_customer_url(@order) %>
        </li>
        <li<%== ' class="active"' if current == 'Adjustments' %>>
          <%= link_to_with_icon 'icon-cogs', t(:adjustments), admin_order_adjustments_url(@order) %>
        </li>
        <li<%== ' class="active"' if current == 'Payments' %>>
          <%= link_to_with_icon 'icon-credit-card', t(:payments), admin_order_payments_url(@order) %>
        </li>
        <li<%== ' class="active"' if current == 'Shipments' %>>          
          <%= link_to_with_icon 'icon-road', t(:shipments), admin_order_shipments_url(@order) %>
        </li>
        <li<%== ' class="active"' if current == 'Return Authorizations' %>>          
          <%= link_to_with_icon 'icon-share-alt', t(:return_authorizations), admin_order_return_authorizations_url(@order) %>
        </li>
      <% end %>
    </ul>  
  </nav>
  

<% end %>
