<% content_for :page_title do %>
  <%= t(:editing_product) %> &ldquo;<%= @product.name %>&rdquo;
<% end %>

<% content_for :sidebar do %>

  <h4><%= @product.name %><span class="sku"><%= @product.sku %></span></h4>
  <br class="clear" />

  <ul class="sidebar sidebar-menu product-menu" data-hook="admin_product_tabs">
    <li<%== ' class="active"' if current == 'Product Details' %>>
      <%= link_to t(:product_details), edit_admin_product_url(@product) %>
    </li>
    <li<%== ' class="active"' if current == 'Images' %>>
      <%= link_to t(:images), admin_product_images_url(@product) %>
    </li>
    <li<%== ' class="active"' if current == 'Variants' %>>
      <%= link_to t(:variants),  admin_product_variants_url(@product) %>
    </li>
    <li<%== ' class="active"' if current == 'Product Properties' %>>
      <%= link_to t(:product_properties), admin_product_product_properties_url(@product) %>
    </li>
  </ul>
  <br class="clear" />

<% end %>
