<% content_for :page_title do %>
  <%= t(:editing_product) %> &ldquo;<%= @product.name %>&rdquo;
<% end %>

<% content_for :sidebar_title do %>
  <span class="sku"><%= @product.sku %></span>
<% end %>

<% content_for :sidebar do %>
  <nav class="sidebar-menu">
    <ul data-hook="admin_product_tabs">
      <li<%== ' class="active"' if current == 'Product Details' %>>
        <%= link_to_with_icon 'icon-edit', t(:product_details), edit_admin_product_url(@product) %>
      </li>
      <li<%== ' class="active"' if current == 'Images' %>>
        <%= link_to_with_icon 'icon-picture', t(:images), admin_product_images_url(@product) %>
      </li>
      <li<%== ' class="active"' if current == 'Variants' %>>
        <%= link_to_with_icon 'icon-th-large', t(:variants),  admin_product_variants_url(@product) %>
      </li>
      <li<%== ' class="active"' if current == 'Product Properties' %>>
        <%= link_to_with_icon 'icon-tasks', t(:product_properties), admin_product_product_properties_url(@product) %>
      </li>
    </ul>
  </nav>

<% end %>
