<%= search_form_for @search, :url => spree.sales_total_admin_reports_path  do |s| %>
    <%= label_tag nil, t(:date_range) %><br />
    <div class="date-range-filter">
      <div class="left sub-field">
        <%= s.text_field :created_at_gt, :class => 'datepicker' %><br />
        <%= label_tag nil, t(:start), :class => 'sub' %>
      </div>
      <div class="right sub-field">
        <%= s.text_field :created_at_lt, :class => 'datepicker' %><br />
        <%= label_tag nil, t(:stop) %>
      </div>
    </div>

    <p><%= button t(:search) %></p>
<% end %>
