<%= render :partial => 'shared/product_sub_menu' %>
<h1><%= t("Editing Product") %></h1>
<%= render :partial => 'shared/product_tabs', :locals => {:current => "Variants"} %>
<table class="full-table">
	<thead>
		<tr>
			<th><%= t("Options") %></th>
			<th><%= t("Price") %></th>
		  <th><%= t("SKU") %></th>
		  <% Variant.additional_fields.select{|f| f[:only].nil? || f[:only].include?(:variant) }.each do |field| %>
		    <th><%= field[:name].titleize %></th>
		  <% end %>
		  <th><%= t("On Hand") %></th>
			<th><%= t("Action") %></th>
		</tr>
	</thead>
	<tbody>
    <% @variants.each do |variant| %>
      <!-- you can skip variant with no options: that's just the default variant that all products have -->
      <% next if variant.option_values.empty? %>
      <tr <%= 'style="color:red;"' unless variant.deleted_at.nil? %>>
      	<td><%= variant_options variant %> '<%= variant.id.to_s   %>'</td>
      	<td><%= variant.price %>
        <td><%= variant.sku %></td>
        <% Variant.additional_fields.select{|f| f[:only].nil? || f[:only].include?(:variant) }.each do |field| %>        
  		    <td><%= variant[field[:name].gsub(" ", "_").downcase] %></td>
  		  <% end %>
        <td><%= variant.on_hand %></td>
		    <td valign="top">
		      <%= link_to_edit(variant) if variant.deleted_at.nil? %>
		      &nbsp;
		      <%= link_to_delete(variant) if variant.deleted_at.nil? %>
		    </td>        
      </tr>
    <% end %>
    <% unless @product.variants? %>
      <tr><td colspan="5"><%= t("None") %>.</td></tr>
    <% end %>
  </tbody>
</table>

<% unless @product.options.empty? %>
  <div id="variants"/>
  <%= image_tag "spinner.gif", :plugin=>"spree", :style => "display:none", :id => 'busy_indicator' %>
  <br/>
  <span id="new_var_link">
    <%= link_to_remote t("New Variant"), 
                       :url => new_admin_product_variant_url(@product), 
                       :method => :get,
                       :update => "variants",
                       :before => "Element.hide('new_var_link');Element.show('busy_indicator')", 
                       :complete => "Element.hide('busy_indicator')" %>
  </span>&nbsp;|&nbsp;<%= link_to @deleted.blank? ? "Show Deleted" : "Show Active", admin_product_variants_url(@product, :deleted =>  @deleted.blank? ? "on" : "off") %>
<% end %>