<div data-hook="admin_stock_movements_form_fields" class="row">
  <div class="alpha twelve columns">
    <%= f.field_container :quantity do %>
      <%= f.label :quantity, Spree.t(:quantity) %>
      <%= f.text_field :quantity %>
    <% end %>
    <%= f.field_container :stock_item_id do %>
      <%= f.label :stock_item_id, Spree.t(:stock_item_id) %>
      <%= f.text_field 'stock_item_id', :class => 'fullwidth' %>
    <% end %>
  </div>
</div>

<%= render :partial => "spree/admin/variants/autocomplete", :formats => :js %>