<% content_for :page_title do %>
  <%= Spree.t(:new_stock_movement) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'arrow-left', Spree.t(:back_to_stock_movements_list), admin_stock_location_stock_movements_path(stock_location), :class => 'btn btn-default' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @stock_movement } %>

<%= form_for [:admin, stock_location, @stock_movement] do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links', locals: { collection_url: admin_stock_location_stock_movements_path(stock_location) } %>
  </fieldset>
<% end %>
