<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "spree/admin/shared/head" %>
  </head>
  <body class="admin min-h-screen <%= controller_name %> <%= action_name %>" data-controller="dialog">
    <div class="grid grid-cols-1 lg:grid-cols-2 min-h-screen">
      <div
        class="hidden lg:block bg-gray-25 bg-cover bg-center bg-no-repeat"
        style="background-image: url('<%= asset_path('login_sidebar_background.png') %>');"
      >
      </div>
      <div class="flex flex-col justify-center items-center p-6 lg:p-12">
        <div class="w-full max-w-md">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "spree/admin/shared/dialog" %>
    <%= render "spree/admin/shared/alerts" %>
    <%= render "spree/admin/shared/turbo_confirm_dialog" %>
  </body>
</html>
