<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:gift_card_batch) %>
    </h5>
  </div>

  <div class="card-body">
    <div class="form-group">
      <%= f.label :prefix, raw(Spree.t('admin.gift_card_batches.prefix') + required_span_tag)%>
      <%= f.text_field :prefix, class: 'form-control', disabled: f.object.persisted? %>
      <%= f.error_message_on :prefix %>
    </div>
    <div class="form-group">
      <%= f.label :amount, raw(Spree.t(:amount) + required_span_tag) %>
      <%= f.number_field :amount, class: 'form-control', disabled: f.object.persisted?, required: true %>
      <%= f.error_message_on :amount %>
    </div>
    <div class="form-group">
      <%= f.label :codes_count, raw(Spree.t('admin.gift_card_batches.codes_count') + required_span_tag) %>
      <%= f.number_field :codes_count, class: 'form-control', disabled: f.object.persisted?, required: true, min: 1, max: Spree::Config[:gift_card_batch_limit] %>
      <%= f.error_message_on :codes_count %>
    </div>
    <div class="form-group">
      <%= f.label :expires_at, Spree.t(:expires_at) %>
      <%= f.date_field :expires_at, class: 'form-control', disabled: f.object.persisted? %>
      <%= f.error_message_on :expires_at %>
    </div>
  </div>
</div>
