<fieldset id='billing' data-hook>
  <%= form.fields_for :bill_address do |bill_form| %>
    <legend><%= t("billing_address")%></legend>
    <div class="inner" data-hook="billing_inner">
      <% [:firstname, :lastname, :address1, :address2, :city].each do |field_name| %>
        <%= address_field(bill_form, field_name) %>
      <% end %>

      <% if Spree::Config[:address_requires_state] %>
        <%= address_field(bill_form, :state, 'b') { address_state(bill_form, @order.bill_address.country) } %>
      <% end %>

      <%= address_field(bill_form, :zipcode) %>
      <%= address_field(bill_form, :country, 'b') do %>
        <%= bill_form.label :country_id, t(:country) %><span class="req">*</span><br />
        <span id="bcountry">
          <%= bill_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %>
        </span>
      <% end %>
      <%= address_field(bill_form, :phone) %>
      <% if Spree::Config[:alternative_billing_phone] %>
        <%= address_field(bill_form, :alternative_phone) %>
      <% end %>
    </div>
  <% end %>
</fieldset>
<fieldset id='shipping' data-hook>
  <%= form.fields_for :ship_address do |ship_form| %>
    <legend><%= t("shipping_address")%></legend>
    <p class="field checkbox" data-hook="use_billing">
      <%= check_box_tag 'order[use_billing]', '1', (!(@order.bill_address.empty? && @order.ship_address.empty?) && @order.bill_address.eql?(@order.ship_address)) %> 
      <label for="order_use_billing" id="use_billing"><%= t("use_billing_address") %></label>
    </p>
    <div class="inner" data-hook="shipping_inner">
      <% [:firstname, :lastname, :address1, :address2, :city].each do |field_name| %>
        <%= address_field(ship_form, field_name, 's') %>
      <% end %>

      <% if Spree::Config[:address_requires_state] %>
        <%= address_field(ship_form, :state, 's') { address_state(ship_form, @order.ship_address.country) } %>
      <% end %>
      
      <%= address_field(ship_form, :zipcode, 's') %>
      <%= address_field(ship_form, :country, 's') do %>
        <%= ship_form.label :country_id, t(:country) %><span class="req">*</span><br />
        <span id="scountry">
          <%= ship_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %>
        </span>
      <% end %>
      <%= address_field(ship_form, :phone, 's') %>
      <% if Spree::Config[:alternative_shipping_phone] %>
        <%= address_field(ship_form, :alternative_phone, 's') %>
      <% end %>
    </div>
  <% end %>
</fieldset>

<hr class="space" />
<div class="form-buttons" data-hook="buttons">
  <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>" />
</div>
