<%= hook :checkout_addresses do %>
  <style>
  div.inner input[type=text], div.inner select { width: 80%; }
  .hidden { display: none; }
  </style>
  <%= hook :checkout_billing_address do %>
    <fieldset id='billing'>
      <%= form.fields_for :bill_address do |bill_form| %>
        <legend><%= t("billing_address")%></legend>
        <div class="inner">
          <p class="field">&nbsp;</p>
          <%= render 'shared/address_fields',
                :f => bill_form, :id_prefix => 'b' %>
          <% if Spree::Config[:alternative_billing_phone] %>
            <p id="baltphone">
              <%= bill_form.label :alternative_phone, t(:alternative_phone) %>
              <%= bill_form.text_field :alternative_phone %>
            </p>
          <% end %>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <%= hook :checkout_shipping_address do %>
    <fieldset id='shipping'>
      <%= form.fields_for :ship_address do |ship_form| %>
        <legend><%= t("shipping_address")%></legend>
        <p class="field checkbox">
          <label for="order_use_billing" id="use_billing">
            <%= check_box_tag 'order[use_billing]', '1', (!@order.bill_address.empty? && @order.bill_address.eql?(@order.ship_address)), :class => "use_billing_address" %>
            <%= t("use_billing_address") %>
          </label>
        </p>
        <div class="inner">
          <%= render 'shared/address_fields',
                :f => ship_form, :id_prefix => 's' %>
          <% if Spree::Config[:alternative_shipping_phone] %>
            <p id="saltphone">
              <%= ship_form.label :alternative_phone, t(:alternative_phone) %>
              <%= ship_form.text_field :alternative_phone %>
            </p>
          <% end %>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <hr class="space" />
  <div class="form-buttons">
    <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>" />
  </div>
<% end %>
