<% params[:step] ||= 'registration' %>
<% content_for :head do %>
  <%= javascript_include_tag  'checkout', '/states' %>
<% end %>
<div id="checkout">
  <h1><%= t("checkout")%></h1>
  <%= checkout_progress %>
  <br clear="left" />
  <%= render "shared/error_messages", :target => @checkout %>
  <%= hook :checkout_summary_box do %>
    <div id="checkout-summary">
      <%= render :partial => "summary" %>
    </div>
  <% end %>
  <%= form_for @checkout, :url => object_url, :html => { :method => :put, :id => "checkout_form_#{@checkout.state}"} do |checkout_form| %>
    <%= render @checkout.state, :checkout_form => checkout_form %>
    <input type="hidden" name="step" value="<%= @checkout.state %>">
    <input id="post-final" type="submit" style="display:none"/>
  <% end %>
</div>
