<% content_for :head do %>
  <script type="text/javascript">
(function($){
  $(document).ready(function(){

    $('#checkout_form_registration').validate();

  });
})(jQuery);

  </script>
<% end %>


<%= render "shared/error_messages", :target => @user %>
<h2><%= t("registration")%></h2>
<div id="registration">
  <div id="account">
    <!-- TODO: add partial with registration form -->
  </div>
  <% if Spree::Config[:allow_guest_checkout] %>
    <div id="guest_checkout">
      <%= render "shared/error_messages", :target => @order %>
      <h2><%= t(:guest_user_account) %></h2>
      <%= form_for @order, :url => update_checkout_registration_path, :html => { :method => :put, :id => "checkout_form_registration"} do |f| %>
        <p class="field">
          <%= f.label :email, t("email") %><br />
          <%= f.text_field :email, :class => 'required email' %><span class="req">*</span>
        </p>
        <div><%= submit_tag t("continue"), :class => 'button primary' %></div>
      <% end %>
    </div>
  <% end %>
</div>
