<tr class="product_property fields" id="spree_<%= dom_id(f.object) %>" data-hook="product_property">
  <td class="move-handle">
    <span class="icon icon-move handle"></span>
    <%= f.hidden_field :id %>
  </td>
  <td class='property_name'>
    <%= f.text_field :property_name, :class => 'autocomplete form-control' %>
  </td>
  <td class='value'>
    <%= f.text_field :value, :class => 'form-control' %>
  </td>
  <td class="actions actions-1">
    <% if f.object.persisted? %>
      <%= link_to_delete f.object, :no_text => true %>
    <% end %>
  </td>
</tr>
