<tr class="product_property fields" id="spree_<%= dom_id(f.object) %>" data-hook="product_property">
  <% if f.object.persisted? && can?(:edit, f.object) %>
  <td class="move-handle">
    <%= svg_icon name: "sort.svg", width: '18', height: '18' %>
    <%= f.hidden_field :id %>
  </td>
  <% else %>
  <td style="opacity:0.2;">
    <%= svg_icon name: "sort.svg", width: '18', height: '18' %>
    <%= f.hidden_field :id %>
  </td>
  <% end %>
  <td class='property_name'>
    <%= f.text_field :property_name, class: 'autocomplete form-control' %>
  </td>
  <td class='value'>
    <%= f.text_field :value, class: 'form-control' %>
  </td>
  <td class="show_property">
    <%= f.check_box :show_property %>
  </td>
  <td class="actions actions-1">
    <% if f.object.persisted? && can?(:destroy, f.object) %>
      <%= link_to_delete f.object, no_text: true %>
    <% else %>
    <span class="btn btn-danger btn-sm icon-link disabled" style="opacity:0.2;">
      <%= svg_icon name: "delete.svg", width: '18', height: '18' %>
    </span>
    <% end %>
  </td>
</tr>
