<% content_for :page_title do %>
  <%= page_title %> <i class="fa fa-arrow-right"></i>
  <%= @object.name %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'arrow-left', back_button_text, collection_url, :class => 'button' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @object } %>

<%= form_for [:admin, @object] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'spree/admin/shared/named_types/form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
