<div class="card mb-6">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:settings) %>
    </h5>
  </div>
  <div class="card-body">
    <%= f.spree_text_field :sku %>

    <%= f.spree_text_field :barcode %>

    <%= f.spree_collection_select :tax_category_id, @tax_categories, :id, :name, { include_blank: Spree.t('match_choices.none'), label: Spree.t(:tax_category), autocomplete: true } %>

    <%= f.spree_date_field :discontinue_on %>

    <%= render 'spree/admin/variants/form/dimensions', f: f %>
  </div>
</div>
