<% integration_name = integration_class.integration_name %>
<% integration = store_integration(integration_class.integration_key) %>

<% integration_description ||= Spree.t("admin.integrations.#{integration_class.integration_key}.description") %>

<div id="integration-<%= integration_class.integration_key %>" class="col mb-6 flex items-stretch">
  <div class="card w-full">
    <div class="card-header border-b flex items-center justify-between h-auto pr-4 <% if integration.present? %>bg-success<% end %>">
      <div class="flex items-center py-1">
        <%= image_tag integration_class.icon_path, alt: integration_name, height: 36 if integration_class.icon_path.present? %>
      </div>

      <% if integration.present? %>
        <span class="badge badge-success small">
          <%= icon('check', class: 'mr-1') %>
          <%= Spree.t(:active) %>
        </span>
      <% end %>
    </div>

    <div class="card-body">
      <p><%= integration_description %></p>
    </div>

    <div class="card-footer flex <% if integration.present? %>items-baseline justify-between<% else %>flex-col<% end %>">
      <% if integration.present? %>
        <%= link_to spree.edit_admin_integration_path(integration), class: 'btn btn-sm btn-light' do %>
          <%= icon 'settings' %>
          <%= Spree.t(:settings) %>
        <% end if can?(:update, integration) %>
      <% else %>
        <%= link_to_with_icon 'plus', "#{Spree.t('actions.connect')} #{integration_class.integration_name}", spree.new_admin_integration_path(integration: { type: integration_class.name }), class: 'btn btn-primary truncate w-full' if can?(:create, Spree::Integration) %>
      <% end %>
    </div>
  </div>
</div>
