<% checkout_form.fields_for :bill_address do |bill_form| %>
  <h2><%= t("billing_address")%></h2>
  <div class="inner">
    <p id="bfname">
      <label for="<%= t("first_name") %>"><%= t("first_name") %></label>
      <%= bill_form.text_field :firstname, :class => 'required' -%><span class="req">*</span>
    </p>
    <p id="blname">
      <label for="<%= t("last_name") %>"><%= t("last_name") %></label>
      <%= bill_form.text_field :lastname, :class => 'required' -%><span class="req">*</span>
    </p>
    <p id="baddress">
      <label for="<%= t("street_address") %>"><%= t("street_address") %></label>
      <%= bill_form.text_field :address1, :class => 'required' -%><span class="req">*</span>
    </p>
    <p id="baddress2">
      <label for="<%= t("street_address_2") %>"><%= t("street_address_2") %></label>
      <%= bill_form.text_field :address2 %>
    </p>
    <p id="bcity">
      <label for="<%= t("city") %>"><%= t("city") %></label>
      <%= bill_form.text_field :city, :class => 'required' -%><span class="req">*</span>
    </p>                        
    <% if Spree::Config[:address_requires_state] %>
      <p>
        <label for="<%= t("state") %>"><%= t("state") %></label>
        <span id="bstate">
          <% if @checkout.bill_address.country.states.empty? %>
            <%= bill_form.text_field :state_name, :class => 'required' -%>
          <% else %>
            <%= collection_select("checkout[bill_address_attributes]", 
                                  :state_id, 
                                  @states, 
                                  :id, 
                                  :name, 
                                  {:include_blank => true}, 
                                  {:style=> 'width:150px;'}) %>
          <% end %>
        </span>
        <span class="req">*</span>
      </p>
    <% end %>
    <p id="bzip">
      <label for="<%= t("zip") %>"><%= t("zip") %></label>
      <%= bill_form.text_field :zipcode, :class => 'required' -%><span class="req">*</span>
    </p>    
    <p id="bcountry">
      <label for="<%= t("country") %>"><%= t("country") %></label>
      <span id="bcountry"><%= bill_form.collection_select :country_id, @countries, :id, :name, {}, {:style => 'width:150px;', :class => 'required'} %></span>
    </p>
    <p id="bphone">
      <label for="<%= t("phone") %>"><%= t("phone") %></label>
      <%= bill_form.text_field :phone, :class => 'required' -%><span class="req">*</span>
        </p>
        <% if Spree::Config[:alternative_billing_phone] %>
          <p id="baltphone">
            <label for=""><%= t("alternative_phone") %></label>
            <%= bill_form.text_field :alternative_phone -%>
          </p>
        <% end %>

    <div class="form-buttons">
      <input id="continue_billing" type="button" class="button primary" value="<%=t("continue")%>"/>
    </div>
  </div>
<% end %>
