<% content_for :head do %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %> 
  <script type="text/javascript">
    var regions = new Array(<%= checkout_steps.collect {|step| "\'#{step}\'"}.join(",") %>);
  </script>
<% end %>                 

<%= error_messages_for :checkout %>

<% checkout_steps.each do |step| %>
  <div id="<%=step%>" class="checkout disabled">
    <%= render step, :checkout_form => checkout_form %>  
  </div>
<% end %>

<input type="hidden" id="hidden_bcountry" name="hidden_bcountry" value="<%= @checkout.bill_address.country_id %>" />
<input type="hidden" id="hidden_bstate" name="hidden_bstate" value="<%= @checkout.bill_address.country.states.empty? ? @checkout.bill_address.state_name : @checkout.bill_address.state_id %>" />

<input type="hidden" id="hidden_scountry" name="hidden_scountry" value="<%= @checkout.shipment.address.country_id %>" />
<input type="hidden" id="hidden_sstate" name="hidden_sstate" value="<%= @checkout.shipment.address.country.states.empty? ? @checkout.shipment.address.state_name : @checkout.shipment.address.state_id %>" />
