<% checkout_form.fields_for :creditcard do |creditcard_form| %> 
  <h2><%= t("payment_information") %></h2>
  <div class="inner">
  	<p>
  		<%= image_tag "creditcard.gif", :id => 'creditcard-image' %>
  	</p>
  	<p>
  		<label for=""><%= t("card_number") %></label>
		<%= creditcard_form.text_field :number, :size=> 19, :max_length => 19, :class => 'required' -%><span class="req">*</span>
                &nbsp; 
                <span id="card_type" style="display:none;">
                  ( <span id="looks_like" ><%= t('card_type_is') %> <span id="type"></span></span>
                    <span id="unrecognized"><%= t('unrecognized_card_type') %></span>
                  )
                </span>
  	</p>
  	<p id="maestro_extra" style="display: none;">
		<label for=""><%= t("maestro_or_solo_cards") %> </label>
		<%= t("issue_number") %>
		<%= creditcard_form.text_field :issue_number, {:style => 'width:40px', :title => t('enter_exactly_as_shown_on_card') + ', e.g. 2, 01.' } -%>
		&nbsp;<strong>OR</strong>&nbsp;
		<%= t('start_date') %>
		<%= select_month(@date, :prefix => 'checkout[creditcard]', :field_name => 'start_month', :use_month_numbers => true, :include_blank => true) -%>
		<%= select_year(@date, :prefix => 'checkout[creditcard]', :field_name => 'start_year', :start_year => Date.today.year - 15, :end_year => Date.today.year, :include_blank => true) -%>
	</p>
  	<p>
  		<label for=""><%= t("expiration") %></label>  		
  		<%= select_month(Date.today, :prefix => 'checkout[creditcard]', :field_name => 'month', :use_month_numbers => true, :class => 'required') -%>
  		<%= select_year(Date.today, :prefix => 'checkout[creditcard]', :field_name => 'year', :start_year => Date.today.year, :end_year => Date.today.year + 15, :class => 'required') -%>
  		<span class="req">*</span>
  	</p>
  	<p>
  		<label for=""><%= t("card_code") %></label>
  		<%= creditcard_form.text_field :verification_value, {:style => 'width:40px', :class => 'required'} -%><span class="req">*</span>
  		<a href="" onclick="window.open('/content/cvv','mywin','left=20,top=20,width=500,height=500,toolbar=0,resizable=0,scrollbars=1');return false">
  			(<%= t("whats_this") %>)
  		</a>
  	</p>
  	<div class="form-buttons">
  		<input id="continue_payment" type="button" class="button primary" value="<%=t("continue")%>"/>
  	</div>
  	<%= creditcard_form.hidden_field :first_name -%>
    <%= creditcard_form.hidden_field :last_name -%>  	
  </div>    
<% end %>
