<% checkout_form.fields_for :shipment do |shipment| %>     
  <% shipment.fields_for :address do |address| %>
    <h2><%= t("shipping_address")%></h2>
    <div class="inner">
    	<p><label for="checkout_same_address" id="use_billing"><%= t("use_billing_address") %></label><input id="checkout_same_address" name="checkout_same_address" type="checkbox" /></p> 
    	<p id="sfname">
    		<label for="<%= t("first_name") %>"><%= t("first_name") %></label>
    		<%= address.text_field :firstname, :class => 'required' -%><span class="req">*</span>
    	</p>
    	<p id="slname">
    		<label for="<%= t("last_name") %>"><%= t("last_name") %></label>
    		<%= address.text_field :lastname, :class => 'required' -%><span class="req">*</span>
    	</p>
    	<p id="saddress">
    		<label for="<%= t("street_address") %>"><%= t("street_address") %></label>
    		<%= address.text_field :address1, :class => 'required' -%><span class="req">*</span>
    	</p>
    	<p id="saddress2">
    		<label for="<%= t("street_address_2") %>"><%= t("street_address_2") %></label>
    		<%= address.text_field :address2 %>
    	</p>
    	<p id="scity">
    		<label for="<%= t("city") %>"><%= t("city") %></label>
    		<%= address.text_field :city, :class => 'required' -%><span class="req">*</span>
    	</p>    
        <% if Spree::Config[:address_requires_state] %>
          <p>
            <label for="<%= t("state") %>"><%= t("state") %></label>
            <span id="sstate">
              <% if @checkout.shipment.address.state.present? %>
    		<%= collection_select("checkout[shipment_attributes][address_attributes]", 
                                      :state_id, 
                                      @states, 
                                      :id, 
                                      :name, 
                                      {:include_blank => true}, 
                                      {:style=> 'width:150px;'}) %>
              <% else %>
                <%= address.text_field :state_name, :class => 'required' -%>
              <% end %>
            </span>
            <span class="req">*</span>
          </p>
        <% end %>
    	<p id="szip">
    		<label for="<%=t ("zip") %>"><%= t("zip") %></label>
    		<%= address.text_field :zipcode, :class => 'required' -%><span class="req">*</span>
    	</p>
    	<p id="scountry">
    		<label for="<%= t("country") %>"><%= t("country") %></label>
    		<span id="scountry"><%= address.collection_select :country_id, @shipping_countries, :id, :name, {}, {:style => 'width:150px;', :class => 'required'} %></span>
    	</p>
    	<p id="sphone">
    		<label for="<%= t("phone") %>"><%= t("phone") %></label>
    		<%= address.text_field :phone, :class => 'required' -%><span class="req">*</span>
    	</p>
    	<% if Spree::Config[:alternative_shipping_phone] %>
            <p id="saltphone">
              <label for=""><%= t("alternative_phone") %></label>
              <%= address.text_field :alternative_phone -%>
            </p>
          <% end %>
    	<div class="form-buttons">
    	  <input id="continue_shipping" type="button" class="button primary" value="<%=t("continue")%>"/>
    	</div>
    </div>
  <% end %>
<% end %>
