<div id="new_state" data-hook></div>

<table class="index" id='listing_states' data-hook>
  <colgroup>
    <col style="width: 70%" />
    <col style="width: 15%" />
    <col style="width: 15%" />
  </colgroup>
  <thead>
    <tr data-hook="states_header">
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:abbreviation) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @states.each do |state| %>
      <tr id="<%= spree_dom_id state %>" data-hook="states_row" class="<%= cycle('odd', 'even')%>">
        <td><%= state.name %></td>
        <td class="align-center"><%= state.abbr %></td>
        <td class="actions">
          <%= link_to_with_icon 'icon-edit', Spree.t(:edit), edit_admin_country_state_url(@country, state), :no_text => true %>
          <%= link_to_delete state, :no_text => true %>
        </td>
      </tr>
    <% end %>
    <% if @states.empty? %>
      <tr><td colspan="3"><%= Spree.t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>
