<% content_for :page_title do %>
  <%= plural_resource_name(Spree::State) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_state), new_admin_country_state_url(@country), { class: "btn-success", icon: 'add', id: 'new_state_link' } %>
<% end if can? :create, Spree::State %>

<div data-hook="country" class="form-group">
  <%= label_tag :country, Spree.t(:country) %>
  <select id="country" class='observe_field select2' data-base-url="<%=admin_states_path(format: :js) %>?country_id=" data-update="#state-list">
    <%= options_from_collection_for_select(@countries, :id, :name, @country.id) %>
  </select>
</div>

<div id="state-list" data-hook>
  <%= render partial: 'state_list'%>
</div>
