<h1><%= t("Configurations") -%></h1>

<table id="configurations" class="full-table" width="800px">
  <thead>
    <tr>
      <th><%= t("System") %></th>
      <th><%= t("Description") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to t("General Settings"), admin_general_settings_path %></td>
      <td><%= Globalite.localize(:general_settings_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t("Mail Server Settings"), admin_mail_settings_path %></td>
      <td><%= Globalite.localize(:email_server_settings_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t("Tax Categories"), admin_tax_categories_path %></td>
      <td><%= Globalite.localize(:tax_categories_setting_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t("Zones"), admin_zones_path %></td>
      <td><%= Globalite.localize(:zone_setting_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t("States"), admin_country_states_path(214) %></td>
      <td><%= Globalite.localize(:state_setting_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t("Gateway"), admin_gateways_path %></td>
      <td><%= Globalite.localize(:gateway_setting_description) %></td>
    </tr>
    <tr>
      <td><%= link_to t("Taxonomies"), admin_taxonomies_path %></td>
      <td><%= Globalite.localize(:taxonomies_setting_description) %></td>
		</tr>
		<tr>
      <td><%= link_to t("Inventory Settings"), admin_inventory_settings_path %></td>
      <td><%= Globalite.localize(:inventory_setting_description) %></td>
    </tr>
    <% @extension_links.each do |link_map| %>
      <tr>
        <td><%= link_to(link_map[:link_text],  link_map[:link]) %></td>
        <td><%= link_map[:description] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
