<table>
  <tr>
    <td width="150"><%= t("First Name") %></td>
    <td><%= f.text_field :firstname %></td>
  </tr>
  <tr>
    <td><%= t("Last Name") %></td>
    <td><%= f.text_field :lastname %></td>
  </tr>
  <tr>
    <td><%= t("Street Address") %></td>
    <td><%= f.text_field :address1 %></td>
  </tr>
  <tr>
    <td><%= Globalite.localize(:street_address_2) %></td>
    <td><%= f.text_field :address2 %></td>
  </tr>
  <tr>
    <td><%= t("City") %></td>
    <td><%= f.text_field :city %></td>
  </tr>
  <tr id="address_states_row">
		<%= render :partial => "states" %>
  </tr>
  <tr>
    <td><%= t("Zip") %></td>
    <td><%= f.text_field :zipcode %></td>
  </tr>
  <tr>
    <td><%= t("Country") %></td>
    <td>
      <select id="address_country_id" name="address[country_id]" style="width:150px;"> 
        <%= options_from_collection_for_select(@countries, :id, :name, @selected_country_id) %>
      </select>
			<%= observe_field :address_country_id, :url => { :action => :country_changed },
	    	:frequency => 2,
	    	:update => "address_states_row",
	  		:on => "onselect",
		 		:with => "address[country_id]",
				:loading => "$('address_states_row').childElements()[1].update('Loading...');"
			%>    
    </td>
  </tr>
  <tr>
    <td><%= t("Phone") %></td>
    <td><%= f.text_field :phone %></td>
  </tr>
</table>
