<% content_for :head do -%>
	<%= javascript_include_tag 'address.js' %>
	<%= javascript_include_tag 'address_book.js' %>
<% end -%>

<input type="hidden" id="hidden_state" name="hidden_state" value="<%= @address.state_id || @address.state_name %>" />
<input type="hidden" id="hidden_country" name="hidden_country" value="<%= @address.country_id || 214 %>" />

<div id="edit_address">
	<p>
		<label for="<%= t("nickname") %>"><%= t("nickname") %></label>
		<%= f.text_field :nickname %>
		<label id="nickname">defaults to address1 if not set</label>
	</p>
	<p>
		<label for="<%= t("first_name") %>"><%= t("first_name") %></label>
		<%= f.text_field :firstname, :class => 'required' -%><span class="req">*</span>
	</p>
	<p>
		<label for="<%= t("last_name") %>"><%= t("last_name") %></label>
		<%= f.text_field :lastname, :class => 'required' -%><span class="req">*</span>
	</p>
	<p>
		<label for="<%= t("street_address") %>"><%= t("street_address") %></label>
		<%= f.text_field :address1, :class => 'required' -%><span class="req">*</span>
	</p>
	<p>
		<label for="<%= t("street_address_2") %>"><%= t("street_address_2") %></label>
		<%= f.text_field :address2 %>
	</p>
	<p>
		<label for="<%= t("city") %>"><%= t("city") %></label>
		<%= f.text_field :city, :class => 'required' -%><span class="req">*</span>
	</p>
	<p>
		<label for="<%= t("state") %>"><%= t("state") %></label>
		<span id="state">
			<%= collection_select("address", :state_id, @states, :id, :name) %>
		</span>
		<span class="req">*</span>
	</p>
	<p>
		<label for="<%= t("zip") %>"><%= t("zip") %></label>
		<%= f.text_field :zipcode, :class => 'required' -%><span class="req">*</span>
	</p>
	<p>
		<label for="<%= t("country") %>"><%= t("country") %></label>	
		<span id="country">
			<%= f.collection_select :country_id, @countries, :id, :name, {}, {:class => 'required'} %>
		</span>
	</p>
	<p>
		<label for="<%= t("phone") %>"><%= t("phone") %></label>
		<%= f.text_field :phone, :class => 'required' -%><span class="req">*</span>
	</p>
</div>
