<%# locals: (collection:, table:, table_key:, selected_columns: nil, frame_name: nil, bulk_operations: false, sortable: false, export_type: nil, edit_object_url: :default) %>
<% frame_name ||= controller_name %>
<% columns = table.visible_columns(selected_columns, self) %>
<% current_sort = params.dig(:q, :s) %>
<% search_param = table.respond_to?(:search_param) ? table.search_param : :name_cont %>
<% search_placeholder = (table.respond_to?(:search_placeholder) && table.search_placeholder) || [Spree.t(:search), controller_name.humanize.downcase].join(' ') %>
<% date_range_param = table.date_range_param %>

<% if export_type.present? %>
  <%= render 'spree/admin/shared/export_modal', export_type: export_type %>
<% end %>

<%= turbo_frame_tag frame_name, autoscroll: true, data: { autoscroll_block: :start, turbo_action: 'advance' } do %>
  <div class="card-lg" data-controller="table" data-table-url-value="<%= request.path %>">
    <div class="p-2 border-b border-gray-200">
      <div class="flex flex-col lg:flex-row gap-3 items-start lg:items-center justify-between">
        <div class="flex gap-2 items-center flex-wrap">
          <%= search_form_for @search, url: url_for, html: { data: { turbo_frame: frame_name, turbo_action: 'advance' } } do |f| %>
            <div class="form-input flex items-center py-0 focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-blue-500 lg:w-[300px] mr-auto h-[2.125rem] transition-all duration-100 ease-in-out">
              <%= icon "search", class: "mr-4 text-gray-600" %>
              <%= search_field_tag "q[#{search_param}]",
                                   params.dig(:q, search_param),
                                   class: "outline-none border-0 h-full focus:border-0 focus:ring-0 p-0 text-base w-full",
                                   placeholder: search_placeholder %>
            </div>
          <% end %>
        </div>

        <div class="flex gap-2 items-center">
          <% if date_range_param.present? %>
            <%= form_with url: url_for, method: :get, data: { turbo_frame: frame_name, turbo_action: 'advance' }, class: 'h-full' do %>
              <%= render "spree/admin/shared/calendar_range_picker",
                         date_from_input_name: "q[#{date_range_param}_gt]",
                         date_to_input_name: "q[#{date_range_param}_lt]",
                         date_from_value: params.dig(:q, :"#{date_range_param}_gt"),
                         date_to_value: params.dig(:q, :"#{date_range_param}_lt"),
                         css_classes: "btn-light btn-sm dropdown-toggle h-[2.125rem]" %>
            <% end %>
          <% end %>
          <%= render 'spree/admin/tables/query_builder', table: table, table_key: table_key, frame_name: frame_name %>
          <%= table_sort_dropdown(table, current_sort) %>
          <%= render 'spree/admin/tables/column_selector',
                     table: table,
                     table_key: table_key,
                     selected_columns: selected_columns,
                     frame_name: frame_name %>
        </div>
      </div>
    </div>

    <% if collection.any? %>
      <%= render 'spree/admin/tables/table_body',
                 collection: collection,
                 columns: columns,
                 table: table,
                 bulk_operations: bulk_operations,
                 sortable: sortable %>

      <%= render 'spree/admin/shared/index_table_options', collection: collection %>
    <% else %>
      <%= render 'spree/admin/shared/no_resource_found',
                 new_object_url: (new_object_url if table.new_resource && respond_to?(:new_object_url) && can?(:create, table.model_class)) %>
    <% end %>
  </div>
<% end %>
