<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title"><%= Spree.t(:general_settings) %></h5>
      </div>

      <div class="card-body">
        <div class="form-group">
          <%= zone_form.label :name, Spree.t(:name) %>
          <%= zone_form.text_field :name, class: 'form-control' %>
          <%= zone_form.error_message_on :name %>
        </div>

        <div class="form-group">
          <%= zone_form.label :description, Spree.t(:description) %>
          <%= zone_form.text_field :description, class: 'form-control' %>
        </div>

        <div class="form-group checkbox">
          <%= label_tag "zone[#{:default_tax}" do %>
            <%= zone_form.check_box :default_tax %>
            <%= Spree.t(:default_tax_zone) %>
          <% end %>
        </div>

        <div class="form-group">
          <strong><%= Spree.t(:type) %></strong>
          <div class="radio my-2">
            <%= label_tag :country_based do %>
              <%= zone_form.radio_button :kind, :country, id: 'country_based', data: { action: 'auto-submit#submit' }  %>
              <%= Spree.t(:country_based) %>
            <% end %>
          </div>
          <div class="radio my-2">
            <%= label_tag :state_based do %>
              <%= zone_form.radio_button :kind, :state, id: 'state_based', data: { action: 'auto-submit#submit' } %>
              <%= Spree.t(:state_based) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <% if @zone.country? %>
      <%= render partial: 'country_members', locals: { zone_form: zone_form } %>
    <% else %>
      <%= render partial: 'state_members', locals: { zone_form: zone_form } %>
    <% end %>
  </div>
</div>
