<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title"><%= Spree.t(:general_settings) %></h5>
  </div>

  <div class="card-body">
    <div class="form-group">
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.error_message_on :name %>
    </div>

    <div class="form-group">
      <%= f.label :description, Spree.t(:description) %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <%= f.check_box :default_tax, class: 'custom-control-input' %>
        <%= f.label :default_tax, Spree.t(:default_tax_zone), class: 'custom-control-label' %>
      </div>
    </div>

    <div class="form-group">
      <strong><%= Spree.t(:type) %></strong>
      <div class="custom-control custom-radio my-2">
        <%= f.radio_button :kind, :country, id: 'country_based', class: 'custom-control-input', data: { action: 'auto-submit#submit' } %>
        <%= label_tag :country_based, Spree.t(:country_based), class: 'custom-control-label' %>
      </div>
      <div class="custom-control custom-radio my-2">
        <%= f.radio_button :kind, :state, id: 'state_based', class: 'custom-control-input', data: { action: 'auto-submit#submit' } %>
        <%= label_tag :state_based, Spree.t(:state_based), class: 'custom-control-label' %>
      </div>
    </div>
  </div>
</div>

<% if @zone.country? %>
  <%= render partial: 'country_members', locals: { zone_form: f } %>
<% else %>
  <%= render partial: 'state_members', locals: { zone_form: f } %>
<% end %>

