<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title"><%= Spree.t(:general_settings) %></h5>
  </div>

  <div class="card-body">
    <%= f.spree_text_field :name %>

    <%= f.spree_text_field :description %>

    <%= f.spree_check_box :default_tax, label: Spree.t(:default_tax_zone) %>

    <div class="form-group">
      <strong><%= Spree.t(:type) %></strong>
      <div class="custom-control custom-radio my-2">
        <%= f.radio_button :kind, :country, id: 'country_based', class: 'custom-control-input', data: { action: 'auto-submit#submit' } %>
        <%= label_tag :country_based, Spree.t(:country_based), class: 'custom-control-label' %>
      </div>
      <div class="custom-control custom-radio my-2">
        <%= f.radio_button :kind, :state, id: 'state_based', class: 'custom-control-input', data: { action: 'auto-submit#submit' } %>
        <%= label_tag :state_based, Spree.t(:state_based), class: 'custom-control-label' %>
      </div>
    </div>
  </div>
</div>

<% if @zone.country? %>
  <%= render partial: 'country_members', locals: { zone_form: f } %>
<% else %>
  <%= render partial: 'state_members', locals: { zone_form: f } %>
<% end %>

