<% content_for :head do %>
  <%= calendar_date_select_includes %>
<% end %>
<h1><%= :listing_reports.l("Listing reports") %></h1>
<table>
  <tr>
    <td valign="top">
      <div id="order-summary">
        <table class="admin-report" width="515">
          <thead>
            <tr>
              <th><%= :name.l %></th>
              <th><%= :description.l %></th>
            </tr>
          </thead>
          <tbody>     
            <% @reports.each do |key, value| %>
            <tr class="<%= cycle('even', 'odd') %>">
              <td><%=link_to value[:name], :action => key%></td>
              <td><%=value[:description]%></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
</table>
