<h1><%= t("sales_totals") %> </h1>
<table>
  <tr>
    <td valign="top">
      <table class="admin-report">
        <tbody>
          <tr>
            <td><%= t("item_total") %>:</td>
            <td align="right"><%=number_to_currency @item_total%></td>
          </tr>
          <tr>
            <td><%= t("shipping_total") %>:</td>
            <td align="right"><%=number_to_currency @ship_total%></td>
          </tr>
          <tr>
            <td><%= t("tax_total") %>:</td>
            <td align="right"><%=number_to_currency @tax_total%></td>
          </tr>
          <tr>
            <td><%= t("sales_total") %>:</td>
            <td align="right"><%=number_to_currency @sales_total%></td>
          </tr>
        </tbody>
      </table>
    </td>
    <%= render :partial => 'shared/report_criteria', :locals => {} %>
  </tr>
</table>
