<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
<table id="cart-detail" data-hook>
  <thead>
    <tr data-hook="cart_items_headers">
      <th colspan="2"><%= t(:item) %></th>
      <th><%= t(:price) %></th>
      <th><%= t(:qty) %></th>
      <th><%= t(:total) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="line_items" data-hook>
    <%= order_form.fields_for :line_items do |item_form| %>
      <%= render :partial => 'line_item', :locals => { :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form } %>
    <% end %>
  </tbody>
</table>
