<% content_for :page_title do %>
  <%= t(:sales_totals) %>
<% end %>

<table class="admin-report" data-hook="sales_total">
  <tbody>
    <tr>
      <th scope="row"><%= t(:item_total) %>:</th>
      <td align="right"><%= money @item_total %></td>
    </tr>
    <tr>
      <th scope="row"><%= t(:adjustment_total) %>:</th>
      <td align="right"><%= money @adjustment_total %></td>
    </tr>
    <tr>
      <th scope="row"><%= t(:sales_total) %>:</th>
      <td align="right"><%= money @sales_total %></td>
    </tr>
  </tbody>
</table>

<% content_for :sidebar do %>
  <%= render :partial => 'spree/admin/shared/report_criteria', :locals => {} %>
<% end %>

