<% if stores.size > 1 %>
  <li>
    <div class="dropdown navbar-right-dropdown">
      <button id="stores-button" type="button" data-toggle="dropdown" class="navbar-right-dropdown-toggle" aria-label="<%= Spree.t('nav_bar.change_country')%>">
        <span class="d-none d-xl-inline-block flag-icon flag-icon-<%= store_country_iso(current_store) %>"></span>
        <%= icon(name: 'arrow',
                classes: 'd-none d-xl-inline-block',
                width: 20,
                height: 20)  %>
      </button>

      <div class="dropdown-menu dropdown-menu-right text-right">
        <% stores.each do |store| %>
          <div class="pl-3 d-flex justify-content-between align-items-center">
            <span class="flag-icon flag-icon-<%= store_country_iso(store) %>"></span>
            <%= link_to store.default_country&.name, store.url, class: 'dropdown-item text-uppercase' %>
          </div>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
