<div id="spree-header">
  <header id="header" class="d-flex align-items-center header-spree border-bottom">
    <div class="container position-relative">
      <div class="position-absolute checkout-header-link">
        <%= link_to spree.cart_path, class: "d-none d-sm-inline text-uppercase", method: :get do %>
          <%= icon(name: 'arrow-right',
                   classes: 'spree-icon-arrow spree-icon-arrow-left',
                   width: 7,
                   height: 14) %>
          <span class="checkout-header-link-text"><%= Spree.t('checkout_page.back_to_cart') %></span>
        <% end %>

        <%= link_to spree.cart_path, class: "d-sm-none text-uppercase", method: :get do %>
          <%= icon(name: 'arrow-right',
                   classes: 'spree-icon-arrow spree-icon-arrow-left',
                   width: 7,
                   height: 14) %>
          <span class="checkout-header-link-text"><%= Spree.t('back') %></span>
        <% end %>
      </div>
      <div class="d-flex flex-nowrap align-items-center justify-content-center">
        <figure class="logo flex-grow-0 flex-xl-grow-0 order-xl-0 header-spree-fluid-logo m-0">
        <%= logo(Spree::Config[:logo], method: :get) %>
        </figure>
      </div>
    </div>
  </header>
</div>
