<%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path do |f| %>
  <fieldset id="password-credentials">
    <div class="form-group">
      <%= f.email_field :email, class: 'form-control', tabindex: 1, placeholder: Spree.t(:email) %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, class: 'form-control', tabindex: 2, placeholder: Spree.t(:password) %>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, Spree.t(:remember_me) %>
      </label>
    </div>
    <div class="form-group">
      <%= f.submit Spree.t(:login), class: 'btn btn-lg btn-success btn-block', tabindex: 3 %>
    </div>
  </fieldset>
<% end %>