<% if spree_menu.present? %>
  <div class="h-100" role="navigation" aria-label="<%= Spree.t('nav_bar.desktop') %>">
    <ul class="nav h-100 main-nav-bar">
      <% spree_menu.children.each do |parent| %>
          <li class="p-0 nav-item main-nav-bar-category">
            <% has_dropdown = parent.children.present? %>
            <% dropdown_toggle_class = has_dropdown ? "dropdown-toggle" : "" %>
            <% data_attr = has_dropdown ? { toggle: "dropdown" } : {} %>
            <% aria_attr = has_dropdown ? { haspopup: true, expanded: false } : {} %>
            <% if parent.container? %>
              <%= content_tag :span, parent.name, class: "nav-link main-nav-bar-item main-nav-bar-category-button #{dropdown_toggle_class}", data: data_attr, aria: aria_attr %>
            <% else %>
               <%= spree_nav_link_tag(parent, { class: "nav-link main-nav-bar-item main-nav-bar-category-button #{dropdown_toggle_class}", data: data_attr, aria: aria_attr }) %>
            <% end %>

             <% if has_dropdown %>
              <div class="dropdown-menu w-100 shadow main-nav-bar-category-dropdown">
                <div class="container p-0 d-flex justify-content-xl-around mx-auto">
                  <div class="row px-5">
                    <% parent.children.each do |child| %>

                      <!-- Categories -->
                      <% if child.container? && child.code?('category') %>
                        <div class="category-links my-4 mx-2">
                          <div class="category-links-header text-uppercase">
                            <%= child.name %>
                          </div>
                          <% if child.children.present? %>
                            <ul class="pl-0">
                              <% child.children.each do |category_link| %>
                                <li>
                                  <%= spree_nav_link_tag(category_link, { class: "text-uppercase main-nav-bar-category-links dropdown-item truncate" }) %>
                                </li>
                              <% end %>
                            </ul>
                          <% end %>
                        </div>
                      <% end %>

                      <!-- Promos -->
                      <% if child.container? && child.code?('promo') %>
                        <% if child.children.present? %>
                          <% child.children.each do |promo_banner| %>
                            <%= spree_nav_link_tag(promo_banner, { class: "dropdown-item" }) do %>
                              <div class="category-image text-center my-4 mx-3">
                                <% if promo_banner.icon.present? %>
                                  <%= image_tag main_app.url_for(promo_banner.icon.attachment), alt: promo_banner.icon.alt ,title: promo_banner.subtitle %>
                                <% end %>
                                <div class="category-box">
                                  <div class="category-box-small-text">
                                    <%= promo_banner.subtitle %>
                                  </div>
                                  <div class="category-box-big-text">
                                    <%= promo_banner.name %>
                                  </div>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>

                    <% end %>
                  </div>
                </div>
              </div>

             <% end %>
          </li>

      <% end %>
    </ul>
  </div>
<% end %>
