<% main_menu_items = menu_items_for_menu_with_unique_code('spree-all-main') %>

<% if main_menu_items %>
  <div class="h-100" role="navigation" aria-label="<%= Spree.t('nav_bar.desktop') %>">
    <ul class="nav h-100 main-nav-bar">
      <% main_menu_items.each do |root| %>
        <% if root.root? %>
          <li class="p-0 nav-item main-nav-bar-category">
            <% has_dropdown = root.children.present? %>
            <% dropdown_toggle_class = has_dropdown ? "dropdown-toggle" : "" %>
            <% data_attr = has_dropdown ? { toggle: "dropdown" } : {} %>
            <% aria_attr = has_dropdown ? { haspopup: true, expanded: false } : {} %>
            <%= link_to(root.name, menu_item_link_to(root), class: "nav-link main-nav-bar-item main-nav-bar-category-button #{dropdown_toggle_class}", data: data_attr, aria: aria_attr) %>
             <% if has_dropdown %>
              <div class="dropdown-menu w-100 shadow main-nav-bar-category-dropdown">
                <div class="container p-0 d-flex justify-content-xl-around mx-auto">
                  <div class="row px-5">
                    <% root.children.each do |child| %>

                      <!-- Categories -->
                      <% if child.code == 'category' && child.item_type == 'Container' %>
                        <div class="category-links my-4 mx-2">
                          <div class="category-links-header text-uppercase">
                            <%= child.name %>
                          </div>
                          <% if child.children.present? %>
                            <ul class="pl-0">
                              <% child.children.each do |category_link| %>
                                <li>
                                  <%= link_to category_link.name, menu_item_link_to(category_link), class: "text-uppercase main-nav-bar-category-links dropdown-item truncate" %>
                                </li>
                              <% end %>
                            </ul>
                          <% end %>
                        </div>
                      <% end %>

                      <!-- Promos -->
                      <% if child.code == 'promo' && child.item_type == 'Container' %>
                        <% if child.children.present? %>
                          <% child.children.each do |promo_banner| %>
                            <%= link_to menu_item_link_to(promo_banner), class: "dropdown-item" do %>
                              <div class="category-image text-center my-4 mx-3">
                                <% if promo_banner.image_asset.attached? && promo_banner.image_asset.image? %>
                                  <%= image_tag main_app.url_for(promo_banner.image_asset), title: promo_banner.subtitle %>
                                <% end %>
                                <div class="category-box">
                                  <div class="category-box-small-text">
                                    <%= promo_banner.subtitle %>
                                  </div>
                                  <div class="category-box-big-text">
                                    <%= promo_banner.name %>
                                  </div>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>

                    <% end %>
                  </div>
                </div>
              </div>

             <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
