<% source = payment.source %>

<% if source.is_a?(Spree::CreditCard) %>
  <span class="cc-type">
    <% if source.last_digits %>
      <%= Spree.t(:ending_in) %> <%= source.last_digits %>
    <% end %>
  </span>
  <br>
  <span class="full-name"><%= source.name %></span>
<% else %>
  <%= content_tag(:span, payment.payment_method.name) %>
<% end %>

<span class="payment-amount">(<%= payment.display_amount %>)</span>

<br>
