<div class="form-group">
  <%= f.label :preferred_heading, Spree.t(:image) %>
  <%= render 'active_storage/upload_form', form: f, field_name: :asset, width: 512, height: 512, auto_submit: true %>
</div>
<% content_for(:design_tab) do %>
  <%= render 'spree/admin/page_builder/option_select',
    f: f,
    field: :preferred_image_size,
    label: Spree.t('admin.page_builder.image_size'),
    options: [
      [Spree.t('admin.page_builder.page_container'), 'page-container'],
      [Spree.t('admin.page_builder.full_width'), 'w-full']
    ]
  %>
  <%= render 'spree/admin/page_builder/range_input',
    f: f,
    field: :preferred_container_height,
    min: 0, max: 2400, unit: 'px',
    label: Spree.t('admin.page_builder.container_height'),
    label_for_min_value: "auto"
  %>
  <%= render 'spree/admin/page_builder/color_picker',
      f: f,
      field: :preferred_box_background_color,
      value: f.object.preferred_box_background_color.presence,
      label: Spree.t('admin.page_builder.box_background_color'),
      action: 'change->auto-submit#submit' %>
  <%= render 'spree/admin/page_builder/range_input',
    f: f,
    field: :preferred_box_width,
    min: 0, max: 1200, unit: 'px',
    label: Spree.t('admin.page_builder.box_width'),
    label_for_min_value: "auto"
  %>
  <%= render 'spree/admin/page_builder/alignment_buttons',
    f: f,
    field: :preferred_box_alignment_vertical,
    label: Spree.t('admin.page_builder.box_alignment_vertical'),
    options: [
      { value: 'start', label: Spree.t(:top), icon: 'layout-align-top' },
      { value: 'center', label: Spree.t(:center), icon: 'layout-align-middle' },
      { value: 'end', label: Spree.t(:bottom), icon: 'layout-align-bottom' }
    ]
  %>
  <%= render 'spree/admin/page_builder/alignment_buttons',
    f: f,
    field: :preferred_box_alignment_horizontal,
    label: Spree.t('admin.page_builder.box_alignment_horizontal'),
    options: [
      { value: 'start', label: Spree.t(:left), icon: 'layout-align-left' },
      { value: 'center', label: Spree.t(:center), icon: 'layout-align-center' },
      { value: 'end', label: Spree.t(:right), icon: 'layout-align-right' }
    ]
  %>
  <%= render 'spree/admin/page_builder/multiple_inputs',
    f: f,
    label: "Box Padding",
    columns: 4,
    inputs: [
      { field: :preferred_box_top_padding, label: Spree.t(:top), type: 'number', min: 0, max: 200, unit: 'px' },
      { field: :preferred_box_right_padding, label: Spree.t(:right), type: 'number', min: 0, max: 200, unit: 'px' },
      { field: :preferred_box_bottom_padding, label: Spree.t(:bottom), type: 'number', min: 0, max: 200, unit: 'px' },
      { field: :preferred_box_left_padding, label: Spree.t(:left), type: 'number', min: 0, max: 200, unit: 'px' }
    ] %>
<% end %>