<div class="form-group">
  <%= f.label :preferred_youtube_video_url, Spree.t('admin.page_builder.youtube_video_url') %>
  <%= f.url_field :preferred_youtube_video_url, data: { action: 'change->auto-submit#submit' }, class: 'form-control' %>
</div>

<% content_for(:design_tab) do %>
  <div class="form-group">
    <%= f.label :preferred_separated, Spree.t('admin.page_builder.separated') %>
    <%= f.select :preferred_separated, options_for_select(['horizontally', 'vertically'], @page_section.preferred_separated), {  }, { class: 'custom-select', data: {  action: 'auto-submit#submit' } } %>
  </div>

  <%= render 'spree/admin/page_builder/labeled_range_input',
    f: f, field: :preferred_width_desktop, min: 1, max: 100, unit: '%', _label: Spree.t('admin.page_builder.max_video_width_on_desktop')
  %>
<% end %>
