<%= form_for :user, :url => spree.user_session_path do |f| %>
  <div id="password-credentials">
    <p>
      <%= f.label :email, t(:email) %><br />
      <%= f.email_field :email, :class => 'title', :tabindex => 1 %>
    </p>
    <p>
      <%= f.label :password, t(:password) %><br />
      <%= f.password_field :password, :class => 'title', :tabindex => 2 %>
    </p>
  </div>
  <p>
    <label>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, t(:remember_me) %>
    </label>
  </p>

  <p><%= f.submit t(:login), :class => 'button primary' %></p>
<% end %>