<%= render :partial => 'admin/products/menu' %>

<h1><%= :editing_category.l("Editing category") %></h1>

<% form_tag :action => 'update', :id => @category do %>
  <%= render :partial => 'form' %>
  <br/>
  <%= submit_tag :update.l('Update') %>
  <%= :or.l("or") %>
  <%= link_to :cancel.l('Cancel'), :action => 'index' %>
<% end %>
