<% active ||= false %>
<div
  data-action="click->color-palette#selectPalette"
  data-color-palette-primary-color-param="<%= primary_color %>"
  data-color-palette-text-color-param="<%= text_color %>"
  data-color-palette-button-text-color-param="<%= button_text_color %>"
  data-color-palette-border-color-param="<%= border_color %>"
  data-color-palette-background-color-param="<%= background_color %>"
  class="mb-3 d-block w-100 rounded overflow-hidden border cursor-pointer <% if active %>border-2 border-primary<% end %>" style="height: 40px">
  <div class="row mx-0 h-100">
    <div class="col" style="background-color: <%= primary_color %>"></div>
    <div class="col" style="background-color: <%= text_color %>"></div>
    <div class="col" style="background-color: <%= button_text_color %>"></div>
    <div class="col" style="background-color: <%= border_color %>"></div>
    <div class="col" style="background-color: <%= background_color %>"></div>
  </div>
</div>
