<% content_for :head do %>
  <%= calendar_date_select_includes %>
<% end %>

<!-- TODO: replace with tabs -->
<%= link_to "Variants", admin_product_variants_url(@product) %> |
<%= link_to "Option Types", "#" %> 

<p>
  <label for="product_name"><%= t("Name") %></label><br/>
  <%=error_message_on :product, :name%>  
  <%= text_field :product, :name  %>
</p>
<p>
  <label for="product_description"><%= t("Description") %></label><br/>
  <%= error_message_on :product, :description %>
  <%= text_area :product, :description, {:cols => 90, :rows => 10} %>
</p>
<p>
  <label for="price"><%= t("Master Price") %>:</label><br/>
  <%=error_message_on :product, :master_price%>
  <%= text_field :product, :master_price  %></p>
</p>
<p>
  <label for="product_available">Available On:</label><br />
  <%= error_message_on :product, :available %>
  <%= calendar_date_select :product, :available_on, :style=>"width:150px" %>
</p>

<% if @product.variant %>
<p>
  <label for="sku"><%= t("Sku") %></label><br/>
  <input type="text" name="variant[<%= @product.variant.id %>][sku]" value="<%= @product.variant.sku %>"/>
</p>
<p>
  <%= t("On Hand") %>: <%= f.text_field :on_hand, :size => 4 %>
</p>  
<% end %>
<p>
  <label for="tax-category"><%= t("Tax Category") %>:</label><br/>
  <%= collection_select(:product, :tax_category_id, @tax_categories, :id, :name, 
                            {:include_blank => true}, {"style" => "width:200px"}) %>
</p>
<br/>
<div id="image-listing">
  <%= render :partial => 'shared/images', :locals => {:viewable => @product} -%>
</div>

<br/>

<div id="property-listing">
  <%= render :partial => 'properties', :locals => {:product => @product} %>
</div>