<% content_for :head do %>
<%= calendar_date_select_includes %>
<% end %>

<div class="yui-gc">
  <div class="yui-u first">
    
    <% f.field_container :name do %>
      <%= f.label :name, t("name") %> <span class="required">*</span><br />
      <%= f.text_field :name, :class => 'fullwidth title'  %>
      <%= f.error_message_on :name %>
    <% end %>

    <% f.field_container :description do %>
      <%= f.label :description, t("description")%><br />
      <%= f.text_area :description, {:cols => 60, :rows => 4, :class => 'fullwidth'} %>
      <%= f.error_message_on :description %>
    <% end %>
    
  </div>
  <div class="yui-u">
        
    <% f.field_container :master_price do %>
      <%= f.label :master_price, t("master_price")%> <span class="required">*</span><br />
      <%= f.text_field :master_price  %>
      <%= f.error_message_on :master_price%>
    <% end %>

    <p>
      <%= f.label :available_on, t("available_on") %><br />
      <%= f.error_message_on :available_on %>
      <%= calendar_date_select :product, :available_on, :style=>"width:150px" %>
    </p>

    <% if @product.variant %>
    <p>
      <%= f.label :sku, t("sku") %><br />
      <%= f.text_field :sku, :size => 16 %>
    </p>
    <p>
      <%= f.label :on_hand, t("on_hand")%><br />
      <%= f.text_field :on_hand, :size => 4 %>        
    </p>
    <% end %>

    <p>
      <%= f.label :shipping_category_id, t("shipping_categories")%><br />    
      <%= f.collection_select(:shipping_category_id, @shipping_categories, :id, :name, {:include_blank => true}, {"style" => "width:200px"}) %>        
      <%= f.error_message_on :shipping_category %>
    </p>

    <p>
      <%= f.label :tax_category_id, t("tax_category")%><br />
      <%= f.collection_select(:tax_category_id, @tax_categories, :id, :name, {:include_blank => true}, {"style" => "width:200px"}) %>        
      <%= f.error_message_on :tax_category%>      
    </p>    
        
  </div>
</div>

<h2><%= t("metadata") %></h2>
<p>
  <%= f.label :meta_keywords, t("meta_keywords")%><br />
  <%= f.text_field :meta_keywords, :class => 'fullwidth' %>        
</p>
<p>
  <%= f.label :meta_description, t("meta_description")%><br />
  <%= f.text_field :meta_description, :class => 'fullwidth' %>        
</p>

<%#= render 'properties_form', :f => f %>

<% Variant.additional_fields.select{|af| af[:only].nil? || af[:only].include?(:product) }.each do |field| %>
  <%= render :partial => "admin/shared/additional_field", :locals => {:field => field, :f => f} %>
<% end %>
