<% content_for :head do %>
  <%= calendar_date_select_includes %>
<% end %>
<table cellspacing="5">
  <tr>
    <td><%= t("Name")%>: </td>
    <td>
      <%=error_message_on :product, :name%>  
      <%= text_field :product, :name  %>
    </td>
  </tr>
  <tr>
    <td valign="top"><%= t("Description")%>: </td>
    <td>
      <%= error_message_on :product, :description %>
      <%= text_area :product, :description, {:cols => 90, :rows => 10} %>
    </td>
  </tr>
  <tr>
    <td nowrap><%= t("Master Price")%>: </td>
    <td>
      <%=error_message_on :product, :master_price%>
      <%= text_field :product, :master_price  %>
    </td>
  </tr>
  <tr>
    <td><%= t("Available On")%>: </td>
    <td>
      <%= error_message_on :product, :available %>
      <%= calendar_date_select :product, :available_on, :style=>"width:150px" %>
    </td>
  </tr>
  <% if @product.variant %>
    <tr>
      <td><%=t("SKU")%>: </td>
      <td>
				<%= f.text_field :sku, :size => 16 %>
			</td>
    </tr>
    <tr>
      <td><%=t("On Hand")%>: </td>
      <td>
        <%= f.text_field :on_hand, :size => 4 %>        
      </td>
    </tr>
  <% end %>
  <tr>
    <td nowrap><%=t("Shipping Category")%>: </td>
    <td>
      <%= collection_select(:product, :shipping_category_id, @shipping_categories, :id, :name, {:include_blank => true}, {"style" => "width:200px"}) %>        
    </td>
  </tr>
  <tr>
    <td nowrap><%=t("Tax Category")%>: </td>
    <td>
      <%= collection_select(:product, :tax_category_id, @tax_categories, :id, :name, {:include_blank => true}, {"style" => "width:200px"}) %>        
    </td>
  </tr>
	<% Variant.additional_fields.select{|f| f[:only].nil? || f[:only].include?(:product) }.each do |field| %>
		<%= render :partial => "shared/additional_field", :locals => {:field => field, :f => f} %>
	<% end %>
  <tr>
    <td colspan="2">
      <div id="image-listing">
        <%= render :partial => 'images', :locals => {:viewable => @product, :f => f} -%>
      </div>
    </td>
  </tr>
</table>