<% content_for :action_nav do %>
<ul id="act-nav">
  <li><%= link_to :products.l("Products"), :controller => :products, :action => :index %></li>
  <li><%= link_to :categories.l("Categories"), :controller => :categories, :action => :index %></li>
  <li><%= link_to :option_types.l("Option Types"), :controller => :option_types , :action => :index %></li>
  <li><%= link_to :properties.l("Properties"), :controller => :properties , :action => :index %></li>
  <li><%= link_to :prototypes.l("Prototypes"), :controller => :prototypes , :action => :index %></li>
</ul>
<% end %>
