<% content_for :action_nav do %>
<ul id="act-nav">
  <li><%= link_to t("Products"), :controller => :products, :action => :index %></li>
  <li><%= link_to t("Taxonomies"), :controller => :taxonomies, :action => :index %></li>
  <li><%= link_to t("Categories"), :controller => :categories, :action => :index %></li>
  <li><%= link_to t("Option Types"), :controller => :option_types , :action => :index %></li>
  <li><%= link_to t("Properties"), :controller => :properties , :action => :index %></li>
  <li><%= link_to t("Prototypes"), :controller => :prototypes , :action => :index %></li>
</ul>
<% end %>
