<%= render :partial => 'menu' -%>

<h1>Listing products</h1>
<table>
	<tr>
		<td valign="top">
			<table class="admin-report" width="545">
			  <tr>
			    <td><b>Image</b></td>
			    <td><b>Name</b></td>
			    <td><b>Master Price</b></td>
			    <td/>
			  </tr>
			<% for product in @products%>
			  <tr>
			    <td><%= mini_image(product) %></td>
			    <td valign="top"><%=product.name%></td>
			    <td valign="top"><%=product.master_price%></td>
			    <td valign="top">
			      <%= link_to_edit product %>
			      &nbsp;
			      <%= link_to_delete product %>
			    </td>
			  </tr>
			<% end %>
			</table>
			<%= render :partial => 'shared/paginate', :locals => {:collection => @collection, :options => search_options} -%>						
		</td>
    <td valign="top">
      <form action="/admin/products" method="GET">
        <div id="search-col">
          <table class="admin-search">
            <thead>
              <tr>
                <th colspan="2">Product Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Name</td>
                <td>
                  <input name="name" size="15" value="<%=@name%>"/>
                </td>
              </tr>
              <tr>
                <td>Sku</td>
                <td>
                  <input name="sku" size="15" value="<%=@sku%>"/>
                </td>
              </tr>
            </tbody>
          </table>
          <%=submit_tag "Search"%>
        </div>
      </form>
    </td>		
	</tr>
</table>

<%= link_to "New Product", new_object_url %>