<%= render :partial => 'shared/product_sub_menu' %>
<h1><%= t("Listing Products") %></h1>
<table>
	<tr>
		<td valign="top">
			<table class="admin-report" width="545">
			  <tr>
			    <td><b><%= t("Image") %></b></td>
			    <td><b><%= t("Name") %></b></td>
			    <td><b><%= t("Master Price") %></b></td>
			    <td/>
			  </tr>
			<% @products.each do |product| %>
			  <tr <%= 'style="color:red;"' unless product.deleted_at.nil? %>>
			    <td><%= mini_image(product) %></td>
			    <td valign="top"><%=product.name%></td>
			    <td valign="top"><%=product.master_price%></td>
			    <td valign="top">
			      <%= link_to_edit product if product.deleted_at.nil?  %>
			      &nbsp;
			      <%= link_to_delete product if product.deleted_at.nil?  %>
			    </td>
			  </tr>
			<% end %>
			</table>
			<%= render :partial => 'shared/paginate', :locals => {:collection => @collection, :options => search_options} -%>						
		</td>
    <td valign="top">
      <form action="/admin/products" method="GET">
        <div id="search-col">
          <table class="admin-search">
            <thead>
              <tr>
                <th colspan="2">Product Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Name</td>
                <td>
                  <input name="name" size="15" value="<%=@name%>"/>
                </td>
              </tr>
              <tr>
                <td>Sku</td>
                <td>
                  <input name="sku" size="15" value="<%=@sku%>"/>
                </td>
              </tr>
              <tr>
   							<td>Deleted</td>
								<td><input name="deleted" type="checkbox" <%= @deleted %>/></td>
              </tr>
            </tbody>
          </table>
          <%=submit_tag "Search"%>
        </div>
      </form>
    </td>		
	</tr>
</table>

<%= link_to t("New Product"), new_object_url %>