<%= render :partial => 'shared/product_sub_menu' %>
<h1><%= "#{t("actions.listing")} #{t("products")}" %></h1>
<table>
	<tr>
		<td valign="top">
			<table class="admin-report" width="545">
			  <tr>
			    <td><b><%= t("image") %></b></td>
			    <td><b><%= order_by_link :name, :text => t("name") %></b></td>
			    <td><b><%= order_by_link :master_price, :text => t("master_price") %></b></td>
			    <td/>
			  </tr>
			<% @collection.each do |product| %>
			  <tr <%= 'style="color:red;"' unless product.deleted_at.nil? %>>
			    <td><%= mini_image(product) %></td>
			    <td valign="top"><%=product.name%></td>
			    <td valign="top"><%=product.master_price%></td>
			    <td valign="top">
			      <%= link_to_edit product if product.deleted_at.nil?  %>
			      &nbsp;
			      <%= link_to_delete product if product.deleted_at.nil?  %>
			    </td>
			  </tr>
			<% end %>
			</table>
	        <%= page_links(:prev => "&#171; #{t('previous')}", :next => "#{t('next')} &#187;") if @search.page_count > 1 %>						
		</td>
    <td valign="top">
	 <% form_for [:admin, @search] do |f| %>		
        <div id="search-col">
          <table class="admin-search">
            <thead>
              <tr>
                <th colspan="2"><%= t("product_details") %></th>
              </tr>
            </thead>
            <tbody>
		   <% f.fields_for @search.conditions do |products| %>
	
              <tr>
                <td><%= t("name") %></td>
                <td>
				  <%= products.text_field :name_contains, :size => 15 %>
                </td>
              </tr>
              <tr>

            <% products.fields_for products.object.variants do |variants| %>
                <td><%= t("sku") %></td>
                <td><%= variants.text_field :sku_contains, :size => 15 %></td>
            <% end %>                
              </tr>
              <tr>
   				<td><%= t("show_deleted") %></td>
				<td><%= products.check_box :deleted_at_is_not_null, {}, "1", "" %></td>
              </tr>
			<%end%>
            </tbody>
          </table>
		  <%= f.submit t("search") %>
        </div>
      <% end %>
    </td>		
	</tr>
</table>

<%= link_to t("new_product"), new_object_url %>