<fieldset>
  
  <legend><%= t(:transactions) %></legend>

  <table class="index">
    <tr data-hook="transactions_header">
      <th><%= t(:type) %></th>
      <th><%= t('spree.date') %></th>
      <th><%= t(:amount) %></th>
      <th><%= t(:response_code) %></th>
    </tr>
    <% txns.each do |txn| %>
    <tr data-hook="transaction_row">
      <td>
        <%= txn.txn_type_name %>
      </td>
      <td><%= txn.created_at.to_date %></td>
      <td><%= number_to_currency txn.amount %></td>
      <td><%= txn.response_code %></td>
    </tr>
    <% end %>
  </table>

</fieldset>
