<%= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Payments"} %>

<h2><%= t('new') %> <%= t("activerecord.models.#{@payment.class.to_s.underscore}.one") %></h2>

<%= render "shared/error_messages", :target => @payment %>

<%= form_for @payment, :url => admin_order_payments_path(@order) do |f| %>

  <%= render "form", :f => f %>

  <p class="form-buttons">
    <%= button @order.cart? ? t('continue') : t('update') %>
  </p>

<% end %>

<% content_for :head do %>
<%= javascript_include_tag 'admin/payments/new' %>
<% end %>
