<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:tax_settings) %>
<% end %>

<%= form_tag admin_tax_settings_path, :method => :put do %>
  <div data-hook="shipment_vat" class="field">
    <%= check_box_tag 'preferences[shipment_inc_vat]', '1',  Spree::Config[:shipment_inc_vat] %>
    <%= label_tag nil, t(:shipment_inc_vat) %>    
    <%= hidden_field_tag 'preferences[shipment_inc_vat]', '0' %>    
  </div>

  <p class="form-buttons" data-hook="buttons">
    <%= button t(:update) %>
    <%= t(:or) %> <%= link_to t(:cancel), admin_tax_settings_url %>
  </p>
<% end %>
