<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:tax_settings) %>
<% end %>

<% content_for :page_actions do %>
  <ul class="actions inline-menu">
    <li>
      <%= link_to_with_icon 'icon-edit', t(:edit), edit_admin_tax_settings_path, :class => 'button' %>
    </li>
  </ul>
<% end %>

<table id='listing_tax_settings' data-hook>
  <thead>
    <tr>
      <th scope="row"><%= t(:shipment_inc_vat) %>:</th>
      <th><%= Spree::Config[:shipment_inc_vat] %></th>
    </tr>
  </thead>
</table>