<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t(:tax_settings) %></h1>

<table id='listing_tax_settings' data-hook>
  <tr>
    <th scope="row"><%= t(:shipment_inc_vat) %>:</th>
    <td><%= Spree::Config[:shipment_inc_vat] %></td>
  </tr>
</table>

<p data-hook="buttons">
  <%= link_to_with_icon 'edit', t(:edit), edit_admin_tax_settings_path %>
</p>
