<%= turbo_frame_tag promotion_rule do  %>
  <div class="card mb-3" id="<%= spree_dom_id(promotion_rule) %>">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="card-title"><%= promotion_rule.human_name %></h5>

      <div class="dropdown">
        <button class="btn btn-light btn-sm" type="button" data-toggle="dropdown" aria-expanded="false">
          <%= icon('dots', class: 'mr-0') %>
        </button>
        <div class="dropdown-menu">
          <%= link_to_with_icon 'pencil', Spree.t('actions.edit'), spree.edit_admin_promotion_rule_path(promotion_rule.promotion, promotion_rule), class: 'dropdown-item' %>
          <%= link_to_with_icon 'trash', Spree.t('actions.destroy'), spree.admin_promotion_rule_path(promotion_rule.promotion, promotion_rule), class: 'dropdown-item text-danger', data: { turbo_method: :delete, turbo_confirm: Spree.t(:are_you_sure), turbo_frame: '_top' } %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="text-muted"><%= promotion_rule.human_description %></p>

      <% if promotion_rule.preferences.present? %>
        <p class="mb-0">
          <% promotion_rule.preferences.each do |key, value| %>
            <% next if value.blank? %>
            <span><%= Spree.t(key) %></span>
            <code><%= value %></code>
          <% end %>
        </dl>
      <% end %>
    </div>
  </div>
<% end %>
