<%= turbo_frame_tag @promotion_rule do %>
  <%= form_with model: @promotion_rule, url: spree.admin_promotion_rule_path(@promotion, @promotion_rule), method: :put, scope: :promotion_rule do |f| %>
    <div class="card" id="<%= spree_dom_id(@promotion_rule) %>">
      <div class="card-header flex justify-between items-center">
        <h5 class="card-title"><%= @promotion_rule.human_name %></h5>
      </div>
      <div class="card-body">
        <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @promotion_rule } %>
        <p class="text-gray-600 mb-3">
          <%= @promotion_rule.human_description %>
        </p>
        <%= render "spree/admin/promotion_rules/forms/#{@promotion_rule.key}", f: f %>
      </div>
      <div class="card-footer flex justify-between">
        <%= turbo_save_button_tag Spree.t('actions.update') %>
        <%= link_to Spree.t('actions.discard'), spree.admin_promotion_path(@promotion), class: 'btn btn-light' %>
      </div>
    </div>
  <% end %>
<% end %>
