<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @promotion } %>
<fieldset id="general_fields">
  <legend><%= t(:general) %></legend>
  <%= f.field_container :name do %>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  <% end %>

  <%= f.field_container :event_name do %>
    <%= f.label :event_name %><br />
    <%= f.select :event_name, Spree::Activator.event_names.map{|name| [t("events.#{name}"), name] } %>
  <% end %>

  <%= f.field_container :code do %>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  <% end %>

  <%= f.field_container :path do %>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  <% end %>

  <%= f.field_container :description do %>
    <%= f.label :description %><br />
    <%= f.text_area :description, :style => 'height:50px;' %>
  <% end %>

  <%= f.field_container :advertise do %>
    <%= f.check_box :advertise %>
    <%= f.label :advertise %>
  <% end %>

</fieldset>

<fieldset id="expiry_fields">
  <legend><%= t(:expiry) %></legend>
  <p>
    <%= f.label :usage_limit %><br />
    <%= f.text_field :usage_limit %>
  </p>

  <p id="starts_at_field">
    <%= f.label :starts_at %>
    <%= f.text_field :starts_at, :class => 'datepicker' %>
  </p>
  <p id="expires_at_field">
    <%= f.label :expires_at %>
    <%= f.text_field :expires_at, :class => 'datepicker' %>
  </p>
</fieldset>
