<div class="promotion_action promotion-block <%= promotion_action.type.to_s.demodulize.underscore %>" id="<%= dom_id promotion_action %>">
  <span class="delete">
    <%= link_to_with_icon 'icon-trash', '', spree.admin_promotion_promotion_action_path(@promotion, promotion_action), :remote => true, :method => :delete %>
  </span>
  <% type_name = promotion_action.class.name.demodulize.underscore %>
  <% param_prefix = "promotion[promotion_actions_attributes][#{promotion_action.id}]" %>
  <%= hidden_field_tag "#{param_prefix}[id]", promotion_action.id %>
  <span class="info"><%= t("promotion_action_types.#{type_name}.description") %></span>
  <%= render :partial => "spree/admin/promotions/actions/#{type_name}",
             :locals => { :promotion_action => promotion_action, :param_prefix => param_prefix } %>
</div>