<fieldset id="rule_fields" class ="alpha eight columns no-border-bottom">
  <legend><%= t(:rules) %></legend>

  <div class="align-center">
    <%= form_for @promotion, :url => object_url, :method => :put do |f| %>
      <div class="row">
        <div id="promotion-pilicy-select">
          <% Spree::Promotion::MATCH_POLICIES.each do |policy| %>
            <div class="alpha four columns">
              <label><%= f.radio_button :match_policy, policy %> <%= t "promotion_form.match_policies.#{policy}" %></label>  
            </div>
          <% end %>
        </div>
      </div>    
      
      <div class="row">
        <div id="rules" class="filter_list row">
          <% if @promotion.rules.any? %>
            <%= render :partial => 'promotion_rule', :collection => @promotion.rules, :locals => {} %>
          <% else %>
            <div class="no-objects-found">
              <%= t(:no_rules_added) %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <%= button t(:update), 'icon-refresh' %>
      </div>
    <% end %>
  </div>  
  <hr>
  <%= form_tag spree.admin_promotion_promotion_rules_path(@promotion), :remote => true, :id => 'new_product_rule_form' do %>
    <div class="field">
      <%= label_tag :promotion_rule_type, t(:add_rule_of_type) %>
      <%= select_tag('promotion_rule[type]', options_for_promotion_rule_types(@promotion), :class => 'select2') %>
      <%= submit_tag t(:add), :class => 'icon-plus' %>
    </div>
  <% end %>

</fieldset>