<% content_for :page_title do %>
  <%= t(:editing_promotion) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:back_to_promotions_list), admin_promotions_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<%= form_for @promotion, :url => object_url, :method => :put do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>

<div id="promotion-filters" class="row">
  <div id="rules_container" class="alpha eight columns">
    <%= render :partial => 'rules' %>
  </div>

  <div id="actions_container" class="omega eight columns">
    <%= render :partial => 'actions' %>
  </div>
</div>

<%= render "spree/admin/variants/autocomplete", :formats => :js %>
