<h1><%= t(:editing_promotion) %></h1>

<%= form_for @promotion, :url => object_url, :html => { :method => :put } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render 'spree/admin/shared/edit_resource_links' %>
<% end %>

<%= render 'rules' %>

<div id="actions_container">
  <%= render 'actions' %>
</div>
