<% content_for :page_title do %>
  <%= t(:promotions) %>
<% end %>

<% content_for :page_actions do %>
  <div class='toolbar'>
    <ul class='actions header-action-links inline-menu'>
      <li>
        <%= button_link_to t(:new_promotion), spree.new_admin_promotion_path, :icon => 'icon-plus' %>
      </li>
    </ul>
  </div>
<% end %>

<table class="index">
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th><%= t(:code) %></th>
      <th><%= t(:description) %></th>
      <th><%= t(:usage_limit) %></th>
      <th><%= t(:expiration) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @promotions.each do |promotion| %>
      <tr id="<%= spree_dom_id promotion %>">
        <td><%= promotion.name %></td>
        <td><%= promotion.code %></td>
        <td><%= promotion.description %></td>
        <td><%= promotion.usage_limit %></td>
        <td class="align-center"><%= promotion.expires_at.to_date.to_s(:short_date) if promotion.expires_at %></td>
        <td class="actions">
          <%= link_to_edit promotion, :no_text => true %>
          <%= link_to_delete promotion, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
