 <div data-hook="admin_order_form_fields">
  <% if @line_item.try(:errors).present? %>
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @line_item } %>
  <% end %>

  <fieldset>
    <table class="stock-contents" data-hook="stock-contents">
      <colgroup>
        <col style="width: 10%;" />
        <col style="width: 30%;" />
        <col style="width: 20%;" />
        <col style="width: 20%;" />
        <col style="width: 20%;" />
        <col style="width: 8%;" />
      </colgroup>
      <thead>
        <th colspan="2"><%= t(:item_description) %></th>
        <th><%= t(:price) %></th>
        <th><%= t(:quantity) %></th>
        <th><%= t(:total) %></th>
        <th class="orders-actions actions" data-hook="admin_order_form_line_items_header_actions"></th>
      </thead>
      <% @order.shipments.each do |shipment| %>
        <tbody>
          <tr class="stock-location" data-hook="stock-location">
            <td colspan="4" style="background-color: #eff5fc;">
              <strong><%= shipment.number %></strong>
              <%= shipment.state %>
              <%= t(:package_from) %>
              <strong class="stock-location-name" data-hook="stock-location-name">'<%= shipment.stock_location.name %>'</strong>
            </td>
            <td style="background-color: #eff5fc;">
              <% if shipment.ready? %>
                <%= link_to 'ship', '#', :class => 'ship', :data => {'shipment-number' => shipment.number} %>
              <% end %>
            </td>
          </tr>
          <% shipment.manifest.each do |item| %>
            <% line_item = order.find_line_item_by_variant(item.variant) %>
            <tr class="stock-item">
              <td class="item-image"><%= mini_image(item.variant) %></td>
              <td class="item-name">
                <%= item.variant.product.name %><br><%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %>
              </td>
              <td class="item-price"><%= line_item.single_money.to_html %></td>
              <td class="item-qty-show" style="text-align:right;">
                  <% item.states.each do |state,count| %>
                    <%= count %> x <%= state.humanize.downcase %>
                  <% end %>
              </td>
              <td class="item-qty-edit hidden">
                <%= number_field_tag :quantity, item.quantity, :min => 0, :class => "line_item_quantity", :size => 5 %>
              </td>
              <td class="item-total"><%= line_item.display_amount.to_html %></td>
              <td class="cart-item-delete" data-hook="cart_item_delete">
                <%= link_to 'save', '#', :class => 'save-item hidden', :data => {'shipment-number' => shipment.number, 'variant-id' => item.variant.id } %>
                <%= link_to 'cancel', '#', :class => 'cancel-item hidden' %>
                <%= link_to 'edit', '#', :class => 'edit-item' %>
                <%= link_to 'delete', '#', :class => 'delete-item', :data => {'shipment-number' => shipment.number, 'variant-id' => item.variant.id } %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tbody>
          <tr class="edit-method hidden total">
            <td colspan="5">
              <label><%= t(:shipping_method) %>:</label>
              <%= select_tag :selected_shipping_rate_id, 
                    options_for_select(shipment.shipping_rates.map {|sr| ["#{sr.name} #{sr.display_price}", sr.id] }, shipment.selected_shipping_rate_id),
                    {:class => 'select2 fullwidth', :data => {'shipment-number' => shipment.number } } %>

              <% if shipment.adjustment.closed? %>
                <%= t(:associated_adjustment_closed) %>
                <%= radio_button_tag :open_adjustment, 'yes', false, :data => {'shipment-number' => shipment.number } %>Yes
                <%= radio_button_tag :open_adjustment, 'no', true, :data => {'shipment-number' => shipment.number } %>No
              <% end %>
            </td>
            <td>
              <%= link_to 'save', '#', :class => 'save-method', :data => {'shipment-number' => shipment.number } %>
              <%= link_to 'cancel', '#', :class => 'cancel-method' %>
            </td>
          </tr>
          <tr class="show-method total">
            <td colspan="4"><strong><%= shipment.adjustment.label %>:</strong></td>
            <td class="total"><span><%= shipment.adjustment.display_amount %></span></td>
            <td>
              <%= link_to 'edit', '#', :class => 'edit-method' %>
            </td>
          </tr>
          <tr class="edit-tracking hidden total">
            <td colspan="5">
              <label><%= t(:tracking_number) %>:</label>
              <%= text_field_tag :tracking, shipment.tracking %>
            </td>
            <td>
              <%= link_to 'save', '#', :class => 'save-tracking', :data => {'shipment-number' => shipment.number } %>
              <%= link_to 'cancel', '#', :class => 'cancel-tracking' %>
            </td>
          </tr>
          <tr class="show-tracking total">
            <td colspan="5">
              <% if shipment.tracking.present? %>
                <strong><%= t(:tracking) %>:</strong> <%= shipment.tracking %>
              <% else %>
                <%= t(:no_tracking_present) %>
              <% end %>
            </td>
            <td>
              <%= link_to 'edit', '#', :class => 'edit-tracking' %>
            </td>
          </tr>
        </tbody>
      <% end %>

      <tbody id="order-charges" data-hook="order_details_adjustments"  class="with-border">
        <% order.adjustments.eligible.each do |adjustment| %>
          <% next if ((adjustment.originator_type == 'Spree::TaxRate') and (adjustment.amount == 0)) || adjustment.originator_type == 'Spree::ShippingMethod' %>
          <tr class="total">
            <td colspan="4"><strong><%= adjustment.label %>:</strong></td>
            <td class="total"><span><%= adjustment.display_amount %></span></td>
          </tr>
        <% end %>
      </tbody>
      <tbody id="order-total" data-hook="order_details_total" class="with-border grand-total">
        <tr>
          <td colspan="4" ><%= t(:order_total) %>:</td>
          <td class="total" id="order-total"><span id="order_total"><%= order.display_total %></span></td>
        </tr>
      </tbody>
    </table>
  </fieldset>

  <%= javascript_tag do -%>
    var order_number = '<%= @order.number %>';
    var shipments = [];

    <% @order.shipments.each do |shipment| %>
      shipments.push(<%== shipment.to_json(:root => false, :include => :inventory_units) %>);
    <% end %>

    <%= render :partial => 'spree/admin/shared/update_order_state', :handlers => [:js] %>
  <% end -%>
</div>
