 <div data-hook="admin_order_form_fields">
  <% if @line_item.try(:errors).present? %>
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @line_item } %>
  <% end %>

  <% if Spree::Order.checkout_step_names.include?(:delivery) %>
    <%= render :partial => "spree/admin/orders/shipment", :collection => @order.shipments, :locals => { :order => order } %>
  <% else %>
    <%= render :partial => "spree/admin/orders/line_items", :locals => { :order => order } %>
  <% end %>
  <% if order.adjustments.eligible.exists? %>
    <fieldset class="no-border-bottom">
      <legend><%= Spree.t('adjustments') %></legend>
      <table>
        <thead>
          <th><%= Spree.t('name')%></th>
          <th><%= Spree.t('amount')%></th>
        </thead>
        <tbody id="order-charges" data-hook="order_details_adjustments"  class="with-border">
          <% order.adjustments.eligible.each do |adjustment| %>
            <% next if ((adjustment.originator_type == 'Spree::TaxRate') and (adjustment.amount == 0)) || adjustment.originator_type == 'Spree::ShippingMethod' %>
            <tr class="total">
              <td><strong><%= adjustment.label %>:</strong></td>
              <td class="total align-center"><span><%= adjustment.display_amount %></span></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </fieldset>
  <% end %>

  <% if order.line_items.exists? %>
    <fieldset class="no-border-bottom" id="order-total" data-hook="order_details_total">
      <legend><%= Spree.t(:order_total) %></legend>
      <span class="order-total"><%= order.display_total %></span>
    </fieldset>
  <% end %>

<% if @order.payments.exists? %>
  <%= render 'spree/admin/orders/risk_analysis', latest_payment: @order.payments.order("created_at DESC").first %>
<% end %>

  <%= javascript_tag do -%>
    var order_number = '<%= @order.number %>';
    var shipments = [];

    <% @order.shipments.each do |shipment| %>
      shipments.push(<%== shipment.to_json(:root => false, :include => [:inventory_units, :stock_location]) %>);
    <% end %>

    <%= render :partial => 'spree/admin/shared/update_order_state', :handlers => [:js] %>
  <% end -%>
</div>
