<div data-hook="admin_order_form_fields">
  <% if @line_item.try(:errors).present? %>
      <%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @line_item } %>
  <% end %>

  <%= render :partial => "spree/admin/orders/line_items", :locals => { :order => order } %>

  <%= javascript_tag do %>
    var order_number = '<%= @order.number %>';
    var shipments = [];

    <% @order.shipments.each do |shipment| %>
      shipments.push(<%== shipment.as_json(:root => false, :only => [:id, :tracking, :number, :state, :stock_location_id], :include => [:inventory_units, :stock_location]).to_json %>);
    <% end %>

    <%= render :partial => 'spree/admin/shared/update_order_state', :handlers => [:js] %>
  <% end %>
</div>
