<%# Payments; link_to new log feature (ie. Number of multiple failed authorization requests) %>
<%# AVS response (ie. Billing address not matching credit card) %>
<%# CVV response (ie. code not matching) %>
<%# Placed in one country, shipping location to another %>

<fieldset class="no-border-bottom">
  <legend><%= Spree.t(:risk_analysis) %></legend>
  <table>
    <thead>
      <th><%= Spree.t('risk')%></th>
      <th><%= Spree.t('status')%></th>
    </thead>
    <tbody id="risk-analysis" data-hook="order_details_adjustments"  class="with-border">
      <tr class="">
        <td><strong>
          <%= "Failed payment attempts:" %>
        </strong></td>
          <td class="align-center">
            <span class="<%= @order.is_risky? ? 'state void' : 'state complete' %>">
              <%= link_to "#{pluralize(@order.payments.failed.count, 'payment')}", spree.admin_order_payments_path(@order) %>
            </span>
        </td>
      </tr>

      <tr>
        <td><strong>AVS Response:</strong></td>
        <td class="align-center">
          <span class="<%= latest_payment.avs_response ? 'state void' : 'state complete' %>">
            <% if latest_payment.avs_response %>
              <%= "failed with: #{latest_payment.avs_response}" %>
            <% else %>
              <%= Spree.t(:success) %>
            <% end %>
          </span>
        </td>
      </tr>

      <tr>
        <td><strong>CVV Response:</strong></td>
        <td class="align-center">
          <span class="<%= latest_payment.cvv_response_message ? 'state void' : 'state complete' %>">
            <% if latest_payment.cvv_response_message %>
              <%= "failed with: #{latest_payment.cvv_response_message}" %>
            <% else %>
              <%= Spree.t(:success) %>
            <% end %>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>
