<fieldset id="risk_analysis">
  <legend><%= "#{Spree.t(:risk_analysis)}: #{Spree.t(:not) unless @order.is_risky?} #{Spree.t(:risky)}" %></legend>
  <div class="table-responsive">
    <table class="table table-condensed table-bordered">
      <thead>
        <th><%= Spree.t('risk')%></th>
        <th><%= Spree.t('status')%></th>
      </thead>
      <tbody id="risk-analysis" data-hook="order_details_adjustments"  class="with-border">
        <tr class="">
          <td>
            <strong><%= Spree.t(:failed_payment_attempts) %>:</strong>
          </td>
          <td>
            <span class="badge badge-<%= @order.payments.failed.size > 0 ? 'void' : 'complete' %>">
              <%= link_to "#{Spree.t 'payments_count', count: @order.payments.failed.size, default: pluralize(@order.payments.failed.size, Spree.t(:payment))}", spree.admin_order_payments_path(@order) %>
            </span>
          </td>
        </tr>

        <tr>
          <td><strong><%= Spree.t(:avs_response) %>:</strong></td>
          <td>
            <span class="badge badge-<%= latest_payment.is_avs_risky? ? 'void' : 'complete' %>">
              <% if latest_payment.is_avs_risky? %>
                <%= "#{Spree.t(:error)}: #{avs_response_code[latest_payment.avs_response]}" %>
              <% else %>
                <%= Spree.t(:success) %>
              <% end %>
            </span>
          </td>
        </tr>

        <tr>
          <td><strong><%= Spree.t(:cvv_response) %>:</strong></td>
          <td>
            <span class="badge badge-<%= latest_payment.is_cvv_risky? ? 'void' : 'complete' %>">
              <% if latest_payment.is_cvv_risky? %>
                <%= "#{Spree.t(:error)}: #{cvv_response_code[latest_payment.cvv_response_code]}" %>
              <% else %>
                <%= Spree.t(:success) %>
              <% end %>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</fieldset>
