<% address_id = "change_address_#{shipment.id}_" %>

<div data-hook="shipment_address_inner" %>
  <div class="row no-padding-bottom">
    <div class="col-md-6">
      <%= field_container address, :firstname, class: ["form-group"] do %>
        <%= form.label :firstname, Spree.t(:first_name) %>
        <%= form.text_field :firstname, class: 'form-control', value: address.firstname %>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= field_container address, :lastname, class: ["form-group"] do %>
        <%= form.label :lastname, Spree.t(:last_name) %>
        <%= form.text_field :lastname, class: 'form-control', value: address.lastname %>
      <% end %>
    </div>
  </div>

  <div class="row no-padding-bottom">
    <div class="col-md-6">
      <%= field_container address, :address1, class: ["form-group"] do %>
        <%= form.label :address1, Spree.t(:street_address) %>
        <%= form.text_field :address1, class: 'form-control', value: address.address1 %>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= field_container address, :address2, class: ["form-group"] do %>
        <%= form.label :address2, Spree.t(:street_address_2) %>
        <%= form.text_field :address2, class: 'form-control', value: address.address2 %>
      <% end %>
    </div>
  </div>

  <% if Spree::Config[:company] %>
    <%= field_container address, :company, class: ["form-group"] do %>
      <%= form.label :company, Spree.t(:company) %>
      <%= form.text_field :company, class: 'form-control', value: address.company %>
    <% end %>
  <% end %>

  <%= field_container address, :city, class: ["form-group"] do %>
    <%= form.label :city, Spree.t(:city) %>
    <%= form.text_field :city, class: 'form-control', value: address.city %>
  <% end %>

  <%= field_container address, :zipcode, class: ["form-group"] do %>
    <%= form.label :zipcode, Spree.t(:zip) %>
    <%= form.text_field :zipcode, class: "form-control", value: address.zipcode %>
  <% end %>

  <div class="row no-padding-bottom js-country-states">
    <div class="col-md-6">
      <p class="form-group js-country">
        <%= form.label :country_id, Spree.t(:country) %>
        <%= form.collection_select :country_id, available_countries, :id, :name, {}, { class: 'select2' } %>
      </p>
    </div>
    <% if Spree::Config[:address_requires_state] %>
      <div class="col-md-6">
        <p class="form-group js-state" id="<%="#{address_id}state" %>">
          <%= form.label :state_id, Spree.t(:state) %>
          <%= form.text_field :state_name,
                disabled: !address.country.states.empty?, class: "form-control state_name #{address.country.states.empty? ? '' : 'hidden' }" %>
          <%= form.collection_select :state_id, address.country.states.sort, :id, :name, { include_blank: true }, { class: "select2 #{address.country.states.empty? ? 'hidden' : '' }", disabled: address.country.states.empty? } %>
        </p>
      </div>
    <% end %>
  </div>

  <%= field_container address, :phone, class: ["form-group"] do %>
    <%= form.label :phone, Spree.t(:phone) %>
    <%= form.phone_field :phone, class: "form-control", value: address.phone %>
  <% end %>

  <% if Spree::Config[:alternative_shipping_phone] %>
    <%= field_container address, :alternative_shipping_phone, class: ["form-group"] do %>
      <%= form.label :alternative_phone, Spree.t(:alternative_phone) %>
      <%= form.phone_field :alternative_phone, class: 'form-control', value: address.alternative_phone %>
    <% end %>
  <% end %>

  <% other_shipments = @order.shipments.editable.where.not(id: shipment.id) %>
  <% if other_shipments.count >= 1 %>
    <p class="form-group">
      <%= form.field_container :other_shipments, class: ['form-group'] do %>
        <%= form.label :apply_to_other_shipments, Spree.t(:apply_to_other_shipments) %>
        <%= select_tag :apply_to_other_shipments,
          options_from_collection_for_select(other_shipments, :id, :number),
          class: "select2",
          multiple: true
        %>
      <% end %>
    </p>
  <% end %>
</div>
