<div class="modal fade" id="<%= "change_address_#{shipment.id}" %>" tabindex="-1" role="dialog" aria-labelledby="<%= "change_address_#{shipment.id}_label" %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% address = shipment.address || Spree::Address.default %>
      <%= form_for address, url: url, id: "change_address_#{shipment.id}_form" do |form| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="<%= "change_address_#{shipment.id}_label" %>">
            <%= shipment.number %>: <%= Spree.t(:change_shipment_address) %>
          </h4>
        </div>
        <div class="modal-body">
          <%= render partial: 'spree/admin/orders/shipment_address_form', locals: { form: form, address: address, shipment: shipment } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= Spree.t(:cancel) %></button>
          <%= form.submit Spree.t(:save_and_continue), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  // loads the rights states for the address form
  countryStates.requestStates('<%= "change_address_#{shipment.id}_form" %>');
</script>
