<div data-hook="store-form-container col-12">
  <% if @order.completed? %>
    <div class="alert alert-warning no-objects-found mt-4">
      <%= Spree.t('admin.order.once_an_order_is_complete_you_can_not_change_store') %>
    </div>
  <% else %>
    <%= form_for [:admin, order], method: :put, url: set_store_admin_order_url do |f| %>
      <fieldset>
      <div data-hook="admin_order_store_field" class="row">
        <%= f.field_container :store_id, class: ['form-group col-12 col-md-6'] do %>
          <%= f.label :store_id, Spree.t(:store) %>
          <%= f.collection_select(:store_id, @stores, :id, :unique_name, { include_blank: false }, { class: "select2" }) %>
          <%= f.error_message_on :store_id %>
        <% end %>

        <div class="col-12 col-md-6">
          <div class="alert alert-warning no-objects-found mt-4">
            <%= Spree.t('admin.order.changing_store_warning') %>
          </div>
        </div>
      </div>
      <div class="form-actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'recycle.svg', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), edit_admin_order_url(order), icon: 'cancel.svg' %>
      </div>
      <fieldset>
    <% end %>
  <% end %>
</div>
