<% can_add_line_item = ((can? :update, @order) && (@order.shipments.count == 0 || @order.shipments.shipped.count == 0)) %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:add_item), "javascript:;", class: "btn-success", data: { toggle: "modal", target: "#addItem" }, icon: 'add' %>
<% end if can_add_line_item %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Cart' } %>

<% content_for :page_title do %>
  / <%= Spree.t(:items) %>
<% end %>

<%= render partial: 'add_line_item' if can_add_line_item %>

<div data-hook="admin_order_edit_header">
  <%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @order } %>
</div>

<%= content_tag(:div, Spree.t(:your_order_is_empty_add_product), class: 'alert alert-warning') if @order.line_items.empty? %>

<div data-hook="admin_order_edit_form">
  <div id="order-form-wrapper">
    <%= render :partial => 'line_items_edit_form', :locals => { :order => @order } %>
  </div>
</div>
