<%= csrf_meta_tags %>
<% content_for :page_actions do %>
  <% if can?(:fire, @order) %>
    <li><%= event_links %></li>
  <% end %>
  <% if can?(:resend, @order) %>
    <li><%= button_link_to Spree.t(:resend), resend_admin_order_url(@order), :method => :post, :icon => 'icon-email' %></li>
  <% end %>
  <% if can?(:admin, Spree::Order) %>
    <li><%= button_link_to Spree.t(:back_to_orders_list), admin_orders_path, :icon => 'icon-arrow-left' %></li>
  <% end %>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Order Details' } %>

<div data-hook="admin_order_edit_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
</div>

<%= render :partial => 'add_product' if can?(:update, @order) %>

<% if @order.line_items.empty? %>
  <div class="no-objects-found">
    <%= Spree.t(:your_order_is_empty_add_product)%>
  </div>
<% end %>

<div data-hook="admin_order_edit_form">
  <div id="order-form-wrapper">
    <%= render :partial => 'form', :locals => { :order => @order } %>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_tag 'var expand_variants = true;' %>
<% end %>
