<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'State Changes' } %>

<% content_for :page_title do %>
  <i class="fa fa-arrow-right"></i> <%= Spree.t(:state_changes) %>
<% end %>

<% if @items.none? %>
  <p><%= Spree.t(:no_state_changes) %></p>
<% else %>

  <table class="index responsive" id="listing_order_state_changes" data-hook>
    <colgroup>
       <col style="width: 20%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 30%;">
       <col style="width: 30%;">
    </colgroup>

    <thead>
      <tr data-hook="admin_orders_state_changes_headers">
        <th><%= Spree.t("state_change.type") %></th>
        <th><%= Spree.t("state_change.state_from") %></th>
        <th><%= Spree.t("state_change.state_to") %></th>
        <th><%= Spree.t("state_change.user") %></th>
        <th><%= Spree.t("state_change.timestamp") %></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each_with_index do |item, index| %>
        <tr>
          <td class="align-center"><%= item.name.titleize %></td>
          <td class="align-center"><%= item.previous_state.try(:titleize) %></td>
          <td class="align-center"><%= item.next_state.titleize %></td>
          <td class="align-center">
            <%= link_to item.user.login, admin_user_path(item.user) if item.user.present? %>
          </td>
          <td class="align-center">
            <%= l(item.created_at).to_time %>
            <% if item.created_at != item.updated_at %>
              <small><%= Spree.t("state_change.updated") %>: <%= l(item.updated_at).to_time %></small>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>

<% end %>
