<% content_for :page_action do %>
  <% if @order.inventory_units.any? &:shipped? %>
    <li>
      <%= button_link_to t(:new_return_authorization), new_admin_order_return_authorization_url(@order), :icon => 'icon-plus' %>
    </li>
  <% end %>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Return Authorizations' } %>

<% if @order.inventory_units.any? &:shipped? %>
  <table class="index">
    <thead data-hook="rma_header">
      <tr>
        <th><%= t(:rma_number) %></th>
        <th><%= t(:status) %></th>
        <th><%= t(:amount) %></th>
        <th><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
        <th class="action"></th>
      </tr>  
    </thead>
    <tbody>
      <% @return_authorizations.each do |return_authorization| %>
        <tr id="<%= spree_dom_id(return_authorization) %>" data-hook="rma_row" class="<%= cycle('odd', 'even')%>">
          <td><%= return_authorization.number %></td>
          <td><%= t(return_authorization.state.downcase) %></td>
          <td><%= money return_authorization.amount %></td>
          <td><%= return_authorization.created_at.to_s(:date_time24) %></td>
          <td class="actions">
            <%= link_to_edit return_authorization %>
            <% unless return_authorization.received? %>
              &nbsp;
              <%= link_to_delete return_authorization %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div data-hook="rma_cannont_create" class="no-objects-found">
    <%= t(:cannot_create_returns) %>
  </div>
<% end %>

<%= button_link_to t(:continue), admin_orders_url, :icon => 'icon-arrow-right' %>
