<div data-hook="admin_inside_taxon_form">
  <div class="row">
    <div class="col-md-5">
      <%= f.field_container :name, class: ['form-group'] do %>
        <%= f.label :name, Spree.t(:name) %> <span class="required">*</span>
        <%= text_field :taxon, :name, :class => 'form-control' %>
        <%= error_message_on :taxon, :name, :class => 'error-message' %>
      <% end %>

      <%= f.field_container :permalink_part, class: ['form-group'] do %>
        <%= f.label :permalink_part, Spree.t(:permalink) %> <span class="required">*</span>
        <%= text_field_tag :permalink_part, @permalink_part, :class => 'form-control' %>
        <p class="help-block" id="permalink_part_display">
          <%= @taxon.permalink.split('/')[0...-1].join('/') + '/' %>
        </span>
      <% end %>

      <%= f.field_container :icon, class: ['form-group'] do %>
        <%= f.label :icon, Spree.t(:icon) %>
        <%= f.file_field :icon %>
      <% end %>
    </div>

    <div class="col-md-7">
      <%= f.field_container :description, class: ['form-group'] do %>
        <%= f.label :description, Spree.t(:description) %>
        <%= f.text_area :description, :class => 'form-control', :rows => 6 %>
      <% end %>
    </div>
  </div>

  <%= f.field_container :meta_title, class: ['form-group'] do %>
    <%= f.label :meta_title, Spree.t(:meta_title) %>
    <%= f.text_field :meta_title, :class => 'form-control', :rows => 6 %>
  <% end %>

  <%= f.field_container :meta_description, class: ['form-group'] do %>
    <%= f.label :meta_description, Spree.t(:meta_description) %>
    <%= f.text_field :meta_description, :class => 'form-control', :rows => 6 %>
  <% end %>

  <%= f.field_container :meta_description, class: ['form-group'] do %>
    <%= f.label :meta_keywords, Spree.t(:meta_keywords) %>
    <%= f.text_field :meta_keywords, :class => 'form-control', :rows => 6 %>
  <% end %>
</div>
