<table class="table table-condensed table-bordered">
  <thead>
    <tr data-hook="taxons_header">
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:path) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% taxons.each do |taxon| %>
      <tr id="<%= spree_dom_id(taxon) %>" data-hook="taxons_row">
        <td><%= taxon.name %></td>
        <td><%= taxon_path taxon %></td>
        <td class="actions">
          <%= link_to_delete taxon, :url => remove_admin_product_taxon_url(@product, taxon), :name => icon('delete') + ' ' + Spree.t(:remove) %>
        </td>
      </tr>
    <% end %>
    <% if taxons.empty? %>
      <tr data-hook="taxons_none"><td colspan="3"><%= Spree.t(:none) %>.</td></tr>
    <% end %>
  </tbody>
</table>
