<h1><%= t("overview") %></h1>

<%= hook :admin_dashboard do %>
  <% if @show_dashboard %>
    <div class="dashboard">
      <div class="dashboard_left">
      <%= hook :admin_dashboard_left do %>
        <div class="dashboard_small_wrapper">
          <h2><%= t('best_selling_products') %></h2>
          <div id="best_selling_products" style="width:50%;height:170px;float:left"></div>
          <div id="pie_legend">
            <% @best_selling_variants.each_with_index do |v,i| %>
              <span style="background-color:<%= @pie_colors[i] %>">&nbsp;</span>
              <label><%= truncate v[0], :length => 27 %></label>
              <div><%= number_with_delimiter v[1] %> <%= t(:units) %></div>
            <% end %>
          </div>

          <h2><%= t('top_grossing_products') %></h2>
          <div id="top_grossing_products" style="width:50%;height:170px;float:left"></div>
          <div id="pie_legend">
            <% @top_grossing_variants.each_with_index do |v,i| %>
              <span style="background-color:<%= @pie_colors[i] %>">&nbsp;</span>
              <label><%= truncate v[0], :length => 27 %></label>
              <div><%= number_to_currency v[1], :precision => 0 %></div>
            <% end %>
          </div>

          <h2><%= t('best_selling_taxons') %></h2>
          <div id="best_selling_taxons" style="width:50%;height:170px;float:left"></div>
          <div id="pie_legend">
            <% @best_selling_taxons.each_with_index do |t,i| %>
              <span style="background-color:<%= @pie_colors[i] %>">&nbsp;</span>
              <label><%= truncate t[0], :length => 27 %></label>
              <div><%= number_with_delimiter t[1] %> <%= t(:units) %></div>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
    <%= hook :admin_dashboard_center do %>
      <div class="dashboard_main">
        <div class="dashboard_main_wrapper">
          <h2 id="order_by_day_title"><%= t('orders') %> <%= t('count') %> <%= t('by_day') %> (<%= t('last_7_days') %>)</h2>

          <table id="order_totals">
            <tr>
              <td style="width:23%;">
                <p><%= t("number.currency.format.unit") %></p>
                <label id="orders_total"><%= number_with_delimiter @orders_total.to_i %></label>
                <span><%= t('order') %> <%= t('total') %></span>
              </td>
              <td class="spacer">|</td>
              <td style="width:23%;">
                <p><%= t("number.currency.format.unit") %></p>
                <label id="orders_line_total"><%= number_with_delimiter @orders_line_total.to_i %></label>
                <span><%= t('item') %> <%= t('total') %></span>
              </td>
              <td class="spacer">|</td>
              <td style="width:23%;">
                <p><%= t("number.currency.format.unit") %></p>
                <label id="orders_adjustment_total"><%= number_with_delimiter @orders_adjustment_total.to_i %></label>
                <span><%= t('adjustments') %></span>
              </td>
              <td class="spacer">|</td>
              <td style="width:22%">
                <p><%= t("number.currency.format.unit") %></p>
                <label id="orders_adjustment_total"><%= number_with_delimiter @orders_credit_total.to_i %></label>
                <span><%= t('credits') %></span>
              </td>
            </tr>
          </table>

          <div id="orders_by_day" style="width:100%;height:240px;"></div>

          <div id="orders_by_day_options">
            <label><%= t('range') %>:</label>
            <%= select_tag "orders_by_day_reports", options_for_select([[t('last_7_days'), "7_days"], [t('last_14_days'), "14_days"], [t('this_month'), "this_month"],
                                                    [t('last_month'), "last_month"], [t('this_year'), "this_year"], [t('last_year'), "last_year"] ], "7_days") %>
            <label><%= t('value') %>:</label>
            <%= select_tag "orders_by_day_value", options_for_select({t('count') => 'Count', t('value') => 'Value'}, 'Count') %>
          </div>
        </div>
      </div>
    <% end %>
    <%= hook :admin_dashboard_right do %>
      <div class="dashboard_right">
          <h2><%= t('last_5_orders') %></h2>
          <table>
            <thead>
              <tr>
                <th><%= t('name') %></th>
                <th class="text-right"><%= t('items') %></th>
                <th class="text-right"><%= t('total') %></th>
              </tr>
            </thead>
            <% @last_five_orders.each do |order| %>
              <tr>
                <td><%= truncate order[0], :length => 18 %></td>
                <td class="text-right"><%= order[1] %></td>
                <td class="text-right"><%= number_to_currency order[2] %></td>
              </tr>
            <% end %>
          </table>

          <h2><%= t('5_biggest_spenders') %></h2>
          <table>
            <thead>
              <tr>
                <th><%= t('name') %></th>
                <th class="text-right"><%= t('ord_qty') %></th>
                <th class="text-right"><%= t('ord_total') %></th>
              </tr>
            </thead>
            <% @biggest_spenders.each do |order| %>
              <tr>
                <td><%= truncate order[0], :length => 18 %></td>
                <td class="text-right"><%= order[1] %></td>
                <td class="text-right"><%= number_to_currency order[2] %></td>
              </tr>
            <% end %>
          </table>

          <h2><%= t('out_of_stock_products') %></h2>
          <table>
            <thead>
              <tr>
                <th><%= t('name') %></th>
              </tr>
            </thead>
            <% @out_of_stock_products.each do |product| %>
              <tr>
                <td><%= product.name %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
    <p style="clear:both;">&nbsp;</p>
  <% else %>
    <%= hook :admin_dashboard_welcome do %>
      <%= raw t('overview_welcome') %>
    <% end %>
  <% end %>
<% end %>

<% content_for :head do %>
  <%= hook :admin_dashboard_javascript do %>
    <% if @show_dashboard %>
       <script type="text/javascript">
         var orders_by_day_points = [[<%= raw @orders_by_day.map { |day| "[\"#{day[0]}\",#{day[1]}]" }.join(",") %>]];
        var best_selling_variants_points = [<%= raw @best_selling_variants.map { |v| "[\"#{v[0]}\",#{v[1]}]" }.join(",") %>];
        var top_grossing_variants_points = [<%= raw @top_grossing_variants.map { |v| "[\"#{v[0]}\",#{v[1]}]" }.join(",") %>];
        var best_selling_taxons_points = [<%= raw @best_selling_taxons.map { |t| "[\"#{t[0]}\",#{t[1]}]" }.join(",") %>];

        var orders = "<%= t(:orders) %>";
        var by_day = "<%= t(:by_day) %>";

        var pie_colors = [<%= raw @pie_colors.map{|c| "'#{c}'"}.join(",") %>];
       </script>

      <%= javascript_include_tag 'jqPlot/jquery.jqplot.min.js', 'jqPlot/plugins/jqplot.dateAxisRenderer.min.js', 'jqPlot/plugins/jqplot.highlighter.min.js',
        'jqPlot/plugins/jqplot.canvasAxisTickRenderer.min.js', 'jqPlot/plugins/jqplot.canvasTextRenderer.min.js', 'jqPlot/plugins/jqplot.canvasAxisLabelRenderer.min.js',
        'jqPlot/plugins/jqplot.pieRenderer.min.js', 'dashboard.js' %>
    <!--[if IE]><%= javascript_include_tag 'jqPlot/excanvas.min.js' %><![endif]-->
    <% end %>
  <% end %>

  <%= hook :admin_dashboard_stylesheet do %>
     <%= stylesheet_link_tag 'admin/dashboard.css' %>
  <% end %>
<% end %>
