<%= render 'spree/admin/shared/returns_and_refunds_nav' %>

<% content_for :page_actions do %>
  <%= render_admin_partials(:refund_reasons_actions_partials) %>
  <%= link_to_with_icon 'plus', Spree.t(:new_refund_reason), new_object_url, class: "btn btn-primary" if can? :create, Spree::RefundReason %>
<% end %>

<%= render_admin_partials(:refund_reasons_header_partials) %>

<div class="card-lg">
  <% if @collection.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= Spree.t(:name) %></th>
            <th><%= Spree.t(:status) %></th>
            <th><%= Spree.t(:mutable) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @collection.each do |refund_reason| %>
          <tr id="<%= spree_dom_id refund_reason %>" data-controller="row-link" class="cursor-pointer">
            <td class="w-40 align-center" data-action="click->row-link#openLink">
              <%= refund_reason.name %>
            </td>
            <td class="w-20 align-center" data-action="click->row-link#openLink">
              <%= active_badge(refund_reason.active, label: Spree.t(refund_reason.active? ? :active : :inactive)) %>
            </td>
            <td class="w-10 align-center" data-action="click->row-link#openLink">
              <%= active_badge(refund_reason.mutable) %>
            </td>
            <td class="actions w-10" data-action="click->row-link#openLink">
              <%= link_to_edit(refund_reason, no_text: true, data: { row_link_target: :link, turbo_frame: '_top' }) if can? :edit, refund_reason %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= render 'spree/admin/shared/no_resource_found' %>
  <% end %>
</div>
