<% if try_spree_current_user %>
  <div class="btn-group">

    <button id="accountNav" type="button" class="btn text-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="icon icon-account icon-white icon-lg"></i>
    </button>

    <div class="dropdown-menu dropdown-menu-right mt-2 p-0 mr-2">

      <div class="dropdown-item px-0 text-center bg-light">
        <span class="d-block text-dark py-2 px-4"><%= try_spree_current_user.email %></span>
      </div>

      <div class="dropdown-divider m-0"></div>
      <% if spree.respond_to? :root_path %>
        <button class="dropdown-item px-0" type="button">
          <%= link_to spree.root_path, target: :blank, class: 'd-block text-dark py-2 px-4' do %>
            <i class="icon icon-store"></i>
            &nbsp;
            <%= Spree.t(:back_to_store) %>
          <% end %>
        </button>
      <% end %>

      <% if can?(:manage, try_spree_current_user) %>
        <button class="dropdown-item px-0" type="button">
          <%= link_to spree.edit_admin_user_path(try_spree_current_user), class: 'd-block text-dark py-2 px-4' do %>
            <i class="icon icon-account"></i>
            &nbsp;
            <%= Spree.t(:account) %>
          <% end %>
        </button>
      <% end %>

      <% if defined?(spree_logout_path) %>
        <li class="dropdown-item p-0">
          <%= link_to spree_logout_path, class: 'd-block text-dark py-2 px-4' do %>
            <i class="icon icon-exit"></i>
            &nbsp;
            <%= Spree.t(:logout) %>
          <% end %>
        </li>
      <% end %>

      <div class="dropdown-divider m-0"></div>

      <button class="dropdown-item px-0" type="button">
        <%= link_to 'http://guides.spreecommerce.org', target: :blank, class: 'd-block text-dark py-2 px-4' do %>
        <i class="icon icon-help"></i>
          &nbsp;
          <%= Spree.t(:help_center) %>
        <% end %>
      </button>

      <button class="dropdown-item px-0" type="button">
        <%= link_to 'http://slack.spreecommerce.org', target: :blank, class: 'd-block text-dark py-2 px-4' do %>
        <i class="icon icon-slack"></i>
          &nbsp;
          <%= Spree.t(:join_slack) %>
        <% end %>
      </button>

      <button class="dropdown-item px-0" type="button">
        <%= link_to 'https://github.com/spree-contrib', target: :blank, class: 'd-block text-dark py-2 px-4' do %>
        <i class="icon icon-extensions"></i>
          &nbsp;
          <%= Spree.t(:extensions_directory) %>
        <% end %>
      </button>

    </div>
  </div>
<% end %>
