<% target_id = (type == 'billing' ? 'billAddress' : 'shipAddress') %>
<% target_label = "#{target_id}Label" %>
<% address_assoc = (type == 'billing' ? :bill_address : :ship_address) %>

<div class="modal fade" id="<%= target_id %>" tabindex="-1" role="dialog" aria-labelledby="<%= target_label %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="<%= target_label %>"><%= Spree.t("edit_#{type}_address".to_sym) %></h4>
      </div>
      <div class="modal-body">
        <%= f.fields_for address_assoc do |ba_form| %>
          <%= render partial: 'spree/admin/shared/address_form', locals: { f: ba_form, type: type } %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= button Spree.t('actions.update'), 'save' %>
      </div>
    </div>
  </div>
</div>
