<% if content_for?(:page_title) || content_for?(:page_actions) %>
  <div class="content-header <%= "with-page-tabs" if content_for?(:page_tabs) %> page-header">
    <% if content_for?(:page_actions) %>
      <div class="page-actions pull-right" data-hook="toolbar">
        <%= yield :page_actions %>
      </div>
    <% end %>
    <% if content_for?(:page_title) %>
      <h1>
        <%= yield :page_title %>
        <% if content_for?(:page_title_small) %>
          <small><%= yield :page_title_small %></small>
        <% end %>
      </h1>
    <% end %>

    <% if content_for?(:page_tabs) %>
      <ul class="nav nav-tabs">
        <%= yield :page_tabs %>
      </ul>
    <% end %>
  </div>
<% end %>
