<% if content_for?(:page_title) || content_for?(:page_actions) %>
  <div class="content-header <%= "with-page-tabs" if content_for?(:page_tabs) %> page-header">
    <div class="row align-items-center  <%= if content_for?(:page_tabs) then "pb-0" else "border-bottom" end %> mb-4">
      <% if content_for?(:page_title) %>
        <h1 class="h4 pl-0 mb-0 col-<%= content_for?(:page_actions) ? '6' : '12'  %>">
          <%= yield :page_title %>
          <% if content_for?(:page_title_small) %>
            <small><%= yield :page_title_small %></small>
          <% end %>
        </h1>
      <% end %>

      <% if content_for?(:page_actions) %>
        <div class="page-actions col-6 pr-0" data-hook="toolbar">
          <%= yield :page_actions %>
        </div>
      <% end %>

      <% if content_for?(:page_tabs) %>
        <ul class="nav nav-tabs w-100 mt-4">
          <%= yield :page_tabs %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
