<div id="contentHeader" class="row mb-0 pb-0">
  <% if content_for?(:page_title) || content_for?(:page_actions) %>
    <div class="content-header col <%= "with-page-tabs" if content_for?(:page_tabs) %> page-header">
      <div class="row align-items-center  <%= if content_for?(:page_tabs) then "border-bottom pb-2" else "border-bottom pb-2 mb-3" end %>">

        <% if content_for?(:page_title) %>
          <h1 class="contextual-title px-0 mb-0 col">
            <%= yield :page_title %>
            <% if content_for?(:page_title_small) %>
              <small><%= yield :page_title_small %></small>
            <% end %>
          </h1>
        <% end %>

        <% if content_for?(:page_actions) %>
          <div class="page-actions pl-0 pr-0 d-none d-lg-flex" data-hook="toolbar">
            <%= yield :page_actions %>
          </div>
        <% end %>

        <% if content_for?(:page_actions) || content_for?(:sidebar) %>
          <div class="d-flex d-lg-none justify-content-end m-0 p-0">
            <button type="button"
                    id="contextual-menu-toggle"
                    class="btn btn-outline-secondary shadow-none">
                    <span class="d-none d-sm-inline">
                      <%= Spree.t('more') %>
                    </span>
                    <%= svg_icon name: "chevron-down.svg", width: '16', height: '16' %>
            </button>
          </div>
        <% end %>
      </div>

      <% if content_for?(:page_tabs) %>
        <div class="row my-2 pb-1 pt-1" data-overscroll-wrapper>
          <div data-overscroll-container>
            <ul id="spreePageTabs" class="nav nav-pills flex-nowrap pn-ProductNav_Contents" data-overscroll-content>
              <%= yield :page_tabs%>
            </ul>
          </div>

          <button id="pnAdvancerLeft" class="pn-Advancer pn-Advancer_Left" type="button" data-overscroll-button-left>
            <svg class="pn-Advancer_Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M445.44 38.183L-2.53 512l447.97 473.817 85.857-81.173-409.6-433.23v81.172l409.6-433.23L445.44 38.18z" /></svg>
          </button>

          <button id="pnAdvancerRight" class="pn-Advancer pn-Advancer_Right" type="button" data-overscroll-button-right>
            <svg class="pn-Advancer_Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551 1024"><path d="M105.56 985.817L553.53 512 105.56 38.183l-85.857 81.173 409.6 433.23v-81.172l-409.6 433.23 85.856 81.174z" /></svg>
          </button>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
