<% if can? :admin, Spree::Order %>
  <%= tab *Spree::BackendConfiguration::ORDER_TABS, icon: 'shopping-cart' %>
<% end %>

<% if can? :admin, Spree::Product %>

  <li class="treeview">
    <a href="#">
      <span class="icon icon-th-large"></span>
      <span><%= Spree.t(:products) %></span>
      <span class="icon icon-chevron-left pull-right"></span>
    </a>
    <%= render :partial => 'spree/admin/shared/product_sub_menu' %>
  </li>

<% end %>

<% if can? :admin, Spree::Admin::ReportsController %>
  <%= tab *Spree::BackendConfiguration::REPORT_TABS, icon: 'file'  %>
<% end %>

<li class="treeview">
  <a href="#">
    <span class="icon icon-wrench"></span>
    <span><%= Spree.t(:configurations) %></span>
    <span class="icon icon-chevron-left pull-right"></span>
  </a>
  <%= render :partial => 'spree/admin/shared/configuration_sub_menu' %>
</li>

<% if can? :admin, Spree::Promotion %>
  <li class="treeview">
    <a href="#">
      <span class="icon icon-bullhorn"></span>
      <span><%= Spree.t(:promotions) %></span>
      <span class="icon icon-chevron-left pull-right"></span>
    </a>
    <%= render :partial => 'spree/admin/shared/promotion_sub_menu' %>
  </li>
<% end %>

<% if Spree.user_class && can?(:admin, Spree.user_class) %>
  <%= tab *Spree::BackendConfiguration::USER_TABS, url: spree.admin_users_path, icon: 'user' %>
<% end %>
