<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= Spree.t(:summary) %></h3>
  </div>
  <table class="table table-condensed table-bordered" id="order_tab_summary" data-hook>
    <tbody class="additional-info">
      <tr>
        <td id="order_status" width="35%" data-hook><%= Spree.t(:status) %>:</td>
        <td><span class="state <%= @order.state %>"><%= Spree.t(@order.state, :scope => :order_state) %></span></td>
      </tr>
      <tr>
        <td data-hook='admin_order_tab_subtotal_title'><%= Spree.t(:subtotal) %>:</td>
        <td id='item_total'><%= @order.display_item_total.to_html %></td>
      </tr>

      <% if checkout_steps.include?("delivery") && @order.ship_total > 0 %>
        <tr>
          <td data-hook='admin_order_tab_ship_total_title'><%= Spree.t(:ship_total) %>:</td>
          <td id='ship_total'><%= @order.display_ship_total.to_html %></td>
        </tr>
      <% end %>

      <% if @order.included_tax_total != 0 %>
        <tr>
          <td data-hook='admin_order_tab_included_tax_title'><%= Spree.t(:tax_included) %>:</td>
          <td id='included_tax_total'><%= @order.display_included_tax_total.to_html %></td>
        </tr>
      <% end %>

      <% if @order.additional_tax_total != 0 %>
        <tr>
          <td data-hook='admin_order_tab_additional_tax_title'><%= Spree.t(:tax) %>:</td>
          <td id='additional_tax_total'><%= @order.display_additional_tax_total.to_html %></td>
        </tr>
      <% end %>

      <tr>
        <td data-hook='admin_order_tab_total_title'><%= Spree.t(:total) %>:</td>
        <td id='order_total'><%= @order.display_total.to_html %></td>
      </tr>

      <% if @order.completed? %>
        <tr>
          <td><%= Spree.t(:shipment) %>: </td>
          <td id='shipment_status'><span class="state <%= @order.shipment_state %>"><%= Spree.t(@order.shipment_state, :scope => :shipment_states, :default => [:missing, "none"]) %></span></td>
        </tr>
        <tr>
          <td><%= Spree.t(:payment) %>: </td>
          <td id='payment_status'><span class="state <%= @order.payment_state %>"><%= Spree.t(@order.payment_state, :scope => :payment_states, :default => [:missing, "none"]) %></span></td>
        </tr>
        <tr>
          <td data-hook='admin_order_tab_date_completed_title'><%= Spree.t(:date_completed) %>:</td>
          <td id='date_complete'><%= pretty_time(@order.completed_at) %></td>
        </tr>
      <% end %>

      <% if @order.approved? %>
        <tr>
          <td><%= Spree.t(:approver) %></td>
          <td><%= @order.approver.email %></td>
        </tr>
        <tr>
          <td><%= Spree.t(:approved_at) %></td>
          <td><%= pretty_time(@order.approved_at) %></td>
        </tr>
      <% end %>

      <% if @order.canceled? && @order.canceler && @order.canceled_at %>
        <tr>
          <td><%= Spree.t(:canceler) %></td>
          <td><%= @order.canceler.email %></td>
        </tr>
        <tr>
          <td><%= Spree.t(:canceled_at) %></td>
          <td><%= pretty_time(@order.canceled_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
