<% content_for :page_title do %>
  <%= Spree.t(:editing_product) %> &ldquo;<%= @product.name %>&rdquo;
<% end %>

<% content_for :sidebar_title do %>
  <span class="sku"><%= @product.sku %></span>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul data-hook="admin_product_tabs">
      <%= content_tag :li, :class => ('active' if current == 'Product Details') do %>
        <%= link_to_with_icon 'edit', Spree.t(:product_details), edit_admin_product_url(@product) %>
      <% end if can?(:admin, Spree::Product) %>
      <%= content_tag :li, :class => ('active' if current == 'Stock Management') do %>
        <%= link_to_with_icon 'tasks', Spree.t(:stock_management), stock_admin_product_url(@product) %>
      <% end if can?(:stock, Spree::Product) %>
      </li>
    </ul>
  </nav>

<% end %>
