<% content_for :page_title do %>
  <%= Spree.t(:editing_product) %> &ldquo;<%= @product.name %>&rdquo;
<% end %>

<% content_for :sidebar_title do %>
  <span class="sku"><%= @product.sku %></span>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul data-hook="admin_product_tabs">
      <%= content_tag :li, :class => ('active' if current == 'Product Details') do %>
        <%= link_to_with_icon 'icon-edit', Spree.t(:product_details), edit_admin_product_url(@product) %>
      <% end if can?(:admin, Spree::Product) %>
      <%= content_tag :li, :class => ('active' if current == 'Images') do %>
        <%= link_to_with_icon 'icon-picture', Spree.t(:images), admin_product_images_url(@product) %>
      <% end if can?(:admin, Spree::Image) %>
      <%= content_tag :li, :class => ('active' if current == 'Variants') do %>
        <%= link_to_with_icon 'icon-th-large', Spree.t(:variants),  admin_product_variants_url(@product) %>
      <% end if can?(:admin, Spree::Variant) %>
      <%= content_tag :li, :class => ('active' if current == 'Product Properties') do %>
        <%= link_to_with_icon 'icon-tasks', Spree.t(:product_properties), admin_product_product_properties_url(@product) %>
      <% end if can?(:admin, Spree::ProductProperty) %>
      <%= content_tag :li, :class => ('active' if current == 'Stock Management') do %>
        <%= link_to_with_icon 'icon-tasks', Spree.t(:stock_management), stock_admin_product_url(@product) %>
      <% end if can?(:stock, Spree::Product) %>
      </li>
    </ul>
  </nav>

<% end %>
