<div class="row">
  <div class="col">
    <div class="datepickrRange">
      <div class="input-group">
        <input type="text" placeholder="<%= Spree.t(:select_a_date_range) %>" class="form-control shadow-none text-center" data-input>

        <div class="input-group-append append_over">
          <span class="input-group-text force-round" data-clear>
            <%= svg_icon name: "close.svg", width: '16', height: '16' %>
          </span>
        </div>
        <div class="input-group-append append_under">
          <span class="input-group-text" data-clear>
            <%= svg_icon name: "calendar.svg", width: '16', height: '16' %>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>

<%= search_form_for @search, url: spree.sales_total_admin_reports_path  do |s| %>
<div class="form-group date-range-filter d-none">
  <%= label_tag nil, Spree.t(:date_range) %>
  <div class="date-range-filter row">
    <div class="col-md-6">
      <%= s.text_field :completed_at_gt, id:'ID_START', class: 'form-control', value: datepicker_field_value(params[:q][:completed_at_gt]) %>
    </div>
    <div class="col-md-6">
      <%= s.text_field :completed_at_lt, id:'ID_END', class: 'form-control', value: datepicker_field_value(params[:q][:completed_at_lt]) %>
    </div>
  </div>
</div>

<div class="form-actions">
  <%= button Spree.t(:search), 'search.svg' %>
</div>
<% end %>
