<%= search_form_for @search, :url => spree.sales_total_admin_reports_path  do |s| %>
    <div class="date-range-filter field ">
        <%= label_tag nil, Spree.t(:start), :class => 'inline' %>
        <%= s.text_field :created_at_gt, :class => 'datepicker datepicker-from', :value => datepicker_field_value(params[:q][:created_at_gt]) %>

        <span class="range-divider">
          <span class="glyphicon glyphicon-arrow-right"></span>
        </span>

        <%= s.text_field :created_at_lt, :class => 'datepicker datepicker-to', :value => datepicker_field_value(params[:q][:created_at_lt]) %>
        <%= label_tag nil, Spree.t(:end), :class => 'inline' %>
    </div>

    <div class="form-buttons">
      <%= button Spree.t(:search), 'search'  %>
    </div>
<% end %>
