<%= search_form_for @search, url: spree.sales_total_admin_reports_path  do |s| %>
  <div class="form-group date-range-filter">
    <%= label_tag nil, Spree.t(:date_range) %>
    <div class="date-range-filter row">
      <div class="col-6">
        <div class="input-group">
          <%= s.text_field :completed_at_gt, class: 'datepicker datepicker-from form-control', value: datepicker_field_value(params[:q][:completed_at_gt]) %>
          <div class="input-group-append">
            <span class="input-group-text">
               <%= svg_icon name: "calendar.svg", width: '18', height: '18' %>
            </span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="input-group">
        <%= s.text_field :completed_at_lt, class: 'datepicker datepicker-to form-control', value: datepicker_field_value(params[:q][:completed_at_lt]) %>
        <div class="input-group-append">
          <span class="input-group-text">
             <%= svg_icon name: "calendar.svg", width: '18', height: '18' %>
          </span>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="form-actions">
    <%= button Spree.t(:search), 'search.svg' %>
  </div>
<% end %>
