<div data-hook="admin_stock_movements_form_fields" class="row">
  <div class="alpha two columns">
    <%= hidden_field_tag :stock_management, true %>
    <%= f.field_container :quantity do %>
      <%= f.label :quantity, t(:quantity) %>
      <%= f.number_field :quantity, class: 'fullwidth', value: 1 %>
    <% end %>
  </div>
  <div class="five columns">
    <%= f.field_container :stock_location do %>
      <%= f.label :stock_location_id, t(:stock_location) %>
      <%= collection_select 'stock_movement', 'stock_location_id', Spree::StockLocation.all, :id, :name,
        {}, class: 'select2 fullwidth' %>
    <% end %>
  </div>

  <div class="five columns omega">
    <%= f.field_container :variant_id do %>
      <%= label_tag 'stock_item[variant_id]', t(:variant) %>
      <%= collection_select 'stock_item', 'variant_id', @variants, :id, :sku,
        {}, class: 'select2 fullwidth' %>
    <% end %>
  </div>
</div>

<div class="form-buttons filter-actions actions" data-hook="buttons">
  <%= button t(:add_stock), 'icon-plus' %>
  <span class="or"><%= t(:or) %></span>
  <%= link_to_with_icon 'icon-remove', t('actions.cancel'), collection_url, :class => 'button' %>
</div>
