<% if content_for?(:table_filter) %>
  <div class="filter-wrap pb-1">
    <div class="col-12 px-0">
      <div class="input-group index-filter-button flex-nowrap">
        <span class="input-group-btn">
          <button class="btn js-show-index-filters m-0" type="button">
            <%= svg_icon name: "chevron-right.svg", width: '12', height: '12' %>
            <span class="d-none d-sm-inline"><%= Spree.t(:filter) %></span>
          </button>
        </span>
        <%= form_tag request.fullpath, id: "quick-search", class: 'flex-grow-1' do %>
          <%= text_field_tag :quick_search, nil, class: "form-control js-quick-search", placeholder: Spree.t(:search_by) %>
        <% end %>
      </div>
      <% unless defined?(simple) %>
        <div id="table-filter" data-hook class="card bg-light filter-well">
          <div class="card-body">
            <%= yield :table_filter %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="table-active-filters js-filters"></div>
<% end %>
