<table class="index" id='listing_taxonomies' data-hook>
  <tr data-hook="taxonomies_header">
    <th><%= t(:name) %></th>
    <th></th>
  </tr>
<% @taxonomies.each do |taxonomy| %>
  <tr id="spree_<%= dom_id taxonomy %>" data-hook="taxonomies_row">
    <td>
      <%= taxonomy.name %>
    </td>
    <td class="actions">
      <%= link_to_edit taxonomy.id, :class => 'edit' %>
      &nbsp;
      <%= link_to_delete taxonomy %>
    </td>
  </tr>
<% end %>
</table>

