<table class="index sortable" id='listing_taxonomies' data-hook data-sortable-link="<%= update_positions_admin_taxonomies_url %>">
  <tr data-hook="taxonomies_header">
    <th><%= t(:name) %></th>
    <th></th>
  </tr>
<% @taxonomies.each do |taxonomy| %>
  <tr id="<%= spree_dom_id taxonomy %>" data-hook="taxonomies_row">
    <td>
    	<span class="handle"></span>
      <%= taxonomy.name %>
    </td>
    <td class="actions">
      <%= link_to_edit taxonomy.id, :class => 'edit' %>
      &nbsp;
      <%= link_to_delete taxonomy %>
    </td>
  </tr>
<% end %>
</table>

