<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<%= render :partial => 'js_head' %>

<h1><%= t(:taxonomy_edit) %></h1>

<p id="ajax_error" class="errorExplanation" style="display:none;"></p>

<%= form_for [:admin, @taxonomy] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
    <div>
      <%= label_tag nil, t(:tree) %><br />
      <div id="taxonomy_tree" class="tree" data-url="<%= admin_taxonomy_taxons_path @taxonomy %>"></div>
    </div>
    <p id="progress" style="display:none;">
      <%= image_tag 'spinner.gif', :title => 'Spinner', :style => "vertical-align:bottom;" %> <%= t(:updating) %>..
    </p>
    <p><br /><small><%= t(:taxonomy_tree_instruction) %></small></p>

    <p class="form-buttons">
      <%= button t(:update) %> <%= t(:or) %> <%= link_to t(:cancel), admin_taxonomies_path %>
    </p>
<% end %>


<% content_for :head do %>
  <%= javascript_tag do -%>
    var initial = [
      { "attr" :
      { "id" : "<%= @taxonomy.root.id %>", "rel" : "root" },
      "data" : "<%= escape_javascript(raw(@taxonomy.root.name)) %>",
      "state" : "open",
      "children" : [
        <% @taxonomy.root.children.each_with_index do |taxon,i| %>
          {
            "attr" :
            { "id" : "<%= taxon.id %>"},
            "data" : "<%= escape_javascript(raw(taxon.name)) %>"
            <% unless taxon.children.empty? %>
              ,"state" : "closed"
            <% end %>
          }<%= ',' if i < (@taxonomy.root.children.size - 1) %>
        <% end %>
      ]
        }
    ];
  <% end -%>
<% end %>
