<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Reimbursements' } %>

<% content_for :page_title do %>
  / <%= Spree.t(:edit_reimbursement) %>
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @customer_return } %>

<table class="table index">
  <thead data-hook="customer_return_header">
    <tr>
      <th><%= Spree.t(:id) %></th>
      <th><%= Spree.t(:total) %></th>
      <th><%= Spree.t(:status) %></th>
      <th><%= "#{Spree.t('date')}/#{Spree.t('time')}" %></th>
    </tr>
  </thead>
  <tbody>
    <% @reimbursements.each do |reimbursement| %>
      <tr id="<%= spree_dom_id(reimbursement) %>" data-hook="reimbursement_row">
        <td><%= reimbursement.id %></td>
        <td><%= reimbursement.total %></td>
        <td><%= reimbursement.reimbursement_status %></td>
        <td><%= pretty_time(reimbursement.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
