<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Reimbursements' } %>

<% content_for :page_title do %>
  / <%= Spree::Reimbursement.model_name.human %> #<%= @reimbursement.number %>
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @reimbursement } %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= Spree.t(:items_reimbursed) %></legend>
    </h3>
  </div>
  <table class="table reimbursement-reimbursement-items-table">
    <thead>
      <tr>
        <th width="30%"><%= Spree.t(:product) %></th>
        <th><%= Spree.t(:preferred_type) %></th>
        <th><%= Spree.t(:type_override) %></th>
        <th><%= Spree.t(:exchange_for) %></th>
        <th width="130"><%= Spree.t(:pre_tax_amount) %></th>
        <th width="100"><%= Spree.t(:total) %></th>
      </tr>
    </thead>
    <tbody>
      <% @reimbursement.return_items.each do |return_item| %>
        <tr>
          <td class="return-item-item-name">
            <%= link_to return_item.variant.product.try(:name), edit_admin_product_path(return_item.variant.product) %><br/>
            <% if !return_item.variant.option_values.empty? %>
              <strong><%= variant_options(return_item.variant) %></strong><br/>
            <% end %>
            <%= return_item.variant.sku %>
          </td>
          <td>
            <%= reimbursement_type_name(return_item.preferred_reimbursement_type) %>
          </td>
          <td>
            <%= reimbursement_type_name(return_item.override_reimbursement_type) %>
          </td>
          <td>
            <%= return_item.exchange_variant.try(:exchange_name) %>
          </td>
          <td>
            <%= return_item.display_pre_tax_amount %>
          </td>
          <td>
            <%= return_item.display_total %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= Spree.t(:refunds) %>
    </h3>
  </div>
  <table class="table">
    <thead data-hook="customer_return_header">
      <tr>
        <th><%= Spree.t(:description) %></th>
        <th width="100"><%= Spree.t(:amount) %></th>
      </tr>
    </thead>
    <tbody>
      <% @reimbursement.refunds.each do |refund| %>
        <tr id="<%= spree_dom_id(refund) %>" data-hook="reimbursement_refund_row">
          <td>
            <%= link_to refund.description, spree.admin_order_payments_url(@order) %>
          </td>
          <td>
            <%= refund.display_amount %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @reimbursement.credits.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= Spree.t(:credits) %>
      </h3>
    </div>
    <table class="table">
      <thead data-hook="customer_return_header">
        <tr>
          <th><%= Spree.t(:description) %></th>
          <th><%= Spree.t(:amount) %></th>
        </tr>
      </thead>
      <tbody>
        <% @reimbursement.credits.each do |credit| %>
          <tr id="<%= spree_dom_id(credit) %>" data-hook="reimbursement_refund_row">
            <td><%= credit.description %></td>
            <td><%= credit.display_amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
