<%= label_tag "#{prefix}[calculator_attributes][preferred_base_percent]",
  Spree.t(:base_percent) %>
<%= preference_field_tag(
  "#{prefix}[calculator_attributes][preferred_base_percent]",
  calculator.preferred_base_percent,
  type: calculator.preference_type(:base_percent)) %>

<%= label_tag nil, Spree.t(:tiers) %>
<%= content_tag :div, nil, class: "hidden js-original-tiers",
  data: { :'original-tiers' => Hash[calculator.preferred_tiers.sort] } %>
<div class="js-tiers"></div>
<button class="fa fa-plus button js-add-tier"><%= Spree.t(:add) %></button>

<script type="text/x-handlebars-template" id="tier-input-name">
  <%= prefix %>[calculator_attributes][preferred_tiers][{{base}}]
</script>

<script type="text/x-handlebars-template" id="tier-fields-template">
  <div class="fullwidth tier">
    <a class="fa fa-trash remove js-remove-tier"></a>
    <div class="two columns alpha omega">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input class="js-base-input form-control" type="text" value={{baseField.value}}>
      </div>
    </div>
    <div class="two columns alpha omega right">
      <div class="input-group">
        <input class="js-value-input form-control right-align"
          name="{{valueField.name}}" type="text" value={{valueField.value}}>
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</script>
