<tr id="<%= dom_id product_scope %>" data-hook="product_scope">
  <td data-hook="description">
    <%= label_tag nil, t(:name, :scope => [:product_scopes, :scopes, product_scope.name]) %>
    <% if description = t(:description, :scope => [:product_scopes, :scopes, product_scope.name], :default => "") and description.present? %>
      <br /><%= description %>
    <% end %>
  </td>
  <td data-hook="arguments">
    <% if arguments = Spree::ProductScope.arguments_for_scope_name(product_scope.name.strip) %>
      <table><tr>
      <% arguments.each_with_index do |argument, i| %>
        <td>
          <%= label_tag nil, t(argument, :scope => [:product_scopes, :scopes, product_scope.name, :args]) %><br />
          <%= hidden_field_tag 'product_group[product_scopes_attributes][][id]', product_scope.id %>
          <%= product_scope_field product_scope, i %>
        </td>
      <% end %>
      </tr></table>
    <% end %>
  </td>
  <td class="actions" data-hook="actions">
    <%= link_to_with_icon 'cross', '', admin_product_group_product_scope_path(@product_group, product_scope), :remote => true, :method => 'delete' %>
  </td>
</tr>
