<% render :partial => 'spree/admin/shared/product_sub_menu' %>
<h2><%= Spree::ProductGroup.model_name.human %></h2>
<p>
  <%= Spree::ProductGroup.human_attribute_name(:name) %>: <%= @product_group.name %>
</p>
<p>
  <%= Spree::ProductGroup.human_attribute_name(:url) %>: <%= link_to @product_group.permalink, "/pg/#{@product_group.permalink}" %>
</p>

<h2><%= Spree::ProductGroup.human_attribute_name(:product_scopes) %>(<%= @product_group.product_scopes.count %>)</h2>
<table class="product-scopes" data-hook="product_scopes">
  <thead>
    <tr data-hook="product_scopes_header">
      <th><%= Spree::ProductScope.human_attribute_name(:description) %></th>
      <th><%= Spree::ProductScope.human_attribute_name(:arguments) %></th>
    </tr>
  </thead>
  <tbody>
    <% @product_group.product_scopes.each do |product_scope| %>
      <tr <%= !product_scope.valid? ? "class='invalid'":'' %> data-hook="product_scopes_row">
        <td>
          <%= product_scope.to_sentence %>
        </td>
        <td>
          <%= product_scope.arguments.join(', ') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => 'preview.html' %>
