<% content_for :page_title do %>
  <%= Spree.t(:shipping) %>
<% end %>

<%= render partial: 'spree/admin/shipping_methods/actions' %>
<%= render partial: 'spree/admin/shared/shipping_nav' %>

<% content_for :page_alerts do %>
  <div class="alert alert-info">
    <%= Spree.t(:shipping_methods_info) %>
  </div>
<% end %>

<div class="card-lg">
  <% if @collection.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= Spree.t(:name) %></th>
            <th><%= Spree.t(:zone) %></th>
            <th><%= Spree.t(:estimated_delivery_time) %></th>
            <th><%= Spree.t(:amount) %></th>
            <th><%= Spree.t(:visibility) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'spree/admin/shipping_methods/shipping_method', collection: @collection.includes(:zones, :calculator), as: :shipping_method %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= render 'spree/admin/shared/no_resource_found' %>
  <% end %>
</div>
