<% content_for :page_title do %>
  <%= Spree.t(:shipping) %>
<% end %>

<% content_for :page_actions do %>
  <%= render_admin_partials(:shipping_methods_actions_partials) %>
  <% if can?(:create, Spree::ShippingMethod) %>
    <%= link_to_with_icon 'plus', Spree.t(:new_shipping_method), new_object_url, class: "btn btn-primary" %>
  <% end %>
<% end %>
<%= render partial: 'spree/admin/shared/shipping_nav' %>

<% content_for :page_alerts do %>
  <div class="alert alert-info">
    Shipping methods are options that the customer sees when they reach the checkout, they are the carriers and services used to send your products.
  </div>
<% end %>

<%= render_admin_partials(:shipping_methods_header_partials) %>

<div class="card-lg">
  <% if @collection.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= Spree.t(:name) %></th>
            <th><%= Spree.t(:zone) %></th>
            <th><%= Spree.t(:estimated_delivery_time) %></th>
            <th><%= Spree.t(:amount) %></th>
            <th><%= Spree.t(:visibility) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'spree/admin/shipping_methods/shipping_method', collection: @collection.includes(:zones, :calculator), as: :shipping_method %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= render 'spree/admin/shared/no_resource_found' %>
  <% end %>
</div>
