<table class="index">
  <thead>
    <tr>
      <th><%= t(:product) %></th>
      <th><%= t(:qty) %></th>
      <th class="actions"></th>
    </tr>
  </thead>  
  <tbody>
    <% promotion_action.promotion_action_line_items.each do |item| %>
      <tr>
        <td>
          <%= item.variant.product.name %> <%= item.variant.options_text %>
        </td>
        <td class="align-center">
          <%= item.quantity %>
        </td>
        <td class="actions">
          <%= link_to_with_icon 'icon-trash', '', :class => "remove_promotion_line_item button no-text", :data => { :variant_id => item.variant_id, :action => 'remove' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= hidden_field_tag "#{param_prefix}[line_items_string]", promotion_action.line_items_string,
                     :class => 'line_items_string' %>

<div class="add-line-item block-table">
  
    <div class="field table-cell">
      <%= label_tag :add_product_name, t(:name_or_sku) %>
      <%= text_field_tag :add_product_name, nil, :class => 'fullwidth product_autocomplete' %>
      <%= hidden_field_tag :add_variant_id %>
      <%= hidden_field_tag :add_line_item_variant_id %>
    </div>
    <div class="field table-cell">
      <%= label_tag :add_quantity, t(:qty) %>
      <%= number_field_tag :add_quantity, 1, :min =>  1, :size => '4' %>
    </div>
    <div class="field table-cell">     
      <button class="icon-plus add small"><%= t(:add) %></button>
    </div>
  
</div>
