<div class="calculator-fields">

  <p class="field">
    <%= action_form.label :calculator_type, t(:calculator) %>
    <%= action_form.collection_select :calculator_type, @calculators, :to_s, :description, {}, {:class => 'type-select'} %>
    <% if promotion_action.calculator.respond_to?(:preferences) %>
      &nbsp; <span class="warning"><%= t(:calculator_settings_warning) %></span>
    <% end %>
  </p>

  <% unless promotion_action.new_record? %>
    <div class="settings">
      <%= action_form.fields_for :calculator, promotion_action.calculator do |calculator_form| %>
        <%= preference_fields(promotion_action.calculator, calculator_form) %>
      <% end %>
    </div>
  <% end %>

</div>
