<table class="index">
  <thead>
    <tr>
      <th><%= t(:product) %></th>
      <th><%= t(:qty) %></th>
      <th class="actions"></th>
    </tr>
  </thead>  
  <tbody>
    <% promotion_action.promotion_action_line_items.each do |item| %>
      <tr>
        <td>
          <%= item.variant.product.name %> <%= item.variant.options_text %>
        </td>
        <td class="align-center">
          <%= item.quantity %>
        </td>
        <td class="actions">
          <%= link_to_with_icon 'icon-trash', '', :class => "remove_promotion_line_item button no-text", :data => { :variant_id => item.variant_id, :action => 'remove' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% line_items = promotion_action.promotion_action_line_items %>
<% line_items.build %>

<% line_items.each_with_index do |line_item, index| %>
  <div class="add-line-item block-table">
      <div class="field table-cell">
        <% line_item_prefix = "#{param_prefix}[promotion_action_line_items_attributes][#{index}]" %>

        <%= hidden_field_tag "#{line_item_prefix}[variant_id]", line_item.variant_id, :class => "variant_autocomplete" %>
      </div>
      <div class="field table-cell">
        <%= number_field_tag "#{line_item_prefix}[quantity]", line_item.quantity, :size => 4, :min => 1 %>
        <div class='options_placeholder'></div>
      </div>
      <div class="field table-cell">
        <button class="icon-plus add small"><%= t(:add) %></button>
      </div>
      <script>
        $("input[name='<%= "#{line_item_prefix}[variant_id]" %>']").variantPicker();
      </script>
  </div>
<% end %>
