<% form_tag do -%>
<p><label for="email"><%= :email.l("Email") %></label><br/>
<%= text_field_tag 'email' %></p>

<p><label for="password"><%= :password.l("Password") %></label><br/>
<%= password_field_tag 'password' %></p>

<p>
  <%= check_box_tag 'remember_me' %>
  <label for="remember_me"><%= :remember_me.l("Remember me") %></label>
</p>

<p><%= submit_tag :log_in.l("Log In") %> or <%= link_to "Create a new account", signup_path %> </p>
<% end -%>
