<% form_tag do -%>
<p><label for="login"><%= :login.l %></label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password"><%= :password.l %></label><br/>
<%= password_field_tag 'password' %></p>

<p>
  <%= check_box_tag 'remember_me' %>
  <label for="remember_me"><%= :remember_me.l("Remember me") %></label>
</p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>
