<%= error_messages_for :user %>
<% form_for :user do |f| -%>
<p><label for="login"><%= :login_name.l("Login") %></label><br/>
<%= f.text_field :login %></p>

<p><label for="email"><%= :email.l("Email") %></label><br/>
<%= f.text_field :email %></p>

<p><label for="password"><%= :password.l("Password") %></label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation"><%= :confirm_password.l("Password Confirmation") %></label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag :sign_up.l("Sign up") %></p>
<% end -%>
