<% content_for :page_title do %>
  <%= Spree.t(:properties) %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_property_link">
    <%= button_link_to Spree.t(:new_property), new_admin_property_url, { :remote => true, :icon => 'icon-plus', 'data-update' => 'new_property', :id => 'new_property_link' } %>
  </li>
<% end %>

<%= render 'spree/admin/shared/product_sub_menu' %>

<div id="new_property"></div>

<% if @properties.any? %>
<table class="index" id='listing_properties' data-hook>
  <colgroup>
    <col style="width: 40%">
    <col style="width: 45%">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <tr data-hook="listing_properties_header">
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:presentation) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr id="<%= spree_dom_id property %>" data-hook="listing_properties_row" class="<%= cycle('odd', 'even')%>">
        <td style="padding-left:1em"><%= property.name %></td>
        <td style="padding-left:1em"><%= property.presentation %></td>
        <td class="actions">
          <%= link_to_edit(property, :no_text => true) %>
          <%= link_to_delete(property, :no_text => true) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/property')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_property_path %>!
  </div>
<% end %>

