<tr id="spree_coupon_code_<%= coupon_code[0] %>">
  <td class="w-50">
    <div data-controller="clipboard">
      <code data-clipboard-target="source"><%= coupon_code[1].upcase %></code>
      <button type="button" class="btn btn-link p-1 ml-2 with-tip" data-action="clipboard#copy" title="<%= Spree.t('admin.copy_to_clipboard') %>">
        <%= icon('copy-check', class: 'mr-0 font-size-sm') %>
      </button>
    </div>
  </td>
  <td class="w-25 font-size-sm"><%= active_badge(coupon_code[2] == 'used') %></td>
  <td class="w-25 font-size-sm"><%= local_time(coupon_code[3]) %></td>
</tr>
