<tr data-controller="row-link" id="<%= dom_id(post) %>">
  <td>
    <%= link_to spree.edit_admin_post_path(post), class: 'text-decoration-none d-flex align-items-center font-bold text-dark gap-3', data: { row_link_target: :link, 'turbo-frame': '_top' } do %>
      <% if post.image.attached? && post.image.variable? %>
        <div class="admin-product-image-container">
          <%= spree_image_tag(post.image, width: 100, height: 65, class: 'img-fluid', loading: :lazy) %>
        </div>
      <% else %>
        <%= render 'spree/admin/shared/no_image', width: 100, height: 65 %>
      <% end %>
      <%= post.title %>
    <% end %>
  </td>

  <td class="cursor-pointer" data-action="click->row-link#openLink"><%= post.post_category_title || '-' %></td>
  <td class="cursor-pointer" data-action="click->row-link#openLink"><%= post.author_name %></td>
  <td class="cursor-pointer" data-action="click->row-link#openLink"><%= post.published_at.present? ? spree_date(post.published_at) : '-' %></td>

  <td class="actions">
    <%= link_to_edit(post, class: 'btn btn-light btn-sm', data: { 'turbo-frame': '_top' }) if can? :edit, post %>
  </td>
</tr>