<%= hook :admin_user_edit_form_header do %>
  <%= render 'shared/error_messages', :target => @user %>
  <h1><%= t("editing_user") %></h1>
<% end %>

<%= hook :admin_user_edit_form do %>
  <%= form_for(:user, :url => object_url, :html => { :method => :put }) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>

    <%= hook :admin_user_edit_form_buttons do %>
      <%= render :partial => "admin/shared/edit_resource_links" %>
    <% end %>
  <% end %>
<% end %>
