<% content_for :page_title do %>
  <%= page_header_back_button spree.admin_post_categories_path, @post_category %>
  <%= Spree.t(:new_post_category) %>
<% end %>

<%= form_for [:admin, @post_category] do |f| %>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @post_category } %>
      <%= render 'form', f: f %>
      <%= render 'spree/admin/shared/new_resource_links' %>
    </div>
  </div>
<% end %>
