<div class="card mb-6">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:general_settings) %>
    </h5>
  </div>

  <div class="card-body">
    <%= f.spree_text_field :name, required: true %>

    <%= f.spree_collection_select :country_ids, @countries, :id, :name,
          { label: Spree.t(:countries), required: true, autocomplete: true },
          { multiple: true } %>

    <%= f.spree_select :currency, currency_options(f.object.currency), { label: Spree.t(:currency), required: true, autocomplete: true } %>

    <%= f.spree_select :default_locale,
          options_from_collection_for_select(all_locales_options, :last, :first, f.object.default_locale || I18n.locale),
          { required: true, autocomplete: true } %>

    <%= f.spree_select :supported_locales,
          options_from_collection_for_select(all_locales_options, :last, :first, f.object.supported_locales&.split(',')),
          { multiple: true, autocomplete: true, hint: Spree.t('admin.markets.supported_locales_hint') } %>

    <hr class="my-6" />

    <%= f.spree_check_box :tax_inclusive %>
    <%= f.spree_check_box :default %>
  </div>
</div>
