<% content_for :page_title do %>
  <%= page_header_back_button spree.admin_users_path, @user %>
  <%= customer_full_name(@user) || @user.email %>
  <span class="text-base font-normal">
    <%= customer_location_flag(@user) %>
    <%= customer_location(@user) %>
  </span>
<% end %>

<% content_for(:page_actions_dropdown) do %>
  <% if can?(:create, Spree::GiftCard) %>
    <%= link_to_with_icon 'plus', Spree.t(:add_gift_card), spree.new_admin_user_gift_card_path(@user), class: 'text-left dropdown-item' %>
  <% end %>

  <% if can?(:create, Spree::StoreCredit) %>
    <%= link_to_with_icon 'plus', Spree.t(:add_store_credit), spree.new_admin_user_store_credit_path(@user), class: 'text-left dropdown-item' %>
  <% end %>
<% end %>

<div class="grid grid-cols-12 gap-6">
  <div class="col-span-12 lg:col-span-8 mb-6">
    <%= render 'spree/admin/users/lifetime_stats' %>
    <%= render 'spree/admin/users/last_order' %>

    <%= render 'spree/admin/users/tabs' %>
  </div>
  <div class="col-span-12 lg:col-span-4 flex flex-col gap-6">
    <%= render 'spree/admin/users/details' %>
    <%= render 'spree/admin/users/shipping' %>
    <%= render 'spree/admin/users/billing' %>
    <%= render 'spree/admin/shared/internal_note', notable: @user, form_url: spree.admin_user_path(@user) %>
  </div>
</div>

<style>
  .d-customer {
    display: none;
  }
</style>