<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => "Images"} %>

<table class="index">
	<tr>
	  <th><%= t("thumbnail") %></th>
    <% if @product.variants? %>
	    <th><%= Variant.human_name %></th>
	  <% end %>
	  <th><%= t("action") %></th>
	</tr>
	<% @product.variants.each do |variant| %>
    <% variant.images.each do |image| %>
      <tr id="<%= dom_id(image) %>">
        <td><%= link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:product)) %></td>
        <% if @product.variants? %>
          <td><%= variant.options_text %></td>
        <% end %>
        <td class="actions">
          <%= link_to_with_icon('edit', t("edit"), edit_admin_product_image_url(@product, image)) %>
          &nbsp;
          <%= link_to_delete image, {:url => admin_product_image_url(@product, image),  :caption => "Do you like JAM?" }%>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<div id="images"></div>
<br/>
<p>
    <%= link_to icon('add') + ' ' + t("new_image"), new_admin_product_image_url(@product), :id => "new_image_link" %>
</p>
<%= image_tag "spinner.gif", :plugin=>"spree", :style => "display:none", :id => 'progress' %>

<% content_for :head do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){  
      var show_progress = function(){
      	jQuery('#progress').show();
      }

      var hide_progress = function(){
      	jQuery('#progress').hide();
      }
      
      jQuery('#new_image_link').click(function (event) { 
        event.preventDefault();
        
        jQuery(this).hide();
        jQuery('#busy_indicator').show();
        
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#images').html(r);}        
    	  });
      });
    });
  </script>
<% end %>