<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product } %>

<%= form_for [:admin, @product], :html => { :multipart => true } do |f| %>
<fieldset data-hook="new_product">
  
  <%= f.field_container :name do %>
    <%= f.label :name, t(:name) %> <span class="required">*</span><br />
    <%= f.text_field :name, :class => 'fullwidth title' %>
    <%= f.error_message_on :name %>
  <% end %>

  <div class="clearfix" data-hook="new_product_attrs">
    <div class="left">

      <% unless @product.has_variants? %>
        <%= f.field_container :sku do %>
          <%= f.label :sku, t(:sku) %><br />
          <%= f.text_field :sku, :size => 16 %>
          <%= f.error_message_on :sku %>
        <% end %>
      <% end %>

      <%= f.field_container :prototype do %>
        <%= f.label :prototype_id, t(:prototype) %><br />
        <%= f.collection_select :prototype_id, Spree::Prototype.all, :id, :name, :include_blank => true %>
      <% end %>

    </div>
    <div class="right">

      <%= f.field_container :price do %>
        <%= f.label :price, t(:master_price) %> <span class="required">*</span><br />
        <%= f.text_field :price %>
        <%= f.error_message_on :price %>
      <% end %>

      <p>
        <%= f.label :available_on, t(:available_on) %><br />
        <%= f.error_message_on :available_on %>
        <%= f.text_field :available_on, :class => 'datepicker', :style => "width:150px" %>
      </p>


    </div>
  </div>
  
  <div class="clearfix" data-hook="product-from-prototype" id="product-from-prototype">
    <%= render :file => 'spree/admin/prototypes/show' if @prototype %>
  </div>

  <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  
</fieldset>
<% end %>

<script type="text/javascript">
//<![CDATA[
  (function($){
    var base_url = "<%= admin_prototypes_url %>";
    var prototype_select = $('#product_prototype_id');    
    prototype_select.change(function() {
      var id = prototype_select.val();
      if (id.length) {
        $('#product-from-prototype').load([ base_url, id ].join("/"));
      } else {
        $('#product-from-prototype').empty();
      }
    })
    if (prototype_select.html() == "") {
      prototype_select.change();
    }
  })(jQuery);
//]]>
</script>
