<p class="field products_rule_products_source_field">
  <label><%= radio_button_tag "#{param_prefix}[products_source]", :manual, promotion_rule.product_group.nil? %> <%= t "product_rule.product_source.manual" %></label> &nbsp;
  <label><%= radio_button_tag "#{param_prefix}[products_source]", :group, promotion_rule.product_group.present? %> <%= t('product_rule.product_source.group') %></label>
</p>
<p class="field products_rule_product_group">
  <label><%= t(:product_group) %><br />
    <%= select_tag "#{param_prefix}[product_group_id]", options_from_collection_for_select(Spree::ProductGroup.all, :id, :name, promotion_rule.product_group_id) %></label>
</p>
<p class="field products_rule_products">
  <label>
    <%= t('product_rule.choose_products') %><br />
    <%= product_picker_field "#{param_prefix}[product_ids_string]", promotion_rule.product_ids_string %>
  </label>
</p>
<p>
  <label>
    <%= t('product_rule.label', :select => select_tag("#{param_prefix}[preferred_match_policy]", options_for_select(Spree::Promotion::Rules::Product::MATCH_POLICIES.map{|s| [t("product_rule.match_#{s}"),s] }, promotion_rule.preferred_match_policy))).html_safe %>
  </label>
</p>
