<div class="field alpha omega eight columns">
  <label><%= t('user_rule.choose_users') %></label>
  <% user_names_hash = promotion_rule.users.inject({}){|memo,item| memo[item.id] = item.email; memo} %>
	<% user_rules = promotion_rule.users.collect { |u| { :id => u.id, :name => u.email } } %>
  <input type="text" name="<%= param_prefix %>[user_ids_string]" value="<%= promotion_rule.user_ids_string %>" class="tokeninput users fullwidth" data-names='<%= user_names_hash.to_json %>' data-pre='<%= user_rules.to_json %>'/>
</div>
