<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_shipment"), new_object_url, :icon => 'add'  %>
    </li>
  </ul>
  <br class='clear' />
</div>
<%= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Shipments"} %>
<table class="index">
  <tr>
    <%= hook :admin_shipments_index_headers do %>
      <th><%= t("shipment_number") %></th>
      <th><%= t("shipping_method") %></th>
      <th><%= t("shipping_cost") %></th>
      <th><%= t("tracking") %></th>
      <th><%= t("status") %></th>
      <th><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
    <% end %>
    <th>
      <%= hook :admin_shipments_index_header_actions %>
    </th>
  </tr>
  <% @shipments.each do |shipment| %>
    <tr id="<%= dom_id shipment %>">
      <%- locals = {:shipment => shipment} %>
      <%= hook :admin_shipments_index_rows, locals do %>
        <td><%= shipment.number %></td>
        <td><%= shipment.shipping_method.name if shipment.shipping_method %></td>
        <td><%= number_to_currency shipment.cost %></td>
        <td><%= shipment.tracking %></td>
        <td><%= t(shipment.state.to_sym, :scope => :state_names, :default => shipment.state.to_s.humanize) %></td>
        <td><%= shipment.shipped_at.to_s(:date_time24) if shipment.shipped_at %></td>
      <% end %>
      <td class="actions">
        <%= hook :admin_shipments_index_row_actions, locals do %>
          <%= link_to_with_icon 'edit', t('edit'), edit_admin_order_shipment_url(@order, shipment) %>
          <%= link_to_delete shipment, :url => admin_order_shipment_url(@order, shipment) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= button_link_to t('continue'), admin_orders_url %>
