<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label for="reports-time-period"><%= Spree.t(:time_period) %>:</label>
      <div class="input-group mb-3 js-filter" data-id="reports-time-period">
        <div class="input-group-prepend">
          <label class="input-group-text" data-action="prev">
            <i class="icon icon-chevron-left"></i>
          </label>
        </div>
        <%= select_tag "reports-time-period",
          options_for_select(
            [[ "Today", "today" ],
            [ "Yesterday", "yesterday" ],
            [ "This Week", "this_week" ],
            [ "Last Week", "last_week" ],
            [ "This Month", "this_month" ],
            [ "Last Month", "last_month" ],
            [ "This Year", "this_year" ],
            [ "Last Year", "last_year" ],
            [ "Custom", "custom" ]],
            params[:period]
          ),
          class: 'custom-select js-filter-node',
          data: { param: 'period' }
        %>
        <div class="input-group-append">
          <label class="input-group-text" data-action="next">
            <i class="icon icon-chevron-right"></i>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="form-group">
      <label for="reports-group-by"><%= Spree.t(:group_by) %>:</label>
      <div class="input-group mb-3 js-filter" data-id="reports-group-by">
        <div class="input-group-prepend">
          <label class="input-group-text" data-action="prev">
            <i class="icon icon-chevron-left"></i>
          </label>
        </div>
        <%= select_tag "reports-group-by",
          options_for_select(
            [[ "Day", "day" ],
            [ "Month", "month" ],
            [ "Year", "year" ]],
            params[:group_by] || 'day'
          ),
          class: 'custom-select js-filter-node',
          data: { param: 'group_by' }
        %>
        <div class="input-group-append">
          <label class="input-group-text" data-action="next">
            <i class="icon icon-chevron-right"></i>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="form-group">
      <label for="reports-completed-at-min"><%= Spree.t(:completed_at_min) %>:</label>
        <div class="input-group mb-3 js-filter" data-id="reports-time-period">
          <input type="text"
            value="<%= params[:completed_at_min] %>"
            class="form-control js-filter-node datepicker datepicker-from"
            id="reports-completed-at-min"
            name="reports-completed-at-min"
            data-param="completed_at_min" />
          <div class="input-group-append">
            <label class="input-group-text">
              <i class="icon icon-calendar"></i>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="form-group">
        <label for="reports-completed-at-max"><%= Spree.t(:completed_at_max) %>:</label>
          <div class="input-group mb-3 js-filter" data-id="reports-time-period">
            <input type="text"
              value="<%= params[:completed_at_max] %>"
              class="form-control js-filter-node datepicker datepicker-from"
              id="reports-completed-at-max"
              name="reports-completed-at-max"
              data-param="completed_at_max" />
            <div class="input-group-append">
              <label class="input-group-text">
                <i class="icon icon-calendar"></i>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
