<% content_for :page_title do %>
  <%= link_to Spree.t(:reports), spree.admin_reports_url %> /
  <%= Spree.t(:sales_totals) %>
<% end %>

<div class="well">
  <%= render :partial => 'spree/admin/shared/report_order_criteria' %>
</div>

<table class="table table-bordered admin-report" data-hook="sales_total">
  <thead>
    <tr>
      <th><%= Spree.t(:currency) %></th>
      <th><%= Spree.t(:item_total) %></th>
      <th><%= Spree.t(:adjustment_total) %></th>
      <th><%= Spree.t(:sales_total) %></th>
    </tr>
  </thead>
  <tbody>
    <% @totals.each do |key, row| %>
      <tr>
        <td><%= key %></td>
        <td><%= row[:item_total].format %></td>
        <td><%= row[:adjustment_total].format %></td>
        <td><%= row[:sales_total].format %></td>
      </tr>
    <% end %>
  </tbody>
</table>
