<% content_for :page_title do %>
  <%= Spree.t(:sales_totals) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
<% end %>


<% content_for :table_filter_title do %>
  <%= Spree.t(:date_range) %>
<% end %>

<% content_for :table_filter do %>
  <%= render :partial => 'spree/admin/shared/report_criteria', :locals => {} %>
<% end %>

<table class="admin-report" data-hook="sales_total">
  <thead>
    <tr>
      <th><%= Spree.t(:currency) %></th>
      <th><%= Spree.t(:item_total) %></th>
      <th><%= Spree.t(:adjustment_total) %></th>
      <th><%= Spree.t(:sales_total) %></th>
    </tr>
  </thead>
  <tbody>
    <% @totals.each do |key, row| %>
      <tr class="align-center">
        <td><%= key %></td>
        <td><%= row[:item_total].format %></td>
        <td><%= row[:adjustment_total].format %></td>
        <td><%= row[:sales_total].format %></td>
      </tr>
    <% end %>
  </tbody>
</table>
