<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  <head data-hook="admin_inside_head">
    <%= render :partial => 'spree/admin/shared/head' %>
  </head>
  
  <body class='admin' data-ajax-root-path="<%= spree.root_path %>">
    <div id='wrapper' data-hook>

      <% if flash[:error] %>
        <div class="flash error"><%= flash[:error] %></div>
      <% end %>
      <% if notice %>
        <div class="flash notice"><%= notice %></div>
      <% end %>
      <% if flash[:success] %>
        <div class="flash success"><%= flash[:success] %></div>
      <% end %>

      <div id="progress">
        <div class="wrapper">
          <div id="spinner"></div>
          <div class="progress-message"><%= t(:loading) %>...</div>
        </div>
      </div>

      <%= render :partial => 'spree/admin/shared/alert', :collection => session[:alerts] %>

      <header id="header" data-hook>

        <div class="container">
          <figure data-hook="logo-wrapper" class="columns eight">
            <%= link_to image_tag(Spree::Config[:admin_interface_logo], :id => 'logo'), spree.admin_path %>
          </figure>

          <nav data-hook="admin_login_navigation_bar" class="columns eight"></nav>
        </div>
        
      </header>

      <nav id="admin-menu" data-hook>
        <div class="container">
          <div class="sixteen columns main-menu-wrapper">
            <ul data-hook="admin_tabs" class="inline-menu fullwidth-menu">
              <%= render :partial => 'spree/admin/shared/tabs' %>
            </ul>
          </div>
        </div>
      </nav>

      <% if content_for?(:sub_menu) %>
        <nav id="sub-menu" data-hook>
          <div class="container">
            
              <div class="sixteen columns">
                <%= yield :sub_menu %>
              </div>
            
          </div>
        </nav>
      <% end %>

      <% if content_for?(:page_title) || content_for?(:page_actions) %>
        <div id="content-header" data-hook>
          <div class="container">
            
              <div class="sixteen columns">
                <div class="block-table">
                  <% if content_for?(:page_title) %>
                    <div class="table-cell">
                      <h1 class="page-title <%= yield :page_title_classes %>"><%= yield :page_title %></h1>
                    </div>
                  <% end %>
                  <% if content_for?(:page_actions) %>
                    <div class="page-actions table-cell toolbar" data-hook="toolbar">
                      <ul class="inline-menu">
                        <%= yield :page_actions %>
                      </ul>
                    </div>
                  <% end %>
                </div>
              </div>
            
          </div>
        </div>
      <% end %>

      <div class="container">
        <div class="row">
          <div class="<%= 'with-sidebar ' if content_for?(:sidebar) %>" id="content" data-hook>
            
            <% if content_for?(:table_filter) %>
              <div id="table-filter" data-hook class="<%= if content_for?(:sidebar) then 'twelve' else 'sixteen' end %> columns">
                <fieldset>
                  <legend><%= yield :table_filter_title %></legend>
                  <%= yield :table_filter %>
                </fieldset>
              </div>
            <% end %>

            <div class="<%= if content_for?(:sidebar) then 'twelve' else 'sixteen' end %> columns">
              <%= yield %>
            </div>


            <% if content_for?(:sidebar) %>
              <aside id="sidebar" data-hook class="four columns">

                <% if content_for?(:sidebar_title) %>
                  <h5 class="sidebar-title"><span><%= yield :sidebar_title %></span></h5>
                <% end %>

                <%= yield :sidebar %>
              </aside>
            <% end %>

          </div>
        </div>

        <!-- <div class="row">
          <div id="footer" data-hook>
            <div class="copyright align-center">
              Powered by <%= link_to "Spree Commerce", "http://spreecommerce.com", :target => "_blank"%>
            </div>
            <div class="footer-content">
              <%= yield :footer %>
            </div>
          </div>
        </div> -->

      </div>

    </div>

    <div data-hook="admin_footer_scripts"></div>


  <script>
    $(document).ready(function(){
      $("[data-hook='admin_tabs']").flexMenu();
    })
  </script>
  </body>
</html>
