<table>
  <tr>
    <td><%= t("email") %>: </td>
    <td>
      <%= error_message_on :user, :email%>
      <%= f.text_field :email  %>
    </td>
  </tr>
  <tr>
    <td><%= t("roles") %>: </td>
    <td> 
      <table>
        <tr>    
          <% for role in @roles %>
            <td><%= check_box_tag 'user[role_' + role.name + ']', 1, @user.has_role?(role.name) %></td>
            <td valign="top"><%= role.name %> &nbsp;</td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><%= t("password") %>:</td>
    <td>
      <%= error_message_on :user, :password%>
      <%= f.password_field :password  %>
    </td>
  </tr>
  <tr>
    <td><%= t("confirm") %>:</td>
    <td>
      <%= f.password_field :password_confirmation %>
    </td>
  </tr>
  <%= render_extra_partials f %>      
</table>