<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_user"), new_object_url, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>


<h1><%= t("listing_users") %></h1>


<table class="index">
  <thead>
    <th><%= order @search, :by => :email, :as => t("user") %></th>
    <th><%= t("action") %></th>
  </thead>
  <tbody>
    <%- @collection.each do |user|%>
    <tr id="<%= dom_id user %>">
      <td width="350px"><%=link_to user.email, object_url(user) %></td>
      <td>
      	<%= link_to_edit user %> &nbsp;
      	<%= link_to_delete user %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(:prev => "&#171; #{t('previous')}", :next => "#{t('next')} &#187;") %>


<% content_for :sidebar do %>

  <% form_for @search do |f| %>
    <div class="box">
      <h3><%= t(:search) %></h3>
      <p>
        <%= t("email") %><br />
        <%= f.text_field :email_contains, :size=>18 %>
      </p>
      <p><%= button t("search") %></p>
    </div>
  <% end %>

<% end %>
