<h1><%= :listing_users.l("Listing Users") %></h1>

<table class="admin-report">
  <thead>
    <th><%= :user.l("User") %></th>
    <th><%= :action.l("Action") %></th>
  </thead>
  <tbody>
    <%- @users.each do |user|%>
    <tr>
      <td width="350px"><%=link_to user.email, object_url(user) %></td>
      <td>
	<%=link_to :edit.l('Edit'), edit_object_url(user) %> |
	<%=link_to :destroy.l('Destroy'), object_url(user), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br/>

<%= link_to :new_user.l('New User'), new_object_url %>
