<h1><%= t("Listing Users") %></h1>

<table class="admin-report">
  <thead>
    <th><%= t("User") %></th>
    <th><%= t("Action") %></th>
  </thead>
  <tbody>
    <%- @users.each do |user|%>
    <tr>
      <td width="350px"><%=link_to user.email, object_url(user) %></td>
      <td>
	<%=link_to t('Edit'), edit_object_url(user) %> |
	<%=link_to t('Destroy'), object_url(user), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br/>

<%= link_to t('New User'), new_object_url %>
