<h1><%= t("User Account") %></h1>        
<br/>
<table>
  <tr>
    <td><%= t("Email") %>: &nbsp;</td>
    <td>
      <%= @user.email %>
    </td>
  </tr>  
  <tr>
    <td><%= t("Roles") %>: &nbsp;</td>
    <td>
      <%= list_roles(@user) %>
    </td>
  </tr>
</table>
<br/>
<%= link_to t('Edit'), edit_object_url %>
