<h1><%= t("user_account") %></h1>        
<br/>
<table>
  <tr>
    <td><%= t("email") %>: &nbsp;</td>
    <td>
      <%= @user.email %>
    </td>
  </tr>  
  <tr>
    <td><%= t("roles") %>: &nbsp;</td>
    <td>
      <%= list_roles(@user) %>
    </td>
  </tr>
</table>
<br/>
<%= link_to t('edit'), edit_object_url %>
