<% content_for :page_title do %>
  <%= t(:properties) %>
<% end %>

<% content_for :page_actions do %>
  <ul class="actions header-action-links inline-menu" data-hook="toolbar">
    <li id="new_property_link">
      <%= button_link_to t(:new_property), new_admin_property_url, { :remote => true, :icon => 'icon-plus', 'data-update' => 'new_property', :id => 'new_property_link' } %>
    </li>
  </ul>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<div id="new_property"></div>

<table class="index" id='listing_properties' data-hook>
  <colgroup>
    <col style="width: 45%">
    <col style="width: 45%">
    <col style="width: 10%">
  </colgroup>
  <thead>
    <tr data-hook="listing_properties_header">
      <th><%= t(:name) %></th>
      <th><%= t(:presentation) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr id="<%= spree_dom_id property %>" data-hook="listing_properties_row" class="<%= cycle('odd', 'even')%>">
        <td><%= property.name %></td>
        <td><%= property.presentation %></td>
        <td class="actions">
          <%= link_to_edit(property, :no_text => true) %>
          <%= link_to_delete(property, :no_text => true) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

