<h1><%= accurate_title %></h1>

<div data-hook="account_summary">
  <dl id="user-info">
    <dt><%= t(:email) %></dt>
    <dd><%= @user.email %></dd>
  </dl>
  <p><%= link_to t(:edit), spree_auth.edit_account_path %></p>
</div>

<div data-hook="account_my_orders">

  <h2><%= t(:my_orders) %></h2>
  <% if @orders.present? %>
    <table class="order-summary" style="width:545px;">
      <thead>
        <tr>
          <th><%= t(:order_number) %></th>
          <th><%= t(:order_date) %></th>
          <th><%= t(:status) %></th>
          <th><%= t(:payment_state) %></th>
          <th><%= t(:shipment_state) %></th>
          <th><%= t(:total) %></th>
        </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= link_to order.number, order_url(order) %></td>
          <td><%= l order.created_at.to_date %></td>
          <td><%= t(order.state).titleize %></td>
          <td><%= t("payment_states.#{order.payment_state}") if order.payment_state %></td>
          <td><%= t("shipment_states.#{order.shipment_state}") if order.shipment_state %></td>
          <td><%= number_to_currency order.total %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= t(:you_have_no_orders_yet) %></p>
  <% end %>
  <br />

</div>
