<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
<table id="cart-detail" data-hook>
  <thead>
    <tr data-hook="cart_items_headers">
      <th class="cart-item-description-header" colspan="2"><%= Spree.t(:item) %></th>
      <th class="cart-item-price-header"><%= Spree.t(:price) %></th>
      <th class="cart-item-quantity-header"><%= Spree.t(:qty) %></th>
      <th class="cart-item-total-header"><%= Spree.t(:total) %></th>
      <th class="cart-item-delete-header"></th>
    </tr>
  </thead>
  <tbody id="line_items" data-hook>
    <%= render partial: 'line_item', collection: order_form.object.line_items, locals: {order_form: order_form} %>
  </tbody>
  <%= render "spree/orders/adjustments" unless @order.adjustments.eligible.blank? %>
</table>
