<% @body_id = 'cart' %>

<% if @variant %>
  <%= render partial: 'spree/shared/trackers/segment/product_added.js',
              formats: :js,
              locals: { product: @variant.product, order: @order } %>
<% end %>
<%= render partial: 'spree/shared/trackers/segment/cart_viewed.js',
            formats: :js,
            locals: { order: @order } %>
<div data-hook="cart_container">
  <h1><%= Spree.t(:shopping_cart) %></h1>

  <% if @order.line_items.empty? %>
    <div data-hook="empty_cart">
      <div class="alert alert-info"><%= Spree.t(:your_cart_is_empty) %></div>
      <p><%= link_to Spree.t(:continue_shopping), products_path, class: 'btn btn-default' %></p>
    </div>
  <% else %>
    <div data-hook="outside_cart_form">
      <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
        <div data-hook="inside_cart_form">

          <div data-hook="cart_items" class="table-responsive">
            <%= render partial: 'form', locals: { order_form: order_form } %>
          </div>

          <div class="links col-md-3 navbar-form pull-right text-right" data-hook="cart_buttons">
            <div class="form-group">
              <%= button_tag class: 'btn btn-primary', id: 'update-button' do %>
                <%= Spree.t(:update) %>
              <% end %>
              <%= button_tag class: 'btn btn-lg btn-success', id: 'checkout-link', name: 'checkout' do %>
                <%= Spree.t(:checkout) %>
              <% end %>
            </div>
          </div>

          <% if Spree::Frontend::Config[:coupon_codes_enabled] %>
            <div class='col-md-6 form-inline pull-right' data-hook='coupon_code'>
              <label>
                <%= order_form.label :coupon_code %>
                <%= order_form.text_field :coupon_code, size: '30', class: 'form-control' %>
                <%= button_tag Spree.t(:coupon_code_apply), class: 'btn btn-default' %>
              </label>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="empty-cart" class="col-md-3 pull-left" data-hook>
      <%= form_tag empty_cart_path, method: :put do %>
        <p id="clear_cart_link" data-hook>
          <%= submit_tag Spree.t(:empty_cart), class: 'btn btn-default' %>
          <%= Spree.t(:or) %>
          <%= link_to Spree.t(:continue_shopping), products_path, class: 'continue' %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>
