<div class="field">
  <label for='first_name'>{{i18n 'address.first_name'}}</label>
  {{input value=firstname class='fullwidth'}}
</div>

<div class="field">
  <label for='last_name'>{{i18n 'address.last_name'}}</label>
  {{input value=lastname class='fullwidth'}}
</div>

<div class="field">
  <label for='address1'>{{i18n 'address.address1'}}</label>
  {{input value=address1 class='fullwidth'}}
</div>

<div class="field">
  <label for='address2'>{{i18n 'address.address2'}}</label>
  {{input value=address2 class='fullwidth'}}
</div>

<div class="field">
  <label for='city'>{{i18n 'address.city'}}</label>
  {{input value=city class='fullwidth'}}
</div>

<div class="field">
  <label for='country'>{{i18n 'address.country'}}</label>
  {{input value=country_id class='country_select'}}
</div>

<div class="field">
  <label for='state'>{{i18n 'address.state'}}</label>
  {{input value=state_id class='state_select'}}
</div>

<div class="field">
  <label for='phone'>{{i18n 'address.phone'}}</label>
  {{input value=phone class='fullwidth'}}
</div>