<%= render "shared/error_messages", :target => @user %>

<h1><%= t("editing_user") %></h1>

<%= form_for(:user, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render 'shared/user_form', :f => f %>
  <p>
    <%=submit_tag t("update") %>
  </p>
<% end %>

