<%= render 'shared/error_messages', :target => @user %>

<h1><%= t(:editing_user) %></h1>

<%= form_for @user, :html => { :method => :put } do |f| %>
  <%= render 'shared/user_form', :f => f %>
  <p>
    <%= f.submit t(:update) %>
  </p>
<% end %>

