<% content_for :page_title do %>
  <%= Spree.t(:editing_resource, resource: Spree::PaymentMethod.model_name.human) %> / <%= @payment_method.name %>
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @payment_method } %>

<%= form_for @payment_method, :url => admin_payment_method_path(@payment_method) do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div data-hook="buttons" class="actions">
      <%= button Spree.t('actions.update'), 'save' %>
    </div>
  </fieldset>
<% end %>
