<% content_for :page_title do %>
  <%= Spree.t(:editing_payment_method) %> <span class="icon icon-arrow-right"></span> <%= @payment_method.name %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_payment_methods_list), spree.admin_payment_methods_path, :icon => 'arrow-left' %>
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @payment_method } %>

<%= form_for @payment_method, :url => admin_payment_method_path(@payment_method) do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div data-hook="buttons" class="actions">
      <%= button Spree.t('actions.update'), 'refresh' %>
    </div>
  </fieldset>
<% end %>
