<% content_for :page_title do %>
  <%= Spree.t(:new_payment_method) %>
<% end %>

<% content_for :page_actions do %>
  <%= back_to_list_button(Spree::PaymentMethod.model_name.human, admin_payment_methods_path) %>
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @payment_method } %>

<%= form_for @payment_method, :url => collection_url do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div data-hook="admin_shipping_method_new_form_buttons">
      <%= render partial: 'spree/admin/shared/new_resource_links' %>
    </div>
  </fieldset>
<% end %>
