<footer id="footer" class="fixed bottom-0 left-0 w-full border-t border-gray-200 px-6 py-4 bg-gray-25 flex items-center justify-between gap-4 z-[1000]">
  <div class="grow flex flex-col">
    <% if import.mapping_done? %>
      <p class="mb-3 text-green-700">
        <%= icon('check') %>
        <%= Spree.t('admin.imports.all_required_columns_mapped') %>
      </p>
    <% else %>
      <p>
        <%= Spree.t('admin.imports.please_map_all_required_fields') %>
      </p>
    <% end %>
    <%= progress_bar_component(import.mapped_fields.count, min: 0, max: import.required_fields.count) %>
  </div>

  <span <% unless import.mapping_done? %>data-controller="tooltip"<% end %>>
    <%= button_to Spree.t('actions.continue'), spree.complete_mapping_admin_import_path(import), method: :put, class: 'btn btn-primary btn-lg', disabled: !import.mapping_done? %>
    <%= tooltip(Spree.t('admin.imports.please_map_all_required_fields')) unless import.mapping_done? %>
  </span>
</footer>