<% content_for(:title, Spree.t(:forgot_password)) %>

<h1 class="mb-4 font-light"><%= Spree.t(:forgot_password) %></h1>
<%= form_for(resource, as: resource_name, url: password_path(:admin_user), data: { turbo_frame: :_top }) do |f| %>
  <div class="form-group mb-4">
    <%= f.label :email, Spree.t(:email), required: true, class: 'form-label' %>
    <%= f.email_field :email, required: true, class: 'form-control form-control-lg', placeholder: 'steve@apple.com', data: { enable_button_target: :input }, autocomplete: :email, autofocus: true %>
  </div>
  <%= render 'spree/admin/shared/devise/links', f: f %>
  <%= turbo_save_button_tag Spree.t(:reset_password), class: 'btn btn-primary btn-lg w-full' %>
<% end %>

