<% form_for :order, :url => orders_url do |f| %>

  <% if product_price(@product) %>
  <p class="prices">
    <%= t("price") %>
    <br />
    <span class="price selling"><%= product_price(@product) %></span>
  </p>
  <% end %>

  <% if @product.variants? %>
  <div id="product-variants">
    <h2><%= t('variants') %></h2>
    <ul>
      <%  has_checked = false
          @product.variants.active.each_with_index do |v,index|
         		next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
         		checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
         		has_checked = true if checked %>
        <li>
          <label>
            <%= radio_button_tag "products[#{@product.id}]", v.id, checked, :disabled => !v.in_stock && !Spree::Config[:allow_backorders] %>
            <%= variant_options v %>
            <% if variant_price_diff v %>
              <span class="price diff"><%= variant_price_diff v %></span>
            <% end %>
          </label>
        </li>
        
        <% content_for :head do %>
          <script type="text/javascript">
            jQuery(document).ready(function(){  

              jQuery("#products_<%= @product.id %>_<%= v.id %>").click(function (event) { 
                  jQuery("#variant-thumbnails").empty();
                  
                  jQuery("#variant-images").html('<%= t('images_for') %>: <%= v.options_text %>')
                  
                  if(images[<%= v.id %>].length > 0){
                    <% v.images.each do |i| %>
                       jQuery("#variant-thumbnails").append('<li><%= link_to(image_tag(i.attachment.url(:mini)), i.attachment.url(:product)) %></li>');
                    <% end %>
                    
                    jQuery("#variant-images").show();
                  }else{
                    jQuery("#variant-images").hide();
                  }
                  
                  add_image_handlers();
                  
                  var link = jQuery("#variant-thumbnails a")[0];
  
                  jQuery("#main-image img").attr({src: jQuery(link).attr('href')});  
                  jQuery('ul.thumbnails li').removeClass('selected');
                  jQuery(link).parent('li').addClass('selected');
               });

            });
          </script>
        <% end %>
      <% end%>
    </ul>
  </div>
  <% end%>						
  <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
      <%= text_field_tag (@product.variants? ? :quantity : "variants[#{@product.variant.id}]"), 
                     1, :class => "title", :size => 3 %>
      &nbsp;
      <button type='submit' class='large primary'>
        <%= image_tag('/images/add-to-cart.png') + t('add_to_cart') %>
      </button>
  <% else %>
      <%= content_tag('strong', t('out_of_stock')) %>
  <% end %>
<% end %>


