<div id="product-listing">
  <h3><%= t("Products") %></h3>
  <ul class="product-listing">
    <% for product in @products %>
    <li class="product preview" id="product_<%= product.id %>">
      <%= link_to small_image(product), product %>
      <%= link_to product.name, product %>
      <b><%= "$ #{number_to_currency(product.master_price)}" if product.master_price %></b>
    </li>
    <% end %>
  </ul>
</div>
<%= render :partial => 'shared/paginate', :locals => {:collection => @products, :options => {}} unless @products.empty? -%>