<div id="product-listing">
  <h3><%= t("Products") %>: <%= @taxon.name if @taxon %></h3>
  <ul class="product-listing">
    <% for product in @products %>
      <% if Spree::Config[:allow_backorders] || product.has_stock? %>
        <li class="product preview" id="product_<%= product.id %>">
          <%= link_to small_image(product), product %>
          <%= link_to product.name, product %>
          <b><%= product_price(product) %></b>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<%= render :partial => 'shared/paginate', :locals => {:collection => @products, :options => {}} unless @products.empty? -%>
