<table>
  <tr>
    <td valign="top">
      <div id="product-image">
				<%= render :partial => 'image' -%>
      </div>
      <div id="product-thumbnails">
        <%= render :partial => 'thumbnails', :locals => {:product => @product} -%>
      </div>
    </td>
    <td valign="top">
      <% form_for :order, :url => orders_url do |f| %>
	      <table>
          <% if @taxon %>
            <tr><td><%= breadcrumbs(@taxon) %><br/></td></tr>
          <%end %>
					<tr>
					  <td class="product-name"><%= @product.name %></td>
					</tr>
					<tr>
					  <td class="product-description"><%= product_description(@product) %></td>
					</tr>
					<tr>
					  <td>
					    <%="<span class='product-price'>#{t("price")}: </span> #{product_price(@product)}" if product_price(@product) %>
					  </td>
					</tr>
					<% if @product.variants? %>
						<tr>
						  <td class="product-variants"><%= t('variants') %>:</td>
						</tr>
						<tr>
						  <td>
						    <div id="variants">
						      <ul>
										<% @product.variants.active.each_with_index do |v,index| %>
											<% next if v.option_values.empty? %>
											<li> 
                        <input type="radio" name="quantities[<%= @product.id %>]" value="<%= "#{v.id}=1" %>" <%= index == 1 ? 'checked="checked"' : '' %> <%= 'disabled' unless v.in_stock or Spree::Config[:show_zero_stock_products]  %> />
											  <%= variant_options v %>
											  <% if variant_price_diff v %>
											  	<span class="price-diff"><%= variant_price_diff v %></span>
											  <% end %>
											</li>
										<% end%>
						      </ul>
						    </div>
						  </td>
						</tr>
					<% else %>
	  				<tr><td><input type="hidden" name="quantities[<%= @product.id %>]" value="<%= "#{@product.variants.first.id}=1" %>"/></td></tr>
					<% end%>						
					<tr>
					  <td>
              <%=
                if @product.has_stock? || Spree::Config[:allow_backorders]
                  submit_tag t('add_to_cart')
                else
                  content_tag('strong', t('out_of_stock'))
                end
            %>
					  </td>
					</tr>
				</table>
			<% end %>
		</td>
	</tr>
</table>

