<tr>
  <td class="purchase_image">
    <% image = line_item.variant.default_image %>
    <% if image.present? && image.attached? %>
      <%= link_to(spree_image_tag(image, variant: :mini, alt: line_item.name), spree_storefront_resource_url(line_item.product)) %>
    <% else %>
      <%= link_to(image_tag('noimage/small.png', alt: line_item.name), spree_storefront_resource_url(line_item.product)) %>
    <% end %>
  </td>
  <td class="purchase_item">
    <strong>
      <span class="f-fallback">
        <%= link_to raw(line_item.name), spree_storefront_resource_url(line_item.product) %>
      </span>
    </strong>
    <p class="purchase_item--additional"><%= line_item.variant.options_text -%></p>
  </td>
  <td class="align-right" width="30%">
    <span class="f-fallback purchase_item_price">
      <%= line_item.quantity %> x <%= line_item.single_money %><br>
      <%= line_item.display_amount %>
    </span>
  </td>
</tr>
