<%= render :partial => 'shared/product_sub_menu' %>
<h1><%= t("Properties") %></h1>
<table class="basic-table">
	<thead>
		<tr>
			<th><%= t("Name") %></th>
			<th><%= t("Presentation") %></th>
			<th><%= t("Action") %></th>
		</tr>
	</thead>
	<tbody>
    <% @properties.each do |property| %>
      <tr>
        <td valign="top"><%= property.name %></td>
        <td valign="top"><%= property.presentation %></td>
		    <td valign="top">
		      <%= link_to_edit(property) %>
		      &nbsp;
		      <%= link_to_delete(property) %>
		    </td>        
      </tr>
    <% end %>
  </tbody>
</table>

<div id="properties"/>
<%= image_tag "spinner.gif", :plugin=>"spree", :style => "display:none", :id => 'busy_indicator' %>
<br/>
<span id="new_prop_link">
  <%= link_to_remote t("New Property"), 
                     :url => new_admin_property_url, 
                     :method => :get,
                     :update => "properties",
                     :before => "Element.hide('new_prop_link');Element.show('busy_indicator')", 
                     :complete => "Element.hide('busy_indicator')" %>
</span>