<div id="source-movements-table" class="twelve columns alpha">
<table class="table table-condensed table-bordered sortable">
  <colgroup>
    <col style="width: 40%" />
    <col style="width: 30%" />
    <col style="width: 10%" />
    <col style="width: 20%" />
  </colgroup>
  <thead data-hook="bulk_variants_header">
    <tr>
      <th><%= Spree.t('variant') %></th>
      <th><%= Spree.t('sku') %></th>
      <th><%= Spree.t('quantity') %></th>
      <th><%= Spree.t('count_on_hand') %></th>
    </tr>
  </thead>
  <tbody id="bulk_variants_tbody">
    <% stock_movements.each do |movement| %>
    <tr>
      <td><%= movement.stock_item.variant.name %></td>
      <td class='align-center'><%= movement.stock_item.variant.sku %></td>
      <td class='align-center'><%= movement.quantity %></td>
      <td class='align-center'><%= movement.stock_item.count_on_hand %></td>
      <% end %>
    </tbody>
  </table>
</div>
