<div id="source-movements-table" class="twelve columns alpha">
<table class="index sortable">
  <colgroup>
    <col style="width: 40%" />
    <col style="width: 30%" />
    <col style="width: 10%" />
    <col style="width: 20%" />
  </colgroup>
  <thead data-hook="bulk_variants_header">
    <th><%= t(:variant) %></th>
    <th><%= t(:sku) %></th>
    <th><%= t(:quantity) %></th>
    <th><%= t(:count_on_hand) %></th>
  </thead>
  <tbody id="bulk_variants_tbody">
    <% stock_movements.each do |movement| %>
    <tr>
      <td><%= movement.stock_item.variant.name %></td>
      <td><%= movement.stock_item.variant.sku %></td>
      <td><%= movement.quantity %></td>
      <td><%= movement.stock_item.count_on_hand %></td>
      <% end %>
    </tbody>
  </table>
</div>
