<div id="source-movements-table" class="twelve columns alpha">
  <div class="table-responsive">
    <table class="table sortable">
      <thead data-hook="bulk_variants_header">
        <tr>
          <th><%= Spree.t('variant') %></th>
          <th><%= Spree.t('sku') %></th>
          <th><%= Spree.t('quantity') %></th>
          <th><%= Spree.t('count_on_hand') %></th>
        </tr>
      </thead>
      <tbody id="bulk_variants_tbody">
        <% stock_movements.each do |movement| %>
          <tr>
            <td><%= link_to movement.stock_item.variant.name, spree.edit_admin_product_path(movement.stock_item.variant.product) %></td>
            <td><%= movement.stock_item.variant.sku %></td>
            <td><%= movement.quantity %></td>
            <td><%= movement.stock_item.count_on_hand %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
