<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:new_stock_transfer) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_stock_transfers_list), admin_stock_transfers_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<script type='text/template' id='transfer_variant_template'>
  {{#each variants}}
    <tr>
      <td>{{name}}</td>
      <td class='align-center'>{{quantity}}</td>
      <td class='actions'>
        <button class='icon_link icon-trash no-text transfer_remove_variant'
                data-variant-id='{{id}}' data-action'remove'></button>
      </td>
      <input type='hidden' id='variant[]' name='variant[]' value='{{id}}'>
      <input type='hidden' id='quantity[]' name='quantity[]' value='{{quantity}}'>
    </tr>
  {{/each}}
</script>

<%= form_tag admin_stock_transfers_path, :method => :post do %>
  <fieldset class="twelve columns alpha">
    <legend align="center"><%= Spree.t(:transfer_stock) %></legend>

    <div class="row" data-hook="admin_stock_movements_form_fields">
      <div class="alpha six columns">
        <div class="field" id="stock_movement_reference_field">
          <%= label_tag 'reference', raw("#{Spree.t(:reference)} (#{Spree.t(:optional)})") %>
          <%= text_field_tag :reference, '', class: 'fullwidth' %>
        </div>
      </div>
      <div class="six columns omega">
        <div class="field checkbox" id="receive_stock_field">
          <label for="receive_stock">
            <%= check_box_tag :transfer_receive_stock %>
            <%= Spree.t('receive_stock') %>
          </label>
        </div>
      </div>
      <div class="alpha six columns">
        <div class="field" id="transfer_source_location_id_field">
          <%= label_tag :transfer_source_location_id, Spree.t(:source) %>
          <%= select_tag :transfer_source_location_id, {}, class: 'select2 fullwidth' %>
        </div>
      </div>
      <div class="six columns omega">
        <div class="field" id="transfer_destination_location_id_field">
          <%= label_tag :transfer_destination_location_id, Spree.t(:destination) %>
          <%= select_tag :transfer_destination_location_id, {}, class: 'select2 fullwidth' %>
        </div>
      </div>
    </div>

    <fieldset class="no-border-bottom" id="add-variant-to-transfer">
      <legend><%= Spree.t(:add_variant) %></legend>

      <div class="alpha eight columns">
        <div class="field" id="stock_movement_variant_id_field">
          <%= label_tag 'variant_id', Spree.t(:variant) %>
          <%= select_tag 'transfer_variant', {}, class: 'fullwidth' %>
        </div>
      </div>
      <div class="two columns">
        <div class="field" id="stock_movement_quantity_field">
          <%= label_tag 'quantity', Spree.t(:quantity) %>
          <%= number_field_tag 'transfer_variant_quantity', 1, class: 'fullwidth', min: 0 %>
        </div>
      </div>
      <div class="two columns omega">
        <div class="field" style="padding: 25px 0 0 0 !important">
          <%= button Spree.t(:add), 'icon-plus button transfer_add_variant' %>
        </div>
      </div>

    </fieldset>

    <div class="alpha twelve columns no-objects-found">
      <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/stock_transfer')) %>,
      <%= link_to Spree.t(:add_one), spree.new_admin_tax_rate_path %>!
    </div>

    <div id="transfer-variants-table" class="twelve columns alpha" style="display:none">
      <table class="index sortable">
        <colgroup>
          <col style="width: 70%" />
          <col style="width: 20%" />
          <col style="width: 10%" />
        </colgroup>
        <thead data-hook="transfer_variants_header">
          <th><%= Spree.t(:name) %></th>
          <th><%= Spree.t(:quantity) %></th>
          <th class="actions"></th>
        </thead>
        <tbody id="transfer_variants_tbody">

        </tbody>
      </table>
    </div>

    <div class="filter-actions actions" data-hook="buttons">
      <%= button Spree.t(:transfer_stock), 'icon-plus transfer_transfer' %>
    </div>
  </fieldset>
<% end %>
