<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:stock_transfer) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_stock_transfers_list), admin_stock_transfers_path, :icon => 'icon-arrow-left' %>
  </li>
  <li>
    <%= button_link_to Spree.t(:new_stock_transfer), new_admin_stock_transfer_path, { :icon => 'icon-forward' } %>
  </li>
<% end %>

<fieldset class="no-border-bottom">
  <legend align="center"><%= Spree.t(:stock_transfer) %></legend>

  <div class="alpha six columns">
    <div class="field">
      <label><%= Spree.t(:reference) %></label>
      <div class="value"><%= @stock_transfer.reference %></div>
    </div>
  </div>

  <div class="omega six columns">
    <div class="field">
      <label><%= Spree.t(:created_at) %></label>
      <div class="value"><%= @stock_transfer.created_at %></div>
    </div>
  </div>

  <% if @stock_transfer.source_movements.present? %>
    <fieldset class="no-border-bottom">
      <legend id="stock-location-source">
        <%= Spree.t(:source) %> <i class="icon-arrow-right"></i> <%= @stock_transfer.source_location.name %>
      </legend>
      <%= render :partial => 'stock_movements', :object => @stock_transfer.source_movements %>
    </fieldset>
  <% end %>

  <% if @stock_transfer.destination_movements.present? %>
    <fieldset class="no-border-bottom">
      <legend id="stock-location-destination">
        <%= Spree.t(:destination) %> <i class="icon-arrow-right"></i> <%= @stock_transfer.destination_location.name %>
      </legend>
      <%= render :partial => 'stock_movements', :object => @stock_transfer.destination_movements %>
    </fieldset>
  <% end %>

</fieldset>
