  <% if @collection.any? %>
    <div data-controller="bulk-operation bulk-dialog" data-action="keydown.esc->bulk-operation#cancel" tabindex="0">
      <%= form_tag spree.admin_products_path, method: :put, data: { 'bulk-operation-target': 'form' } do %>
        <%= render 'spree/admin/shared/bulk_modal' %>
        <%= render 'spree/admin/products/bulk_operations' %>

        <div class="table-responsive">
          <table class="table" id="listing_products">
            <thead>
              <tr>
                <th scope="col" class="pr-0 w-5">
                  <%= bulk_operations_select_all_checkbox %>
                </th>
                <th scope="col">
                  <%= sort_link @search,
                  :name,
                  Spree.t(:name),
                  {
                    default_order: "desc",
                    title: "admin_products_listing_name_title"
                  }
                  %>
                </th>
                <th scope="col" class="text-center">
                  <%= Spree.t(:status) %>
                  <%= help_bubble(Spree.t("admin.products.help_bubble")) %>
                </th>
                <th scope="col"><%= Spree.t(:inventory) %></th>
                <% if defined?(current_vendor) %>
                  <th scope="col" class="d-vendor"><%= Spree.t(:vendor) %></th>
                <% end %>
                <th scope="col"><%= Spree.t(:price) %></th>

                <%= render_admin_partials(:products_table_header_partials) %>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'spree/admin/products/product', collection: @collection, cached: spree_base_cache_scope %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
    <%= render partial: 'spree/admin/shared/index_table_options', locals: { collection: @collection } %>
  <% else %>
    <%= render 'spree/admin/shared/no_resource_found' %>
  <% end %>
