<%= render 'index_header' %>

<div class="card-lg p-0">
  <% if params[:frame_name].present? %>
    <%= turbo_frame_tag params[:frame_name], autoscroll: true, data: { autoscroll_block: :start, autoscroll_behavior: :smooth } do %>
      <%= render 'filters' %>
      <%= render 'list' %>
    <% end %>
  <% else %>
    <%= render 'filters' %>
    <%= render 'list' %>
  <% end %>
</div>

<p class="text-muted small text-center py-2 px-3 mt-3 rounded-pill mx-auto d-flex-inline">
  Learn more about 
  <%= external_link_to 'managing products', 'https://spreecommerce.org/docs/user/manage-products', class: 'text-decoration-none' %>
</p>