<% content_for :page_title do %>
  <%= plural_resource_name(Spree::TaxCategory) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_tax_category), new_object_url, class: "btn-success", icon: 'add.svg', id: 'admin_new_tax_categories_link' %>
<% end if can? :create, Spree::TaxCategory %>

<% if @tax_categories.any? %>
<div class="table-responsive">
  <table class="table" id='listing_tax_categories' data-hook>
    <thead>
      <tr data-hook="tax_header">
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:tax_code) %></th>
        <th><%= Spree.t(:description) %></th>
        <th><%= Spree.t(:default) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tax_categories.each do |tax_category|
           @edit_url = edit_admin_tax_category_path(tax_category)
           @delete_url = admin_tax_category_path(tax_category) %>

        <tr id="<%= spree_dom_id tax_category %>" data-hook="tax_row">
          <td><%= tax_category.name %></td>
          <td><%= tax_category.tax_code %></td>
          <td><%= tax_category.description %></td>
          <td><%= active_badge(tax_category.is_default?) %></td>
          <td class="actions">
            <span class="d-flex justify-content-end">
              <%= link_to_edit(tax_category, no_text: true) if can? :edit, tax_category %>
              <%= link_to_delete(tax_category, no_text: true) if can? :delete, tax_category %>
            </span>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::TaxCategory)) %>,
    <%= link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::TaxCategory %>!
  </div>
<% end %>
