<% content_for :page_title do %>
  <%= Spree.t(:listing_tax_categories) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_tax_category), new_object_url, :class => "btn-success", :icon => 'add', :id => 'admin_new_tax_categories_link' %>
<% end %>

<% if @tax_categories.any? %>
<table class="table index" id='listing_tax_categories' data-hook>
  <thead>
    <tr data-hook="tax_header">
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:tax_code) %></th>
      <th><%= Spree.t(:description) %></th>
      <th><%= Spree.t(:default) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tax_categories.each do |tax_category|
         @edit_url = edit_admin_tax_category_path(tax_category)
         @delete_url = admin_tax_category_path(tax_category)
    %>
      <tr id="<%= spree_dom_id tax_category %>" data-hook="tax_row">
        <td><%= tax_category.name %></td>
        <td><%= tax_category.tax_code %></td>
        <td><%= tax_category.description %></td>
        <td><%= tax_category.is_default? ? Spree.t(:say_yes) : Spree.t(:say_no) %></td>
        <td class="actions actions-2">
          <%= link_to_edit tax_category, :no_text => true %>
          <%= link_to_delete tax_category, :no_text => true %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/tax_category')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_tax_category_path %>!
  </div>
<% end %>
