

<% content_for :page_title do %>
  <%= Spree.t(:new_tax_category) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'arrow-left', Spree.t(:back_to_tax_categories_list), admin_tax_categories_path, :class => 'btn btn-default' %></li>
<% end %>


<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @tax_category } %>

<%= form_for [:admin, @tax_category] do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
