<%= render :partial => 'shared/order_tabs', :locals => {:current => "Payments"} %>
<br/>
<div id="creditcard">
  <%=error_messages_for :payment_presenter %>
  <h1><%= t("new_creditcard_payment")%></h1>
  <br/>
  <% form_for(:payment_presenter, :url => admin_order_creditcard_payments_url(@order)) do |f| %>
    <table cellpadding="5" width="100%">
      <tr>
        <td valign="top" wdith="50%">
          <%= render :partial => 'creditcards/form_credit_card', :locals => {:f => f} %>
        </td>
        <td>
          <%= render :partial => 'creditcards/form_billing', :locals => {:f => f} %>
        </td>
      </tr>
    </table>
  	<div align="right" style="font-size:120%;">
  		<br />
  		<%= t("order_total_message") %> <input type="text" name="amount" value="<%= @amount %>">
  	</div>
    <div align="right">
  		<br/>
      <%= submit_tag t('continue') %>
    </div>
  <% end %>
</div>