<%= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Payments"} %>

<h2><%= t("new_credit_card_payment")%></h2>
                  
<%=error_messages_for :creditcard_payment %>
<% form_for @creditcard_payment, :url => collection_url do |payment_form| %>
  <h4><%= t("billing_address")%></h4>
  <% payment_form.fields_for :creditcard do |creditcard_form| %>
    <%= render :partial => 'admin/shared/form_address', :locals => {:f => creditcard_form} %>
  <% end %>
  <p class="form-buttons">
    <%= button t('continue') %>
    <%= t("or") %> <%= link_to t("actions.cancel"), admin_order_payments_url(@order) %>
  </p>  
<% end %>
