<div data-hook="admin_reimbursement_type_form_fields" class="row">
  <div class="col-12 col-md-8">
    <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, class:'form-control' %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>
  <%- if @reimbursement_type.new_record? %>
    <div class="col-12 col-md-8">
      <%= f.field_container :type, class: ['form-group'] do %>
        <%= f.label :type, Spree.t(:type) %>
        <%= f.select :type, options_for_select(Spree::ReimbursementType::KINDS), {:include_blank => false}, { :class => 'select2' } %>
        <%= f.error_message_on :type %>
      <% end %>
    </div>
  <% end %>
  <div class="col-12 col-md-5">
    <%= f.field_container :active, class: ['form-inline flex-row p-1'] do %>
      <%= f.check_box :active, class: 'form-control w-auto h-auto mr-1' %>
      <%= f.label :active, Spree.t(:active) %>
      <%= f.error_message_on :active %>
    <% end %>
  </div>
  <div class="col-12 col-md-5">
    <%= f.field_container :mutable, class: ['form-inline flex-row p-1'] do %>
      <%= f.check_box :mutable, class: 'form-control w-auto h-auto mr-1' %>
      <%= f.label :mutable, Spree.t(:mutable) %>
      <%= f.error_message_on :mutable %>
    <% end %>
  </div>
</div>
