<% content_for :page_title do %>
  <%= plural_resource_name(Spree::ReimbursementType) %>
<% end %>

<% if @reimbursement_types.any? %>
  <table class="table" id='listing_reimbursement_types' data-hook>
    <thead>
      <tr data-hook="reimbursement_types_header">
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:type) %></th>
      </tr>
    </thead>
    <tbody>
      <% @reimbursement_types.each do |reimbursement_type| %>
        <tr id="<%= spree_dom_id reimbursement_type %>" data-hook="reimbursement_type_row">
          <td class="align-center">
            <%= reimbursement_type.name.humanize %>
          </td>
          <td>
            <%= reimbursement_type.type %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ReimbursementType)) %>
  </div>
<% end %>
