<% content_for :page_title do %>
  <%= plural_resource_name(Spree::ReimbursementType) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_reimbursement_type), new_object_url, { :class => "btn-success", :icon => 'add', :id => 'admin_new_reimbursement_type' } %>
<% end if can?(:create, Spree::ReimbursementType) %>

<% if @reimbursement_types.any? %>
  <table class="table" id='listing_reimbursement_types' data-hook>
    <thead>
      <tr data-hook="reimbursement_types_header">
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:type) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @reimbursement_types.each do |reimbursement_type| %>
        <tr id="<%= spree_dom_id reimbursement_type %>" data-hook="reimbursement_type_row">
          <td class="align-center">
            <%= reimbursement_type.name.humanize %>
          </td>
          <td>
            <%= reimbursement_type.type %>
          </td>
          <td class="actions actions-2 text-right">
            <%= link_to_edit reimbursement_type, no_text: true, class: 'edit' if can?(:edit, reimbursement_type) %>
            <%= link_to_delete reimbursement_type, no_text: true if can?(:delete, reimbursement_type) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ReimbursementType)) %>
  </div>
<% end %>
