<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t(:edit_general_settings) %></h1>

<%= form_tag admin_general_settings_path, :method => :put do %>
  <fieldset id="preferences" data-hook>
    <% @preferences.each do |key|
        type = Spree::Config.preference_type(key) %>
        <%= label_tag(key, t(key) + ': ') + tag(:br) if type != :boolean %>
        <%= preference_field_tag(key, Spree::Config[key], :type => type) %>
        <%= label_tag(key, t(key)) + tag(:br) if type == :boolean %>
    <% end %>
  </fieldset>
  <p class="form-buttons" data-hook="buttons">
    <%= button t(:update) %>
    <%= t(:or) %> <%= link_to t(:cancel), admin_general_settings_url %>
  </p>
<% end %>
