<table>
	<tr>
    <td><%=t("code")%>:</td>
    <td><%= f.text_field :code, {"style" => "width:200px"} %></td>
  </tr>
	<tr>
    <td><%=t("description")%>:</td>
    <td><%= f.text_field :description, {"style" => "width:200px"} %></td>
  </tr>
	<tr>
    <td><%=t("usage_limit")%>:</td>
    <td><%= f.text_field :usage_limit, {"style" => "width:200px"} %></td>
  </tr>
	<tr>
    <td><%=t("combine")%>:</td>
    <td><%= f.check_box :combine %></td>
  </tr>
	<tr>
    <td><%=t("expiration")%>:</td>
    <td><%= date_select :coupon, :expires_at, :prompt => true, :use_month_numbers => true %></td>
  </tr>
	<tr>
    <td><%=t("coupon_calculator")%>:</td>
    <td><%= f.collection_select(:calculator_type, @coupon_calculators, :to_s, :to_s, {}, {:id=> "calc-type", "style" => "width:200px"}) %></td>
  </tr>
</table>
<% unless @coupon.new_record? %>
  <h2><%= t('settings') %></h2>
  <div class="calculator-settings">
    <% f.fields_for :calculator do |calculator_form| %>
      <%= preference_fields(@coupon.calculator, calculator_form) %>
    <% end %>
  </div>
  <div id="calculator-settings-warning"><%= t('calculator_settings_warning')%></div>
<% end %>  