<table class="admin-report" width="545">
  <thead>
    <tr>
      <th><%= t("Name") %></th>
      <th><%= t("Abbreviation") %></th>
      <th><%= t("Action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @states.each do |state| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%=state.name %></td>
        <td><%=state.abbr %></td>
        <td>
          <%=link_to t("Edit"), edit_admin_country_state_url(@country, state) %> |
          <%=link_to t("Delete"), object_url(state), :method => :delete %>
        </td>
      </tr>
    <% end %>
    <% if @states.empty? %>
      <tr><td colspan="3">None.</td></tr>
    <% end %>
  </tbody>
</table>
<%= link_to t("New State"), new_admin_country_state_url(@country) %>