<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("new_state")%></h1>

<%= error_messages_for :state %>

<% form_for(:state, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="form-buttons">
    <%= button t("create") %>
  </p>
<% end %>