<% frame_name ||= :alerts %>

<%= turbo_frame_tag frame_name do %>
  <% flash.to_h.each do |msg_type, text| %>
    <div class="alerts-container" style="pointer-events: none;">
      <div class="flex justify-center px-2">
        <div
          data-controller="notification"
          data-notification-delay-value="5000"
          class="animate-fade-in-down-fast hidden alert pr-2 flex items-center <%= admin_flash_class_for(msg_type) %> items-center" style="min-width: 300px; pointer-events: all;">
          <div class="flex items-center justify-between w-full">
            <div class="flex items-center justify-between">
              <span><%= text %></span>
            </div>
            <button type="button" class="btn ml-4 p-1" data-action="notification#hide" aria-label="<%= Spree.t(:close) %>">
              <%= icon('x', height: 20, class: 'mr-0') %>
            </button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% flash.clear if request.xhr? %>
<% end %>
