<h1><%= t(:order) + " #{@order.number}" %></h1>

<% content_for :sidebar do %>

  <h3 class="name"><%= t(:order) + " ##{@order.number} (#{t(@order.state, :default => @order.state.titleize)})" %></h3>
  <br clear="clear" />

  <ul class="sidebar">
  	<li <%= ' class="active"' if current == "Order Details" %>>
  	  <%= link_to t("order_details"), admin_order_url(@order) %>
  	</li>
  	<li <%= ' class="active"' if current == "Payments" %>>
  	  <%= link_to t("payments"), 
  	              admin_order_payments_url(@order) %>
  	</li>
  	<% if @order_admin_tabs && @order_admin_tabs.size > 0
  		@order_admin_tabs.each do |extension| %>
    	<li <%= ' class="active"' if current == extension[:name].titleize.pluralize %>>
    	  <%= link_to t(extension[:name], :default => extension[:name].titleize.pluralize),
    	              eval(extension[:url] + " @order") %>
    	</li>
     <% end
  	end %>
	
  </ul>

<% end %>
