<table class="index">
  <tr>
    <th><%= t('item_description') %></th>
    <th><%= t('price') %></th>
    <th><%= t('qty') %></th>
    <th><%= t('total') %></th>
  </tr>
  <% @order.line_items.each do |item| %>
  <tr >
    <td width="300"><%=item.variant.product.name-%> <%= "(" + variant_options(item.variant) + ")" unless item.variant .option_values.empty? %></td>
    <td><%= number_to_currency item.price -%></td>
    <td><%=item.quantity-%></td>
    <td><%= number_to_currency (item.price * item.quantity)-%></td>
  </tr>
  <% end %>      
  <tr class="total">
    <td colspan="3"><strong><%= t('subtotal') %>:</strong></td>
    <td><%= number_to_currency @order.item_total -%></td>
  </tr>
  <tr class="total">
    <td colspan="3"><strong><%= t('tax') %>:</strong></td>
    <td><%= number_to_currency @order.tax_amount -%></td>
  </tr>
  <tr class="total">
    <td colspan="3"><strong><%= t('shipping') %>:</strong> 
      <% if @order.shipment %>
        (<%= @order.shipment.shipping_method.name %>)
      <% end %>
    </td>
    <td><%= number_to_currency @order.ship_amount -%></td>
  </tr>
  <tr class="total">
    <td colspan="3"><b><%= t('order_total') %>:</b></td>
    <td><%= number_to_currency @order.total -%></td>
  </tr>
</table>
