<tr id="<%= spree_dom_id webhooks_subscriber %>" data-controller="row-link" class="cursor-pointer">
  <td class="w-40 text-wrap" data-action="click->row-link#openLink">
    <%= webhooks_subscriber.url %>
  </td>
  <td class="w-5" data-action="click->row-link#openLink"><%= active_badge(webhooks_subscriber.active) %></td>
  <td class="w-30 text-wrap" data-action="click->row-link#openLink">
    <% webhooks_subscriber.subscriptions&.sort&.each do |subscription| %>
      <span class="badge badge-light"><%= subscription %></span>
    <% end %>
  </td>
  <td class="w-10" data-action="click->row-link#openLink">
    <% if webhooks_subscriber.latest_event_at %>
      <%= spree_time(webhooks_subscriber.latest_event_at) %>
    <% else %>
      <span class="text-muted"><%= Spree.t(:not_available) %></span>
    <% end %>
  </td>
  <td class="w-15">
    <%= link_to_with_icon 'eye', Spree.t(:view), spree.admin_webhooks_subscriber_path(webhooks_subscriber), class: "btn btn-light btn-sm", data: { row_link_target: 'link', turbo_frame: '_top' } %>
    <%= link_to_edit(webhooks_subscriber, data: { turbo_frame: '_top' }) if can? :edit, webhooks_subscriber %>
  </td>
</tr>
