<%= render 'spree/admin/shared/developers_nav' %>

<% content_for :page_actions do %>
  <%= render_admin_partials(:webhooks_subscribers_actions_partials) %>
  <%= link_to_with_icon 'plus', Spree.t('admin.webhooks_subscribers.new_webhooks_subscriber'), new_object_url, class: "btn btn-primary" if can?(:create, Spree::Webhooks::Subscriber) %>
<% end %>

<%= render_admin_partials(:webhooks_subscribers_header_partials) %>

<div class="card-lg">
  <% if @collection.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= Spree.t(:url) %></th>
            <th><%= Spree.t(:active) %></th>
            <th><%= Spree.t('admin.webhooks_subscribers.subscriptions') %></th>
            <th><%= Spree.t('admin.webhooks_subscribers.time_of_last_event') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'spree/admin/webhooks_subscribers/webhooks_subscriber', collection: @collection, cached: spree_base_cache_scope %>
        </tbody>
      </table>
    </div>
    <%= render 'spree/admin/shared/index_table_options', collection: @collection %>
  <% else %>
    <%= render 'spree/admin/shared/no_resource_found' %>
  <% end %>
</div>