<table class="table adjustments" data-hook="adjustments">
  <thead data-hook="adjustmment_head">
    <tr>
      <th><%= Spree.t(:adjustable) %></th>
      <th><%= Spree.t(:description) %></th>
      <th><%= Spree.t(:amount) %></th>
      <th><%= Spree.t(:state) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "adjustment", :collection => @adjustments %>
  </tbody>
</table>

<div class="well">
  <%= button_to Spree.t(:open_all_adjustments), open_adjustments_admin_order_path(@order), method: :get, class: "btn btn-sm btn-success pull-left marginr" %>
  <%= button_to Spree.t(:close_all_adjustments), close_adjustments_admin_order_path(@order), method: :get, class: "btn btn-sm btn-danger" %>
</div>
