<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: 'Adjustments' } %>

<% content_for :page_title do %>
   / <%= Spree.t(:adjustments) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_adjustment), new_admin_order_adjustment_url(@order), class: "btn-success", icon: 'plus-sign' %>
<% end %>

<% if @adjustments.present? %>
  <div class="panel panel-default">    
    <%= render :partial => 'adjustments_table' %>
  </div>
<% else %>
  <div class="alert alert-warning">
    <%= Spree.t(:no_adjustments_found) %>
  </div>
<% end %>

<% if @order.can_add_coupon? %>
  <div class="well" data-hook="adjustments_new_coupon_code">
    <div class="form-group">
      <%= text_field_tag "coupon_code", "", placeholder: Spree.t(:coupon_code), class: "form-control" %>
    </div>
    <%= button Spree.t(:add_coupon_code), 'plus', 'submit', :id => "add_coupon_code" %>
  </div>
<% end %>

<%= javascript_tag do -%>
  var order_number = '<%= @order.number %>';
<% end -%>

<%= render partial: 'spree/admin/shared/order_summary' %>
