<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Adjustments' } %>

<% content_for :page_title do %>
  <span class="icon icon-arrow-right"></span> <%= Spree.t(:new_adjustment) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back_to_adjustments_list), spree.admin_order_adjustments_url(@order), :icon => 'arrow-left' %>
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @adjustment } %>

<%= form_for @adjustment, :url => admin_order_adjustments_path do |f| %>
  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div class="form-buttons" data-hook="buttons">
      <%= button Spree.t(:continue), 'save' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), admin_order_adjustments_url(@order), :icon => 'delete' %>
    </div>
  </fieldset>
<% end %>
