<%= content_for(:page_title) do %>
<%= Spree.t(:checkout) %> <%= Spree.t(:settings) %>
<% end %>

<div class="card mb-6">
  <div class="card-header">
    <h5 class="card-title"><%= Spree.t(:settings) %></h5>
  </div>

  <div class="card-body">
    <p class="text-muted mb-4">
      <%= Spree.t('admin.checkout_settings.countries_managed_by_markets_html',
            link: link_to(Spree.t('admin.markets.list'), spree.admin_markets_path)).html_safe %>
    </p>

    <hr class="my-6">

    <%= f.spree_check_box :preferred_guest_checkout, label: Spree.t('admin.checkout_settings.guest_checkout.label'), help: Spree.t('admin.checkout_settings.guest_checkout.description') %>
    <%= f.spree_check_box :preferred_company_field_enabled, label: Spree.t('admin.store_form.company_field.label'), help: Spree.t('admin.store_form.company_field.description') %>
    <%= f.spree_check_box :preferred_special_instructions_enabled, label: Spree.t('admin.checkout_settings.special_instructions.label'), help: Spree.t('admin.checkout_settings.special_instructions.description') %>
  </div>
</div>

<div class="card mb-6">
  <div class="card-header">
    <h5 class="card-title"><%= Spree.t(:checkout_message) %></h5>
  </div>

  <div class="card-body">
    <%= f.spree_rich_text_area :checkout_message, label: false, help: Spree.t('admin.checkout_settings.checkout_message_description') %>
  </div>
</div>

<% if current_store.respond_to?(:links) %>
  <div class="card mb-6">
    <div class="card-header">
      <h5 class="card-title"><%= Spree.t('admin.checkout_settings.checkout_links.label') %></h5>
    </div>

    <div class="card-body">
      <div class="alert alert-info">
        <div>
          <%= Spree.t('admin.checkout_settings.checkout_links.description') %>
        </div>
      </div>
      <%= render 'spree/admin/stores/form/checkout_links' %>
    </div>
  </div>
<% end %>
