
<table class="inline-table md:table table-auto overflow-scroll w-full text-sm border-separate border-spacing-y-4 mb-24 mt-4">
  <thead class="hidden md:table-row-group">
    <tr class="text-left text-neutral text-xs">
      <th class="font-normal px-4"><%= Spree::Order.human_attribute_name(:number) %></th>
      <th class="font-normal px-4"><%= Spree.t(:date) %></th>
      <th class="font-normal px-4"><%= Spree.t(:payment_state) %></th>
      <th class="font-normal px-4"><%= Spree.t(:shipment_state) %></th>
      <th class="font-normal px-4 text-right"><%= Spree.t(:total) %></th>
    </tr>
  </thead>
  <tbody class="block md:table-row-group">
    <%= render collection: orders, partial: 'spree/account/order', cached: spree_storefront_base_cache_scope %>
  </tbody>
</table>

