<div class="<%= width %> <%= boundary %> removable-dom-element" data-section-id="<%= section.id %>">
  <div class="row m-0 mb-1 pb-0 border bg-white">
    <div class="col move-handle d-flex flex-nowrap pr-0">

      <div class="d-flex align-items-center overflow-hidden w-100">
        <div>
          <h6 class="mb-0"><small><%= section.name %></small></h6>
          <small class="form-text text-muted mt-0">Type: <%= humanize_cms_type(section.type) %></small>
        </div>

      </div>
    </div>

    <div class="col d-flex p-0 align-items-center actions cms_section_action_col">
      <div>
        <%= link_to_edit(section, no_text: true, url: spree.edit_admin_cms_page_cms_section_path(@cms_page, section)) %>
        <%= link_to_delete(section, no_text: true, url: spree.admin_cms_page_cms_section_path(@cms_page, section)) if can?(:destroy, section) %>
      </div>
    </div>
  </div>
</div>
