<% content_for :page_title do %>
  <%= link_to Spree.t('admin.navigation.all_pages'), spree.admin_cms_pages_path %> / <%= @cms_page.title %>
<% end %>

<% content_for :page_actions do %>
  <%= page_preview_link(@cms_page) %>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @cms_page } %>
<%= form_for [:admin, @cms_page] do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <div class="col-12">
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </div>
<% end %>

<% unless @cms_page.kind == "Standard Page" %>
  <div id="pageSectionsArea" class="col-12">
    <div class="row mt-5">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-header">
            <div class="row pb-0">
              <div class="d-flex pl-3">
               <h5 class="mb-0 align-self-center"> <%= Spree.t('admin.cms.page_sections', page_name: @cms_page.title) %></h5>
              </div>
              <div class="col d-flex justify-content-end">
                <%= button_link_to Spree.t('admin.pages.add_new_section'), spree.new_admin_cms_page_cms_section_path(@cms_page), icon: 'add.svg', class: 'no-wrap btn btn-success align-self-center' %>
              </div>
            </div>
          </div>

          <% if @cms_page.cms_sections.any? %>
            <div id="cmsPagesectionsArea" class="card-body row m-0 p-0 py-3 bg-light">
              <% @cms_page.cms_sections.each do |section| %>
                <%= build_page_section(section) %>
              <% end %>
            </div>
          <% else %>
            <div class="row">
              <div class="col-12">
                <div class="alert alert-info no-objects-found m-4">
                  <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::CmsSection)) %>
                  <%= link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::CmsSection) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
