<% content_for :page_title do %>
  <%= Spree.t('admin.cms.all_pages') %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t('admin.cms.add_new_page'), new_object_url, { class: "btn-success", icon: 'add.svg', id: 'new_page' } %>
<% end if can?(:create, Spree::CmsPage) %>

<% if @cms_pages.any? %>
<div class="table-responsive">
  <table class="table" id="pagesTable">
    <thead>
      <th scope="col"><%= Spree.t('admin.cms.title') %></th>
      <th scope="col"><%= Spree.t(:draft_mode) %></th>
      <th scope="col"><%= Spree.t('admin.cms.page_type') %></th>
      <th scope="col"><%= Spree.t('store') %></th>
      <th scope="col"><%= Spree.t('language') %></th>
      <th scope="col"></th>
    </thead>
    <tbody>
      <% @cms_pages.each do |page| %>
        <tr>
          <td>
            <%= page.title %>
          </td>
          <td>
            <%= active_badge(page.draft_mode?) %>
          </td>
          <td>
            <%= spree_humanize_type(page.type) %>
          </td>
          <td>
            <%= page.store.unique_name %>
          </td>
          <td>
            <%= locale_full_name(page.locale) %>
          </td>
          <td class="actions" data-hook="admin_pages_index_row_actions">
             <span class="d-flex justify-content-end">
             <%= link_to_edit(page, no_text: true) %>
             <%= link_to_delete page, no_text: true, url: spree.admin_cms_page_path(page) if can?(:destroy, page) %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t('admin.cms.you_have_no_pages') %>
  </div>
<% end %>
