<div id="product-listing">
  <h3><%= :products.l %></h3>
  <ul class="product-listing">
    <% for product in @products %>
    <li class="product preview" id="product_<%= product.id %>">
      <a href="/store/show/<%=product.id%>">
        <%= small_image(product) %>
      </a>
      <%= link_to product.name, :controller => :store, :action => 'show', :id => product %>
      <b><%= "$ #{product.master_price}" if product.master_price %></b>
    </li>
    <% end %>
  </ul>
</div>
