<table>
  <tr>
    <td><%= t("Name") %>: </td>
    <td>
      <%=error_message_on :option_type, :name %>
      <%= f.text_field :name %>
    </td>
  </tr>
  <tr>
    <td><%= t("Presentation") %>: </td>
    <td>
      <%=error_message_on :option_type, :presentation %>
      <%= f.text_field :presentation %>
    </td>
  </tr>
</table>
<br/>

<h3>Option Values</h3>
<table class="basic-table">
  <thead>
    <tr>
      <th><%= t("Name") %></th>
      <th><%= t("Display") %></th>
      <th><%= t("Action") %></th>
    </tr>
  </thead>
  <tbody id="option_values">
		<%= f.render_associated_form(@option_type.option_values) %>
		<tr id="none">
		  <td colspan="3"><%= @option_type.option_values.empty? ? "None." : "" %></td>
		</tr>
	</tbody>
</table>
<%= f.add_associated_link("Add Option Value", @option_type.option_values.build, 
                         {:onclick => "Element.hide('none');"}) %>
<br/>