<h3><%= :new_option_value.l("New Option Value") %></h3>
<% fields_for :option_value, @option_value do |ov| %>
<table class="basic-table">
  <tr>
    <td><%= :name.l("Name") %></td>
    <td><%= ov.text_field :name %></td>
  </tr>
  <tr>
    <td><%= :display.l("Display") %></td>
    <td><%= ov.text_field :presentation %></td>
  </tr>
</table>
<% end %>
