<%= render :partial => 'admin/products/menu' %>

<h1><%= t("Editing Option Types") %></h1>

<% form_for(:option_type) do |f| %>
  <%= render :partial => 'form' %>
  <%= submit_tag t("Update") %>
  <%= t("or") %>
  <%= link_to t("Cancel"), :action => :index %>
<% end %>
