<%= render :partial => 'admin/products/menu' %>

<h1><%= t("Listing Option Types") %></h1>
<table>
  <tr>
    <td><b><%= t("Name") %></b></td>
    <td/>
  </tr>
<% @option_types.each do |ot| %>
  <tr>
    <td valign="top"><%= ot.name -%></td>
    <td valign="top">
      <%= link_to t("Edit"), :action => 'edit', :id => ot -%>
      <%= link_to t("Delete"), 
                     {:action => 'destroy', :id => ot}, 
                     {:confirm => t("Are you sure you want to delete this option type?")} -%>
    </td>
  </tr>
<% end %>
</table>

<br/><br/>
<%= link_to t("Add Option Type"), :action => 'new' -%>
