<%= render :partial => 'shared/product_sub_menu' %>
<h1><%= t("Option Types") %></h1>
<table class="basic-table">
	<thead>
		<tr>
			<th><%= t("Name") %></th>
			<th><%= t("Presentation") %></th>
			<th><%= t("Action") %></th>
		</tr>
	</thead>
	<tbody>
    <% @option_types.each do |option_type| %>
      <tr>
        <td valign="top"><%= option_type.name %></td>
        <td valign="top"><%= option_type.presentation %></td>
		    <td valign="top">
		      <%= link_to_edit(option_type) %>
		      &nbsp;
		      <%= link_to_delete(option_type) %>
		    </td>        
      </tr>
    <% end %>
  </tbody>
</table>

<div id="option-types">
  
</div>
<%= image_tag "spinner.gif", :plugin=>"spree", :style => "display:none", :id => 'busy_indicator' %>
<br/>
<span id="new_ot_link">
  <%= link_to_remote t("New Option Type"), 
                     :url => new_admin_option_type_url, 
                     :method => :get,
                     :update => "option-types",
                     :before => "Element.hide('new_ot_link');Element.show('busy_indicator')", 
                     :complete => "Element.hide('busy_indicator')" %>
</span>