<li class="p-0 m-0 border-b border-default" id="<%= [address_type, dom_id(address)].join('_') %>">
  <% checked = (address.id == @order.ship_address_id || (!@order.ship_address_id && idx == 0)) %>
  <div class="custom-control custom-radio px-5 py-4 flex items-center">
    <%= radio_button_tag "order_#{address_name}_id", address.id, checked, class: 'custom-control-input radio-input mt-1 mr-5', data: { action: 'checkout-address-book#select' } %>
    <label class="custom-control-label d-block select-none cursor-pointer max-w-[calc(100%-58px)]" for="<%= "order_#{address_name}_id_#{address.id}" %>">
      <%= turbo_frame_tag dom_id(address) do %>
        <%= render 'spree/shared/address', address: address %>
        <div class="address-book-actions mt-3 <% unless checked %>hidden<% end %>">
          <%= link_to Spree.t(:edit), spree.edit_address_path(address, checkout: @order.token), class: 'text-dark' %>
        </div>
      <% end %>
    </label>
  </div>
</li>