<%= render 'spree/checkout/quick_checkout' %>

<% address_type = 'shipping' %>
<% address_name = "#{address_type[0...4]}_address" %>

<% if @order.requires_ship_address? &&user_available_addresses.present? %>
  <div data-controller="checkout-address-book">
    <%= turbo_frame_tag :checkout_address_book do %>
      <div class="mb-4" data-checkout-address-book-target="list">
        <div id="<%= address_type %>">
          <h5 class="font-body">
            <%= Spree.t(address_type + '_address') %>
          </h5>
          <ul class="select_address list-group mb-5 border mt-3 rounded-md border-default">
            <% user_available_addresses.each_with_index do |address, idx| %>
              <%= render 'spree/checkout/address_list_item', address: address, idx: idx, order: @order, address_type: address_type, address_name: address_name %>
            <% end %>
            <li class="list-group-item p-0 m-0">
              <div class="custom-control custom-radio px-5 py-4 flex items-center">
                <%= radio_button_tag "order_#{address_name}_id", 0, false, class: 'custom-control-input radio-input mr-5', data: { action: 'checkout-address-book#select' } %>
                <label class="custom-control-label d-block select-none cursor-pointer w-full max-w-[calc(100%-58px)]" for="<%= "order_#{address_name}_id_0" %>">
                  <%= Spree.t(:new_address) %>
                  <div class="mt-4 hidden" data-checkout-address-book-target="newAddressForm">
                    <%= turbo_frame_tag :new_address do %>
                      <%= form_for try_spree_current_user.addresses.build(country: current_store.default_country), html: { id: 'checkout_form_address' } do |f| %>
                        <%= render 'spree/addresses/form',
                        address_name: 'address',
                        address_form: f,
                        address_type: 'shipping',
                        address: @address %>
                        <%= hidden_field_tag :order_token, @order.token %>
                        <%= hidden_field_tag "default_shipping", true %>
                        <%= hidden_field_tag "default_billing", true %>
                        <%= f.submit Spree.t('actions.save'), class: 'btn btn-primary btn-block spree-btn mb-5' %>
                      <% end %>
                    <% end %>
                  </div>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    <% end %>

    <%= form_for @order, url: spree.update_checkout_path(@order.token, @order.state), html: { id: "checkout_form_#{@order.state}" } do |form| %>
      <div>
        <%= render 'spree/checkout/order_lock_version', order: @order %>
        <%= form.hidden_field :ship_address_id, data: { 'checkout-address-book-target': 'addressId' } %>
      </div>

      <%= render 'spree/checkout/special_instructions', form: form %>

      <div>
        <%= button_tag Spree.t(:save_and_continue),
                        data: {
                          'checkout-address-book-target': 'submit',
                          'turbo-submits-with': (render 'spree/checkout/button_processing', is_hidden: false)
                        },
                        class: 'btn btn-primary font-weight-bold w-full lg:w-48 float-right checkout-content-save-continue-button',
                        disabled: @order.ship_address_id.nil? %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= form_for @order, url: spree.update_checkout_path(@order.token, @order.state), html: { id: "checkout_form_#{@order.state}" } do |form| %>
    <%= render 'spree/checkout/order_lock_version', order: @order %>
    <div class="mb-5">
      <% if !try_spree_current_user || try_spree_current_user.email.blank? %>
        <div class="grid grid-cols-1 lg:grid-cols-2 mb-3 font-body">
          <h5 class="font-body">
            <%= Spree.t(:contact_information) %>
          </h5>
          <% if !already_have_an_account? && defined?(spree_login_path) %>
            <div class="lg:text-right">
              <span class="text-gray-600 text-sm">
                <%= Spree.t('storefront.checkout.already_have_an_account') %> <span class="text-primary"><%= link_to Spree.t(:login), spree_login_path, data: { turbo_frame: '_top' } %></span>
              </span>
            </div>
          <% end %>
        </div>
        <div class="form-group has-float-label mb-3">
          <%= form.email_field :email, class: 'w-full text-input', required: true, placeholder: Spree.t(:email), id: 'order_ship_address_attributes_email' %>
          <label for="order_ship_address_attributes_email"><%= Spree.t(:email) %></label>
        </div>
      <% end %>
      <div class="py-2">
        <div class="flex items-center gap-2">
          <%= form.check_box :accept_marketing, class: 'checkbox-input' %>
          <%= form.label :accept_marketing, class: 'cursor-pointer text-sm select-none' do %>
            <%= Spree.t('storefront.newsletter_subscription.join') %>
          <% end %>
        </div>

        <% if !try_spree_current_user && !already_have_an_account? %>
          <div class="flex items-center gap-2 mt-2">
            <%= form.check_box :signup_for_an_account, class: 'checkbox-input' %>
            <%= form.label :signup_for_an_account, class: 'cursor-pointer text-sm select-none' do %>
              <%= Spree.t('storefront.checkout.signup_for_an_account') %>
            <% end %>
          </div>
        <% end %>
      </div>
      <% unless try_spree_current_user %>
        <% if already_have_an_account? %>
          <div class="py-2 text-sm">
            <%= Spree.t("storefront.checkout.it_seems_you_already_have_an_account_html", link: link_to(Spree.t(:login), spree_login_path, class: 'text-primary font-semibold')) %>
          </div>
        <% end %>
      <% end %>

      <% if @order.requires_ship_address? %>
        <div class="mb-4" data-controller="checkout-address-book" data-checkout-address-book-target="list">
          <div id="<%= address_type %>">
            <h5 class="mt-5 mb-4 font-body">
              <%= Spree.t(address_type + '_address') %>
            </h5>
            <%= form.fields_for address_name do |address_form| %>
              <div class="inner checkout-content-inner" data-hook='<%= "#{address_type}_inner" %>'>
                <%= render partial: 'spree/addresses/form', locals: {
                  address_name: address_name,
                  address_form: address_form,
                  address_type: address_type,
                  address: address_form.object.persisted? ? address_form.object : Spree::Address.new(country: current_store.default_country, user: try_spree_current_user),
                  form: form
                } %>
              </div>
            <% end %>
          </div>
        </div>
        <%= hidden_field_tag 'save_user_address', true, data: { hook: "save_user_address" } %>
      <% end %>

      <%= render 'spree/checkout/special_instructions', form: form %>

    </div>
    <div class="flex justify-end w-full">
      <%= button_tag Spree.t(:save_and_continue),
                      class: 'btn-primary w-full lg:w-2/5 font-semibold checkout-content-save-continue-button my-5 !py-4',
                      data: {
                        'turbo-submits-with': (render 'spree/checkout/button_processing', is_hidden: false)
                      } %>
    </div>
  <% end %>
<% end %>
