<%= turbo_frame_tag :checkout_coupon_code, class: "shopping-cart-coupon-code #{local_assigns[:classes]} flex flex-col gap-3" do %>
  <% if promotion.nil? && @order.gift_card.blank? %>
    <%= form_tag spree.checkout_apply_coupon_code_path(@order.token), method: :patch, data: {controller: "checkout-promotions"} do %>
      <div class="flex" data-controller="enable-button">
        <%= hidden_field_tag :promotion_email, @order.email, data: {checkout_promotions_target: 'promotionEmailField'} %>
        <%= text_field_tag :coupon_code, params[:coupon_code], class: 'w-full  text-input',
                                                  placeholder: Spree.t('cart_page.add_promo_code').capitalize,
                                                  aria: { label: Spree.t('cart_page.add_promo_code') },
                                                  data: { 'enable-button-target': 'input' },
                                                  required: true %>
        <%= button_tag Spree.t(:apply), class: 'min-h-full ml-3 btn-primary !px-4 !py-3', data: { 'enable-button-target': 'button' }, disabled: true %>
      </div>
    <% end %>
  <% elsif promotion.present? %>
    <%= form_tag spree.checkout_remove_coupon_code_path(@order.token), method: :delete do %>
      <%= hidden_field_tag :coupon_code, promotion.code_for_order(@order) %>
      <div class="m-0">
        <div class="flex items-center justify-between text-sm">
          <span class="max-w-[250px] truncate flex items-center p-2 rounded-sm bg-gray-200">
            <%= heroicon('tag', options: { class: 'h-4 w-4 mr-2' }) %>
            <%= promotion.name_for_order(@order) %>
          </span>
          <%= button_tag(class: 'btn btn-sm p-1 ml-2', id: 'remove-promotion') do %>
            <%= heroicon('x-mark', options: { variant: :solid, class: 'h-5 w-5' }) %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% elsif @order.gift_card.present? %>
    <%= form_tag spree.checkout_remove_coupon_code_path(@order.token), method: :delete do %>
      <%= hidden_field_tag :gift_card, @order.gift_card.code %>
      <div class="m-0">
        <div class="flex items-center justify-between text-sm">
          <span class="max-w-[250px] truncate flex items-center p-2 rounded-sm bg-gray-200">
            <%= heroicon('gift', options: { class: 'h-4 w-4 mr-2' }) %>
            <%= @order.gift_card.code.upcase %>
          </span>
          <%= button_tag(class: 'btn btn-sm p-1 ml-2', id: 'remove-promotion') do %>
            <%= heroicon('x-mark', options: { variant: :solid, class: 'h-5 w-5' }) %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if local_assigns[:result] && action_name == 'apply_coupon_code' %>
    <% if result.error.blank? %>
      <div class="alert-success p-2 text-xs rounded-sm"><%= result.success %></div>
    <% else %>
      <div class="text-red-500 !text-md text-xs ">
        <span><%= result.error %></span>
      </div>
    <% end %>
  <% end %>
<% end %>
