<li class="p-0 m-0 border-b" id="<%= spree_dom_id(card) %>">
  <div class="custom-control custom-radio px-5 py-4 flex items-center">
    <label class="flex flex-row items-center cursor-pointer">
      <%= radio_button_tag "order[existing_card]", card.gateway_payment_profile_id, index == 0, { data: {action: "checkout-credit-card-book#select" }, class: "mr-5" } %>
      <div class="flex space-x-4 items-center">
        <%= payment_method_icon_tag(card.cc_type) %>
        <span>****<%= card.last_digits %></span>
        <span><%= card.month.to_s.rjust(2, '0') %>/<%= card.year %></span>
      </div>
    </label>
  </div>
</li>
