<div class="flex justify-between items-center pt-3">
  <div class="mr-5 relative shrink-0">
    <span class="rounded-full text-xs text-center font-bold pl-[0.5px] py-1 w-6 text-sidebar-text bg-background absolute -right-2 -top-3">
      <%= line_item.quantity %>
    </span>
    <% image = line_item.variant.default_image %>
    <% if image.present? && image.attached? && image.variable? %>
      <%= spree_image_tag(image, class: 'rounded-sm border border-default bg-transparent object-cover object-center', loading: :lazy, width: 64, height: 64) %>
    <% else %>
      <div class="w-16 h-16 bg-accent border border-default rounded-sm"></div>
    <% end %>
  </div>
  <div class="flex-1 pr-3 text-sm">
    <p class="font-bold word-break"><%= line_item.name %></p>
    <p class="text-xs"><%= line_item.options_text %></p>
  </div>
  <div class="font-semibold text-sm text-right shrink-0">
    <% if should_display_compare_at_price?(line_item.variant) %>
      <span class="line-through text-red-500">
        <%= line_item.display_compare_at_amount %>
      </span>
      <br />
    <% end %>
    <%= line_item.display_pre_tax_amount %>
  </div>
</div>
