<div data-controller="modal" data-modal-opened-value="true" data-modal-allow-background-close="false">
  <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
    <div class="max-h-screen w-full max-w-lg relative">
      <div class="m-1 bg-white rounded-sm shadow">
        <div class="p-8">
          <h2 class="text-xl mb-4"><%= Spree.t('storefront.checkout.shipping_not_available') %></h2>
          <p class="mb-4">
            <%= Spree.t('storefront.checkout.errors.invalid_line_items', count: @order.line_items_without_shipping_rates.size) %>
          </p>

          <div class="mb-5 overflow-y-auto pt-3 mx-3 lg:mx-8 lg:mt-4 lg:pt-6 line-items" data-checkout-summary-target="line_items">
            <%= render collection: @order.line_items_without_shipping_rates, partial: 'spree/checkout/line_item', cached: spree_storefront_base_cache_scope %>
          </div>

          <div class="flex justify-end items-center flex-wrap mt-6">
            <%= link_to Spree.t('storefront.checkout.continue_to_cart'), spree.cart_path, class: 'mx-4 py-4', target: :_top %>
            <%= button_to Spree.t('storefront.checkout.continue_to_checkout'),
                        spree.checkout_remove_missing_items_path(@order.token, line_item_ids: @order.line_items_without_shipping_rates.map(&:id)),
                        class: 'btn-primary font-semibold checkout-content-save-continue-button my-5 ml-4 !py-4',
                        method: :delete,
                        data: { turbo: false, 'turbo-submits-with': (render 'spree/checkout/button_processing', is_hidden: false) }
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
