<%= turbo_frame_tag :checkout_store_credit do %>
  <% if can_use_store_credit_on_checkout?(@order) %>
    <%= form_tag(
      @order.using_store_credit? ? spree.checkout_remove_store_credit_path(@order.token) : spree.checkout_apply_store_credit_path(@order.token),
      method: @order.using_store_credit? ? :delete : :patch,
      class: 'aria-busy:opacity-25',
      data: { controller: 'auto-submit' }
    ) do %>
      <div class="flex items-center justify-between border text-sm px-5 py-4 rounded-md border-neutral-200 cursor-pointer">
        <%= label_tag :store_credit, class: 'flex items-center gap-3 text-sm cursor-pointer' do %>
          <%= check_box_tag :store_credit, '1', @order.using_store_credit?,
            class: 'input-checkbox !border-neutral-200 rounded-md',
            data: { action: 'auto-submit#submit' } %>
          <%= Spree.t(:apply_store_credit) %>
        <% end %>

        <div><%= @order.display_total_available_store_credit %></div>
      </div>
    <% end %>
  <% end %>
<% end %>
