<div class="checkout-progress" data-hook="checkout_progress" role="navigation">
  <nav aria-label="breadcrumb">
    <%= checkout_progress %>
  </nav>
</div>

<%= render partial: 'spree/shared/error_messages_without_base_attribute', locals: { target: @order } %>

<%= turbo_frame_tag :modal %>

<% if @order.address? && try_spree_current_user %>
  <div class="border text-sm px-5 py-4 mb-5 rounded-md border-default">
    <%= render 'user_account' %>
  </div>
<% end %>
<% if @order.checkout_steps.index(@order.state) > 0 %>
    <div class="border text-sm px-5 mb-6 py-4 rounded-md border-default">
      <% if @order.user.present? %>
        <%= render 'user_account' %>
      <% elsif @order.email.present? %>
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <div class="min-w-[60px] max-w-[60px]">
              <%= Spree.t(:contact) %>
            </div>
            <div class="px-5 word-break">
              <%= @order.email %>
            </div>
          </div>
          <div class="text-xs">
            <%= link_to Spree.t(:edit), spree.checkout_state_path(@order.token, 'address'), class: 'text-dark' %>
          </div>
        </div>
      <% end %>
      <% if @order.ship_address.present? %>
        <div class="flex justify-between mt-3 border-t pt-3 items-center border-default">
          <div class="flex items-center">
            <div class="min-w-[60px] max-w-[60px]">
              <%= Spree.t(:ship_address) %>
            </div>
            <div class="px-5 word-break">
              <%= sanitize(@order.ship_address.to_s.gsub('<br/>', ', ')) %>
            </div>
          </div>
          <div class="text-xs">
            <%= link_to Spree.t(:edit), spree.checkout_state_path(@order.token, 'address'), class: 'text-dark' %>
          </div>
        </div>
      <% end %>
      <% if @order.checkout_steps.index(@order.state) > 1 && @order.shipments.any? %>
        <div class="mt-3 border-t pt-3 flex justify-between items-center border-default">
          <div class="flex items-center">
            <div class="min-w-[60px] max-w-[60px]">
              <%= Spree.t('storefront.checkout.delivery_method') %>
            </div>
            <div class="px-5 flex flex-col gap-4">
              <% @order.shipments.each do |shipment| %>
                <p class="word-break">
                  <% if @order.shipments.count > 1 || shipment.shipping_method.respond_to?(:vendor) && shipment.shipping_method.vendor.present? %>
                    <%= shipment.stock_location&.name %> -
                  <% end %>
                  <%= shipment.shipping_method.name %>
                  · <strong><%= shipment.cost <= 0 ? Spree.t(:free) : shipment.display_final_price %></strong>
                </p>
              <% end %>
            </div>
          </div>
          <% unless @order.digital? %>
            <div class="text-xs">
              <%= link_to Spree.t(:edit), spree.checkout_state_path(@order.token, 'delivery'), class: 'text-dark' %>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
<% end %>

<div class="checkout-content mt-5" id="checkout_content">
  <% if @order.address? %>
    <%= render partial: 'spree/checkout/address', locals: { order: @order } %>
  <% elsif @order.payment? || @order.confirm? %>
    <%= render partial: 'spree/checkout/payment', locals: { order: @order } %>
  <% elsif @order.delivery? %>
    <%= render partial: 'spree/checkout/delivery', locals: { order: @order } %>
  <% elsif step = @order.checkout_steps.find { |s| s == @order.state } %>
    <%= form_for @order, url: spree.update_checkout_path(@order.token, @order.state), html: { id: "checkout_form_#{@order.state}" } do |form| %>
      <div>
        <%= form.hidden_field :state_lock_version unless @order.errors.any? %>
        <% if step.in?(%w[address delivery payment confirm]) %>
          <%= render partial: "spree/checkout/#{step}", locals: { form: form } %>
        <% end %>
      </div>
      <div>
        <%= button_tag Spree.t(:save_and_continue),
                       class: 'btn btn-primary font-weight-bold w-full lg:w-48 float-right checkout-content-save-continue-button',
                       data: { 'turbo-submits-with': (render 'button_processing', is_hidden: false) } %>
      </div>
    <% end %>
  <% end %>
</div>
