<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title><%= "Spree #{t('administration')}: #{controller.controller_name.titleize}" %></title>

  <%= stylesheet_link_tag 'admin/reset-fonts-grids-2-6-0.css' %>
  <%= stylesheet_link_tag 'admin/admin-typography' %>
  <%= stylesheet_link_tag 'admin/admin-forms' %>
  <%= stylesheet_link_tag 'admin/admin-tables' %>
  <%= stylesheet_link_tag 'admin/admin' %>

  <%= javascript_include_tag :defaults, :cache => true %>
  <%= javascript_include_tag 'spree.js' %>

  <%= yield :head %>
</head>
<body>
<div id="doc3" class="yui-t5">

	<div id="hd">
    
      <% if logged_in? -%>
      <div id="login-nav">
        <%= t('logged_in_as') %>: <%= current_user.email %> | 
        <%= link_to t('logout'), :controller => '/account', :action => 'logout' %> | 
        <%= link_to t('store'), products_path %>
      </div>
      <% end -%>      

      <ul class="tab_nav" id="global_nav">
        <%= tab :overview, :route => :admin %>
        <%= tab :orders, :payments, :creditcard_payments, :shipments %>
        <%= tab :products , :option_types, :properties, :prototypes, :variants, :product_properties, :taxons %>
        <%= tab :reports %>
        <%= tab :configurations, :taxonomies, :label => 'configuration' %>
        <%= tab :users %>
      </ul>
      <hr />
    </div>
    <%= yield :sub_menu %>


  	<div id="bd">


      <% if flash[:error] %>
      <div class="flash error"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
      <% end %>


      <% if @content_for_sidebar.blank? %>
        <%= yield %>
      <% else %>
        <div id="yui-main">
          <div class="yui-b">
            <%= yield %>
          </div>
        </div>
        <div class="yui-b" id="sidebar">
          <%= yield :sidebar %>
        </div>
      <% end %>


    </div>

    <div id="ft"></div>

</div>


</body>
</html>
