<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= "Spree #{t('Administration')}: #{controller.controller_name.titleize}" %></title>
    <%= stylesheets %>
    <%= stylesheet_link_tag "spree-admin.css", :plugin => "spree" %>
    <%= javascript_include_tag :defaults %>
		<%= javascript_include_tag 'spree.js' %>
	
    <%= yield :head %>
  </head>
  <body class="yui-skin-sam">
    <div id="main">
      <% if logged_in? -%>
      <ul id="login-nav">
        <li><%= t('Logged in as') %>: <%= current_user.email %></li>
        <li><%= link_to t('Account'), user_path(current_user) %></li>
        <li><%= link_to t('Logout'), :controller => '/account', :action => 'logout' %></li>
        <li><%= link_to t('Store'), products_path %></li>
      </ul>
      <% end -%>      
      <table width="780">
        <tr>
          <td>
            <table id="menu" border="0">
              <tr>
                <td rowspan="2" width="150" valign="top"><%= image_tag "spree/spree.jpg", :plugin=>"spree" %></td>
                <td><%= link_to t('Overview'), :controller => '/admin/overview' %></td>
                <td><%= link_to t('Configuration'), :controller => '/admin/configurations' %></td>
                <td><%= link_to t('Orders'), :controller => '/admin/orders' %></td>
                <td><%= link_to t('Products'), :controller => '/admin/products' %></td>
                <td><%= link_to t('Reports'), :controller => '/admin/reports' %></td>
                <td><%= link_to t('Users'), users_path %></td>
              </tr>
              <tr>
                <td colspan="6" align="left">
                  <%= yield :sub_menu %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <% unless flash.empty? %>
        <tr>
          <td>
            <div id="flashes">
              <% if flash[:error] %>
              <div id="flash-errors"><%= flash[:error] %></div>
              <% end %>
              <% if flash[:notice] %>
              <div id="flash-notice"><%= flash[:notice] %></div>
              <% end %>
            </div>                
          </td>
        </tr>
        <% end %>
        <tr>
          <td>
            <%= yield %>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
