<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title><%= "Spree #{t('administration')}: #{controller.controller_name.titleize}" %></title>

  <%= stylesheet_link_tag 'admin/admin-reset', 'admin/grids', 'admin/admin-typography', 'admin/admin-forms', 'admin/admin-tables', 'admin/admin', :cache => 'admin-all' %>

  <%= javascript_include_tag :defaults %> <!-- TODO: Remove.  See Issue #320 -->
  <%= javascript_include_tag 'jquery-1.3.2.min', 'spree', 'nested-attribute', 'zone', 'calculator', :cache => 'jquery-and-extras' %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>   
  <%= javascript_include_tag 'jquery.alerts/jquery.alerts.js' %>                                           
  
	<%= stylesheet_link_tag '/javascripts/jquery.alerts/jquery.alerts.css' %>
	<%= stylesheet_link_tag '/javascripts/jquery.alerts/jquery.alerts.spree.css' %>
	
	<%= javascript_tag "jQuery.alerts.dialogClass = 'spree';" %> 
  <%= yield :head %>
</head>
<body class='yui-skin-sam admin'>
<!--[if lte IE 7]>
<div id='IE7'>
<![endif]-->
<div id='wrapper'>

  <div id="header">
    <% if current_user -%>
    <ul id="login-nav">
      <li><%= t('logged_in_as') %>: <%= current_user.email %></li>
      <li><%= link_to t('account'), user_path(current_user) %></li>
      <li><%= link_to t('logout'), logout_path %></li>
      <li><%= link_to t('store'), products_path %></li>
    </ul>
    <% end -%>      
    <h1 class='logo'><%= link_to t("administration"), admin_path %></h1>
    <div id="progress"><%= image_tag 'progress.gif' %> <%= t('loading') %>...</div>
  </div>
    <div id="admin-menu">
      <ul>
        <%= tab :overview, :route => :admin %>
        <%= tab :orders, :payments, :creditcard_payments, :shipments %>
        <%= tab :products , :option_types, :properties, :prototypes, :variants, :product_properties, :taxons %>
        <%= tab :reports %>
        <%= tab :configurations, :general_settings, :mail_settings, :tax_categories, :zones, :states, :gateway_configurations, :inventory_settings, :taxonomies, :label => 'configuration' %>
        <%= tab :users %>
        <% @extension_tabs.each do |etab| -%>
          <%= tab etab[0], etab[1] %>
        <% end -%>
      </ul>
      <br class="clear" />
    </div>

    <div id="sub-menu">
      <%= yield :sub_menu %>
      <br class="clear" />
    </div>

    <div class="<%= 'with-sidebar ' unless @content_for_sidebar.blank? %> clear" id="content">


      <% if flash[:error] %>
      <div class="flash error"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
      <% end %>


      <%= yield %>

      <% unless @content_for_sidebar.blank? %>
        <br class='clear' />
        <div id="sidebar">
            <%= yield :sidebar %>
        </div>
      <% end %>

    </div>

    <div id="footer">
      <p><%= t("icons_by") %> <a href='http://pinvoke.com'>pInvoke</a></p>
    </div>

</div>
<!--[if IE]>
</div>
<![endif]-->

</body>
</html>
