<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Spree</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
 
  <%= stylesheet_link_tag 'compiled/screen' %>
 
  <%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.validate.pack.js', :cache => 'jquery-and-plugins' %>
  <%= meta_data_tags %> 
  <%= yield :head %>
 
</head>
<%
if @body_class.nil?
  if @content_for_sidebar
    @body_class = 'two-col'
  else
    @body_class = 'one-col'
  end
end
 %>
<body class="<%= @body_class %>"<%= %( id="#{@body_id}") if @body_id %>>
  <div id="header" class="container">                                                           
    <ul id="nav-bar">
      <div id="login-bar">
        <%= render 'shared/login_bar' %>
      </div>
      <% if store_menu? %>
        <%= render 'shared/store_menu' %>
      <% end %>
    </ul>
    <%= link_to image_tag('/images/admin/bg/spree_50.png'), root_path %> 
  </div>
  <div id="wrapper" class="container"> 
    <% if @content_for_sidebar %>
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>
    <% end %>
    
    <div id="content">
      <%= breadcrumbs(@taxon) if @taxon %>
      <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] %>
      <div class="flash errors"><%= flash[:error] %></div>
      <% end %>
      <%= yield %>
    </div>
    <%= render :partial => 'shared/footer'%>    		
  </div>
</body>
</html>
