<!-- basic layout - feel free to replace with a more elaborate one -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Spree</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

  <%= stylesheet_link_tag 'compiled/screen' %>

  <%= javascript_include_tag 'jquery-1.3.2.min', 'jquery.validate.pack.js', :cache => 'jquery-and-plugins' %>

  <%= yield :head %>

</head>
<% 
if @body_class.nil?
  if @content_for_sidebar
    @body_class = 'two-col'
  else
    @body_class = 'one-col'
  end
end
 %>
<body class="<%= @body_class %>"<%= %( id="#{@body_id}") if @body_id %>>
	<div class="container"> 
	  
	  <div id="header">
      <%= link_to image_tag('spree.jpg'), root_path %>                                                                  
  	  <%= render :partial => 'shared/language_bar' if Spree::Config[:allow_locale_switching] %>

      <ul id="login-nav">
        <% if logged_in? -%>
          <li><%= link_to t('my_account'), user_path(current_user) %></li>
          <li><%= link_to t('logout'), logout_path %></li>
        <% else %>
          <li><%= link_to t('log_in'), login_path %></li>
        <% end -%>
      </ul>

      <% if store_menu? %>
        <%= render :partial => 'shared/store_menu' %>
      <% end %>

	  </div>

		<hr/>


    <% if @content_for_sidebar %>
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>
    <% end %>
    
    <div id="content">
      
      <%= breadcrumbs(@taxon) if @taxon %>
      
      <% if flash[:notice] %>
        <div class="flash notice"><%= flash[:notice] %></div>
    	<% end %>
    	<% if flash[:error] %>
  	    <div class="flash errors"><%= flash[:error] %></div>
    	<% end %>
      <%= yield %>
      <hr class="space" />

    </div>
    <hr/>
    
    <%= render :partial => 'shared/footer'%>    		

  </div>
</body>
</html>
