<div data-hook="admin_customer_return_form_fields">
  <% if @rma_return_items.any? %>
    <%= render partial: 'return_item_table', locals: {
      f: f,
      table_title: Spree.t(:items_in_rmas),
      return_items: @rma_return_items,
      allow_amount_edit: @allow_amount_edit,
      data_hook: 'customer_return_rma_items'
    } %>
  <% end %>

  <% if @new_return_items.any? %>
    <%= render partial: 'return_item_table', locals: {
      f: f,
      table_title: Spree.t(:other_items_in_other),
      return_items: @new_return_items,
      allow_amount_edit: @allow_amount_edit,
      data_hook: 'customer_return_order_items'
    } %>
  <% end %>

  <%= f.field_container :amount do %>
    <%= Spree.t(:total_pre_tax_refund) %>: <span id="total_pre_tax_refund">0.00</span>
  <% end %>

  <%= f.field_container :stock_location do %>
    <%= f.label :stock_location, Spree.t(:stock_location) %>
    <%= f.select :stock_location_id, Spree::StockLocation.order_default.active.to_a.collect{|l|[l.name, l.id]}, {include_blank: true}, {class: 'select2 fullwidth', "data-placeholder" => Spree.t(:select_a_stock_location)} %>
    <%= f.error_message_on :stock_location_id %>
  <% end %>

</div>
