<table class="index">
  <thead data-hook="customer_return_header">
    <tr>
      <th><%= Spree.t(:number) %></th>
      <th><%= Spree.t(:total) %></th>
      <th><%= Spree.t(:status) %></th>
      <th><%= "#{Spree.t('date')}/#{Spree.t('time')}" %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% reimbursements.each do |reimbursement| %>
      <tr id="<%= spree_dom_id(reimbursement) %>" data-hook="reimbursement_row" class="<%= cycle('odd', 'even')%>">
        <td>
          <% if reimbursement.reimbursed? %>
            <%= link_to reimbursement.number, url_for([:admin, @order, reimbursement]) %>
          <% else %>
            <%= reimbursement.number %>
          <% end %>
        </td>
        <td><%= reimbursement.display_total %></td>
        <td>
          <span class="state <%= reimbursement_status_color(reimbursement) %>">
            <%= t 'spree.'+reimbursement.reimbursement_status %>
          </span>
        </td>
        <td><%= pretty_time(reimbursement.created_at) %></td>
        <td class="actions">
          <% if !reimbursement.reimbursed? %>
            <%= link_to_edit_url url_for([:edit, :admin, @order, reimbursement]), title: "admin_edit_#{dom_id(reimbursement)}", no_text: true %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
