<fieldset class='no-border-bottom'>
  <legend align='center'><%= table_title %></legend>
  <table class="index return-items-table">
    <thead>
      <tr data-hook="<%= data_hook %>">
        <th>
          <%= check_box_tag 'select-all' %>
        </th>
        <th><%= Spree.t(:product) %></th>
        <th><%= Spree.t(:state) %></th>
        <% if allow_amount_edit %>
          <th><%= Spree.t(:charged) %></th>
        <% end %>
        <th><%= Spree.t(:pre_tax_refund_amount) %></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :return_items, return_items do |item_fields| %>
        <% return_item = item_fields.object %>
        <% inventory_unit = return_item.inventory_unit %>
        <tr>
          <td class="align-center" class="inventory-unit-checkbox">
            <% if inventory_unit.shipped? %>
              <%= item_fields.hidden_field :inventory_unit_id %>
              <%= item_fields.hidden_field :return_authorization_id %>
              <%= item_fields.check_box :returned, {checked: false, class: 'add-item', "data-price" => return_item.pre_tax_amount}, '1', '0' %>
            <% end %>
          </td>
          <td>
            <div class="variant-name"><%= inventory_unit.variant.name %></div>
            <div class="variant-options"><%= inventory_unit.variant.options_text %></div>
          </td>
          <td class="align-center"><%= inventory_unit.state.humanize %></td>
          <% if allow_amount_edit %>
            <td class="align-center">
              <%= return_item.display_pre_tax_amount %>
            </td>
          <% end %>
          <td class="align-center">
            <% if inventory_unit.shipped? %>
              <% if allow_amount_edit %>
                <%= item_fields.text_field :pre_tax_amount, { class: 'refund-amount-input' } %>
              <% else %>
                <%= item_fields.hidden_field :pre_tax_amount %>
                <%= return_item.display_pre_tax_amount %>
              <% end %>
            <% else %>
              <%= return_item.display_pre_tax_amount %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
