<table class="show return-items-table">
  <thead>
    <tr>
      <th><%= Spree.t(:product) %></th>
      <th><%= Spree.t(:reception_status) %></th>
      <th><%= Spree.t(:pre_tax_refund_amount) %></th>
      <th><%= Spree.t(:exchange_for) %></th>
    </tr>
  </thead>
  <tbody>
    <% return_items.each do |return_item| %>
      <tr>
        <td>
          <div class="variant-name"><%= return_item.inventory_unit.variant.name %></div>
          <div class="variant-options"><%= return_item.inventory_unit.variant.options_text %></div>
        </td>
        <td class="align-center"><%= return_item.reception_status.humanize %></td>
        <td class="align-center">
          <%= return_item.display_pre_tax_amount %>
        </td>
        <td class="align-center"><%= return_item.exchange_variant.try(:options_text) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
