<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Customer Returns' } %>

<% content_for :page_actions do %>
  <% if @order.shipments.any?(&:shipped?) %>
    <%= button_link_to Spree.t(:new_customer_return), spree.new_admin_order_customer_return_path(@order), icon: 'add', class: 'btn-success' %>
  <% end %>
  <%= button_link_to Spree.t(:back_to_orders_list), spree.admin_orders_path, :icon => 'arrow-left' %>
<% end %>

<% content_for :page_title do %>
  <span class="glyphicon glyphicon-arrow-right"></span> <%= Spree.t(:customer_returns) %>
<% end %>

<% if @order.shipments.any?(&:shipped?) %>

  <% if @customer_returns.any? %>
    <table class="table table-hover table-condensed table-bordered index">
      <thead data-hook="customer_return_header">
        <tr>
          <th><%= Spree.t(:return_number) %></th>
          <th><%= Spree.t(:pre_tax_total) %></th>
          <th><%= "#{Spree.t('date')}/#{Spree.t('time')}" %></th>
          <th><%= Spree.t(:reimbursement_status) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @customer_returns.each do |customer_return| %>
          <tr id="<%= spree_dom_id(customer_return) %>" data-hook="customer_return_row">
            <td><%= link_to customer_return.number, edit_admin_order_customer_return_path(@order, customer_return) %></td>
            <td><%= customer_return.display_pre_tax_total.to_html %></td>
            <td><%= pretty_time(customer_return.created_at) %></td>
            <td>
              <% if customer_return.fully_reimbursed? %>
                <span class="label label-success"><%= Spree.t(:reimbursed) %></span>
              <% else %>
                <span class="label label-info"><%= Spree.t(:incomplete) %></span>
              <% end %>
            </td>
            <td class='actions actions-1' data-hook="admin_orders_customer_returns_index_row_actions">
              <%= link_to_edit_url edit_admin_order_customer_return_path(@order, customer_return), title: "admin_edit_#{dom_id(customer_return)}", no_text: true %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info no-objects-found">
      <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/customer_return')) %>,
      <%= link_to Spree.t(:add_one), spree.new_admin_order_customer_return_path(@order) %>!
    </div>
  <% end %>

<% else %>
  <div data-hook="customer_return_cannot_create" class="no-objects-found">
    <%= Spree.t(:cannot_create_customer_returns) %>
  </div>
<% end %>
